<div id="{{ code }}-{{forloop.index}}" class="address-contacts-shop {% if forloop.first %}active{% endif %}" data-latitude="{{ shop.latitude}}" data-longitude="{{ shop.longitude}}">
  <div class="address-contacts-shop-name">{{ shop.name }}</div>

  <div class="address-contacts-shop-block">
    <div class="address-contacts-shop-label">Адрес:</div>
    <div class="address-contacts-shop-value">{{ shop.adress }}</div>
  </div>

  <div class="address-contacts-shop-block">
    <div class="address-contacts-shop-label">Телефон:</div>
    <div class="address-contacts-shop-value">{{ shop.phones }}</div>
  </div>

  <div class="address-contacts-shop-block">
    <div class="address-contacts-shop-label">Режим работы:</div>
    <div class="address-contacts-shop-value">{{ shop.time }}</div>
  </div>
</div>