<div class="ugly-tips">
  <div class="ugly-tips-item" data-tip="Собственное производство и работа с надежными поставщиками сырья позволяет нам продавать продукцию по рекордно низким ценам">
    <img
      class="ugly-tips-item-image"
      src="{{'main/ugly-tips/1.svg' | theme_image_url }}"
      alt="" />
    <div class="ugly-tips-item-title">Товар<br/>от производителя</div>
  </div>

  <div class="ugly-tips-item" data-tip="Комплектующие стандартного цвета всегда в наличии на нашем складе! 
          Оформите и оплатите заказ удобным для Вас способом и получите оборудование в кратчайшие сроки">
    <img
      class="ugly-tips-item-image"
      src="{{'main/ugly-tips/2.svg' | theme_image_url }}"
      alt="" />
    <div class="ugly-tips-item-title">Возможность собрать<br/>индивидуальный комплекс</div>
  </div>

  <div class="ugly-tips-item" data-tip="Все спортивные тренажеры прошли испытания на качество и безопасность, 
          установленные ГОСТАми РФ, что подтверждено сертификатом. Каждый тренажер имеет паспорт с гарантией 
          от завода-изготовителя">
    <img
      class="ugly-tips-item-image"
      src="{{'main/ugly-tips/3.svg' | theme_image_url }}"
      alt="" />
    <div class="ugly-tips-item-title">Даем<br/>гарантию</div>
  </div>

  <div class="ugly-tips-item" data-tip="Бесплатно предоставим 3D макет по индивидуальным размерам площадки
          и в соответствии с Вашими пожеланиями">
    <img
      class="ugly-tips-item-image"
      src="{{'main/ugly-tips/4.svg' | theme_image_url }}"
      alt="" />
    <div class="ugly-tips-item-title">Отрисовка 3D<br/>макета бесплатно</div>
  </div>

  <div class="ugly-tips-item" data-tip="Оборудование собирается просто как 'конструктор Лего', благодаря 
          монтажным схемам сборки и установки Вы с легкостью справитесь с этой задачей.">
    <img
      class="ugly-tips-item-image"
      src="{{'main/ugly-tips/5.svg' | theme_image_url }}"
      alt="" />
    <div class="ugly-tips-item-title">Легкая<br/>установка</div>
  </div>

  <div class="ugly-tips-item" data-tip="Красим продукцию в любой цвет по Вашему запросу.">
    <img
      class="ugly-tips-item-image"
      src="{{'main/ugly-tips/6.svg' | theme_image_url }}"
      alt="" />
    <div class="ugly-tips-item-title">Красим в любой<br/>цвет</div>
  </div>
</div>