<!-- card -->
<div class="product-card">
  <div>
{% if item.bestseller %}
    <div class="product-card-badge">
      <span class="product-card-badge-green">Хит продаж</span>
    </div>
{% endif %}
    <a href="/products/{{ item._slug }}" class="product-card-title">{{item.title}}</a>
  </div>

  <div>
    <a href="/products/{{ item._slug }}" class="product-card-pic">
      {% if item.image_preview.url %}
      <img alt="{{item.title}}" src="{{ item.image_preview.url | resize: '480x342#'}}">
      {% else %}
      <img alt="{{item.title}}" src="{{ item.image.url | resize: '480x342#'}}">
      {% endif %}
    </a>

    <div class="product-card-info">
    <div class="product-card-info-right">
{% if item.price76mmplastik %}
      <div class="product-card-deal">-{{item.price76mmplastik | times: 100 | divided_by: item.price76mm_old | minus: 100 | times: -1 }}%
      </div>
      <div class="product-card-price-old"><span class="format">{{item.price76mm_old}}</span> РУБ.</div>
      <div class="product-card-price-new"><span class="format">{{item.price76mmplastik}}</span> РУБ.</div>
{% else %}
{% if item.price76mm %}
      <div class="product-card-deal">-{{item.price76mm | times: 100 | divided_by: item.price76mm_old | minus: 100 | times: -1 }}%
      </div>
      <div class="product-card-price-old"><span class="format">{{item.price76mm_old}}</span> РУБ.</div>
      <div class="product-card-price-new"><span class="format">{{item.price76mm}}</span> РУБ.</div>
{% else %}
{% if item.old_price %}
      <div class="product-card-deal">-{{item.new_price| times: 100 | divided_by: item.old_price | minus: 100 | times: -1 }}%
      </div>
      <div class="product-card-price-old"><span class="format">{{item.old_price}}</span> РУБ.</div>{% endif %}
      <div class="product-card-price-new"><span class="format">{{item.new_price}}</span> РУБ.</div>
{% endif %}
{% endif %}
    </div>
      <div class="product-card-info-left">
        <div class="product-card-buy">
          
        <form action="/products/{{ item._slug }}">
            <button class="product-card-buy-button">Купить</button>
        </form>          
        </div>
      </div>
    </div>
    

    <div class="product-card-footer">Бесплатная доставка*</div>
  </div>
</div>