<!-- card -->
<a href="/premium/{{ item._slug }}" class="product-card">
  <div>
    <div class="product-card-title">{{item.title}}</div>
  </div>

  <div>
    <div class="product-card-id product-card-id-small">АРТ. {{item.article}}</div>
    <div class="product-card-pic">
      {% if item.image_preview.url %}
      <img alt="{{item.title}}" src="{{ item.image_preview.url | resize: '480x342#'}}">
      {% else %}
      <img alt="{{item.title}}" src="{{ item.image.url | resize: '480x342#'}}">
      {% endif %}
    </div>

    <div class="product-card-info">
    <div class="product-card-info-right">
      <div class="product-card-price-new"><span class="format">{{item.price}}</span> РУБ.</div>
    </div>
      <div class="product-card-info-left">
        <div class="product-card-buy">
        <form action="/products_premium/{{ item._slug }}">
            <button class="product-card-buy-button">Купить</button>
        </form>
        </div>
      </div>
    </div>
    <div class="product-card-info-small">
    <div class="product-card-info-small-new">
      <div class="product-card-price-new"><span class="format">{{item.price}}</span> РУБ.</div>
    </div>
      <div class="product-card-info-small-buy">
        <form action="/products_premium/{{ item._slug }}">
            <button class="product-card-buy-button">Купить</button>
        </form>
      </div>
    </div>

    <div class="product-card-footer">Бесплатная доставка*</div>
  </div>
</a>
<!-- /card -->