  <section class="common-section">
    <div class="shadow">
      <div class="shadow-text">Сертификаты и награды</div>
    </div>

    <div class="common-container">
      <div class="common-section-title">Сертификаты и награды</div>

      <div class="common-section-content">
        <div class="main-prizes">
          <div class="main-prizes-wrapper">
{% for item in contents.gallery_items %}
  {% if item.gallery == 'Licenses' %}
  {% if item._position < 7 %}
            <div class="main-prizes-item">
              <a
                data-mfp-src="{{ item.link.url  | resize: '1000x1000' }}"
                class="magnific-image">
    {% if item.thumbnail.url %}
                <img alt="" src="{{ item.thumbnail.url }}">
    {% else %}
                <img alt="" src="{{ item.link.url  }}">
    {% endif %}
              </a>
            </div>
   {% endif %}
  {% endif %}
{% endfor %}
          </div>
            <div class="main-prizes-additional">
{% for item in contents.gallery_items %}
  {% if item.gallery == 'Licenses' %}
  {% if item._position > 6 %}
            <div class="main-prizes-item">
              <a
                data-mfp-src="{{ item.link.url  | resize: '1000x1000' }}"
                class="magnific-image">
    {% if item.thumbnail.url %}
                <img alt="" src="{{ item.thumbnail.url }}">
    {% else %}
                <img alt="" src="{{ item.link.url  }}">
    {% endif %}
              </a>
            </div>
  {% endif %}
  {% endif %}
{% endfor %}
          </div>
            <div class="main-prizes-button">
              <a class="feedback-pagelink__link" href="/reviews">Смотреть все →</a>
          </div>
        </div>
      </div>
    </div>
  </section>