<div class="common-landing-tiles">
  <div class="common-landing-tiles-wrapper">
    <div class="common-landing-tiles-item">
      Продано более<br>
      <b class="common-landing-tiles-item-accent js-counter-up" data-value="35940">35940</b><br>
      тренажеров
    </div>

    <div class="common-landing-tiles-item">
      Оснащено более<br>
      <b class="common-landing-tiles-item-accent js-counter-up" data-value="2534">2534</b><br>
      спортплощадок
    </div>

    <div class="common-landing-tiles-item">
      Отправлено в более чем<br>
      <b class="common-landing-tiles-item-accent js-counter-up" data-value="174">174</b><br>
      городов России и СНГ
    </div>
  </div>
</div>