  <section class="common-section common-gallery-section">
    <div class="shadow shadow-photogallery">
      <div class="shadow-text">Фотогалерея</div>
    </div>

    <div>
      <div class="common-container">
        <div class="common-section-title">Фотогалерея</div>
      </div>

      <div class="common-section-content">

        <div class="common-gallery">
          <div class="common-gallery-wrapper js-common-gallery">
            <div class="common-gallery-item">
              <div class="common-gallery-pic">
                <img src="{{'main/gallery/1.jpg' | theme_image_url }}" />
              </div>
              <div class="common-gallery-title">Дача</div>
            </div>

            <div class="common-gallery-item">
              <div class="common-gallery-pic">
                <img src="{{'main/gallery/2.jpg' | theme_image_url }}" />
              </div>
              <div class="common-gallery-title">База отдыха</div>
            </div>

            <div class="common-gallery-item">
              <div class="common-gallery-pic">
                <img src="{{'main/gallery/3.jpg' | theme_image_url }}" />
              </div>
              <div class="common-gallery-title">ВУЗ</div>
            </div>

            <div class="common-gallery-item">
              <div class="common-gallery-pic">
                <img src="{{'main/gallery/4.jpg' | theme_image_url }}" />
              </div>
              <div class="common-gallery-title">Школа</div>
            </div>

            <div class="common-gallery-item">
              <div class="common-gallery-pic">
                <img src="{{'main/gallery/5.jpg' | theme_image_url }}" />
              </div>
              <div class="common-gallery-title">Двор</div>
            </div>

            <div class="common-gallery-item">
              <div class="common-gallery-pic">
                <img src="{{'main/gallery/6.jpg' | theme_image_url }}" />
              </div>
              <div class="common-gallery-title">Детский сад</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>