{% if !customer_message.errors %}
  <script type='text/javascript'>
  $(function(){
    $('.thankyou-popup-btn').trigger('click');
    var i = setInterval(function(){
      if (window.clearCart) {
        clearInterval(i);
        window.clearCart();
      }
    }, 100);
  })
  </script>

  {% if customer_message.pay_type == "card" %}
  <a class="thankyou-popup-btn" href='#card-payment-popup' style="display:none;">Заявка принята</a>  
  <div class="mfp-hide wrapper-thankyou-popup cart-card-payment-popup" id="card-payment-popup">
    <div class="wrapper-thankyou-popup__wrapper">
      <p class="wrapper-thankyou-popup__title cart-card-payment-popup__title">
        Спасибо за заявку
      </p>
      <p class="wrapper-thankyou-popup__sub-title">Теперь вы можете ее оплатить</p>
      <form method="POST" action="https://yoomoney.ru/eshop.xml" id="yandex_pay" class="wrapper-thankyou-popup__form" target="_blank">
      <input type="hidden" name="scid" value="58871">
      <input type="hidden" name="ShopID" value="60547"> 
        <input type="hidden" name="CustomerNumber" value="{{customer_message._id}}">
        <input type="hidden" name="Sum" value="{{customer_message.total}}">
        <input type="hidden" name="CustName" value="{{customer_message.name}}">
        <input type="hidden" name="CustAddr" value="{{customer_message.address}}">
        <input type="hidden" name="CustEMail" value="{{customer_message.email}}">
        <input type="hidden" name="cps_email" value="{{customer_message.email}}">
        <input type="hidden" name="cps_phone" value="{{customer_message.phone}}">
        <input type="hidden" name="paymentType" value="AC">
        <div class="wrapper-thankyou-popup__form-wrapper">
          <button><img src="{{ 'cart-pay.svg' | theme_image_url }}" alt="">оплатить</button>
        </div>
      </form>
    </div>
  </div>
  {% else %}
  <a class="thankyou-popup-btn" href='#wrapper-thankyou-popup' style="display:none;">Заявка принята</a>
    <div class="mfp-hide wrapper-thankyou-popup" id="wrapper-thankyou-popup">
      <div class="wrapper-thankyou-popup__wrapper">
        <p class="wrapper-thankyou-popup__title">ваша заявка принята <br>
    мы свяжемся с вами в ближайшее время </p>
        <p class="wrapper-thankyou-popup__sub-title">режим работы: Пн-пт с 9.00 - 18.00 мск</p>
        <form action="/trainers" class="wrapper-thankyou-popup__form">
          <div class="wrapper-thankyou-popup__form-wrapper">
            <button> перейти в каталог</button>
          </div>
        </form>
      </div>

    </div>
  {% endif %}

{% endif %}
