<section class="common-section">
    <div class="shadow">
      <div class="shadow-text">Комплектация</div>
    </div>

    <div>
      <div class="common-container">
        <div class="common-section-title">Комплектация</div>

        <div class="common-section-content">

          <div class="common-kits">
            <div class="common-kits-row row">
              <div class="common-kits-item col-xs-12 col-md-6">
                <img class="common-kits-item-image d-none d-lg-flex d-xl-flex" src="{{'premium-kits-01.jpg' | theme_image_url }}" alt=""/>
                <img class="common-kits-item-image d-none d-sm-flex d-lg-none" src="{{'premium-kits-01-md.jpg' | theme_image_url }}" alt=""/>
              </div>
              <div class="common-kits-item col-xs-12 col-md-6">
                <div class="common-kits-item-title left-divider">Оборудование</div>
                <img class="common-kits-item-image d-flex d-sm-none" src="{{'premium-kits-01.jpg' | theme_image_url }}" alt=""/>
                <div class="common-kits-item-text left-divider">Тренажеры в разобранном виде представляют собой полный набор всех деталей, элементов крепежа, а также сопроводительных документов. Упаковка всех комплектующих обеспечивает их защиту от повреждений при транспортировке и хранении. Детали тренажеров приходят в готовом для сборки состоянии и не требуют дополнительных операций (сверловка отверстий, сварка заглушек и т.п.)</div>
              </div>
            </div>

            <div class="common-kits-row row">
              <div class="common-kits-item col-xs-12 col-md-6 col-lg-7">
                <div class="common-kits-item-title right-divider">Паспорт изделия</div>
                <div class="common-kits-item-text right-divider d-xs-flex d-md-none d-lg-flex d-xl-flex">Паспорт изделия является неотъемлемой частью сопроводительной документации на товар и идет в комплекте с каждой единицей продукции. Документ включает в себя наиболее важные сведения, требующиеся для грамотной эксплуатации оборудования. Наличие паспорта и выполнение действий описанных в нем гарантирует, что после покупки устройства потребители будут максимально защищены от несчастных случаев, связанных с его неправильным использованием.</div>
                <div class="common-kits-item-text right-divider d-none d-md-flex d-lg-none">Каждый тренажер сопровождается паспортом завода-изготовителя. В нем представлена основная информация об изделии, условиях его эксплуатации, схема для монтажа, а также указан гарантийный срок.</div>
              </div>
              <div class="common-kits-item col-xs-12 col-md-6 col-lg-5">
                <div class="common-kits-item-gallery">
                  <a 
                    href="#" 
                    data-mfp-src="{{'passports/passport1.jpg' | theme_image_url }}" 
                    class="magnific-image">
                    <img src="{{'passports/passport1.jpg' | theme_image_url }}" />
                  </a>

                  <a 
                    href="#" 
                    data-mfp-src="{{'passports/passport2.jpg' | theme_image_url }}" 
                    class="magnific-image">
                    <img src="{{'passports/passport2.jpg' | theme_image_url }}" />
                  </a>
                </div>
              </div>
            </div>

            <div class="common-kits-row row">
              <div class="common-kits-item col-xs-12 col-md-6 col-lg-5">
                <div class="common-kits-item-gallery d-none d-sm-flex">
{% for item in contents.gallery_items %}
  {% if item.gallery == 'Licenses' and item._position < 4 and item._position > 0 %}
                  <a 
                    href="#" 
                    data-mfp-src="{{ item.link.url  | resize: '1000x1000' }}" 
                    class="magnific-image">
    {% if item.thumbnail.url %}
                <img alt="" src="{{ item.thumbnail.url | resize: '174x255#' }}">
    {% else %}
                <img alt="" src="{{ item.link.url | resize: '174x255#' }}">
    {% endif %}
                  </a>
  {% endif %}
{% endfor %}
                </div>
              </div>
              <div class="common-kits-item col-xs-12 col-md-6 col-lg-7">
                <div class="common-kits-item-title left-divider">Сертификаты</div>
                <div class="common-kits-item-gallery d-flex d-sm-none">
{% for item in contents.gallery_items %}
  {% if item.gallery == 'Licenses' and item._position < 4 and item._position > 1 %}
                  <a 
                    href="#" 
                    data-mfp-src="{{ item.link.url  | resize: '1000x1000' }}" 
                    class="magnific-image">
    {% if item.thumbnail.url %}
                <img alt="" src="{{ item.thumbnail.url | resize: '174x255#' }}">
    {% else %}
                <img alt="" src="{{ item.link.url | resize: '174x255#'  }}">
    {% endif %}
                  </a>
  {% endif %}
{% endfor %}
                </div>
                <div class="common-kits-item-text left-divider">Все тренажеры прошли испытания на качество и безопасность , что подтверждено сертификатом, который входит в пакет сопроводительных документов к оборудованию. Сертификат качества в обязательном порядке необходим для участия в тендерах, выполнении госконтрактов.</div>
              </div>
            </div>

            <div class="common-kits-row row d-xs-flex d-md-none d-lg-flex d-xl-flex">
              <div class="common-kits-item col-xs-12 col-md-6 col-lg-7">
                <div class="common-kits-item-title right-divider">Инструкция по сборке и монтажу</div>
                <img class="common-kits-item-image d-flex d-sm-none" src="{{'instruction.jpg' | theme_image_url }}" alt=""/>
                <div class="common-kits-item-text right-divider">К каждому комплексу прилагается схема для монтажа и пошаговая инструкция. На чертеже указаны точные размеры тренажера, что позволит Вам спланировать его расположение на участке и сделать разметку. В инструкции подробно описываются Ваши действия при установке комплекса, а также последовательность их выполнения . Это позволит Вам самостоятельно произвести монтаж оборудования</div>
              </div>
              <div class="common-kits-item col-sm-12 col-md-6 col-lg-5 d-none d-sm-flex">
                <a class='magnific-image' href="{{'instruction.jpg' | theme_image_url }}"><img class="common-kits-item-image common-kits-instruction-image" src="{{'instruction.jpg' | theme_image_url }}" alt=""/></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>