<div id="callback" class="short-form">
  <p class="title">Заказ обратного звонка</p>
  <form id="form-callback" action="{{contents.customer_messages.public_submission_url}}"  method="POST" enctype="multipart/form-data">
    {% csrf_param %}
    <input type="hidden" value="{{ path }}" name="success_callback">
    <input type="hidden" name="content[place]" value="callback">
    <div>
      <label for="form-callback-name">Ваше имя *</label> <input type="text" required name="content[name]" id="form-callback-name">
    </div>
    <div>
      <label for="form-callback-phone">Телефон *</label> <input type="tel" required pattern="\+\d\(\d{3}\)\d{3}-\d{2}-\d{2}" name="content[phone]" id="form-callback-form">
    </div>
    <div>
      <label>Удобное время с</label> <input type="time" pattern="\d{1,2}:\d{2}" name="content[time_from]"> <span>до</span> <input type="time" name="content[time_to]"> 
    </div>
    <button type="submit" class="btn">Отправить</button>
  </form>
</div>