<div id="oneclick" class="fancybox-content" style="display:none; width:364px; height:451px;">
  <div style="padding:0 20px;">
    <noindex><p class="fancybox-title header">Оставьте свои данные <br>
     <span class="fancybox-subtitle">и мы вам перезвоним</span></p></noindex>
     <form class="form" action="{{contents.customer_messages.public_submission_url}}"  method="POST" data-goal="order" enctype="multipart/form-data" onsubmit="yaCounter32144179.reachGoal('mailform'); ga('send', 'event', 'conversions', 'mailform'); return true;">
      {% csrf_param %}
      <input type="text" name="content[name]" pattern="[A-Za-zА-Яа-яЁё]+$" required placeholder="Ваше имя">
      <input type="text" name="content[phone]" placeholder="Ваш телефон">
      <input type="text" name="content[email]" pattern="^[-a-z0-9!#$%&'*+/=?^_`{|}~]+(\.[-a-z0-9!#$%&'*+/=?^_`{|}~]+)*@([a-z0-9]([-a-z0-9]{0,61}[a-z0-9])?\.)*(aero|arpa|asia|biz|cat|com|coop|edu|gov|info|int|jobs|mil|mobi|museum|name|net|org|pro|tel|travel|[a-z][a-z])$" required placeholder="Ваш email">
     <input type="hidden" name="content[place]" >
      <input type="submit" class="btn btn-lg" value="Отправить">
    </form>
  </div>
</div>