<div class="main-tiles-wrapper">
  <div class="main-tiles-flex">
    <a href="/platforms" class="main-tiles-item main-tiles-item-yellow main-tiles-item-bg1">
      <div class="main-tiles-item-inner">
        <div class="main-tiles-item-title">Спортивные площадки</div>
        <div class="main-tiles-item-link">Перейти в каталог</div>
      </div>
    </a>
    <a href="/gto_platforms" class="main-tiles-item main-tiles-item-black main-tiles-item-bg2">
      <div class="main-tiles-item-inner">
        <div class="main-tiles-item-title">Площадки ВФСК</div>
        <div class="main-tiles-item-link">Перейти в каталог</div>
      </div>
    </a>
    <a href="/mobiles" class="main-tiles-item main-tiles-item-yellow main-tiles-item-bg3">
      <div class="main-tiles-item-inner">
        <div class="main-tiles-item-title">Мобильные комплексы</div>
        <div class="main-tiles-item-link">Перейти в каталог</div>
      </div>
    </a>
    <a href="/ulichnye-turniki" class="main-tiles-item main-tiles-item-black main-tiles-item-bg4">
      <div class="main-tiles-item-inner">
        <div class="main-tiles-item-title">Турники</div>
        <div class="main-tiles-item-link">Перейти в каталог</div>
      </div>
    </a>
    <a href="/ulichnye-brusya" class="main-tiles-item main-tiles-item-yellow main-tiles-item-bg5">
      <div class="main-tiles-item-inner">
        <div class="main-tiles-item-title">Брусья</div>
        <div class="main-tiles-item-link">Перейти в каталог</div>
      </div>
    </a>
    <a href="/paraworkout" class="main-tiles-item main-tiles-item-black main-tiles-item-bg6">
      <div class="main-tiles-item-inner">
        <div class="main-tiles-item-title">Параворкаут</div>
        <div class="main-tiles-item-link">Перейти в каталог</div>
      </div>
    </a>
  </div>

  <div class="main-tiles-huge">
    <a href="/premium" class="main-tiles-item main-tiles-item-huge main-tiles-item-bg7">
      <div class="main-tiles-item-inner">
        <div class="main-tiles-item-title">Премиум</div>
        <div class="main-tiles-item-link">Перейти в каталог</div>
      </div>
    </a>
  </div>
  <div class="main-tiles-huge">
    <a href="/power" class="main-tiles-item main-tiles-item-huge main-tiles-item-bg1">
      <div class="main-tiles-item-inner">
        <div class="main-tiles-item-title main-tiles-item-title--power">Антивандальные <br>силовые<br> тренажеры</div>
        <div class="main-tiles-item-link">Перейти в каталог</div>
        <img src="{{'power/power2.png' | theme_image_url }}" alt="силовой антивандальный тренажер" class="main-tiles-item-image">
      </div>
    </a>
   </div>  
  <div class="main-tiles-flex">
    <a href="/rubber" class="main-tiles-item main-tiles-item-bg8">
      <div class="main-tiles-item-inner">
        <div class="main-tiles-item-title">Резиновые покрытия</div>
        <div class="main-tiles-item-link">Перейти в каталог</div>
      </div>
    </a>
    <a href="/factory" class="main-tiles-item main-tiles-item-bg9">
      <div class="main-tiles-item-inner">
        <div class="main-tiles-item-title">Хомуты</div>
        <div class="main-tiles-item-link">Перейти в каталог</div>
      </div>
    </a>
  </div>
</div>