<div class="common-catalog-pagination">
{% if paginate.previous_page %}<div class="common-catalog-pagination-prev">
    <a href="{{ paginate.previous.url }}#block-catalog" class="common-catalog-pagination-button ccpb-prev">
      <span>←</span>
      <span class="ccp-string">Страница {{ paginate.previous_page }}</span>
    </a>
  </div>
{% endif %}

  <div class="common-catalog-pagination-list">
{% for page in paginate.parts %}
	<a
    class="common-catalog-pagination-button ccpb-num {% unless page.is_link %}ccpb-active{% endunless %}"
    href='{{ page.url }}#block-catalog'>{{ page.title }}</a>    
{% endfor %}
  </div>

  <div class="common-catalog-pagination-counter">
    Страница {{ paginate.current_page }} из {{ paginate.total_pages }}
  </div>

{% if paginate.next_page %}
  <div class="common-catalog-pagination-next">
    <a href="{{ paginate.next.url }}#block-catalog" class="common-catalog-pagination-button ccpb-next">
      <span class="ccp-string">Страница {{ paginate.next_page }}</span>
      <span>→</span>
    </a>
  </div>
{% endif %}
</div>