  <!--section class="common-section">
    <div class="shadow">
      <div class="shadow-text">Рекомендация SPORTMEN</div>
    </div>

    <div>
      <div class="common-container">
        <div class="common-section-title">Рекомендация SPORTMEN</div>

        <div class="common-section-content">

          <div class="common-recomendation">
            <div class="common-recomendation-text">
              <p>Для достижения красивого рельефа мышц груди, рук, спины и пресса необходимо выполнять ряд физических упражнений, а именно подтягивания на турнике и отжимания на брусьях. И чтобы результат от занятий был максимальным, нужно регулярно тренироваться и проявлять упорство. Для многих людей тренировочная программа с использованием турника и брусьев может показаться сложной, но если приложить достаточно усилий, даже начинающий спортсмен сумеет достичь невероятных успехов.</p>

              <p>Если вы хотите приобрести высококачественные уличные брусья или турники, ассортимент компании Sportmen удивит вас своей разнообразностью и доступными ценами. Чтобы сделать заказ звоните нам по телефону 8 (800) 775-15-12.</p>
            </div>

            <div class="common-recomendation-image">
              <img class="common-recomendation-image-element" src="{{'parallel-bars/recomendation.jpg' | theme_image_url }}" alt="" />
            </div>
          </div>

        </div>
      </div>
    </div>
  </section-->