<section class="common-section">
  <div class="shadow">
    <div class="shadow-text">Отзывы</div>
  </div>

  <div class="common-container">
    <div class="common-section-title">
      Отзывы

      <div class="main-feedback-arrows">
        <button type="button" class="main-feedback-arrows-left">
          <img src="{{'main/arrow_left.png' | theme_image_url }}"/>
        </button>
        <button type="button" class="main-feedback-arrows-right">
          <img src="{{'main/arrow_right.png' | theme_image_url }}"/>
        </button>
      </div>
    </div>

    <div class="common-section-content">
      <div class="main-feedback">
        <div class="main-feedback-carousel js-main-feedback">

          <div>
            <div class="main-feedback-item">
              <div class="main-feedback-item-picture">
                <div class="main-feedback-item-picture-wrapper">
                  <img class="main-feedback-item-picture-element" src="{{'main/review-1.jpg' | theme_image_url }}" />
                </div>
                <div class="main-feedback-item-creds-sm">
                  <div class="main-feedback-item-content-title-sm">Сердюков Олег Эдуардович</div>
                  <div class="main-feedback-item-content-role-sm">Начальник управления физической культуры и спорта Белгородской области</div>
                </div>
              </div>

              <div class="main-feedback-item-content">
                <div class="main-feedback-item-content-title">Сердюков Олег Эдуардович</div>
                <div class="main-feedback-item-content-role">Начальник управления физической культуры и спорта Белгородской области</div>
                <div class="main-feedback-item-content-quote">От имени Управления физической культуры и спорта Белгородской области выражаем  благодарность за большой вклад в развитие и пропаганду физической культуры и спорта. Уверен, что Ваша преданность делу будет и в дальнейшем служить на благо формирования здорового образа жизни среди детей и молодежи.</div>
              </div>
            </div>
          </div>

          <div>
            <div class="main-feedback-item">
              <div class="main-feedback-item-picture">
                <div class="main-feedback-item-picture-wrapper">
                  <img class="main-feedback-item-picture-element" src="{{'main/review-2.jpg' | theme_image_url }}" />
                </div>
                <div class="main-feedback-item-creds-sm">
                  <div class="main-feedback-item-content-title-sm">Хоркина Юлия Васильевна</div>
                  <div class="main-feedback-item-content-role-sm">Трехкратная чемпионка России в командном первенстве</div>
                </div>
              </div>

              <div class="main-feedback-item-content">
                <div class="main-feedback-item-content-title">Хоркина Юлия Васильевна</div>
                <div class="main-feedback-item-content-role">Трехкратная чемпионка России в командном первенстве</div>
                <div class="main-feedback-item-content-quote">От лица нашего спортивного сообщества выражаем вашему коллективу благодарность за активный вклад в поддержку спорта в регионе. Ваша помощь и неравнодушное отношение заслуживает самого глубокого признания. Желаем вам процветания и дальнейших успехов в деле развития спорта и привлечения людей к здоровому образу жизни.</div>
              </div>
            </div>
          </div>

          <div>
            <div class="main-feedback-item">
              <div class="main-feedback-item-picture">
                <div class="main-feedback-item-picture-wrapper">
                  <img class="main-feedback-item-picture-element" src="{{'main/review-3.jpg' | theme_image_url }}" />
                </div>
                <div class="main-feedback-item-creds-sm">
                  <div class="main-feedback-item-content-title-sm">Шипылюк Андрей Анатольевич</div>
                  <div class="main-feedback-item-content-role-sm">Чемпион Москвы и Вице-чемпион Восточной Европы по бодибилдингу</div>
                </div>
              </div>

              <div class="main-feedback-item-content">
                <div class="main-feedback-item-content-title">Шипылюк Андрей Анатольевич</div>
                <div class="main-feedback-item-content-role">Чемпион Москвы и Вице-чемпион Восточной Европы по бодибилдингу</div>
                <div class="main-feedback-item-content-quote">Дело популяризации и привлечения молодежи к спорту и здоровому образу жизни – это одна из важных составляющих сильного и здорового будущего для всей нашей страны. Проводя  бесплатные тренировки для детей и молодежи, выступая организатором различных конкурсов и соревнований, ребята создают условия и мотивируют людей к занятиям спортом. Так держать!</div>
              </div>
            </div>
          </div>

        </div>
      </div>
      {% if page.slug != 'reviews'%} <div class="feedback-pagelink">
        <a class="feedback-pagelink__link" href="/reviews">Смотреть все →</a>
      </div>{% endif %}
    </div>
  </div>
</section>