<section class="about-seventh">
  <div id="slider-bottom" style="position: relative; top: 0px; left: 0px; height: 278px;">
    <div class="carousel" u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 100%; height: 278px;">
      <div class="park">
        <p>Парк</p>
      </div>
      <div class="dacha">
        <p>Дача</p>
      </div>
      <div class="bazaotd">
        <p>База
          <br>отдыха</p>
      </div>
      <div class="vyz">
        <p>ВУЗ</p>
      </div>
      <div class="school">
        <p>Школа</p>
      </div>
      <div class="dvor">
        <p>Двор</p>
      </div>
      <div class="detsad">
        <p>Детский
          <br>сад</p>
      </div>
      <div class="park">
        <p>Парк</p>
      </div>
      <div class="dacha">
        <p>Дача</p>
      </div>
      <div class="bazaotd">
        <p>База
          <br>отдыха</p>
      </div>
      <div class="vyz">
        <p>ВУЗ</p>
      </div>
      <div class="school">
        <p>Школа</p>
      </div>
      <div class="dvor">
        <p>Двор</p>
      </div>
      <div class="detsad">
        <p>Детский
          <br>сад</p>
      </div>
    </div>
  </div>
</section>