<section class="yellowbox">
  <div class="common-container">
    <div class="yellowbox-title">
      <p class="yellowbox-title-element">Получить специальные условия и презентацию для дилеров</p>
    </div>

    <div class="premium-form inverted">
      <form action="{{contents.customer_messages.public_submission_url}}" method="POST" data-goal="order" enctype="multipart/form-data" onsubmit="yaCounter32144179.reachGoal('mailform'); ga('send', 'event', 'ФормаЗвонка', 'Отправить'); return true;" class="js-form-dealer-yellow">
		  {% csrf_param %}
        <input type="hidden" name="content[place]" value="dealer">
        <input type="hidden" name="content[name]" value="Стать дилером">
        <div class="premium-form-group premium-form-group-column">
          <div class="premium-form-input">
            <div class="form-input-validation-error__popup">Пожалуйста, заполните это поле</div>
            <input type="text" placeholder="Номер телефона" name="content[phone]">
          </div>
          <div class="premium-form-input">
            <div class="form-input-validation-error__popup">Пожалуйста, заполните это поле</div>
            <input type="text" placeholder="E-mail" name="content[email]">
          </div>
          <div class="premium-form-button">
            <button type="submit">Отправить</button>
          </div>
        </div>

        <div class="premium-form-agreement">
          <label class="premium-form-checkbox">
            <input type="checkbox" checked />
            <span>Я соглашаюсь с политикой конфеденциальности</span>
            <span class="form-input-validation-error__checkbox-popup">Вам необходимо согласиться с политикой конфиденциальности чтобы продолжить</span>
          </label>
        </div>
      </form>
    </div>

    <div class="yellowbox-advantages">
      <div class="yellowbox-advantages-item">Готовый интернет портал</div>
      <div class="yellowbox-advantages-item">Работа с качественным и проверенным брендом</div>
      <div class="yellowbox-advantages-item">3D макеты оборудовния</div>
      <div class="yellowbox-advantages-item">Все рекламные материалы</div>
      <div class="yellowbox-advantages-item">Мобильная промостройка оборудовния</div>
      <div class="yellowbox-advantages-item">Личный менеджер всегда на связи</div>
    </div>
  </div>
</section>