---
title: Product_data
slug: content_type_template
is_layout: false
allow_layout: false
listed: true
published: false
cache_strategy: none
response_type: text/html
position: 0
content_type: products
---
{% extends wrapper %}

{% block 'main' %}

<div class="pc-wrapper">
  <div class="breadcrumbs breadcrumbs-black pc-breadcrumbs">
    <span class="breadcrumbs-item">
      <a href="/">SPORTMEN.RU</a>
    </span>
    <span class="breadcrumbs-item">
      <a href="/">Главная</a>
    </span>
    {% include 'breadcrumbs-catalog' %}
    <span class="breadcrumbs-item">
      {% if product.type == 'platform' %}
      {% if product.gto %}
        <a href="/gto_platforms">Площадки ВФСК</a>
      {% else %}
        <a href="/platforms">Спортивные площадки</a>
      {% endif %}
      {% else %}
      {% if product.type == 'mobile' %}
        <a href="/mobiles">Мобильные комплексы</a>
        {% else %}
      {% if product.type == 'para' %}
        <a href="/paraworkout">Параворкаут</a>
        {% else %}
      {% if product.type == 'para kompl' %}
        <a href="/paraworkout">Параворкаут</a>
      {% else %}
      {% if product.type == 'clamp' %}
        <a href="/factory">Хомуты</a>
      {% else %}        

{% with_scope code: "bar" %}
  {% assign category = contents.categories.first %}
{% endwith_scope %}
      {% if product.type != 'bar' %}
        <a href="/ulichnye-brusya">Уличные брусья</a>
      {% endif %}                              
      {% endif %}
      {% endif %}      
      {% endif %}
      {% endif %}
      {% endif %}      
    </span>
    <span class="breadcrumbs-item">
      <a href="javascript:void(0);">{{product.title}}</a>
    </span>
  </div>
  <div class="pc-wrapper-main-content">
    <div class="pc-titles-small">
      <p class='pc-main-subtitle-mobile {% if product.bestseller %}pc-sales-hit{% endif %}'>арт. <span class="value">{{product.article}}</span></p>
      <p class='pc-main-title-mobile'>{{product.title}}</p>

    </div>
    <div class="pc-pic-slider">
      <div class="pc-pic-slider-main-pic">
        <a class="pc-pic-magnify"></a>
        <img class='magnific-image' href="{{ product.image.url | resize: 'x500' }}" alt="{{product.title}}"   src="{{ product.image.url | resize: 'x500' }}" alt="{{product.title}}" alt="{{product.title}}">
        <div class="pc-pic-mobile-buttons">
          <div class='active'></div>
          <div></div>
        </div>
      </div>
{% with_scope _id: '581af186e1a7d4a8ce042ca0' %}
    {% assign champ = contents.products.first %}

    <div class="pc-pic-slider-pic"><img class='magnific-image' href="{{'clamp/clamp.jpg' | theme_image_url }}"  src="{{'clamp/clamp.jpg' | theme_image_url }}" alt="{{product.title}}"></div>

    </div>
    <div class="pc-pic-slider-mobile">
      <div class="pc-pic-slider-pic-mobile"><img  href="{{ product.image.url | resize: 'x500' }}"   src="{{ product.image.url | resize: 'x500' }}" alt=""></div>
    </div>
{% endwith_scope %}
    <div class="pc-selectors-wrapper">
      <h1 class='pc-main-title {% if product.bestseller %}pc-sales-hit{% endif %}'>{{product.title}}</h1>
      <p class='pc-main-subtitle'>арт. <span class="value">{{product.article}}</span></p>
      <div class="pc-selectors">
        <div class="pc-diam-collapse">
          <div class="pc-selectors-collapse">диаметр трубы<span class="pc-med-selected-diam" {% if product.price76mm %}id="mm76"{% endif %}{% unless product.price76mm %}id="mm89"{% endunless %}>{% if product.price76mm %}76мм{% endif %}{% unless product.price76mm %}89мм{% endunless %}</span><div class="pc-collapse-arrow"></div></div>
        </div>
        <ul class="pc-diam">
          <span class="pc-selectors-titles">диаметр трубы</span>
          {% if product.price76mm %}<li class="pc-selector-active" data-value='76мм' data-diameter='mm76'>
            <span>76мм</span>
            <p>Для частного использования</p>
          </li>{% endif %}
          <li data-value='89мм' {% unless product.price76mm %}class="pc-selector-active"{% endunless %} data-diameter='mm89'>
            <span>89мм</span>
            <p>Для парков и зон отдыха</p>
          </li>
          {% if product.price108mm %}<li data-value='108мм' data-diameter='mm108'>
            <span>108мм</span>
            <p>Для территорий с большой проходимостью</p>
          </li>{% endif %}
        </ul>

      {% if product.price76mmplastik %}
        <div class="pc-caps-collapse {% unless product.price76mm %} nonshown{% endunless %}">
          <div class="pc-selectors-collapse">заглушка<span class="pc-med-selected-caps">АБС-пластик</span><div class="pc-collapse-arrow"></div></div>
        </div>
        <ul class="pc-caps {% unless product.price76mm %} nonshown{% endunless %}" id="mm76cap" data-diameter="mm76">
          <span class="pc-selectors-titles">заглушка</span>
          <li data-value='Сталь' id="mm76steel" data-cap="steel">
            <span>Сталь</span>
            <p>Заглушка стальная эллиптическая</p>
          </li>
          <li class="pc-selector-active" data-value='АБС-пластик' id="mm76plastik" data-cap="plastik">
            <span>АБС-пластик</span>
            <p>Заглушка из ударопрочного износостойкого АБС-пластика</p>
          </li>
        </ul>
      {% endif %}

      {% if product.price89mmplastik %}
        <div class="pc-caps-collapse nonshown">
          <div class="pc-selectors-collapse">заглушка<span class="pc-med-selected-caps">АБС-пластик</span><div class="pc-collapse-arrow"></div></div>
        </div>
        <ul class="pc-caps nonshown" id="mm89cap" data-diameter="mm89">
          <span class="pc-selectors-titles">заглушка</span>
          <li data-value='Сталь' id="mm89steel" data-cap="steel">
            <span>Сталь</span>
            <p>Заглушка стальная эллиптическая</p>
          </li>
          <li class="pc-selector-active" data-value='АБС-пластик' id="mm89plastik" data-cap="plastik">
            <span>АБС-пластик</span>
            <p>Заглушка из ударопрочного износостойкого АБС-пластика</p>
          </li>
        </ul>
      {% endif %}


        <!--ul class="pc-strap-color pc-config-color" data-colorgroup="1" id="pc-clamp">
          <span>Цвет хомута</span>
          <li><a href="#" data-color="1"></a></li>
          <li><a href="#" data-color="3"></a></li>
          <li><a href="#" class="active" data-color="5"></a></li>
          <li><a href="#" data-color="6"></a></li>
          <li><a href="#" data-color="9"></a></li>
          <li><a href="#" data-color="8"></a></li>
          <li><a href="#" data-color="2"></a></li>
        </ul>
        <ul class="pc-rack-color pc-config-color" data-colorgroup="2" id="pc-rack">
          <span>цвет стойки</span>
          <li><a href="" data-color="1"></a></li>
          <li><a href="" data-color="3"></a></li>
          <li><a href="" data-color="5"></a></li>
          <li><a href="" data-color="6"></a></li>
          <li><a href="" data-color="9"></a></li>
          <li><a href="" class="active" data-color="8"></a></li>
          <li><a href="" data-color="2"></a></li>
        </ul-->
        <a href="#feedback-form" class="pc-color-warning order-call-btn-js js-header-order-call-btn"">
          цветовое решение предварительно<br> согласовывать с менеджерами
        </a>
        <div class="pc-color-picker-group">
          <form class='pc-color-picker pc-color-picker-js'>
            <p class="pc-color-picker-title">цвет хомута</p>
            <select>
              <option value="dgrey" data-color="1"></option>
              <option value="blue" data-color="3"></option>
              <option value="orange" data-color="5"></option>
              <option value="green" data-color="6"></option>
              <option value="brown" data-color="9"></option>
              <option value="red" data-color="4"></option>
              <option value="yellow" data-color="8"></option>
              <option value="black" data-color="2"></option>
            </select>
          </form>
          <form class='pc-color-picker pc-color-picker-js'>
            <p class="pc-color-picker-title">цвет стойки</p>
            <select>
              <option value="dgrey" data-color="1"></option>
              <option value="blue" data-color="3"></option>
              <option value="orange" data-color="5"></option>
              <option value="green" data-color="6"></option>
              <option value="brown" data-color="9"></option>
              <option value="red" data-color="4"></option>
              <option value="black" data-color="2"></option>
            </select>
          </form>
        </div>     
        
        <div class="pc-selectors-prices">
          {% if product.price76mm %}
            <div class="pc-prices-discount pc-active" id="mm76discount"><p>-{{product.price76mm | times: 100 | divided_by: product.price76mm_old | minus: 100 | times: -1 }}%</p></div>
          {% endif %}
          {% if product.old_price %}
            <div class="pc-prices-discount {% unless product.price76mm_old %}  pc-active{% endunless %}" id="mm89discount"><p>-{{product.new_price| times: 100 | divided_by: product.old_price | minus: 100 | times: -1 }}%</p></div>
          {% endif %}
          {% if product.price108mm_old %}
            <div class="pc-prices-discount" id="mm108discount"><p>-{{product.price108mm| times: 100 | divided_by: product.price108mm_old | minus: 100 | times: -1 }}%</p></div>
          {% endif %}

          {% if product.price76mm_old %}<div class="pc-prices-old-price pc-active" id="pc-old-mm76"><p><span class="format">{{product.price76mm_old}}</span> p.</p></div>{% endif %}
          {% if product.old_price %}<div class="pc-prices-old-price {% unless product.price76mm_old %}  pc-active{% endunless %}" id="pc-old-mm89"><p><span class="format">{{product.old_price}}</span> p.</p></div>{% endif %}
          {% if product.price108mm_old %}<div class="pc-prices-old-price" id="pc-old-mm108"><p><span class="format">{{product.price108mm_old}}</span> p.</p></div>{% endif %}

          {% if product.price76mm %}<div class="pc-prices-price {% unless product.price76mmplastik %} pc-active{% endunless %}" id="pc-new-mm76steel"><p><span class="format">{{product.price76mm}}</span> p.</p></div>{% endif %}
          {% if product.price76mmplastik %}<div class="pc-prices-price pc-active" id="pc-new-mm76plastik"><p><span class="format">{{product.price76mmplastik}}</span> p.</p></div>{% endif %}
          {% if product.price89mmplastik %}<div class="pc-prices-price" id="pc-new-mm89plastik"><p><span class="format">{{product.price89mmplastik}}</span> p.</p></div>{% endif %}
          {% if product.new_price %}<div class="pc-prices-price {% unless product.price76mm %}  pc-active{% endunless %}" id="pc-new-mm89steel"><p><span class="format">{{product.new_price}}</span> p.</p></div>{% endif %}
          {% if product.price108mm %}<div class="pc-prices-price" id="pc-new-mm108steel"><p><span class="format">{{product.price108mm}}</span> p.</p></div>{% endif %}

        </div>
{% if product.type != 'clamp' %}                                                                                                                
        <div class="pc-selectors-buttons">
          <div class="pc-prices-add-to-cart js-pc-prices-add-to-cart"><a href="">добавить в корзину</a></div>
          <div class="pc-prices-buy js-pc-prices-buy"><a href="">купить</a></div>
          <div class="pc-prices-free-delivery"><p>бесплатная доставка*</p></div>
        </div>
{% endif %}
      </div>
    </div>
    <div class="pc-info-wrapper" id='tabs'>
      <ul class="pc-info-tabs">
        <li  class='active'><a href="#fragment-1"><span>Характеристики и описание товара</span></a></li>
        <li><a href="#fragment-2"><span>Доставка товара</span></a></li>
        <div class="pc-sm-info-collapse-1"></div>
      </ul>
      <div id='fragment-1' class="pc-info-description">
        <p>{{product.specs}}</p>
        <p>{{product.description}}</p>
      </div>
      <div id='fragment-2' class="pc-info-delivery">
        <p>Мы организуем доставку по всему миру транспортными компаниями:<br>
        Белгород Бесплатно<br>
        Страны СНГ, Россия, Другие страны Компенсируем расходы на доставку скидкой 5% от стоимости оборудования.<br>
        Стоимость доставки клиент оплачивает при получении груза транспортной компанией.</p>
      </div>
      <ul class="pc-info-tabs-mobile">
        <li class="pc-info-tabs-mobile-title"><a><span>Характеристики и описание товара</span></a><div class="pc-collapse-arrow"></div></li>
        <li class="pc-info-tabs-mobile-content">
          <p>{{product.specs}}</p>
          <p>{{product.description}}</p>
        </li>
        <li class="pc-info-tabs-mobile-title"><a><span>Доставка товара</span></a><div class="pc-collapse-arrow"></div></li>
        <li class="pc-info-tabs-mobile-content">
          <p>Мы организуем доставку по всему миру транспортными компаниями:<br>
          Белгород Бесплатно<br>
          Страны СНГ, Россия, Другие страны Компенсируем расходы на доставку скидкой 5% от стоимости оборудования.<br>
          Стоимость доставки клиент оплачивает при получении груза транспортной компанией.</p>
        </li>
      </ul>
    </div>
  </div>
<!--   <div class="fbt-also-bought">
    <div class="fbt-ab-title">
      <p class="fbt-ab-title-title">с этим товаром покупают:</p>
      <div class="fbt-ab-arrows">
        <div class='fbt-ab-arrow-prev'></div>
        <div class='fbt-ab-arrow-next'></div>
      </div>
    </div>
    <ul class="fbt-ab-products">
      <li class="fbt-ab-card fbt-ab-card-mobile">
        <p>СПОРТ. КОМПЛЕКС ДЛЯ ПОДГОТОВКИ К СДАЧЕ НОРМ ВФСК</p>
        <a href=""><span>подробнее</span><img src="{{ 'pc_fish_1.jpg' | theme_image_url }}" alt=""></a>
      </li>
      <li class="fbt-ab-card fbt-ab-card-mobile">
        <p>СПОРТ. КОМПЛЕКС ДЛЯ ПОДГОТОВКИ К СДАЧЕ НОРМ ВФСК</p>
        <a href=""><span>подробнее</span><img src="{{ 'pc_fish_1.jpg' | theme_image_url }}" alt=""></a>
      </li>
      <li class="fbt-ab-card">
        <p>СПОРТ. КОМПЛЕКС ДЛЯ ПОДГОТОВКИ К СДАЧЕ НОРМ ВФСК</p>
        <a href=""><span>подробнее</span><img src="{{ 'pc_fish_1.jpg' | theme_image_url }}" alt=""></a>
      </li>
      <li class="fbt-ab-card">
        <p>СПОРТ. КОМПЛЕКС ДЛЯ ПОДГОТОВКИ К СДАЧЕ НОРМ ВФСК</p>
        <a href=""><span>подробнее</span><img src="{{ 'pc_fish_1.jpg' | theme_image_url }}" alt=""></a>
      </li>
      <li class="fbt-ab-card">
        <p>СПОРТ. КОМПЛЕКС ДЛЯ ПОДГОТОВКИ К СДАЧЕ НОРМ ВФСК</p>
        <a href=""><span>подробнее</span><img src="{{ 'pc_fish_1.jpg' | theme_image_url }}" alt=""></a>
      </li>
      <li class="fbt-ab-card">
        <p>СПОРТ. КОМПЛЕКС ДЛЯ ПОДГОТОВКИ К СДАЧЕ НОРМ ВФСК</p>
        <a href=""><span>подробнее</span><img src="{{ 'pc_fish_1.jpg' | theme_image_url }}" alt=""></a>
      </li>
    </ul>
  </div> -->
</div>
<div class="pc-special-offers">
  <div class="pc-so-gov">
    <div>
      <p>специальные условия<br class='pc-hide'> для госконтрактов</p>
      <a href="/government">подробнее</a>
    </div>
  </div>
  <div class="pc-so-dealers">
    <div>
      <p>специальные условия<br class='pc-hide'> для дилеров</p>
      <a href="/dealers">подробнее</a>
    </div>
  </div>
</div>
{% endblock %}

{% block 'pagescripts' %}
  {{ 'jquery-ui-tabs.min.js' | javascript_tag }}
  {{ 'magnific-popup.min.js'| javascript_tag }}
  {{ 'product-card-page.js'| javascript_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js' | javascript_tag }}
  <script>$(() => {
  $('.fbt-ab-products').slick({
    slidesToShow: 4,
    infinite: false,
    draggable: false,
    arrows: true,
    prevArrow: $('.fbt-ab-arrow-prev'),
    nextArrow: $('.fbt-ab-arrow-next'),
    dots: false,
    responsive: [
      {
        breakpoint: 768,
        settings: {
          draggable: true,
          slidesToShow: 2
        }
      }
    ]
    });
    $('.pc-pic-slider-mobile').slick({
      arrows: false,
      dots: true,
      draggable: true
    });
  })
</script>

{% endblock %}

{% block 'pagestyles' %}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" | stylesheet_tag}}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" | stylesheet_tag}}
{% endblock %}