.pc-caps-collapse.nonshown,
.pc-caps.nonshown {
  display: none;
}
.pc-prices-price {
	display: none;
}
.pc-prices-price.pc-active {
    display: flex;
}
.pc-prices-old-price {
  display: none; }
.pc-prices-old-price.pc-active {
    display: block;
}
.pc-prices-discount {
  display: none;
}
.pc-prices-discount.pc-active {
  display: block;
}
.cart_s2_form_fs1 > div > div:nth-of-type(2), .cart_s2_form_fs2 > div > div:nth-of-type(2),
.cart_s2_form_fs1 > div > div:nth-of-type(1), .cart_s2_form_fs2 > div > div:nth-of-type(1) {
  flex-basis: 100%;
}
.address-contacts-info > .shops_block {
  display: none;
}
.address-contacts-info > .shops_block_active {
  display: block;
}
.common-catalog-sale {
  width: 100%;
  font-family: 'Gotham Pro';
  font-size: 28px;
  color: #fff;
  font-weight: bold;
  background-color: #ff003c;
  padding: 23px 30px;
  margin: 30px 0 40px;
  box-shadow: 0px 27px 35px 0px rgba(255, 0, 60, 0.31); }
  @media (max-width: 1279px) {
    .common-catalog-sale {
      margin: 20px -20px;
      width: calc(100% + 40px);
      padding: 10px 20px;
      font-size: 18px; } }

.premium-slide-image-md-block {
  display: none;
  height: 44px;
}
.premium-slide-image-md-block > div {
  width: 45px;
  height: 44px;
}
.premium-slide-image-md-block-sun {
  background: url('../images/premium/sun.png');
}
.premium-slide-image-md-block-wind {
  background: url('../images/premium/wind.png');
}
.premium-slide-image-md-block-rain {
  background: url('../images/premium/rain.png');
}
.premium-slide-image-md-block-snow {
  background: url('../images/premium/snow.png');
}
.premium-slide-image-md-block-thermometer {
  background: url('../images/premium/thermometer.png');
}

/* MOBILE */
@media only screen and (max-width: 960px) {
.header-main-menu-mobile .main-menu-mobile-wrapper .main-menu-mobile-list .main-menu-mobile-list__item .main-submenu-mobile li {
              margin-top: 10px; }  
  .footer-email a {
  font-size:22px;
  }
  .main-trainers-carousel-component img {
  width: 100%;}
  
  .premium-slide-image-md-block {
    display: flex;
    justify-content: space-between;
  }
  
}