@font-face {
	font-family: 'Futura New Book';
	src: url('../fonts/Futura_New_Book_Reg.eot');
	src: url('../fonts/Futura_New_Book_Reg.eot?#iefix') format('embedded-opentype'), url('../fonts/Futura_New_Book_Reg.woff2') format('woff2'), url('../fonts/Futura_New_Book_Reg.woff') format('woff'), url('../fonts/Futura_New_Book_Reg.ttf') format('truetype'), url('../fonts/Futura_New_Book_Reg.otf') format('opentype'), url('../fonts/Futura_New_Book_Reg.svg#Futura_New_Book_Reg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'HelveticaNeueCyrBlack';
	src: url('../fonts/HelveticaNeueCyr-Black.eot');
	src: url('../fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Black.woff2') format('woff2'), url('../fonts/HelveticaNeueCyr-Black.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Black.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Black.otf') format('opentype'), url('../fonts/HelveticaNeueCyr-Black.svg#HelveticaNeueCyr-Black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-E001;
}

@font-face {
	font-family: 'EurostileOT-Regular';
	src: url('../fonts/roboto-regular-webfont.eot');
	src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-regular-webfont.woff') format('woff'), url('../fonts/roboto-regular-webfont.ttf') format('truetype'), url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EurostileOT-Bold';
	src: url('../fonts/roboto-bold-webfont.eot');
	src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-bold-webfont.woff') format('woff'), url('../fonts/roboto-bold-webfont.ttf') format('truetype'), url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EurostileOT-Black';
	src: url('../fonts/roboto-black-webfont.eot');
	src: url('../fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-black-webfont.woff') format('woff'), url('../fonts/roboto-black-webfont.ttf') format('truetype'), url('../fonts/roboto-black-webfont.svg#robotoblack') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	min-width: 1060px;
}

.container {
	width: 1060px;
	max-width: 100%;
}

nav.nav .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav.nav .container:after,
nav.nav .container:before {
	content: none;
}

.best-price-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 223px;
	height: 47px;
	background-color: #ef4d49;
	background-image: linear-gradient(180deg, transparent 0%, rgba(0, 0, 2, .25) 100%);
	text-align: center;
	color: white;
	font-family: 'robotoregular';
	font-size: 12px;
	font-weight: 300;
	line-height: 12px;
	text-transform: uppercase;
	text-decoration: none !important;
	transition: .2s;
}
.best-price-btn img {
	margin-right: 6px;
	width: 28px;
	height: 24px;
}
.best-price-btn:hover,
.best-price-btn:active,
.best-price-btn:focus {
	color: white;
	opacity: .8;
}

.your-city {
	color: #cfcfcf;
	font-family: 'robotoregular';
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
}
.your-city > div {
	margin-bottom: 7px;
}
.your-city__link {
	color: #020306;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	position: relative;
	text-decoration: none !important;
	position: relative;
	padding-left: 26px;
}
.your-city__link:before {
	content: '';
	background: url('../images/map_placeholder.png') no-repeat center/contain;
	width: 12px;
	height: 16px;
	margin-right: 14px;
	position: absolute;
	top: 1px;
	left: 0;
}
.your-city__link span {
	border-bottom: 1px solid #ef4d49;
}
.your-city__link:hover,
.your-city__link:active,
.your-city__link:focus {
	color: #020306;
}
.your-city__link:hover span,
.your-city__link:active span,
.your-city__link:focus span {
	border-color: transparent;
}

.order-call-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 48px;
	background-color: #579d84;
	background-image: linear-gradient(180deg, transparent 0%, rgba(0, 0, 2, .25) 100%);
	color: white;
	font-family: 'robotoregular';
	font-size: 12px;
	font-weight: 300;
	line-height: 12px;
	text-decoration: none !important;
	transition: .2s;
}
.order-call-btn:hover,
.order-call-btn:active,
.order-call-btn:focus {
	color: white;
	opacity: .8;
}

.nav-phones {
	margin-top: 15px;
}
.nav-phones > div {
	margin-bottom: 5px;
}
.nav-phones__link {
	color: #020206;
	font-family: 'robotoregular';
	font-size: 16px;
	line-height: 16px;
	font-weight: 700;
	text-decoration: none !important;
	transition: .2s;
}
.nav-phones__link:hover,
.nav-phones__link:active,
.nav-phones__link:focus {
	color: #ef4d49;
}

.we-work {
	opacity: .6;
	color: #030206;
	font-family: 'robotoregular';
	font-size: 11px;
	font-weight: 300;
	line-height: 12px;
	letter-spacing: -.2px;
}
.we-work sup {
	font-size: 7px;
	margin-left: -1px;
}

.mm-basket {
	display: flex;
	align-items: center;
	background: #464646;
	color: #fff;
	font-family: 'robotoregular';
	font-size: 16px;
	font-weight: 900;
	line-height: 26px;
	padding: 5.5px 20px 9px;
	text-decoration: none !important;
	width: 274px;
}
.mm-basket:hover,
.mm-basket:active,
.mm-basket:focus {
	color: #fff;
}

.mmb-currency {
	font-family: 'Futura New Book';
	font-weight: 300;
}

.mmb-icon {
	display: block;
	width: 24px;
	height: 19px;
	fill: #fff;
}
.mmb-value {
	margin-top: 4px;
}

.mmb-dash {
	width: 1px;
	height: 25px;
	display: block;
	background-color: #fff;
	margin-left: 19px;
	margin-right: 21px;
}

.main-menu {
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .1);
	background-color: #f0eff5;
    position: relative;
    z-index: 1000;
}
.main-menu .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-menu .container:before,
.main-menu .container:after {
	content: none;
}

.main-menu-list {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}
.main-menu-list__item {
	position: relative;
}
.main-menu-list__item + li {
	margin-left: 27px;
}
.main-menu-list__item > span,
.main-menu-list__item > a {
	text-transform: uppercase;
	color: #020306;
	font-family: 'robotoregular';
	font-size: 14px;
	font-weight: 300;
	line-height: 14px;
	text-transform: uppercase;
	position: relative;
	text-decoration: none !important;
	transition: .2s;
}
.main-menu-list__item > span:hover,
.main-menu-list__item > a:hover {
	opacity: .6;
}
.main-menu-list__item.with-submenu:hover .main-submenu {
	display: block;
}
.main-menu-list__item.with-submenu > span {
	padding-right: 20px;
	cursor: default;
}
.main-menu-list__item.with-submenu > span:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 11px;
    height: 6px;
	background: url('../images/icon_arrow_down.png') no-repeat center/contain;
  	background-size: 11px;
}

.main-submenu {
	padding: 0;
	margin: 0;
	list-style: none;
	white-space: nowrap;
	padding: 5px;
	z-index: 1;
	position: absolute;
	top: 100%;
	left: 0;
	background: #efeff4;
	padding: 10px 20px;
	display: none;
	min-width: calc(100%);
}
.main-submenu a {
	font-size: 14px;
	color: #5d5d5d;
	text-decoration: none !important;
	font-family: 'EurostileOT-Regular', sans-serif;
}
.main-submenu a:hover {
	color: #589e85;
}
.main-submenu > li + li {
	/*margin-top: 10px;*/
}
.main-submenu > li > a {
	color: #000;
    font-family: 'EurostileOT-Bold',sans-serif;
    font-weight: 600;
    letter-spacing: 1.4px;
    line-height: 35px;
}
.main-submenu > li > a:hover {
	color: #000;
}

.main-submenu2 {
	padding: 0;
	margin: 0;
	list-style: none;
}
.main-submenu2 > li {
	line-height: 23px;
}

.header * {
	max-width: 100%;
}

.news_block .container > div {
	height: auto;
}
.footer {
	background: #f2f2f2;
}

.footer .container {
	display: flex;
	justify-content: space-between;
}

.footer img {
	margin-top: 12px;
}

.footer-phones {
	color: #000;
	font-family: 'EurostileOT-Black', sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 29px;
	position: relative;
	margin-top: 15px;
}

.footer-phones::after {
	content: '';
	width: 43px;
	height: 43px;
	position: absolute;
	top: 7px;
	right: 100px;
	background: url(../images/icon_footer_phone.png) no-repeat;
	background-size: 43px 43px;
}

.footer-phones span {
	color: #5d5d5d;
	font-size: 14px;
	font-family: 'EurostileOT-Regular', sans-serif;
}

.footer-times {
	color: #5d5d5d;
	font-size: 14px;
	margin-top: 8px;
	margin-bottom: 13px;
}

.footer-times span {
	color: #000;
	font-family: 'EurostileOT-Bold', sans-serif;
	font-weight: 600;
}

.footer-address {
	color: #5d5d5d;
	font-size: 14px;
	line-height: 15px;
	margin-top: 0;
	margin-bottom: 36px;
}

.footer-downloads a {
	color: #000;
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 12px 10px 10px 12px;
	margin-right: 9px;
	border: 2px solid #000;
	        border-radius: 2px;
	   -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.footer nav {
	display: flex;
	justify-content: space-between;
	width: 680px;
}

.footer nav ul {
	list-style-type: none;
	padding-left: 0;
}

.footer nav ul li {
	line-height: 23px;
}

.footer nav > ul {
	margin-top: 14px;
}

.footer nav > ul > li {
	line-height: 38px;
}

.footer nav a {
	color: #5d5d5d;
	font-size: 14px;
	letter-spacing: .5px;
	text-decoration: none;
}

.footer nav > ul > li > a,
.footer nav > ul > li > span {
	color: #000;
	font-family: 'EurostileOT-Bold', sans-serif;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1.5px;
}

.footer nav > ul ul {
	margin-top: 3px;
	margin-bottom: 7px;
}

.footer-links {
	width: 160px;
	padding: 25px 30px;
}

.footer-links-site a {
	color: #000;
	font-size: 13px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
	box-sizing: border-box;
	padding: 12px 0 10px 0;
	margin-bottom: 14px;
	display: inline-block;
	border: 2px solid #000;
	        border-radius: 2px;
	   -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.footer-links-social {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer-links-social a {
	color: transparent;
	width: 72px;
	height: 72px;
	box-sizing: border-box;
	display: inline-block;
	margin-bottom: 14px;
	border: 2px solid #000;
	        border-radius: 2px;
	   -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.footer-vk {
	background: url(../images/icon_footer_vk.png) no-repeat;
	background-size: 24px 31px;
	background-position: center center;
}

.footer-fb {
	background: url(../images/icon_footer_fb.png) no-repeat;
	background-size: 16px 30px;
	background-position: center center;
}

.footer-ok {
	background: url(../images/icon_footer_ok.png) no-repeat;
	background-size: 20px 34px;
	background-position: center center;
}

.footer-yt {
	background: url(../images/icon_footer_yt.png) no-repeat;
	background-size: 27px 34px;
	background-position: center center;
}
footer .container {
    width: 1350px;
    margin: 0 auto;
    max-width: 100%;
}
.header-logo {
    padding: 5px 0px;
}
.header-logo .logo {
    color: black;
    text-decoration: none;
    float: left;
    height: 100px;
}
.header-logo .logo span {
    display: block;
}
.header-logo .pull-right {
    float: right;
}
.header-logo .logo .name {
    font-family: 'EurostileOT-Bold', sans-serif;
    font-size: 33px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #d4504c;
    padding: 30px 0 0 0;
    line-height: 1.15;
}
.header-logo .logo .slogan {
    font-size: 11px;
    text-transform: uppercase;
    text-align: justify;
    letter-spacing: .4px;
    padding: 5px 0 0 0;
}
footer .header-logo .logo {
	height: 120px;
}
.footer-phones {
	clear: both;
}
.sertificates .list-sert:nth-child(4) ~ .list-sert {
    display: none;
}
.item-description .item-image img {
  width: 240px;
}
