.row {
  margin: 0px;
}

.cart-product-sum-final {
  margin-left: auto;
  width: 250px;
  text-align: right;
}

.cart-product-sum-amount-discount {
  color: #5d5d5d;
  font-size: 20px;
}

.cart-cards-pic {
  width: 150px;
  height: 100px;
  background: url("../images/xicons_cards.png") no-repeat;
  background-size: 150px;
}

.cart-final-order__buttons-info {
  margin-top: 15px;
  margin-left: auto;
  display: flex;
  flex-flow: row nowrap;
  max-width: 600px;
  justify-content: space-between;
  align-items: flex-start;
}

.cart-final-order__buttons-info p {
  width: 220px;
  text-align: left;
}

.cart-final-order {
  font-size: 23px;
  font-family: 'EurostileOT-Bold', sans-serif;
  font-weight: 600;
  background: #589e85;
  margin-left: 25px;
  cursor: pointer;
  border-radius: 5px;
}

.cart-final-order:hover {
  background-color: #376152;
  border-color: #376152;
}

.cart-make-order:hover {
  background-color: #376152;
  border-color: #376152;
}

.cart-continue {
  font-size: 23px;
  color: #5d5d5d;
  background: #efeff4;
  border-radius: 5px;
  margin-left: 10px;
}

.cart-continue:hover {
  background: #589e85;
  border-color: #589e85;
}

.cart-product-order-delivery {
  display: none;
}

.cart-blocks input {
  padding-left: 20px;
}

#cart-form-phone {
  margin-left: 10px;
}

.cart-data-finish {
  margin-left: auto;
  margin-bottom: 15px;
}

.cart-form-address p {
  margin-right: 10px;
}

#cart-form-address {
  margin-right: 100px;
}

.cart-data-delivery {
  margin-left: 42px;
  max-width: 400px;
}

.container {
  margin: 0 auto;
  max-width: 100%;
}

.bgtrianglegrey {
  background: url(../images/bg_trianglegrey.jpg) no-repeat;
}

.slider-catalog {
  height: 469px;
  margin-bottom: 60px;
}

.slider-image {
  padding-top: 25px;
  float: left;
  margin-right: 55px;
}

.slider-image img {
  width: 599px;
  margin-top: 22px;
  margin-bottom: 50px;
}

.slider-title {
  font-size: 37px;
  font-family: 'EurostileOT-Bold', sans-serif;
  margin: 20px;
  padding-bottom: 9px;
  padding-top: 15px;
}

.slider-title {
  line-height: 46px;
}

.slider-text {
  font-size: 14px;
  margin-bottom: 18px;
  line-height: 18px;
}

.platforms .header-content .title {
  padding-top: 20px;
}

.mobiles .header-content .title {
  padding-top: 8px;
}

.btn-popup-added-to-cart {
  border-radius: 5px;
  width: 250px;
  margin-top: 15px;
  line-height: 30px;
}

.btn-white {
  background: #efeff4;
  border-color: #5d5d5d;
  color: #579d84;
  font-weight: bolder;
}

#popup-added-to-cart p {
  font-size: 20px;
}

#popup-added-to-cart div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 15px;
}

.cart-form-business p {
  margin-top: 15px;
}

.cart-form-business p label {
  font-size: 19px;
  text-decoration: underline;
  white-space: nowrap;
}

.catalog-item-btn {
  border-radius: 1px;
  width: 243px;
}

.homut-slider {
  height: 364px;
}

.homut-slider .slider-image img {
  width: 400px;
}

.paraworkout-content-second ul li {
  position: relative;
}

.paraworkout-first {
  background: url("../images/para-1-background.png") #313036 no-repeat;
  background-size: 2500px 520px;
  background-position: bottom;
  padding-top: 50px;
}

.para-overlay {
  width: 280px;
  position: absolute;
  font-size: 59px;
  z-index: 1000;
  font-weight: bold;
  text-align: center;
  top: 34%;
  letter-spacing: 1px;
}

.paraworkout-white-wrap {
  position: absolute;
  width: 100%;
  background-color: grey;
  height: 500px;
}

.paraworkout-first-right {
  color: #313036;
}

.paraworkout-first .title:before {
  top: -11px;
}
.item-description .item-image img {
  width: 240px;
}
/* HEADER MOBILE MENU */
@media only screen and (max-width: 960px) {
.header-main-menu-mobile .main-menu-mobile-wrapper .main-menu-mobile-list .main-menu-mobile-list__item .main-submenu-mobile li {
              margin-top: 10px; }  
}