---
title: "Корзина. Подтверждение"
slug: confirm
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 0
---
{% extends 'parent' %}

{% block 'main' %}
<section class="cart cart-third container">
  {% if !customer_message.errors %}
  <p class="title">Уважаемый {{customer_message.name}}!</p>
  <p>Ваш заказ <!--span>{{customer_message._id}}</span--> принят</p>
  <p>в ближайшее время с Вами свяжется менеджер<br>для уточнения подробностей</p>
    {% if customer_message.pay_type == "card" %}
    <div id="orderConfirmYandex" class="hidden">
        <p>Спасибо!</p>
        <p>Ваша заявка принята.</p>
        <p>Мы свяжемся с Вами в ближайшее время.<br/>Режим работы: 9.00 -18.00 МСК. Спасибо!</p>
      <form method="POST" action="https://yoomoney.ru/eshop.xml" id="yandex_pay">
      <input type="hidden" name="scid" value="58871">
      <input type="hidden" name="ShopID" value="60547"> 
      <input type="hidden" name="CustomerNumber" value="{{customer_message._id}}">
      <input type="hidden" name="Sum" value="{{customer_message.total}}">
      <input type="hidden" name="CustName" value="{{customer_message.name}}">
      <input type="hidden" name="CustAddr" value="{{customer_message.address}}">
      <input type="hidden" name="CustEMail" value="{{customer_message.email}}">
      <input type="hidden" name="cps_email" value="{{customer_message.email}}">
      <input type="hidden" name="cps_phone" value="{{customer_message.phone}}">
      <input type="hidden" name="paymentType" value="AC">
      <input type="submit" class="yandex-button btn" value="Оплатить онлайн"><br> 
      </form>
    </div>
  
  {% else %}
  <a href="/catalog" class="btn">продолжить покупки</a>
  {% endif %}
  


{% endif %}

</section>
{% endblock %}

{% block 'pagescripts' %}
{% if !customer_message.errors %}
{% if customer_message.pay_type == "card" %}
  <script type='text/javascript'>
  $(function(){
    $.fancybox({
      href: "#orderConfirmYandex",
      width: 782,
      height: 367,
      autoSize: false,
      padding: 0,
      margin: 0,
      closeBtn: false
    });
  })
  </script>
 {% endif %}
 {% endif %}
{% endblock %}