---
title: About
slug: about
is_layout: false
allow_layout: false
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 12
seo_title: "О нас | Спортивные уличные тренажеры Sportmen"
meta_description: "О нас. Sportmen — спортивное оборудование для спортивных площадок,
  школ, дач. Комплексы ГТО, турники, брусья."
---
{% extends 'parent' %}

{% block 'main' %}
<div class="common-container">
  <div class="breadcrumbs breadcrumbs-black pc-breadcrumbs">
    <span class="breadcrumbs-item">
      <a href="/">SPORTMEN.RU</a>
    </span>
    <span class="breadcrumbs-item">
      О нас
    </span>
    <span class="breadcrumbs-item">
      <a href="/about">О компании</a>
    </span>
  </div>
</div>

<section class="common-section">
  <div class="shadow">
    <div class="shadow-text">Команда sportmen</div>
  </div>

  <div class="common-container about-us-about__portraits">
    <h1 class="common-section-title">Первые лица sportmen</h1>
    <div class="about-us-about__list">
      <div class="about-us-about__list_item">
        <p class="about-us-about__list_item_name">ШЕВЧЕНКО АЛЕКСАНДР</p>
        <img src="{{'about-us-about/1.jpg' | theme_image_url }}" alt="" class="about-us-about__list_item_photo">
        <p class="about-us-about__list_item_job-title">коммерческий ДИРЕКТОР</p>
      </div>
      <div class="about-us-about__list_item">
        <p class="about-us-about__list_item_name">Калашников Сергей </p>
        <img src="{{'about-us-about/2.jpg' | theme_image_url }}" alt="" class="about-us-about__list_item_photo">
        <p class="about-us-about__list_item_job-title">ДИРЕКТОР по производству</p>
      </div>
      <div class="about-us-about__list_item">
        <p class="about-us-about__list_item_name">Хорунжий Денис </p>
        <img src="{{'about-us-about/3.jpg' | theme_image_url }}" alt="" class="about-us-about__list_item_photo">
        <p class="about-us-about__list_item_job-title">начальник производства</p>
      </div>
      <div class="about-us-about__list_item">
        <p class="about-us-about__list_item_name">Шаламова Екатерина</p>
        <img src="{{'about-us-about/6.jpg' | theme_image_url }}" alt="" class="about-us-about__list_item_photo">
        <p class="about-us-about__list_item_job-title">главный бухгалтер</p>
      </div>
      <div class="about-us-about__list_item">
        <p class="about-us-about__list_item_name">Гонтаренко Марина</p>
        <img src="{{'about-us-about/4.jpg' | theme_image_url }}" alt="" class="about-us-about__list_item_photo">
        <p class="about-us-about__list_item_job-title">экономист менеджер</p>
      </div>
      <div class="about-us-about__list_item">
        <p class="about-us-about__list_item_name">Апатенко Людмила</p>
        <img src="{{'about-us-about/7.jpg' | theme_image_url }}" alt="" class="about-us-about__list_item_photo">
        <p class="about-us-about__list_item_job-title">менеджер по работе с клиентами</p>
      </div>
      <div class="about-us-about__list_item">
        <p class="about-us-about__list_item_name">Серова Юлия</p>
        <img src="{{'about-us-about/5.jpg' | theme_image_url }}" alt="" class="about-us-about__list_item_photo">
        <p class="about-us-about__list_item_job-title">менеджер по работе с клиентами</p>
      </div>
    </div>
  </div>
</section>
<section class="common-section about-us-about__employees-feedback">

  <div class="common-container">
    <div class="common-section-title about-us-about__employees-feedback_title">

      <div class="main-feedback-arrows">
        <button type="button" class="main-feedback-arrows-left">
          <img src="{{'main/arrow_left.png' | theme_image_url }}"/>
        </button>
        <button type="button" class="main-feedback-arrows-right">
          <img src="{{'main/arrow_right.png' | theme_image_url }}"/>
        </button>
      </div>
    </div>
    <div class="common-section-content">
      <div class="main-feedback">
        <div class="main-feedback-carousel js-main-feedback">

          <div>
            <div class="main-feedback-item">
              <div class="main-feedback-item-picture">
                <div class="main-feedback-item-picture-wrapper">
                  <img class="main-feedback-item-picture-element" src="{{'about-us-about/1.jpg' | theme_image_url }}" />
                </div>
                <div class="main-feedback-item-creds-sm">
                  <div class="main-feedback-item-content-title-sm">Шевченко Александр Петрович</div>
                  <div class="main-feedback-item-content-role-sm">коммерческий ДИРЕКТОР SPORTMEN</div>
                </div>
              </div>

              <div class="main-feedback-item-content">
                <div class="main-feedback-item-content-title">ШЕВЧЕНКО АЛЕКСАНДР ПЕТРОВИЧ</div>
                <div class="main-feedback-item-content-role">коммерческий ДИРЕКТОР SPORTMEN</div>
                <div class="main-feedback-item-content-quote">В настоящее время в умах многих людей сложилось
                  устойчивое представление: чтобы стать сильным
                  и красивым, необходимо тренироваться в дорогих
                  фитнес-клубах на модных тренажёрах. Действительность
                  далека от этих стереотипов и заключается в том, что
                  любой человек может добиться желаемого результата
                  с помощью регулярных уличных тренировок
                  на доступном для всех оборудовании. И мы знаем, как
                  это реализовать в каждом городе, в каждом дворе.


                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="main-feedback-item">
              <div class="main-feedback-item-picture">
                <div class="main-feedback-item-picture-wrapper">
                  <img class="main-feedback-item-picture-element" src="{{'about-us-about/3.jpg' | theme_image_url }}" />
                </div>
                <div class="main-feedback-item-creds-sm">
                  <div class="main-feedback-item-content-title-sm">Хорунжий Денис</div>
                  <div class="main-feedback-item-content-role-sm">Начальник производства SPORTMEN</div>
                </div>
              </div>

              <div class="main-feedback-item-content">
                <div class="main-feedback-item-content-title">Хорунжий Денис</div>
                <div class="main-feedback-item-content-role">Начальник производства SPORTMEN</div>
                <div class="main-feedback-item-content-quote">Своим главным долгом я считаю выполнить качественный, долговечный, безопасный, экологически чистый и травмобезопасный продукт. Не могу позволить себе работать спустя рукава, так как плодами моей деятельности будут пользоваться как взрослые, так и дети.

                  </div>
              </div>
            </div>
          </div>

          <div>
            <div class="main-feedback-item">
              <div class="main-feedback-item-picture">
                <div class="main-feedback-item-picture-wrapper">
                  <img class="main-feedback-item-picture-element" src="{{'about-us-delivery/5.jpg' | theme_image_url }}" />
                </div>
                <div class="main-feedback-item-creds-sm">
                  <div class="main-feedback-item-content-title-sm">Юлия Серова</div>
                  <div class="main-feedback-item-content-role-sm">Менеджер по работе с клиентами</div>
                </div>
              </div>

              <div class="main-feedback-item-content">
                <div class="main-feedback-item-content-title">Серова Юлия</div>
                <div class="main-feedback-item-content-role">Менеджер по работе с клиентами</div>
                <div class="main-feedback-item-content-quote">Я сопровождаю клиента на всех этапах сделки: от первого обращения и получения оплаты, до выполнения заказа и последующего сопровождения. Моя задача, чтобы клиент на протяжении всего сотрудничества с нами был доволен.

                  </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</section>

<section class='yellowbox about-us-about__dl-pres'>
  <div class="common-container">
    <p class='yellowbox-title-element about-us-about__dl-pres_title'>Скачайте полную версию презентации</p>
    <form action="https://yadi.sk/i/R597sdTt3T38qo" target="_blank">
      <button class='about-us-about__dl-pres_button'><img src="{{'gto/pdf.svg' | theme_image_url }}" alt="">Скачать презентацию<img src="{{'rd_arrow_black_short.svg' | theme_image_url }}" alt=""></button>
    </form>
  </div>
</section>

<section class='common-section '>
  <div class="shadow">
    <div class="shadow-text">Тренажеры sportmen</div>
  </div>

  <div class="common-container">
    <p class="common-section-title about-us-about__icons_main-title">Что делает наши тренажеры особенными</p>
    <div class="about-us-about__icons">
    <ul class="about-us-about__icons_list about-us-about__icons_order-1">
      <li>Возможность строить целый город-комплекс</li>
    </ul>
    <div class="about-us-about__icons_icons about-us-about__icons_order-2">
      <div class="about-us-about__icons_icons_item">
        <svg version="1.1" id="about-us-svg-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 322.5 220" style="enable-background:new 0 0 322.5 220;" xml:space="preserve">
        <style type="text/css">
          #about-us-svg-1 .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          #about-us-svg-1 .st1{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
        <g>
          <path class="st0" d="M135.3,75.6c0-0.1,0-0.2,0-0.3c0-23.5-16.1-42.5-35.9-42.5s-35.9,19-35.9,42.5c0,0.1,0,0.2,0,0.3
            c-9.3,4.8-15.9,16.8-15.9,30.8c0,17.7,10.4,32.1,23.5,33c2.6,12.4,14.4,21.7,28.6,21.7c14.5,0,26.5-9.7,28.8-22.5
            c1.4,0.5,2.9,0.8,4.4,0.8c10.8,0,19.6-14.4,19.6-32.1C152.4,91.1,144.9,77.6,135.3,75.6z"/>
          <path class="st1" d="M257.2,99.7c0-0.2,0-0.4,0-0.6c0-22.9-16.4-41.4-36.7-41.4S183.9,76.2,183.9,99c0,1.1,0,2.2,0.1,3.2
            c-10.4,2.1-18.5,14.4-18.5,29.3c0,16.4,9.7,29.6,21.7,29.6c1.8,0,3.5-0.3,5.2-0.9c-0.2,1.1-0.3,2.2-0.3,3.3c0,12.8,13,23.2,29,23.2
            c14.4,0,26.4-8.4,28.7-19.5c0.9,0.2,1.9,0.2,2.8,0.2c13.2,0,23.8-15.4,23.8-34.3C276.4,116.6,268.2,102.7,257.2,99.7z"/>
          <line class="st0" x1="100" y1="82.1" x2="100" y2="169.2"/>
          <line class="st0" x1="77.8" y1="118.4" x2="100" y2="138.3"/>
          <line class="st0" x1="121.2" y1="97" x2="100" y2="116.6"/>
          <line class="st1" x1="221" y1="107.3" x2="221" y2="215.3"/>
          <line class="st1" x1="243.4" y1="122.3" x2="221" y2="143.5"/>
          <line class="st1" x1="197.9" y1="143.5" x2="221" y2="164.9"/>
          <path class="st0" d="M215.8,215.3c-0.4-10.9-8.3-19.6-17.9-19.6c-0.5,0-0.9,0-1.4,0.1c-1.5-7.7-7.9-13.9-16.3-15.8
            c0-0.2,0-0.4,0-0.6c0-10.1-9.1-18.3-20.4-18.3c-8.1,0-15.1,4.3-18.4,10.4c-10.7,0.3-19.5,7.4-21.1,16.7"/>
          <line class="st1" x1="45.4" y1="215.3" x2="276.4" y2="215.3"/>
          <path class="st1" d="M140.3,215.3c-0.3-9.3-6-16.7-12.9-16.7c-0.3,0-0.7,0-1,0.1c-1.1-6.6-5.7-11.8-11.7-13.4c0-0.2,0-0.3,0-0.5
            c0-8.6-6.6-15.6-14.7-15.6c-5.9,0-10.9,3.6-13.3,8.9c-8.5,0.3-15.4,7.6-15.4,16.7c0,0.2,0,0.4,0,0.6c-1.1-0.4-2.2-0.6-3.4-0.6
            c-7.1,0-12.9,7.8-12.9,17.4c0,1.1,0.1,2.1,0.2,3.1H140.3z"/>
        </g>
        </svg>

        <p>парк</p>
      </div>
      <div class="about-us-about__icons_icons_item">
        <svg version="1.1" id="about-us-svg-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 322.5 220" style="enable-background:new 0 0 322.5 220;" xml:space="preserve">
        <style type="text/css">
          #about-us-svg-2 .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          #about-us-svg-2 .st1{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
        <g>
          <circle class="st0" cx="212" cy="45.1" r="27"/>
          <line class="st0" x1="221.3" y1="70.6" x2="221.3" y2="77.6"/>
          <line class="st0" x1="202.8" y1="77.6" x2="202.8" y2="70.6"/>
          <path class="st0" d="M185.1,46.4h18.5c1,0,1.9-0.3,2.7-1l12.3-9.9c1.7-1.3,4.1-0.9,5.2,1c2.5,4.3,7.5,10.8,15.1,10.8"/>
          <circle class="st0" cx="110.6" cy="45.1" r="27"/>
          <path class="st0" d="M83.7,46.4h18.5c1,0,1.9-0.3,2.7-1l12.3-9.9c1.7-1.3,4.1-0.9,5.2,1c2.5,4.3,7.5,10.8,15.1,10.8"/>
          <line class="st1" x1="212" y1="161.3" x2="212" y2="139.2"/>
          <polyline class="st0" points="191.5,204.1 191.5,161.3 205.3,161.3 205.3,204.7   "/>
          <path class="st0" d="M197.5,202.6c-6.2,0-11.5,4.2-13,10c-0.5,1.8,0.9,3.5,2.7,3.5h20.6c1.8,0,3.2-1.8,2.7-3.5
            C209,206.9,203.7,202.6,197.5,202.6z"/>
          <polyline class="st0" points="219.2,204.1 219.2,161.3 232.9,161.3 232.9,204.7   "/>
          <path class="st0" d="M225.2,202.6c-6.2,0-11.5,4.2-13,10c-0.5,1.8,0.9,3.5,2.7,3.5h20.6c1.8,0,3.2-1.8,2.7-3.5
            C236.7,206.9,231.4,202.6,225.2,202.6z"/>
          <polyline class="st0" points="90.8,204.4 90.8,162.7 104.6,162.7 104.6,205   "/>
          <path class="st0" d="M96.9,203c-6.2,0-11.5,4.1-13,9.7c-0.5,1.7,0.9,3.4,2.7,3.4h20.6c1.8,0,3.2-1.7,2.7-3.4
            C108.4,207.1,103.1,203,96.9,203z"/>
          <polyline class="st0" points="118.5,204.4 118.5,162.7 132.3,162.7 132.3,205   "/>
          <path class="st0" d="M124.5,203c-6.2,0-11.5,4.1-13,9.7c-0.5,1.7,0.9,3.4,2.7,3.4h20.6c1.8,0,3.2-1.7,2.7-3.4
            C136,207.1,130.8,203,124.5,203z"/>
          <path class="st0" d="M178.6,101.8v19.5c0,0-9.2,21.6,8.7,21.6"/>
          <path class="st0" d="M77.1,101.8v23.2c0,0-4.6,14.3,4.3,14.3"/>
          <path class="st0" d="M144,101.8v23.2c0,0,4.6,14.3-4.3,14.3"/>
          <path class="st0" d="M246,101.8v19.5c0,0,9.2,21.6-8.7,21.6"/>
          <path class="st1" d="M129.7,117.2l18.4,42.6c0.6,1.4-0.4,3-1.9,3h-35.3h-0.1H75.3c-1.5,0-2.5-1.6-1.9-3l18.4-42.6"/>
          <path class="st0" d="M83.6,50.5c0,0-12.5,3.9-14.2,22.8c-0.2,1.7,1.8,2.8,3.2,1.8l17.1-12.9"/>
          <path class="st0" d="M138.1,50.5c0,0,12.5,3.9,14.2,22.8c0.2,1.7-1.8,2.8-3.2,1.8l-17.1-12.9"/>
          <line class="st0" x1="100.6" y1="78.1" x2="100.6" y2="70.6"/>
          <line class="st0" x1="120.3" y1="78.1" x2="120.3" y2="70.6"/>
          <path class="st1" d="M91.5,101.8H73.8c-1.2,0-2-1.2-1.5-2.3l8.7-20.8c0.3-0.6,0.9-1,1.5-1H99"/>
          <path class="st1" d="M129.5,101.8h17.7c1.2,0,2-1.2,1.5-2.3l-8.7-20.8c-0.3-0.6-0.9-1-1.5-1H122"/>
          <polyline class="st1" points="120.3,77.6 129.5,77.6 129.5,117.2 91.8,117.2 91.8,77.6 100.1,77.6   "/>
          <path class="st1" d="M120.3,78.1c0,4.4-4.4,8-9.9,8c-5.4,0-9.9-3.6-9.9-8"/>
          <path class="st1" d="M191.2,101.8h-18.8l9.4-24.2h21l8.2,7.5c0.7,0.6,1.7,0.6,2.4,0l8.7-7.5h21l9.4,24.2h-18.8"/>
          <polyline class="st1" points="232.9,77.6 232.9,117.2 191.5,117.2 191.5,77.6   "/>
          <polyline class="st1" points="191.7,117.2 184,161.3 240.1,161.3 233.1,117.2   "/>
        </g>
        </svg>
        <p>детский сад</p>
      </div>
      <div class="about-us-about__icons_icons_item">

        <svg version="1.1" id="about-us-svg-3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 228 220" style="enable-background:new 0 0 228 220;" xml:space="preserve">
        <style type="text/css">
          #about-us-svg-3 .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          #about-us-svg-3 .st1{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
        <g>
          <polyline class="st0" points="50.3,206.7 50.3,125.6 174.3,125.6 174.3,206.7   "/>
          <line class="st0" x1="6.1" y1="125.6" x2="219.8" y2="125.6"/>
          <line class="st0" x1="17.2" y1="125.6" x2="17.2" y2="195"/>
          <polygon class="st0" points="17.2,192 10.2,208.6 24.1,208.6   "/>
          <path class="st0" d="M174.3,206.7c0,4.9-27.8,8.9-62,8.9s-62-4-62-8.9"/>
          <path class="st1" d="M168.4,90.1c-0.3,0-0.6,0-0.8,0H72.4c-8.8,0-16.1,6.6-16.1,14.7v1.7c0,8.1,7.2,14.7,16.1,14.7h95.2
            c0.3,0,0.6,0,0.8,0"/>
          <line class="st1" x1="164.7" y1="90" x2="164.7" y2="121.2"/>
          <line class="st1" x1="154.6" y1="109.9" x2="118.9" y2="109.9"/>
          <path class="st1" d="M157.3,54.4c-0.3,0-0.6,0-0.8,0H61.3c-8.8,0-16.1,6.6-16.1,14.7v1.7c0,8.1,7.2,14.7,16.1,14.7h95.2
            c0.3,0,0.6,0,0.8,0"/>
          <line class="st1" x1="153.7" y1="54.3" x2="153.7" y2="85.5"/>
          <path class="st1" d="M172.1,18.3c-0.3,0-0.6,0-0.8,0H76c-8.8,0-16.1,6.6-16.1,14.7v1.7c0,8.1,7.2,14.7,16.1,14.7h95.2
            c0.3,0,0.6,0,0.8,0"/>
          <line class="st1" x1="168.4" y1="17.5" x2="168.4" y2="48.7"/>
          <line class="st1" x1="142.5" y1="33.9" x2="78.8" y2="33.9"/>
        </g>
        </svg>
        <p>вуз</p>
      </div>
      <div class="about-us-about__icons_icons_item">
        <svg version="1.1" id="about-us-svg-4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 322.5 220" style="enable-background:new 0 0 322.5 220;" xml:space="preserve">
        <style type="text/css">
          #about-us-svg-4 .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          #about-us-svg-4 .st1{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
        <g>
          <path class="st1" d="M251,65.3c0-0.3,0-0.6,0-0.8c0-30-13.9-54.3-31.1-54.3s-31.1,24.3-31.1,54.3c0,1.4,0,2.8,0.1,4.2
            c-8.8,2.8-15.6,18.9-15.6,38.4c0,21.5,8.2,38.9,18.4,38.9c1.5,0,3-0.4,4.4-1.1c-0.2,1.4-0.3,2.9-0.3,4.3c0,16.8,11,30.5,24.6,30.5
            c12.2,0,22.4-11.1,24.3-25.6c0.8,0.2,1.6,0.3,2.4,0.3c11.2,0,20.2-20.1,20.2-45C267.3,87.5,260.3,69.3,251,65.3z"/>
          <line class="st1" x1="220.4" y1="75.3" x2="220.4" y2="217"/>
          <line class="st1" x1="239.4" y1="94.9" x2="220.4" y2="122.8"/>
          <line class="st1" x1="200.8" y1="122.8" x2="220.4" y2="150.8"/>
          <polyline class="st1" points="54.5,81.8 130,39.5 184.4,71.5   "/>
          <rect x="95.1" y="167.4" class="st0" width="65.2" height="46.4"/>
          <path class="st0" d="M118.3,149.4H95.8c-0.4,0-0.7-0.3-0.7-0.7v-23.2c0-0.4,0.3-0.7,0.7-0.7h22.5c0.4,0,0.7,0.3,0.7,0.7v23.2
            C119,149.1,118.7,149.4,118.3,149.4z"/>
          <path class="st0" d="M159.7,149.4h-22.5c-0.4,0-0.7-0.3-0.7-0.7v-23.2c0-0.4,0.3-0.7,0.7-0.7h22.5c0.4,0,0.7,0.3,0.7,0.7v23.2
            C160.4,149.1,160.1,149.4,159.7,149.4z"/>
          <path class="st0" d="M118.3,107.6H95.8c-0.4,0-0.7-0.3-0.7-0.7V83.7c0-0.4,0.3-0.7,0.7-0.7h22.5c0.4,0,0.7,0.3,0.7,0.7v23.2
            C119,107.3,118.7,107.6,118.3,107.6z"/>
          <path class="st0" d="M159.7,107.6h-22.5c-0.4,0-0.7-0.3-0.7-0.7V83.7c0-0.4,0.3-0.7,0.7-0.7h22.5c0.4,0,0.7,0.3,0.7,0.7v23.2
            C160.4,107.3,160.1,107.6,159.7,107.6z"/>
          <line class="st0" x1="127.8" y1="168.3" x2="127.8" y2="212.6"/>
          <polyline class="st1" points="190.3,146.1 190.3,213.8 66.2,213.8 66.2,75.6  "/>
        </g>
        </svg>
        <p>база отдыха</p>
      </div>
      <div class="about-us-about__icons_icons_item">
        <svg version="1.1" id="about-us-svg-5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 322.5 220" style="enable-background:new 0 0 322.5 220;" xml:space="preserve">
        <style type="text/css">
          #about-us-svg-5 .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          #about-us-svg-5 .st1{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
        <g>
          <g>
            <g>
              <line class="st0" x1="126.4" y1="46.2" x2="213.8" y2="46.2"/>
              <line class="st0" x1="126.4" y1="67.7" x2="213.8" y2="67.7"/>
              <line class="st0" x1="126.4" y1="89.2" x2="213.8" y2="89.2"/>
              <line class="st0" x1="126.4" y1="110.7" x2="213.8" y2="110.7"/>
              <line class="st0" x1="126.4" y1="132.2" x2="213.8" y2="132.2"/>
              <line class="st0" x1="126.4" y1="153.7" x2="213.8" y2="153.7"/>
              <line class="st0" x1="126.4" y1="175.2" x2="213.8" y2="175.2"/>
              <line class="st0" x1="126.4" y1="196.7" x2="213.8" y2="196.7"/>
            </g>
            <line class="st0" x1="226.1" y1="89.5" x2="289.1" y2="89.5"/>
            <g>
              <path class="st1" d="M126.1,211.2V34.1c0-2.3-1.9-4.2-4.1-4.2h-3.7c-2.3,0-4.1,1.9-4.1,4.2v177.2"/>
              <path class="st1" d="M225.8,211.2V34.1c0-2.3-1.9-4.2-4.1-4.2h-3.7c-2.3,0-4.1,1.9-4.1,4.2v177.2"/>
              <path class="st1" d="M301.1,212.3v-132c0-1.7-1.9-3.1-4.1-3.1h-3.7c-2.3,0-4.1,1.4-4.1,3.1v132"/>
            </g>
            <line class="st0" x1="102.6" y1="213.9" x2="137.9" y2="213.9"/>
            <line class="st0" x1="202.3" y1="213.9" x2="237.6" y2="213.9"/>
          </g>
          <path class="st0" d="M77.2,72.5c0-0.3,0-0.5,0-0.8c0-28-13-50.6-29-50.6s-29,22.7-29,50.6c0,1.3,0,2.6,0.1,4
            c-8.2,2.6-14.6,17.7-14.6,35.8c0,20,7.7,36.2,17.1,36.2c1.4,0,2.8-0.4,4.1-1.1c-0.2,1.3-0.2,2.7-0.2,4c0,15.7,10.3,28.4,22.9,28.4
            c11.4,0,20.9-10.3,22.6-23.8c0.7,0.2,1.5,0.3,2.2,0.3c10.4,0,18.8-18.8,18.8-41.9C92.4,93.2,85.8,76.2,77.2,72.5z"/>
          <line class="st0" x1="48.6" y1="81.8" x2="48.6" y2="213.9"/>
          <line class="st0" x1="66.3" y1="100.1" x2="48.6" y2="126.1"/>
          <line class="st0" x1="30.4" y1="126.1" x2="48.6" y2="152.2"/>
          <line class="st0" x1="22.2" y1="213.8" x2="317.1" y2="213.8"/>
        </g>
        </svg>
        <p>двор</p>
      </div>
      <div class="about-us-about__icons_icons_item">
        <svg version="1.1" id="about-us-svg-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 234 220" style="enable-background:new 0 0 234 220;" xml:space="preserve">
        <style type="text/css">
          #about-us-svg-6 .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          #about-us-svg-6 .st1{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
        <g>
          <polyline class="st0" points="59.8,91.5 117.3,59.3 172.1,91.5   "/>
          <rect x="91.4" y="164.4" class="st1" width="49" height="52.3"/>
          <line class="st1" x1="115.9" y1="216.7" x2="115.9" y2="164.4"/>
          <line class="st1" x1="69.6" y1="198.4" x2="90.7" y2="198.4"/>
          <line class="st1" x1="142.6" y1="198.4" x2="162.3" y2="198.4"/>
          <path class="st1" d="M108.2,152.1H91.4c-0.4,0-0.7-0.3-0.7-0.7V106c0-0.4,0.3-0.7,0.7-0.7h16.8c0.4,0,0.7,0.3,0.7,0.7v45.4
            C108.9,151.8,108.6,152.1,108.2,152.1z"/>
          <path class="st1" d="M139.8,152.1H123c-0.4,0-0.7-0.3-0.7-0.7V106c0-0.4,0.3-0.7,0.7-0.7h16.8c0.4,0,0.7,0.3,0.7,0.7v45.4
            C140.4,151.8,140.1,152.1,139.8,152.1z"/>
          <line class="st1" x1="90.7" y1="120" x2="108.9" y2="120"/>
          <path class="st1" d="M50.3,191.6H33.5c-0.4,0-0.7-0.3-0.7-0.7v-45.4c0-0.4,0.3-0.7,0.7-0.7h16.8c0.4,0,0.7,0.3,0.7,0.7V191
            C51,191.3,50.7,191.6,50.3,191.6z"/>
          <line class="st1" x1="32.8" y1="159.5" x2="51" y2="159.5"/>
          <line class="st1" x1="122.3" y1="120" x2="140.4" y2="120"/>
          <line class="st1" x1="15.1" y1="191.6" x2="68.7" y2="191.6"/>
          <line class="st0" x1="19.1" y1="207.4" x2="5.4" y2="207.4"/>
          <path class="st1" d="M181.6,191.6h16.8c0.4,0,0.7-0.3,0.7-0.7v-45.4c0-0.4-0.3-0.7-0.7-0.7h-16.8c-0.4,0-0.7,0.3-0.7,0.7V191
            C180.9,191.3,181.2,191.6,181.6,191.6z"/>
          <line class="st1" x1="199.1" y1="159.5" x2="180.9" y2="159.5"/>
          <line class="st0" x1="163.2" y1="105.4" x2="226.7" y2="133.4"/>
          <line class="st1" x1="216.7" y1="191.6" x2="163.2" y2="191.6"/>
          <line class="st0" x1="117.3" y1="59.3" x2="117.3" y2="9.9"/>
          <path class="st0" d="M157.1,46.1h-39.9V19.4h39.9c0.4,0,0.7,0.5,0.3,0.9l-13.3,12.5l13.3,12.5C157.8,45.6,157.6,46.1,157.1,46.1z"
            />
          <polyline class="st0" points="163.2,87.6 163.2,216.7 68.7,216.7 68.7,87.6   "/>
          <polyline class="st0" points="68.7,105.4 68.7,207.4 15.1,207.4 15.1,128.8   "/>
          <line class="st0" x1="68.7" y1="105.4" x2="5.1" y2="133.4"/>
          <polyline class="st0" points="163.2,105.4 163.2,207.4 216.7,207.4 216.7,128.8   "/>
          <line class="st0" x1="212.7" y1="207.4" x2="226.5" y2="207.4"/>
        </g>
        </svg>
        <p>школа</p>
      </div>
      <div class="about-us-about__icons_icons_item">
        <svg version="1.1" id="about-us-svg-7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 322.5 220" style="enable-background:new 0 0 322.5 220;" xml:space="preserve">
        <style type="text/css">
          #about-us-svg-7 .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          #about-us-svg-7 .st1{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
        <g>
          <path class="st0" d="M157.3,121.3H132c-0.4,0-0.7-0.3-0.7-0.7V84.2c0-0.4,0.3-0.7,0.7-0.7h25.3c0.4,0,0.7,0.3,0.7,0.7v36.4
            C158,121,157.7,121.3,157.3,121.3z"/>
          <path class="st0" d="M203.6,121.3h-25.3c-0.4,0-0.7-0.3-0.7-0.7V84.2c0-0.4,0.3-0.7,0.7-0.7h25.3c0.4,0,0.7,0.3,0.7,0.7v36.4
            C204.2,121,203.9,121.3,203.6,121.3z"/>
          <line class="st0" x1="131.3" y1="107" x2="158" y2="107"/>
          <line class="st0" x1="177.6" y1="107" x2="204.2" y2="107"/>
          <path class="st1" d="M97.9,121.3c-8.4,0-15.7,7.4-19.1,18.2c-12.2,0.5-22.1,15.7-22.1,34.4c0,0.4,0,0.8,0,1.2
            c-1.5-0.8-3.1-1.2-4.8-1.2c-10.2,0-18.5,16-18.5,35.8c0,2.2,0.1,4.3,0.3,6.3H99"/>
          <path class="st1" d="M237.6,216h50.8c-0.4-19-7.4-34.2-16.1-34.2c-0.4,0-0.8,0-1.2,0.1c-1.3-13.5-7.1-24.3-14.6-27.5
            c0-0.3,0-0.7,0-1c0-17.7-8.2-32-18.4-32"/>
          <rect x="144.7" y="164.2" class="st0" width="42.8" height="51.8"/>
          <polyline class="st1" points="86,68.5 170.3,21.2 250.7,68.5   "/>
          <polyline class="st1" points="104.3,58.2 104.3,16 131.3,16 131.3,43   "/>
          <polyline class="st1" points="237.6,61.6 237.6,216 99,216 99,61.6   "/>
        </g>
        </svg>
        <p>дача</p>
      </div>
    </div>
    <ul class="about-us-about__icons_list about-us-about__icons_order-3">
      <li>Стойкая порошковая окраска</li>
      <li>Полный контроль производства</li>
      <li>Низкая стоимость доставки</li>
      <li>Выигрышные цены, товар от производителя</li>
      <li>Регулировка перекладин по высоте</li>
      <li>Низкая стоимость обслуживания в случае износа</li>
      <li>Возможность устанавливать в любом месте</li>
    </ul>
    </div>
  </div>
</section>

{% include 'certificates' %}
  
{% endblock %}
{% block 'pagescripts' %}
  {{ 'magnific-popup.min.js'| javascript_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js' | javascript_tag }}
  {{ '//cdn.jsdelivr.net/npm/walkway.js/src/walkway.min.js'| javascript_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js'| javascript_tag }}
  {{ 'about_us_about.js'| javascript_tag }}

  <script>$(() => {
  // prizes slideup/down
  const expandPrizesButton = $('.js-main-prizes-button-element');
  const expandPrizesBlock = $('.main-prizes-additional');
  expandPrizesButton.on('click', () => {
    if (expandPrizesBlock.hasClass('expanded')) {
      expandPrizesBlock.slideUp();
      expandPrizesBlock.toggleClass('expanded', false);
      expandPrizesButton.text('Смотреть все →');
    } else {
      expandPrizesBlock.slideDown();
      expandPrizesBlock.toggleClass('expanded', true);
      expandPrizesButton.text('Скрыть ↑');
    }
  });
  
})</script>
{% endblock %}
{% block 'pagestyles' %}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" | stylesheet_tag}}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" | stylesheet_tag}}
{% endblock %}
