---
title: "Дополнительное оборудование"
slug: additional
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 113
seo_title: "Дополнительное оборудование для уличных спортплощадок, цены - Sportmen.ru"
meta_description: "Каталог дополнительного оборудования от производителя лицензированного
  спортивного оборудования для дач, школ, спортплощадок. Продажа комплексов ГТО, турников,
  брусьев, лестниц, рукоходов."
---
{% extends wrapper %}
{% block main %}
  <section class="common-section">
    <div class="shadow">
      <div class="shadow-text">Дополнительное оборудование</div>
    </div>

    <div>
      <div class="common-container">
        <h1 class="common-section-title">Каталог дополнительного оборудования</h1>

        <div class="common-section-content">

          <div class="common-catalog">
            <div class="common-catalog-cards">
      {% for item in contents.products %}
      {% if item.type == 'additional' %} 
		{% include 'catalog_item_block' %}      
      {% endif %}
      {% endfor %}
  </div></div></div></div></div>
    </section>



{% endblock %}
