---
title: "Корзина"
slug: cart
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 30
---
{% extends 'parent' %}

{% block 'main' %}

<div class="cart_wrapper" id='cart_tabs'>
  <div class="breadcrumbs breadcrumbs-black">
    <span class="breadcrumbs-item">
      <a href="/">Главная</a>
    </span>
    <span class="breadcrumbs-item">
      <a href="/cart">Корзина</a>
    </span>
  </div>
  <h1 class='cart_title'>Корзина</h1>
  <ul class="cart_page_menu">
    <li id='cart_page_menu_button_1' class="cart_page_menu_button active"><a href="#cart_step_1"><span>Шаг 1:</span> Выбор товаров</a></li>
    <li id='cart_page_menu_button_2' class="cart_page_menu_button"><a href="#cart_step_2"><span>Шаг 2:</span> Доставка и оплата</a></li>
  </ul>
  <div class="cart_page" id="cart_step_1">
    <div class="cart_mobile_navigation">
      <a href='/' class="cart_mobile_nav_arrow"><</a>
      <p class="cart_mobile_nav_title">Корзина</p>
    </div>
    <div class="cart_mobile_page_menu_button">
      <span>шаг 1/2</span>
      <p>
        Выбор товаров
      </p>
    </div>
    <div class="cart_step_1_wrapper">
      <div class="cart_s1_product_list">
        <p class="cart-h3">товар:</p>
        <!-- <div class="cart_added_product">
          <div class="cart_ap_mobile_text">
            <div class="cart_apm_article">АРТ.ВФСК-4</div>
            <div class="cart_apm_name">СПОРТ.КОМПЛЕКС ДЛЯ ПОДГОТОВКИ К СДАЧЕ НОРМ ВФСК</div>
          </div>
          <img src="{{ 'pc_fish_1.jpg' | theme_image_url }}" alt="" class="cart_ap_img">
          <div class="cart_ap_text">
            <span class="cart_apt_name">СПОРТ.КОМПЛЕКС ДЛЯ ПОДГОТОВКИ К СДАЧЕ НОРМ ВФСК</span>
            <span class="cart_apt_article">АРТ.ВФСК-4</span>
            <div class="cart_apt_prices">
              <span class="cart_aptp_discount">-30%</span>
              <span class="cart_aptp_old_price">1 326 900 Р.</span>
              <span class="cart_aptp_price">989 748 р.</span>
            </div>
          </div>
          <div class="cart_ap_buttons">
            <div class="cart_apb_minus">–</div>
            <div class="cart_apb_amount">1шт</div>
            <div class="cart_apb_plus">+</div>
          </div>
          <div class="cart_ap_remove_button"></div>
        </div>
        <div class="cart_added_product">
          <div class="cart_ap_mobile_text">
            <div class="cart_apm_article">АРТ.ВФСК-4</div>
            <div class="cart_apm_name">спортивный хомут</div>
          </div>
          <img src="{{ 'pc_fish_2.png' | theme_image_url }}" alt="" class="cart_ap_img">
          <div class="cart_ap_text">
            <span class="cart_apt_name">спортивный хомут</span>
            <span class="cart_apt_article">АРТ.ВФСК-4</span>
            <div class="cart_apt_prices">
              <span class="cart_aptp_discount">-30%</span>
              <span class="cart_aptp_old_price">1 326 900 Р.</span>
              <span class="cart_aptp_price">989 748 р.</span>
            </div>
          </div>
          <div class="cart_ap_buttons">
            <div class="cart_apb_minus">–</div>
            <div class="cart_apb_amount">1шт</div>
            <div class="cart_apb_plus">+</div>
          </div>
          <div class="cart_ap_remove_button"></div>
        </div> -->
      </div>
      <div class="cart_s1_price_block">
        <p class="cart-h3">итого с учетом скидки</p>
        <div class="cart_s1pb_prices">
          <p class="cart_s1pbp_discount">-%</p>
          <p class="cart_s1pbp_old_price"></p>
          <p class="cart_s1pbp_price">Загрузка</p>
        </div>
        <button class="cart_s1pb_proceed">оформить заказ</button>
      </div>

    </div>
    <!-- <div class="fbt-also-bought">
      <div class="fbt-ab-title">
        <p class="fbt-ab-title-title">с этим товаром покупают:</p>
        <div class="fbt-ab-arrows">
          <div class='fbt-ab-arrow-prev'></div>
          <div class='fbt-ab-arrow-next'></div>
        </div>
      </div>
      <ul class="fbt-ab-products">
        <li class="fbt-ab-card fbt-ab-card-mobile">
          <p>СПОРТ. КОМПЛЕКС ДЛЯ ПОДГОТОВКИ К СДАЧЕ НОРМ ВФСК</p>
          <a href=""><span>подробнее</span><img src="{{ 'pc_fish_1.jpg' | theme_image_url }}" alt=""></a>
        </li>
        <li class="fbt-ab-card">
          <p>СПОРТ. КОМПЛЕКС ДЛЯ ПОДГОТОВКИ К СДАЧЕ НОРМ ВФСК</p>
          <a href=""><span>подробнее</span><img src="{{ 'pc_fish_1.jpg' | theme_image_url }}" alt=""></a>
        </li>
        <li class="fbt-ab-card fbt-ab-card-mobile">
          <p>СПОРТ. КОМПЛЕКС ДЛЯ ПОДГОТОВКИ К СДАЧЕ НОРМ ВФСК</p>
          <a href=""><span>подробнее</span><img src="{{ 'pc_fish_1.jpg' | theme_image_url }}" alt=""></a>
        </li>
        <li class="fbt-ab-card">
          <p>СПОРТ. КОМПЛЕКС ДЛЯ ПОДГОТОВКИ К СДАЧЕ НОРМ ВФСК</p>
          <a href=""><span>подробнее</span><img src="{{ 'pc_fish_1.jpg' | theme_image_url }}" alt=""></a>
        </li>
        <li class="fbt-ab-card">
          <p>СПОРТ. КОМПЛЕКС ДЛЯ ПОДГОТОВКИ К СДАЧЕ НОРМ ВФСК</p>
          <a href=""><span>подробнее</span><img src="{{ 'pc_fish_1.jpg' | theme_image_url }}" alt=""></a>
        </li>
        <li class="fbt-ab-card">
          <p>СПОРТ. КОМПЛЕКС ДЛЯ ПОДГОТОВКИ К СДАЧЕ НОРМ ВФСК</p>
          <a href=""><span>подробнее</span><img src="{{ 'pc_fish_1.jpg' | theme_image_url }}" alt=""></a>
        </li>
      </ul>
    </div> -->
  </div>
  <div class="cart_page" id="cart_step_2">
    <div class="cart_mobile_navigation">
      <a href='#' id='cart_step_2_back_button' class="cart_mobile_nav_arrow"><</a>
      <p class="cart_mobile_nav_title">Корзина</p>
    </div>
    <div class="cart_mobile_page_menu_button">
      <span>шаг 2/2</span>
      <p>
        Доставка и оплата
      </p>
    </div>
    <form id="card_form" class='cart_s2_form' action="{{contents.customer_messages.public_submission_url}}"  method="POST" data-goal="buy" enctype="multipart/form-data" onsubmit="if(typeof yaCounter32144179 !== 'undefined'){yaCounter32144179.reachGoal('ordercart'); ga('send', 'event', 'conversions', 'ordercart'); return true;}">
      {% csrf_param %}
      <input type="hidden" name="content[items]">
      <input type="hidden" name="content[total]">
      <input type="hidden" name="content[place]">
      <div class='cart_s2_form_text_inputs'>
        <fieldset class='cart_s2_form_fs1'>
          <p class="cart-h3">личные данные</p>
          <div>
            <div class="cart_s2_form__name">
              <input type="text" placeholder="имя" name="content[name]">
              <div class="form-input-validation-error__cart-popup">Пожалуйста, заполните это поле</div>
            </div>          
            <div class="cart_s2_form__tel">
              <input type="tel" value="" placeholder="телефон" name="content[phone]">
              <div class="form-input-validation-error__cart-popup">Пожалуйста, заполните это поле</div>
            </div>
            <div class="cart_s2_form__email">
              <input type="email" placeholder="e-mail" name="content[email]">
              <div class="form-input-validation-error__cart-popup">Пожалуйста, заполните это поле</div>
            </div>
          </div>
        </fieldset>
        <fieldset class='cart_s2_form_fs2'>
          <p class="cart-h3">доставка</p>
          <div>
            <input type="hidden" placeholder="страна">
            <input type="hidden" placeholder="город">
            <div class="cart_s2_form__address">
              <input type="address" placeholder="адрес" name="content[address]">
              <div class="form-input-validation-error__cart-popup">Пожалуйста, заполните это поле</div>
            </div>
          </div>
        </fieldset>
        <!-- <input type="hidden" name="content[address]"> -->
      </div>
      <div class="cart_s2_price_block">
        <p class="cart-h3">итого с учетом скидки</p>
        <div class="cart_s2pb_prices">
          <p class="cart_s2pbp_discount">-%</p>
          <p class="cart_s2pbp_old_price">р.</p>
          <p class="cart_s2pbp_price">р.</p>
        </div>
        <div class="cart_s2pb_deldiscount">
          <p class="cart_s2pb_deldiscount_percentage">-5%</p>
          <p class="cart_s2pb_deldiscount_title">Дополнительная скидка на доставку</p>
          <p class="cart_s2pb_deldiscount_sum">р.</p>
        </div>
        <div class="cart_s2pb_total_price">
          <p>Cумма к оплате:</p>
          <p class="cart_total_price_disc"><span></span> р.</p>
        </div>
      </div>
      <fieldset class='cart_s2_form_fs3'>
        <div>
          <input type="hidden" name="content[pay_type]" value="order">
          <button class='cart_submit_order js-cart_submit_order'>
            <span>заказать</span>
            <span>Оплата по счету в банке</span>
          </button>
          <button class='cart_submit_card js-cart_submit_order credit-btn'>
            <span>оплатить <br> банковской картой</span>
          </button>
          <input hidden type="file" name="content[requ]">
          <label class="cart_submit_card__checkbox" for="cart_submit_card__checkbox">
            <input type="checkbox" id='cart_submit_card__checkbox' name="" value="">
            <span>ЗАГРУЗИТЬ РЕКВИЗИТЫ (ДЛЯ КОМПАНий)</span>
          </label>

          <!-- <form action="/file-upload" class="dropzone cart_file_upload">
            <div class="fallback">
              <input name="file" type="file" multiple />
            </div>
          </form> -->
          <!--div class="cart_file_upload js-valid-card_form">
            <p>ЗАГРУЗИТЬ РЕКВИЗИТЫ (ДЛЯ КОМПАНий)</p>
            <p>перетяните в это окно документ</p>
          </div-->
        </div>
      </fieldset>
    </form>
  </div>
</div>

{% endblock %}
{% block 'pagescripts' %}
  {{ 'jquery-ui-tabs.min.js' | javascript_tag }}
  {{ 'cart_redesign.js' | javascript_tag }}
  {{ 'dropzone.js' | javascript_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js' | javascript_tag }}
<script>$(() => {
$('.fbt-ab-products').slick({
  slidesToShow: 4,
  infinite: false,
  draggable: false,
  arrows: true,
  prevArrow: $('.fbt-ab-arrow-prev'),
  nextArrow: $('.fbt-ab-arrow-next'),
  dots: false,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        draggable: true,
        slidesToShow: 2
      }
    }
  ]
  });
});
</script>

{% endblock %}
{% block 'pagestyles' %}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" | stylesheet_tag}}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" | stylesheet_tag}}
{% endblock %}
