---
title: Contacts
slug: contacts
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 121
seo_title: "Контакты компании Sportsmen"
meta_description: "Контакты компании Sportsmen, производителя лицензированного спортивного
  оборудования "
---
{% extends 'wrapper' %}

{% block 'main' %}
<div class="common-container">
    <div class="breadcrumbs breadcrumbs-black pc-breadcrumbs">
    <span class="breadcrumbs-item">
      <a href="/">SPORTMEN.RU</a>
    </span>
        <span class="breadcrumbs-item">
      <a href="/shops">Контакты</a>
    </span>
    </div>
</div>
<section class="common-section wtb-landing-section">
    <div class="shadow shadow-top">
        <div class="shadow-text">
            Контакты
        </div>
    </div>
    <div class="common-container">
        <h1 class="common-section-title">
            Контакты
        </h1>
        <div class="address-contacts-flex">
            <div class="common-section-content">
                <div class="address-contacts-subtitle conts-subtitile">
                    Головной офис:
                    <br>
                    <b>
                        г.Белгород, Королева 2а корпус 2, 7 этаж, оф. 719
                    </b>
                </div>
                <div class="address-contacts-subtitle conts-subtitile">
                    Режим работы:
                    <br>
                    <b>
                        Пн-Вс, 09:00 - 18:00 (МСК)
                    </b>
                </div>
                <div class="address-contacts-shop-value samovyvoz-contacts-list">
                    <a href="tel:88007751512" class="address-contacts-shop-value samovyvoz-contacts-list-item">
                        8 (800) 775-15-12
                    </a>
                    <a href="tel:84951335928" class="address-contacts-shop-value samovyvoz-contacts-list-item">
                        8 (495) 133-59-28
                    </a>
                    <a href="mailto:info@sportmen.ru" class="address-contacts-shop-value samovyvoz-contacts-list-item">
                        info@sportmen.ru
                    </a>
                </div>
                <div class="header-socnets-contacts__container">
                    <p class="address-contacts-subtitle conts-subtitile">Мы в мессенджерах:</p>
                    <div class="header-contacts-socnets">
                        <a href="tg://resolve?domain=sportmenGW" class="header-contacts-socnets__link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#0088cc" class="bi bi-telegram" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
                            </svg>
                        </a>
                        <a href="https://wa.me/+79036425548" class="header-contacts-socnets__link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#43d854" class="bi bi-whatsapp" viewBox="0 0 16 16">
                                <path d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z"/>
                            </svg>
                        </a>
                        <a href="viber://chat?number=+79036425548" class="header-contacts-socnets__link">
                            <svg width="24" height="24" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="10px" y="10px"
                                 viewBox="0 0 52.511 52.511" style="enable-background:new 0 0 52.511 52.511;" xml:space="preserve">
              <g>
                <g>
                  <path d="M31.256,0H21.254C10.778,0,2.255,8.521,2.255,18.995v9.01c0,7.8,4.793,14.81,12,17.665v5.841
                           c0,0.396,0.233,0.754,0.595,0.914c0.13,0.058,0.268,0.086,0.405,0.086c0.243,0,0.484-0.089,0.671-0.259L21.725,47h9.531
                           c10.476,0,18.999-8.521,18.999-18.995v-9.01C50.255,8.521,41.732,0,31.256,0z M48.255,28.005C48.255,37.376,40.63,45,31.256,45
                           h-9.917c-0.248,0-0.487,0.092-0.671,0.259l-4.413,3.997v-4.279c0-0.424-0.267-0.802-0.667-0.942
                           C8.81,41.638,4.255,35.196,4.255,28.005v-9.01C4.255,9.624,11.881,2,21.254,2h10.002c9.374,0,16.999,7.624,16.999,16.995V28.005z"
                  />
                    <path d="M39.471,30.493l-6.146-3.992c-0.672-0.437-1.472-0.585-2.255-0.423c-0.784,0.165-1.458,0.628-1.895,1.303l-0.289,0.444
                           c-2.66-0.879-5.593-2.002-7.349-7.085l0.727-0.632h0c1.248-1.085,1.379-2.983,0.294-4.233l-4.808-5.531
                           c-0.362-0.417-0.994-0.46-1.411-0.099l-3.019,2.624c-2.648,2.302-1.411,5.707-1.004,6.826c0.018,0.05,0.04,0.098,0.066,0.145
                           c0.105,0.188,2.612,4.662,6.661,8.786c4.065,4.141,11.404,7.965,11.629,8.076c0.838,0.544,1.781,0.805,2.714,0.805
                           c1.638,0,3.244-0.803,4.202-2.275l2.178-3.354C40.066,31.413,39.934,30.794,39.471,30.493z M35.91,34.142
                           c-0.901,1.388-2.763,1.782-4.233,0.834c-0.073-0.038-7.364-3.835-11.207-7.75c-3.592-3.659-5.977-7.724-6.302-8.291
                           c-0.792-2.221-0.652-3.586,0.464-4.556l2.265-1.968l4.152,4.776c0.369,0.424,0.326,1.044-0.096,1.411l-1.227,1.066
                           c-0.299,0.26-0.417,0.671-0.3,1.049c2.092,6.798,6.16,8.133,9.13,9.108l0.433,0.143c0.433,0.146,0.907-0.021,1.155-0.403
                           l0.709-1.092c0.146-0.226,0.37-0.379,0.63-0.434c0.261-0.056,0.527-0.004,0.753,0.143l5.308,3.447L35.91,34.142z"/>
                    <path d="M28.538,16.247c-0.532-0.153-1.085,0.156-1.236,0.688c-0.151,0.531,0.157,1.084,0.688,1.235
                           c1.49,0.424,2.677,1.613,3.097,3.104c0.124,0.44,0.525,0.729,0.962,0.729c0.09,0,0.181-0.012,0.272-0.037
                           c0.531-0.15,0.841-0.702,0.691-1.234C32.405,18.578,30.69,16.859,28.538,16.247z"/>
                    <path d="M36.148,22.219c0.09,0,0.181-0.012,0.272-0.037c0.532-0.15,0.841-0.703,0.691-1.234c-1.18-4.183-4.509-7.519-8.689-8.709
                           c-0.531-0.153-1.084,0.158-1.235,0.689c-0.151,0.531,0.157,1.084,0.688,1.235c3.517,1,6.318,3.809,7.311,7.328
                           C35.311,21.931,35.711,22.219,36.148,22.219z"/>
                    <path d="M27.991,7.582c-0.532-0.153-1.085,0.156-1.236,0.689c-0.151,0.531,0.157,1.084,0.688,1.235
                           c5.959,1.695,10.706,6.453,12.388,12.416c0.124,0.44,0.525,0.729,0.962,0.729c0.09,0,0.181-0.012,0.272-0.037
                           c0.531-0.15,0.841-0.703,0.691-1.234C39.887,14.753,34.613,9.467,27.991,7.582z"/>
                </g>
              </g>
            </svg>
                        </a>
                    </div>
                </div>
                <div class="address-contacts-subtitle conts-subtitile">
                    Прием заказов на сайте через корзину КРУГЛОСУТОЧНО. При заказе в нерабочее время менеджер перезвонит на следующий рабочий день для уточнения заказа и адреса доставки.
                </div>
                <a href="https://drive.google.com/open?id=1-g9tf1q3Z8VFInYNEJjd06Dmo8r8sz49" target="_blank" class="address-contacts-bfb9000-element contacts-bottom-button">скачать реквизиты</a>
            </div>
            <div class="address-contacts-map">
                <a href="https://yandex.ru/maps/?um=constructor%3A029d214852830577114280066c81f36d569c7103be61e8228f3086e1a218a15a&amp;source=constructorStatic" target="_blank"><img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3A029d214852830577114280066c81f36d569c7103be61e8228f3086e1a218a15a&amp;width=500&amp;height=400&amp;lang=ru_RU" alt="" style="border: 0; width: calc(100% - 10px);" /></a>
            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block 'pagescripts' %}
<script>
    $(() => {

        // ymaps
        // Там, выше можно хендлить смену города и переключение таба и ре-инитить карту
        // Нужно передать апи-ключ в яндекс
        ymaps.ready(init);
        var myMap;
        function init() {
            myMap = new ymaps.Map('map', {
                center: [55.68664099999999, 37.61732089999998],
                zoom: 15
            });
            {% for shop in contents.shops %}
            var myGeoObject{{forloop.index}} = new ymaps.GeoObject({
                geometry: {
                    type: "Point",
                    coordinates: [{{shop.latitude}}, {{shop.longitude}}]
        }});
            myMap.geoObjects.add(myGeoObject{{forloop.index}});
            {% endfor %}

        }

        // custom select
        $('select').each(function(){
            var $this = $(this), numberOfOptions = $(this).children('option').length;

            $this.addClass('select-hidden');
            $this.wrap('<div class="select"></div>');
            $this.after('<div class="select-styled"></div>');

            var $styledSelect = $this.next('div.select-styled');
            $styledSelect.text($this.children('option').eq(0).text());

            var $list = $('<ul />', {
                'class': 'select-options'
            }).insertAfter($styledSelect);

            for (var i = 0; i < numberOfOptions; i++) {
                $('<li />', {
                    text: $this.children('option').eq(i).text(),
                    rel: $this.children('option').eq(i).val()
                }).appendTo($list);
            }

            var $listItems = $list.children('li');

            $styledSelect.click(function(e) {
                e.stopPropagation();

                $('div.select-styled.active').not(this).each(function(){
                    $(this).removeClass('active').next('ul.select-options').hide();
                });

                $(this).toggleClass('active').next('ul.select-options').toggle();
            });

            $listItems.click(function(e) {
                e.stopPropagation();
                $styledSelect.text($(this).text()).removeClass('active');
                $this.val($(this).attr('rel'));
                $list.hide();
                $('.shops_block').removeClass('shops_block_active');
                $('#' + $(this).attr('rel')).addClass('shops_block_active');
                if($('#' + $(this).attr('rel') + ' .address-contacts-shop-tabs a:first-of-type').length > 0){
                    $('#' + $(this).attr('rel') + ' .address-contacts-shop-tabs a:first-of-type')[0].click();
                }
                let latitude = $('#' + $(this).attr('rel') + ' > .address-contacts-shop').data('latitude');
                let longitude = $('#' + $(this).attr('rel') + ' > .address-contacts-shop').data('longitude');
                myMap.panTo(
                    [latitude, longitude], {
                        flying: true
                    }
                )
            });

            $(document).click(function() {
                $styledSelect.removeClass('active');
                $list.hide();
            });
        });

        if(window.location.hash) {
            let hash = window.location.hash.substring(1);
            $('.select-options li[rel=' + hash + ']').click();
        }

        // tabs
        function Tabs() {
            var bindAll = function() {
                var menuElements = document.querySelectorAll('[data-tab]');
                for(var i = 0; i < menuElements.length ; i++) {
                    menuElements[i].addEventListener('click', change, false);
                }
            }

            var clear = function() {
                var menuElements = document.querySelectorAll('[data-tab]');
                for(var i = 0; i < menuElements.length ; i++) {
                    menuElements[i].classList.remove('active');
                    var id = menuElements[i].getAttribute('data-tab');
                    document.getElementById(id).classList.remove('active');
                }
            }

            var change = function(e) {
                clear();
                e.target.classList.add('active');
                var id = e.currentTarget.getAttribute('data-tab');
                document.getElementById(id).classList.add('active');
                let latitude = $('#' + id).data('latitude');
                let longitude = $('#' + id).data('longitude');
                myMap.panTo(
                    [latitude, longitude], {
                        flying: true
                    }
                )
            }

            bindAll();
        }

        var connectTabs = new Tabs();

    })

    $(document).ready(function(){
        $('.footer_shops a').click(function() {
            let hash = $(this).attr('href').split("#")[1];
            $('.select-options li[rel=' + hash + ']').click();
            $('html, body').animate({ scrollTop: 0 }, 'fast');
        });
    });
</script>

{% endblock %}

{% block 'pagestyles' %}

{% endblock %}
