---
title: dealers_new
slug: dealers_new
is_layout: false
allow_layout: false
listed: true
published: false
cache_strategy: none
response_type: text/html
position: 25
---
{% extends wrapper %}

{% block 'main' %}
<div class="dealer_main">
  <div class="container">
    <div>
      <h1>Заработай на спортивном<br />оборудовании ГТО</h1>
      <p>компания Sportmen приглашает к сотрудничеству</p>
    </div>
  </div>
</div>
<div class="d-coop">
  <div class="container">
    <div class="row">
      <p class="p-title">зачем мы ищем партнеров?</p>
      <div class="col-xs-6">
        <div>1</div><p>Когда из Вашего города поступают заявки на наше оборудование, люди боятся покупать через интернет. Поэтому мы ищем АКТИВНЫХ ПАРТНЕРОВ в Вашем городе, чтобы разместить наше оборудование.</p>
      </div>
      <div class="col-xs-6">
        <div>2</div><p>Мы сможем направлять в Ваш магазин покупателей для демонстрации оборудования и оформления сделки. Вы сможете оставлять себе процент вознаграждения как официальный представитель.</p>        
      </div>
    </div>
  </div>
</div>
<div class="d-pdf bg-green_lines">
  <div class="container">
    <div class="row">
      <p>Мы предлагаем современный вариант<br>сотрудничества без финансовых вложений</p>
    <div class="col-xs-6 col-xs-offset-3 text-center">
    	<a class="btn full-width active" href="https://yadi.sk/i/MkLkVCt_ppGTh" target="_blank"><div class="icon_pdf"></div>скачать презентацию для дилеров</a>
      </div>
    </div>
  </div>
</div>
<div class="d-schema bg-sportmen">
  <div class="container">
    <div class="row">
      <p class="p-title">схема сотрудничества</p>
      <div id="dschema-bg"></div>
      <div id="dschema1" class="dschema-block">
        <div><span>1</span>
          <p>Мы размещаем Ваши контактные данные на нашем сайте</p>
        </div>
        <hr>
        <div>
          <p>
            — Контакты<br>
            — Адрес магазина 
          </p>
        </div>
      </div>
      <div id="dschema3" class="dschema-block">
        <div><span>3</span>
          <p>Клиенты приходят к Вам</p>
        </div>
        <hr>
        <div>
          <p>Изучают макет, определяются<br>с необходимым набором<br>оборудования.</p>
        </div>
      </div>
      <div id="dschema2" class="dschema-block">
        <div><span>2</span>
          <p>Вы размещаете промо-стойку<br>у себя в магазине</p>
        </div>
        <hr>
        <div>
          <p>
            Габариты стойки:<br>
            Высота<br>
            Длина<br>
            Ширина
          </p>
        </div>
      </div>
      <div id="dschema4" class="dschema-block">
        <div><span>4</span>
          <p>Делают заказ</p>
        </div>
        <hr>
        <div>
          <p>Вы передаете его нам, оставляя<br>себе % дилерского вознаграждения.<br><br>
            + дополнительный заработок<br>на сопутствующих товарах.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-return container">
  <div class="row">
    <p>Система возврата клиентов</p>
    <p>Подключение к системе SPORTMEN, которая возвращает Ваших клиентов.<br>
      Подлючение происходит при 30-минутной констультации по общим<br>
      вопросам после подписания договора официального представителя.</p>
    <div class="col-xs-4 col-xs-offset-4 text-center">
      <a class="btn btn-sponsor full-width fancybox" data-button="dealer" data-goal="form" href="#feedback-form">Стать дилером</a>
    </div>
  </div>
</div>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<div class="calculator">
  <div class="container">
    <p class="p-title">Подсчитать прибыль</p>
    <div><p class="h3">Сумма среднего чека:</p>
      <div class="slider">
        <div>40 000</div>
        <div id="slider-summ"></div>
        <div>550 000</div>
      </div>
    </div>
    <div><p class="h3">Кол-во продаж в месяц:</p>
      <div class="slider">
        <div>10</div>
        <div id="slider-count"></div>
        <div>30</div>
      </div>
    </div>
  </div>
  <div class="container">
    <p class="h4">Ваша прибыль в месяц (рублей):</p>
    <div id="dealer_profit"></div>
    <div id="dealer-button"><a class="btn btn-green active fancybox full-width" data-button="order" data-goal="form" href="#feedback-form">Стать дилером</a></div>
  </div>
</div>
<div class="d-questions container">
  <div class="row">
    <p class="p-title">все вопросы мы берем на себя</p>
    <ul class="dquestions">
      <li id="dquestion1">Расчет стоимости при индивидуальном заказе оборудования</li>
      <li id="dquestion2">Лучшие цены от производителя</li>
      <li id="dquestion3">Доставка напрямую клиенту, просчет логистики и стоимости </li>
      <li id="dquestion4">Установка<br><span>(мы сами находим подрядную организацию, которая установит все под ключ)</span></li>
      <li id="dquestion5">Покраска в любой цвет под дизайн заказчика</li>
    </ul>
    <div class="col-xs-6 col-xs-offset-3 text-center">
    	<a class="btn active full-width" href="https://yadi.sk/i/MkLkVCt_ppGTh" target="_blank"><div class="icon_pdf"></div>скачать презентацию для дилеров</a>
      </div>
  </div>
</div>
<div class="d-profits bg-sportmen">
  <div class="container">
    <div class="row">
      <p class="p-title">что получаете вы</p>
      <ul>
        <li>Готовый интернет портал</li>
        <li>Ежемесячный рекламный бюджет</li>
        <li>3D макеты оборудования</li>
        <li>Все рекламные материалы</li>
        <li>Подключение к системе SPORTMEN «Возврат Вашего клиента»</li>
        <li>Промостойка турника в разрезе</li>
        <li>Свой менеджер, который всегда на связи</li>
        <li>Работа с качественным и проверенным брендом</li>
      </ul>
      <div id="dprofits"><div>}</div><p>Материалы более чем на <span>1 млн руб.</span></p></div>
    </div>
  </div>
</div>
  <div class="container">
   <p class="p-title">Как стать нашим дилером?</p>
    <div class="dealer_steps">
      <div><div id="dlr_call"></div>Позвонить нам</div>
      <div><div id="dlr_ankt"></div>Заполнить анкету</div>
      <div><div id="dlr_dogv"></div>Заключить договор</div>
      <div><div id="dlr_set"></div>Получить полный набор дилера</div>
      <div><div id="dlr_prch"></div>Сделать закупку</div>
      <div><div id="dlr_prft"></div>Начать зарабатывать</div>
    </div>
    <div class="row">
    <div class="col-xs-4 col-xs-offset-4 text-center">
      <a class="btn btn-sponsor full-width fancybox" data-button="dealer" data-goal="form" href="#feedback-form">Стать дилером</a>
    </div>
  </div>
  </div>



<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'GHhEXIPBg6';
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
<!-- {/literal} END JIVOSITE CODE -->
{% endblock %}