---
title: Dealers
slug: dealers
is_layout: false
allow_layout: false
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 4
seo_title: "Сотрудничество для дилеров | Производство спортивного оборудования ГТО,
  воркаут | Sportmen"
meta_description: "Сотрудничество для дилеров Sportmen. Заработай на спортивном оборудовании
  ГТО. Собственное производство. Гарантия качества. Доставка по всей России."
---
{% extends 'parent' %}

{% block 'main' %}
<section class="common-landing">
  <div class="profit-with-us">
    <div class="common-container">
      <div class="breadcrumbs">
        <span class="breadcrumbs-item">
          <a href="/">SPORTMEN.RU</a>
        </span>        
        <span class="breadcrumbs-item">
          <a href="/dealers">Стать дилером</a>
        </span>
      </div>
      <h1 class="common-landing-title">зарабатывай на спортивном оборудовании</h1>
      <div class="dealers-landing-h3">компания sportmen приглашает к сотрудничеству</div>
      <p class="common-title-yellow">зачем мы ищем партнеров?</p>
        <div class="dealers-landing-text__indicator-mobile" >
          <div class='active' id='dlmn-1'>1</div>
          <div id='dlmn-2'>2</div>
        </div>
      <div id="dealers-landing-text" class="dealers-landing-text">
        <div class="dealers-landing-text__text-block">
          <div class="dealers-landing-text__indicator">1</div>
          <p>Из Вашего города поступают заявки на наше спорт. оборудование, но некоторые люди боятся покупать через интернет. Поэтому мы ищем
            <span>АКТИВНЫХ ПАРТНЕРОВ</span> в Вашем городе, чтобы разместить наше оборудование.
          </p>
        </div>
        <div class="dealers-landing-text__text-block">
          <div class="dealers-landing-text__indicator">2</div>
          <p>
            Мы сможем направлять к Вам покупателей для демонстрации оборудования и оформления сделки.
            Вы оставляете себе процент вознаграждения как официальный представитель.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="dealers-presentation">
    <div class="common-container">
      <p>Мы предлагаем современный вариант сотрудничества без финансовых вложений
      </p>
      <a class='dealers-presentation-dl' href="https://yadi.sk/d/Y0C3WYqEfpkPow" target="_blank"><span>скачать презентацию</span></a>

    </div>
  </div>
</section>
<section class="common-section">
  <div class="common-container">
    <p class="common-section-title dealers-partnership-title">схема сотрудничества</p>
    <div class="dealers-partnership-plan">
      <div class="dealers-partnership-plan__item">
        <svg version="1.1" class="dealers-partnership-plan__item__svg" id="dealers-scheme-svg-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 161 160" style="enable-background:new 0 0 200 160;" xml:space="preserve">
        <style type="text/css">
          .dealers-partnership-plan__item__svg .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          .dealers-partnership-plan__item__svg .st1{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
        <g>
          <rect x="4" y="4.1" class="st0" width="150.3" height="151.9"/>
          <circle class="st1" cx="78.4" cy="91.9" r="51.2"/>
          <ellipse class="st1" cx="78.4" cy="91.9" rx="26.3" ry="51.2"/>
          <line class="st1" x1="78.4" y1="40.7" x2="78.4" y2="143.1"/>
          <path class="st1" d="M40.1,125.9c9.4-5.4,23.1-8.9,38.3-8.9c15.3,0,28.9,3.4,38.3,8.9"/>
          <path class="st1" d="M113.7,54.8c-9.2,4.5-21.6,7.2-35.3,7.2c-13.7,0-26.1-2.8-35.3-7.2"/>
          <line class="st1" x1="129.6" y1="91.9" x2="27.2" y2="91.9"/>
          <line class="st0" x1="4" y1="26.4" x2="154.3" y2="26.4"/>
          <line class="st0" x1="140.3" y1="16.3" x2="52.2" y2="16.3"/>
          <line class="st0" x1="14.4" y1="16.3" x2="21.5" y2="16.3"/>
          <line class="st0" x1="27.1" y1="16.3" x2="41.9" y2="16.3"/>
        </g>
        </svg>
        <p class="dealers-partnership-plan-h4">Мы размещаем Ваши контактные данные на нашем сайте</p>
        <ul>
          <li>Контакты</li>
          <li>Адрес магазина</li>
        </ul>
      </div>
      <div class="dealers-partnership-plan__item">
        <svg version="1.1" class="dealers-partnership-plan__item__svg" id="dealers-scheme-svg-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 200 160" style="enable-background:new 0 0 200 160;" xml:space="preserve">
        <style type="text/css">
          .dealers-partnership-plan__item__svg .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          .dealers-partnership-plan__item__svg .st1{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
        <g>
          <g>
            <line class="st0" x1="23.5" y1="18.9" x2="94.9" y2="18.9"/>
            <line class="st0" x1="23.5" y1="36.5" x2="94.9" y2="36.5"/>
            <line class="st0" x1="23.5" y1="54" x2="94.9" y2="54"/>
            <line class="st0" x1="23.5" y1="71.6" x2="94.9" y2="71.6"/>
            <line class="st0" x1="23.5" y1="89.2" x2="94.9" y2="89.2"/>
            <line class="st0" x1="23.5" y1="106.8" x2="94.9" y2="106.8"/>
            <line class="st0" x1="23.5" y1="124.3" x2="94.9" y2="124.3"/>
            <line class="st0" x1="23.5" y1="141.9" x2="94.9" y2="141.9"/>
          </g>
          <line class="st0" x1="105" y1="54.3" x2="176.5" y2="54.3"/>
          <g>
            <path class="st1" d="M16.8,155.6h3c1.9,0,3.4-1.5,3.4-3.4V8.9c0-1.9-1.5-3.4-3.4-3.4h-3c-1.9,0-3.4,1.5-3.4,3.4v143.4
              C13.4,154.1,14.9,155.6,16.8,155.6z"/>
            <path class="st1" d="M98.3,155.6h3c1.9,0,3.4-1.5,3.4-3.4V8.9c0-1.9-1.5-3.4-3.4-3.4h-3c-1.9,0-3.4,1.5-3.4,3.4v143.4
              C94.9,154.1,96.4,155.6,98.3,155.6z"/>
            <path class="st1" d="M179.9,155.6h3c1.9,0,3.4-1.2,3.4-2.5V46.3c0-1.4-1.5-2.5-3.4-2.5h-3c-1.9,0-3.4,1.2-3.4,2.5v106.8
              C176.5,154.5,178,155.6,179.9,155.6z"/>
          </g>
          <line class="st0" x1="4" y1="156" x2="32.9" y2="156"/>
          <line class="st0" x1="85.5" y1="156" x2="114.4" y2="156"/>
          <line class="st0" x1="167.1" y1="156" x2="195.9" y2="156"/>
        </g>
        </svg>
        <p class="dealers-partnership-plan-h4">Вы размещаете промо-стойку у себя в магазине</p>
        <ul>
          Габариты стойки:
          <li>Высота</li>
          <li>Длина</li>
          <li>Ширина</li>
        </ul>
      </div>
      <div class="dealers-partnership-plan__item">
        <svg version="1.1" class="dealers-partnership-plan__item__svg" id="dealers-scheme-svg-3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 200 160" style="enable-background:new 0 0 200 160;" xml:space="preserve">
        <style type="text/css">
          .dealers-partnership-plan__item__svg .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          .dealers-partnership-plan__item__svg .st1{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
        <g>
          <path class="st0" d="M118.8,46.5V26.9c0-12.5-9.1-22.7-20.3-22.7H88.3C77.1,4.2,68,14.4,68,26.9v19.7c0,1.2,0.5,2.3,1.3,3l2.5,2.1
            c0.8,0.7,1.3,1.8,1.3,3v4.8c0,10.7,9.1,19.4,20.3,19.4h0c11.2,0,20.3-8.8,20.3-19.4v-4.8c0-1.2,0.5-2.3,1.3-3l2.5-2.1
            C118.3,48.8,118.8,47.7,118.8,46.5z"/>
          <path class="st0" d="M68.2,37.2L68.2,37.2c0-3.7,2.8-6.8,6.3-6.8h37.7c3.5,0,6.3,3.1,6.3,6.8v0"/>
          <path class="st1" d="M30.2,85v3.6c0,2.3-1.5,4.4-4,5.5l-14.5,6.6c-4.8,2.2-7.7,6.2-7.7,10.6v12.6c0,0,6.3,8.1,33.9,8.1"/>
          <path class="st1" d="M46.9,85.3v3.6c0,2.3,1.5,4.4,4,5.5l10.4,4.7"/>
          <path class="st0" d="M112,91.8c0,11.1-8.3,20-18.6,20s-18.6-9-18.6-20"/>
          <path class="st1" d="M38.4,84.6L38.4,84.6c-7.7,0-13.9-6.3-13.9-13.9V59.1c0-7.7,6.3-13.9,13.9-13.9h0c7.7,0,13.9,6.3,13.9,13.9
            v11.5C52.4,78.3,46.1,84.6,38.4,84.6z"/>
          <path class="st1" d="M157,85v3.6c0,2.3,1.5,4.4,4,5.5l14.5,6.6c4.8,2.2,7.7,6.2,7.7,10.6v12.6c0,0-6.3,8.1-33.9,8.1"/>
          <path class="st1" d="M140.4,85.3v3.6c0,2.3-1.5,4.4-4,5.5l-10.4,4.7"/>
          <path class="st1" d="M148.8,84.6L148.8,84.6c7.7,0,13.9-6.3,13.9-13.9V59.1c0-7.7-6.3-13.9-13.9-13.9h0c-7.7,0-13.9,6.3-13.9,13.9
            v11.5C134.9,78.3,141.2,84.6,148.8,84.6z"/>
          <path class="st0" d="M79,73v7.6c0,4.9-2.4,9.4-6.3,11.8l-22.7,14c-7.5,4.6-12.1,13.2-12.1,22.5v26.8"/>
          <path class="st0" d="M107.9,73v7.6c0,4.9,2.4,9.4,6.3,11.8l22.7,14c7.5,4.6,12.1,13.2,12.1,22.5v26.8"/>
          <line class="st0" x1="60" y1="156" x2="60" y2="138.3"/>
          <line class="st0" x1="127.3" y1="156" x2="127.3" y2="138.3"/>
        </g>
        </svg>
        <p class="dealers-partnership-plan-h4">Клиенты приходят к Вам</p>
        <p>Изучают макет, определяются с необходимым набором оборудования.</p>
      </div>
      <div class="dealers-partnership-plan__item">
        <svg version="1.1" class="dealers-partnership-plan__item__svg" id="dealers-scheme-svg-4"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 200 160" style="enable-background:new 0 0 200 160;" xml:space="preserve">
        <style type="text/css">
          .dealers-partnership-plan__item__svg .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          .dealers-partnership-plan__item__svg .st1{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
        <g>
          <path class="st0" d="M23.5,156H16c-6.6,0-12-5.4-12-12v-41c0-6.6,5.4-12,12-12h7.5c6.6,0,12,5.4,12,12v41
            C35.5,150.6,30.1,156,23.5,156z"/>
          <polyline class="st1" points="68,100.6 68,8.3 141.7,8.3 141.7,154.6 109.2,154.6   "/>
          <path class="st1" d="M118.6,59.1H92.1V35.6h26.5c6.5,0,11.8,5.3,11.8,11.8v0C130.4,53.8,125.1,59.1,118.6,59.1z"/>
          <line class="st1" x1="92.1" y1="42.8" x2="92.1" y2="93"/>
          <line class="st1" x1="81.7" y1="73.5" x2="102.1" y2="73.5"/>
          <line class="st1" x1="81.7" y1="59.1" x2="102.1" y2="59.1"/>
          <line class="st0" x1="52.6" y1="85.4" x2="35.5" y2="100.6"/>
          <polyline class="st1" points="56.8,100.6 37.7,28.6 68,20.5  "/>
          <path class="st0" d="M56.6,100.6H116c3.7,0,6.8,3,6.8,6.8v0c0,3.7-3,6.8-6.8,6.8H82.2"/>
          <path class="st0" d="M80.9,114.1h45c3.7,0,6.8,3,6.8,6.8v0c0,3.7-3,6.8-6.8,6.8h-45"/>
          <path class="st0" d="M80.9,127.7h37.5c3.7,0,6.8,3,6.8,6.8v0c0,3.7-3,6.8-6.8,6.8H80.9"/>
          <path class="st0" d="M80.9,141.3h26.3c3.7,0,6.8,3,6.8,6.8v0c0,3.7-3,6.8-6.8,6.8H94.1H52.2c-4.3,0-8.5-1.7-11.5-4.8l-5.2-5.2"/>
        </g>
        </svg>
        <p class="dealers-partnership-plan-h4">делают заказ</p>
        <p>Вы передаете его нам, оставляя себе % дилерского вознаграждения.</p>
        <p>+ дополнительный заработок на сопутствующих товарах</p>
      </div>
    </div>
  </div>
</section>
<section class="common-section dealers-profit-calculator-section">
  <div class="shadow">
    <div class="shadow-text">подсчитать прибыль</div>
  </div>
  <div class="common-container">
    <p class="common-section-title dealers-calculator-title">подсчитать прибыль</p>
    <div class="dealers-calculator-wrapper">
      <div class="dealers-slider-wrapper">
        <p class="dealers-calc-h3">сумма среднего чека</p>
        <p id='dealers-slider-1-value'>342 748</p>
        <div id="dealers-slider-1" class="dealers-slider">
        <div class="slider-values-start">40 000</div>
          <div class="ui-slider-handle"><div id='dealers-handle-1' сlass="dealers-handle-1 ch-desktop" class='amount'></div></div>
        <div class="slider-values-end">550 000</div>
        </div>
      </div>
      <div class="dealers-slider-wrapper">
        <p class="dealers-calc-h3">кол-во продаж в месяц:</p>
        <p id='dealers-slider-2-value'>17</p>

        <div id="dealers-slider-2"  class="dealers-slider">
          <div class="slider-values-start">10</div>
          <div class="ui-slider-handle"><div id='dealers-handle-2' сlass="dealers-handle-2 ch-desktop" class='amount'></div></div>
          <div class="slider-values-end">40</div>
        </div>
      </div>
      <div class="dealers-calculator-profit">
        <p>ваша прибыль <br>в месяц (рублей): </p><span id='dealers-profit-total'>1 748 015P.</span>
      </div>
      <a href="#dealers-becoming-a-dealer">стать дилером</a>
    </div>
  </div>
</section>
<section class="common-section dealers-faq-section">
  <div class="dealers-faq-container">
    <div class="common-container">
      <p class="common-section-title dealers-faq-title">ВСЕ ВОПРОСЫ МЫ БЕРЕМ НА СЕБЯ</p>
      <div class="dealers-faq-icons">
        <div class="dealers-faq-icons__item">
          <svg version="1.1"  class="dealers-faq-icons__item__svg" id="dealers-faq-svg-1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 171 162" style="enable-background:new 0 0 171 162;" xml:space="preserve">
          <style type="text/css">
            .dealers-faq-icons__item__svg .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          </style>
          <g>
            <polyline class="st0" points="91.5,77.7 91.5,158.8 4,158.8 4,33.3 61.3,33.3   "/>
            <polyline class="st0" points="73,72.8 14.5,72.8 14.5,43.8 58.5,43.8   "/>
            <rect x="14.5" y="83.8" class="st0" width="16" height="16"/>
            <rect x="39.5" y="83.8" class="st0" width="16" height="16"/>
            <rect x="64.5" y="83.8" class="st0" width="16" height="16"/>
            <rect x="14.5" y="107.8" class="st0" width="16" height="16"/>
            <rect x="39.5" y="107.8" class="st0" width="16" height="16"/>
            <rect x="64.5" y="107.8" class="st0" width="16" height="16"/>
            <rect x="14.5" y="131.8" class="st0" width="16" height="16"/>
            <rect x="39.5" y="131.8" class="st0" width="16" height="16"/>
            <rect x="64.5" y="131.8" class="st0" width="16" height="16"/>
            <circle class="st0" cx="90" cy="46.3" r="31.5"/>
            <path class="st0" d="M98.8,46.3H83.9V33.1h14.8c3.6,0,6.6,3,6.6,6.6v0C105.4,43.3,102.4,46.3,98.8,46.3z"/>
            <line class="st0" x1="83.9" y1="37.1" x2="83.9" y2="65.3"/>
            <line class="st0" x1="78.1" y1="54.3" x2="89.5" y2="54.3"/>
            <line class="st0" x1="78.1" y1="46.3" x2="89.5" y2="46.3"/>
          </g>
          </svg>
          <p class="dealers-faq-h4">Расчет стоимости при индивидуальном заказе оборудования</p>
        </div>
        <div class="dealers-faq-icons__item">
          <svg version="1.1"  class="dealers-faq-icons__item__svg" id="dealers-faq-svg-2"   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 171 163" style="enable-background:new 0 0 171 163;" xml:space="preserve">
          <style type="text/css">
            .dealers-faq-icons__item__svg .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          </style>
          <g>
            <path class="st0" d="M82.1,79.7h54.7c4,0,7.4,4.3,7.4,9.5v0c0,5.2-3.3,9.5-7.4,9.5h-36.7"/>
            <path class="st0" d="M98.8,98.7h48.9c4,0,7.4,4.3,7.4,9.5v0c0,5.2-3.3,9.5-7.4,9.5H98.8"/>
            <path class="st0" d="M98.8,117.7h40.7c4,0,7.4,4.3,7.4,9.5v0c0,5.2-3.3,9.5-7.4,9.5H98.8"/>
            <path class="st0" d="M98.8,136.7h28.6c4,0,7.4,4.3,7.4,9.5v0c0,5.2-3.3,9.5-7.4,9.5H113H67.6c-4.7,0-9.2-2.4-12.5-6.7l-5.7-7.3"/>
            <path class="st0" d="M50.1,83.4L72.3,51c2.2-3.2,3.4-7.1,3.4-11V22.6c0-3.1,2.5-5.6,5.6-5.6h6.4c2.5,0,4.7,1.7,5.4,4.1l4.2,14.5
              c1.8,6.2,1.9,12.7,0.4,18.9l-6.2,25.3"/>
            <path class="st0" d="M37.5,159.8H16c-6.6,0-12-5.4-12-12V80.5c0-6.6,5.4-12,12-12h21.5c6.6,0,12,5.4,12,12v67.2
              C49.5,154.4,44.1,159.8,37.5,159.8z"/>
          </g>
          </svg>
          <p class="dealers-faq-h4">Лучшие цены от производителя</p>
        </div>
        <div class="dealers-faq-icons__item">
          <svg version="1.1" class="dealers-faq-icons__item__svg" id="dealers-faq-svg-3"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 171 163" style="enable-background:new 0 0 171 163;" xml:space="preserve">
          <style type="text/css">
            .dealers-faq-icons__item__svg .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          </style>
          <g>
            <polygon class="st0" points="150,105.8 118.5,105.8 118.5,74.3 135.9,74.3 150,86.8   "/>
            <circle class="st0" cx="40" cy="145.3" r="14.5"/>
            <circle class="st0" cx="134" cy="145.3" r="14.5"/>
            <g>
              <polyline class="st0" points="60.2,137.3 101,137.3 101,36.3 4,36.3 4,137.3 19.8,137.3     "/>
              <polyline class="st0" points="154.2,137.3 166.5,137.3 166.5,77.8 140,56.3 101.5,56.3 101.5,137.3 113.8,137.3    "/>
            </g>
          </g>
          </svg>
          <p class="dealers-faq-h4">Доставка напрямую клиенту, просчет логистики и стоимости</p>
        </div>
        <div class="dealers-faq-icons__item">
          <svg version="1.1" class="dealers-faq-icons__item__svg" id="dealers-faq-svg-4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 171 162" style="enable-background:new 0 0 171 162;" xml:space="preserve">
          <style type="text/css">
            .dealers-faq-icons__item__svg .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          </style>
          <g>
            <path class="st0" d="M143.3,139.9l-20.2,5.8c-4.2,1.2-8.9-2.5-10.5-8.3c-1.6-5.7,0.4-11.4,4.6-12.6l21.9-6.3
              c-4.5-6-11.7-9.9-19.8-9.9c-11.1-0.1-20.5,7.1-23.9,17l-83.5-0.5c-4.3,0-7.9,3.5-7.9,7.8c0,4.3,3.5,7.9,7.8,7.9l83.5,0.5
              c3.2,10,12.6,17.2,23.6,17.3C130.6,158.8,140.5,150.8,143.3,139.9z"/>
            <path class="st0" d="M49.1,62v3.7c0,2.4-1.7,4.6-4.5,5.8l-15.9,6.9c-5.2,2.3-8.5,6.5-8.5,11v13.2c0,0,6.9,8.4,37.3,8.4"/>
            <path class="st0" d="M66.1,62v3.7c0,2.4,1.7,4.6,4.5,5.8l15.9,6.9c5.2,2.3,8.5,6.5,8.5,11v13.2c0,0-6.9,8.4-37.3,8.4"/>
            <path class="st0" d="M59.5,63.8h-2.8c-7.7,0-13.9-6.3-13.9-13.9V34.4c0-7.7,6.3-13.9,13.9-13.9h2.8c7.7,0,13.9,6.3,13.9,13.9v15.4
              C73.5,57.5,67.2,63.8,59.5,63.8z"/>
          </g>
          </svg>
          <p class="dealers-faq-h4">УСТАНОВКА</p>
          <p>(мы сами находим подрядную организацию, которая установит все под ключ)</p>
        </div>
        <div class="dealers-faq-icons__item">
          <svg version="1.1" class="dealers-faq-icons__item__svg" id="dealers-faq-svg-5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 171 163" style="enable-background:new 0 0 171 163;" xml:space="preserve">
          <style type="text/css">
            .dealers-faq-icons__item__svg .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
            .dealers-faq-icons__item__svg .st1{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:9,9;}
          </style>
          <g>
            <path class="st0" d="M54.4,69.2H10.9c-3.8,0-6.9,3.1-6.9,6.9v76.8c0,3.8,3.1,6.9,6.9,6.9h43.5c3.8,0,6.9-3.1,6.9-6.9V76.1
              C61.3,72.3,58.2,69.2,54.4,69.2z"/>
            <path class="st0" d="M58.4,69.2C58.4,58,46.9,49,32.8,49S7.3,58,7.3,69.2"/>
            <path class="st0" d="M36.1,18.6h-7.7c-2.6,0-4.7,2.1-4.7,4.7v10.6c0,2.6,2.1,4.7,4.7,4.7h7.7c2.6,0,4.7-2.1,4.7-4.7V23.2
              C40.7,20.7,38.6,18.6,36.1,18.6z"/>
            <line class="st0" x1="32.5" y1="48.5" x2="32.5" y2="38.5"/>
            <line class="st0" x1="40.5" y1="28.5" x2="34.5" y2="28.5"/>
            <g>
              <g>
                <line class="st0" x1="50.5" y1="27.5" x2="55.5" y2="27.5"/>
                <line class="st1" x1="64.5" y1="27.5" x2="114" y2="27.5"/>
                <line class="st0" x1="118.5" y1="27.5" x2="123.5" y2="27.5"/>
              </g>
            </g>
            <g>
              <g>
                <line class="st0" x1="51.2" y1="20.4" x2="56.1" y2="19.4"/>
                <line class="st1" x1="64.9" y1="17.7" x2="113.5" y2="8.4"/>
                <line class="st0" x1="117.9" y1="7.6" x2="122.8" y2="6.6"/>
              </g>
            </g>
            <g>
              <g>
                <line class="st0" x1="51.2" y1="35.6" x2="56.1" y2="36.6"/>
                <line class="st1" x1="64.9" y1="38.3" x2="113.5" y2="47.6"/>
                <line class="st0" x1="117.9" y1="48.4" x2="122.8" y2="49.4"/>
              </g>
            </g>
          </g>
          </svg>
          <p class="dealers-faq-h4">
            Покраска в любой цвет под дизайн заказчика
          </p>
        </div>
      </div>
      <a class='dealers-presentation-dl' href="https://yadi.sk/d/Y0C3WYqEfpkPow" target="_blank"><span>скачать презентацию</span></a>
    </div>
  </div>
</section>
<section class="common-section">
  <div class="shadow">
    <div class="shadow-text">что вы <br> получаете</div>
  </div>
  <div class="common-container">
    <p class="common-section-title dealers-wyg-title">что вы получаете</p>
    <div class="dealers-wyg-scheme">
      <div class="dealers-wyg-scheme__list">
        <ul>
          <li>Готовый интернет портал</li>
          <li>Ежемесячный рекламный бюджет</li>
          <li>3D макеты оборудования</li>
          <li>Все рекламные материалы</li>
          <li>Промостойка турника в разрезе</li>
          <li>Свой менеджер, который всегда на связи</li>
          <li>Работа с качественным и проверенным брендом</li>
        </ul>
      </div>
      <div class="dealers-wyg-scheme__total">
          <svg version="1.1"  class="dealers-wyg__item__svg" id="dealers-wyg-svg-1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 260 247" style="enable-background:new 0 0 260 247;" xml:space="preserve">
          <style type="text/css">
            .dealers-wyg__item__svg .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
            .dealers-wyg__item__svg .st1{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
            .dealers-wyg__item__svg .st2{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:10;}
          </style>
          <polyline class="st0" points="56,120.7 4.9,45.7 65.8,4.2 81.5,27.1 "/>
          <path class="st0" d="M80.3,51.5c-0.5,3-2.2,5.8-5,7.7L53.4,74.1L40.2,54.7l21.9-14.9c5.3-3.6,12.7-2.2,16.3,3.1l0,0"/>
          <line class="st0" x1="44.2" y1="60.6" x2="72.5" y2="102.1"/>
          <line class="st0" x1="52.9" y1="91.8" x2="69.7" y2="80.4"/>
          <line class="st0" x1="44.9" y1="79.9" x2="61.7" y2="68.5"/>
          <polyline class="st0" points="93,119.9 76.1,29.1 148.7,15.7 152.3,35.5 "/>
          <path class="st0" d="M134.5,70.5l-25.4,4.2l-4.3-23.1l26.1-4.8c2.7-0.5,5.5,0,7.7,1.2"/>
          <line class="st0" x1="106.1" y1="58.6" x2="115.3" y2="108"/>
          <line class="st0" x1="101.6" y1="90.7" x2="121.5" y2="87"/>
          <line class="st0" x1="98.9" y1="76.6" x2="118.9" y2="72.9"/>
          <line class="st0" x1="206.3" y1="87.8" x2="200.3" y2="120.7"/>
          <polyline class="st0" points="125.3,120.7 141.3,33.5 198.2,43.9 "/>
          <path class="st0" d="M182,92.6l-26.1-4.8l4.2-23.1l26.1,4.8c6.4,1.2,10.6,7.3,9.5,13.7v0C194.5,89.5,188.3,93.8,182,92.6z"/>
          <line class="st0" x1="158.8" y1="71.8" x2="149.5" y2="120.5"/>
          <line class="st0" x1="143.1" y1="100.1" x2="163.1" y2="103.7"/>
          <line class="st0" x1="145.7" y1="86" x2="165.7" y2="89.6"/>
          <circle class="st0" cx="225" cy="62" r="31.5"/>
          <path class="st0" d="M233.8,62h-14.8V48.9h14.8c3.6,0,6.6,3,6.6,6.6v0C240.4,59.1,237.4,62,233.8,62z"/>
          <line class="st0" x1="218.9" y1="52.9" x2="218.9" y2="81"/>
          <line class="st0" x1="213.1" y1="70.1" x2="224.5" y2="70.1"/>
          <line class="st0" x1="213.1" y1="62" x2="224.5" y2="62"/>
          <path class="st1" d="M219,209.2v28.3c0,4-3.2,7.3-7.3,7.3H53.3c-4,0-7.3-3.2-7.3-7.3V128c0-4,3.2-7.3,7.3-7.3h158.5
            c4,0,7.3,3.2,7.3,7.3v28.2"/>
          <path class="st1" d="M167.7,209.2h60c4.3,0,7.8-3.5,7.8-7.8V164c0-4.3-3.5-7.8-7.8-7.8h-60c-12.2,0-22.2,10-22.2,22.2v8.5
            C145.5,199.2,155.5,209.2,167.7,209.2z"/>
          <circle class="st1" cx="172.5" cy="182.7" r="13"/>
          <line class="st2" x1="46.5" y1="139.5" x2="219.5" y2="139.5"/>
          <line class="st2" x1="46.5" y1="226.5" x2="219.5" y2="226.5"/>
          </svg>
        <p>материалы более чем на</p>
        <p>1 000 000Р.</p>
      </div>
    </div>
  </div>
</section>
<section class="common-section dealers-becoming-a-dealer-section" id="dealers-becoming-a-dealer">
  <div class="shadow">
    <div class="shadow-text">презентация <br> для <br> дилеров</div>
  </div>
  <div class="common-container">
    <p class="common-section-title dealers-becoming-a-dealer-title">как стать нашим дилером?</p>
    <div class="dealers-becoming-a-dealer-icons">
      <div class="dealers-becoming-a-dealer-icons__item">
        <svg version="1.1" class="dealers-becoming-a-dealer-icons__item__svg" id="dealers-become-a-dealer-svg-1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 110 170" style="enable-background:new 0 0 198 170;" xml:space="preserve">
        <style type="text/css">
          .dealers-becoming-a-dealer-icons__item__svg .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          .dealers-becoming-a-dealer-icons__item__svg .st1{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
        <g>
          <g>
            <path class="st0" d="M22.1,84.8c0.3-11.3,2-18.8,3.5-23.3c1.1-3.2,4.4-5.2,7.7-4.7l7.1,1c4,0.6,7.7-2,8.6-6l5.2-24.1
              c0.9-4.1-1.7-8.2-5.8-9.1l-8.6-1.9c-6.1-1.4-12.6,0.2-17.3,4.3C14.3,28.4,4.5,45.4,4,84.8"/>
            <path class="st0" d="M22.1,84.8c0.3,11.3,2,18.8,3.5,23.3c1.1,3.2,4.4,5.2,7.7,4.7l7.1-1c4-0.6,7.7,2,8.6,6l5.2,24.1
              c0.9,4.1-1.7,8.2-5.8,9.1l-8.6,1.9c-6.1,1.4-12.6-0.2-17.3-4.3C14.3,141.3,4.5,124.3,4,84.9"/>
          </g>
          <path class="st1" d="M54.6,80.9c4.2,1.3,7.2,5.2,7.2,9.7c0,4.3-2.6,7.9-6.4,9.5"/>
          <path class="st1" d="M67.8,74.3C72.8,78,76,84,76,90.7c0,6.4-3,12.2-7.6,15.9"/>
          <path class="st1" d="M77.5,64.6c6.7,6.7,10.8,15.9,10.8,26c0,10-4,19.1-10.5,25.7"/>
        </g>
        </svg>
        <p class='dealers-becoming-a-dealer-h4'>позвонить <br> нам</p>
      </div>
      <div class="dealers-becoming-a-dealer-icons__item">
        <svg version="1.1"  class="dealers-becoming-a-dealer-icons__item__svg" id="dealers-become-a-dealer-svg-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 155 170" style="enable-background:new 0 0 198 170;" xml:space="preserve">
        <style type="text/css">
          .dealers-becoming-a-dealer-icons__item__svg .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          .dealers-becoming-a-dealer-icons__item__svg .st1{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
        <g>
          <polyline class="st0" points="105.7,130.7 105.7,153.5 4,153.5 4,16.2 105.7,16.2 105.7,50.7  "/>
          <circle class="st0" cx="54.8" cy="53.5" r="26.8"/>
          <line class="st0" x1="32" y1="95" x2="77.8" y2="95"/>
          <line class="st0" x1="32" y1="110.9" x2="77.8" y2="110.9"/>
          <line class="st0" x1="32" y1="128.9" x2="77.8" y2="128.9"/>
          <line class="st0" x1="54.6" y1="143.6" x2="77.8" y2="143.6"/>
          <line class="st0" x1="13.4" y1="95" x2="17.6" y2="95"/>
          <line class="st0" x1="13.4" y1="110.9" x2="17.6" y2="110.9"/>
          <line class="st0" x1="13.4" y1="128.9" x2="17.6" y2="128.9"/>
          <circle class="st0" cx="54.8" cy="50.7" r="10.5"/>
          <path class="st0" d="M34.5,71c0-5.5,9.1-9.9,20.3-9.9s20.3,4.4,20.3,9.9"/>
          <path class="st1" d="M84.8,127.9L84.8,127.9l1.6-24L124,39.5c3-5.1,9.6-6.8,14.7-3.9l0,0c5.1,3,6.8,9.6,3.9,14.7l-37.6,64.4
            L84.8,127.9z"/>
          <line class="st1" x1="86.3" y1="103.9" x2="104.9" y2="114.7"/>
          <line class="st1" x1="123.1" y1="41" x2="141.7" y2="51.8"/>
        </g>
        </svg>
        <p class='dealers-becoming-a-dealer-h4'>заполнить <br> анкету</p>
      </div>
      <div class="dealers-becoming-a-dealer-icons__item">
        <svg version="1.1"  class="dealers-becoming-a-dealer-icons__item__svg" id="dealers-become-a-dealer-svg-3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 115 170" style="enable-background:new 0 0 198 170;" xml:space="preserve">
        <style type="text/css">
          .dealers-becoming-a-dealer-icons__item__svg .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          .dealers-becoming-a-dealer-icons__item__svg .st1{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
        <g>
          <polyline class="st0" points="54.9,145.2 4,145.2 4,7.9 105.7,7.9 105.7,145.2 84.4,145.2   "/>
          <g>
            <path class="st1" d="M97.8,107.3c0,2.3-6.2,3.7-6.7,5.7c-0.6,2.1,4.1,6.5,3,8.3c-1.1,1.9-7.2,0-8.7,1.6c-1.5,1.5,0.3,7.6-1.6,8.7
              c-1.9,1.1-6.2-3.6-8.3-3c-2.1,0.6-3.5,6.7-5.7,6.7c-2.3,0-3.7-6.2-5.7-6.7c-2.1-0.6-6.5,4.1-8.3,3c-1.9-1.1,0-7.2-1.6-8.7
              c-1.5-1.5-7.6,0.3-8.7-1.6c-1.1-1.9,3.6-6.2,3-8.3c-0.6-2.1-6.7-3.5-6.7-5.7c0-2.3,6.2-3.7,6.7-5.7c0.6-2.1-4.1-6.5-3-8.3
              c1.1-1.9,7.2,0,8.7-1.6c1.5-1.5-0.3-7.6,1.6-8.7c1.9-1.1,6.2,3.6,8.3,3c2.1-0.6,3.5-6.7,5.7-6.7c2.3,0,3.7,6.2,5.7,6.7
              c2.1,0.6,6.5-4.1,8.3-3c1.9,1.1,0,7.2,1.6,8.7c1.5,1.5,7.6-0.3,8.7,1.6c1.1,1.9-3.6,6.2-3,8.3C91.7,103.7,97.8,105.1,97.8,107.3z"
              />
          </g>
          <polyline class="st1" points="84.4,129.7 84.4,161.9 69.7,154 55,161.9 55,129.7  "/>
          <line class="st0" x1="18.1" y1="36.4" x2="63.3" y2="36.4"/>
          <line class="st0" x1="18.1" y1="52.8" x2="92.4" y2="52.8"/>
          <line class="st0" x1="18.1" y1="69.2" x2="92.4" y2="69.2"/>
        </g>
        </svg>
        <p class='dealers-becoming-a-dealer-h4'>заключить <br> договор</p>
      </div>
      <div class="dealers-becoming-a-dealer-icons__item">
        <svg version="1.1" class="dealers-becoming-a-dealer-icons__item__svg" id="dealers-become-a-dealer-svg-4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 198 170" style="enable-background:new 0 0 198 170;" xml:space="preserve">
        <style type="text/css">
          .dealers-becoming-a-dealer-icons__item__svg .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          .dealers-becoming-a-dealer-icons__item__svg .st1{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
        <g>
          <polyline class="st0" points="44.2,41.3 111.3,17.1 119.4,39.4   "/>

            <rect x="75.4" y="28.3" transform="matrix(0.9399 -0.3415 0.3415 0.9399 -6.0188 30.0017)" class="st0" width="13.6" height="7.6"/>

            <rect x="83.6" y="50.8" transform="matrix(0.9399 -0.3415 0.3415 0.9399 -13.2067 34.1431)" class="st0" width="13.6" height="7.6"/>
          <polyline class="st0" points="52.4,64 119.5,39.6 147.3,116.1  "/>
          <path class="st1" d="M77.2,131.8L32.5,8.9l0,0c-1.2-3.4-5-5.2-8.5-4l0,0L4,12.2"/>
          <line class="st1" x1="153.1" y1="114.3" x2="88.9" y2="137.6"/>

            <ellipse transform="matrix(0.9399 -0.3415 0.3415 0.9399 -46.1563 35.0564)" class="st1" cx="76.5" cy="148.6" rx="16.5" ry="16.5"/>
          <ellipse transform="matrix(0.9399 -0.3415 0.3415 0.9399 -46.1563 35.0564)" class="st1" cx="76.5" cy="148.6" rx="5" ry="5"/>
        </g>
        </svg>
        <p class='dealers-becoming-a-dealer-h4'>получить <br> полный <br>набор дилера</p>
      </div>
      <div class="dealers-becoming-a-dealer-icons__item">
        <svg version="1.1"  class="dealers-becoming-a-dealer-icons__item__svg" id="dealers-become-a-dealer-svg-5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 198 170" style="enable-background:new 0 0 198 170;" xml:space="preserve">
        <style type="text/css">
          .dealers-becoming-a-dealer-icons__item__svg .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          .dealers-becoming-a-dealer-icons__item__svg .st1{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
        <g>
          <rect x="102.7" y="13.2" class="st0" width="51.6" height="36.1"/>
          <rect x="69.1" y="24.7" class="st0" width="33.6" height="24.5"/>
          <path class="st1" d="M39.6,49.3H169c2.2,0,3.9,2.1,3.4,4.2l-11.9,54.6c-1,4.5-5,7.8-9.7,7.8H47.6L35.2,16.8
            C34.3,9.3,27.9,3.7,20.4,3.7H4"/>
          <path class="st1" d="M67.1,115.9H48.8c-6.2,0-11.3,5-11.3,11.3v0c0,6.2,5,11.3,11.3,11.3h87.4"/>
          <line class="st1" x1="70.6" y1="70.8" x2="70.6" y2="93.9"/>
          <line class="st1" x1="138.8" y1="70.8" x2="138.8" y2="93.9"/>
          <line class="st1" x1="104.7" y1="70.8" x2="104.7" y2="93.9"/>
          <circle class="st1" cx="67.4" cy="152.3" r="13.8"/>
          <circle class="st1" cx="136.5" cy="152.3" r="13.8"/>
        </g>
        </svg>
        <p class='dealers-becoming-a-dealer-h4'>сделать <br> закупку</p>
      </div>
      <div class="dealers-becoming-a-dealer-icons__item">
        <svg version="1.1" class="dealers-becoming-a-dealer-icons__item__svg" id="dealers-become-a-dealer-svg-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 198 170" style="enable-background:new 0 0 198 170;" xml:space="preserve">
        <style type="text/css">
          .dealers-becoming-a-dealer-icons__item__svg .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          .dealers-becoming-a-dealer-icons__item__svg .st1{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
        <g>
          <path class="st0" d="M23.5,158.7H16c-6.6,0-12-5.4-12-12v-41c0-6.6,5.4-12,12-12h7.5c6.6,0,12,5.4,12,12v41
            C35.5,153.3,30.1,158.7,23.5,158.7z"/>
          <polyline class="st1" points="141.7,114 141.7,157.3 109.2,157.3   "/>
          <polyline class="st1" points="68,103.3 68,11 141.7,11 141.7,64.5  "/>
          <path class="st1" d="M118.6,61.8H92.1V38.3h26.5c6.5,0,11.8,5.3,11.8,11.8v0C130.4,56.6,125.1,61.8,118.6,61.8z"/>
          <line class="st1" x1="92.1" y1="45.5" x2="92.1" y2="95.7"/>
          <line class="st1" x1="81.7" y1="76.2" x2="102.1" y2="76.2"/>
          <line class="st1" x1="81.7" y1="61.8" x2="102.1" y2="61.8"/>
          <line class="st0" x1="52.6" y1="88.2" x2="35.5" y2="103.3"/>
          <polyline class="st1" points="56.8,103.3 37.7,31.3 68,23.3  "/>
          <path class="st0" d="M56.6,103.3H116c3.7,0,6.8,3,6.8,6.8v0c0,3.7-3,6.8-6.8,6.8H82.2"/>
          <path class="st0" d="M80.9,116.9h45c3.7,0,6.8,3,6.8,6.8v0c0,3.7-3,6.8-6.8,6.8h-45"/>
          <path class="st0" d="M80.9,130.4h37.5c3.7,0,6.8,3,6.8,6.8v0c0,3.7-3,6.8-6.8,6.8H80.9"/>
          <path class="st0" d="M80.9,144h26.3c3.7,0,6.8,3,6.8,6.8v0c0,3.7-3,6.8-6.8,6.8H94.1H52.2c-4.3,0-8.5-1.7-11.5-4.8l-5.2-5.2"/>
          <circle class="st1" cx="162" cy="89.5" r="31.5"/>
          <path class="st1" d="M170.8,89.5h-14.8V76.3h14.8c3.6,0,6.6,3,6.6,6.6v0C177.4,86.5,174.4,89.5,170.8,89.5z"/>
          <line class="st1" x1="155.9" y1="80.3" x2="155.9" y2="108.5"/>
          <line class="st1" x1="150.1" y1="97.5" x2="161.5" y2="97.5"/>
          <line class="st1" x1="150.1" y1="89.5" x2="161.5" y2="89.5"/>
        </g>
        </svg>
        <p class='dealers-becoming-a-dealer-h4'>начать <br> зарабатывать</p>
      </div>
    </div>
    <p>отправить заявку</p>
    <form action="{{contents.customer_messages.public_submission_url}}" method="POST" data-goal="order" enctype="multipart/form-data" onsubmit="yaCounter32144179.reachGoal('mailform'); ga('send', 'event', 'ФормаЗвонка', 'Отправить'); return true;" class="dealers-form js-form-dealer-yellow">
      {% csrf_param %}
      <input type="hidden" name="content[name]" value="Стать дилером">
      <div class="dealers-form-container">
        <div class="dealers-form-tel">
          <div class="form-input-validation-error__popup">Пожалуйста, заполните это поле</div>
          <input type="tel" placeholder="Номер телефона"  name="content[phone]">
        </div>
        <div class="dealers-form-email">
          <div class="form-input-validation-error__popup">Пожалуйста, заполните это поле</div>
          <input type="email" placeholder="Email" name="content[email]">
        </div>
        <div class="dealers-form-submit">
          <input type="submit" placeholder="Стать дилером" value='cтать дилером'>
        </div>
        <label class="dealers-form__checkbox">
          <input type="checkbox" checked />
          <span>Я соглашаюсь с политикой конфеденциальности</span>
          <span class="form-input-validation-error__checkbox-popup">Вам необходимо согласиться с политикой конфиденциальности чтобы продолжить</span>
        </label>
      </div>
    </form>
  </div>
</section>

{% endblock %}
{% block 'pagescripts' %}
  {{ 'jquery-ui-tabs.min.js' | javascript_tag }}
  {{ 'magnific-popup.min.js'| javascript_tag }}
  {{ 'jquery-ui.slider.accordion.min.js'| javascript_tag }}
  {{ 'jquery.ui.touch-punch.min.js'| javascript_tag }}
  {{ '//cdn.jsdelivr.net/npm/walkway.js/src/walkway.min.js'| javascript_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js' | javascript_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js'| javascript_tag }}
  {{ 'dealers.js'| javascript_tag }}

  <script>$(() => {
  $('.fbt-ab-products').slick({
    slidesToShow: 4,
    infinite: false,
    draggable: false,
    arrows: true,
    prevArrow: $('.fbt-ab-arrow-prev'),
    nextArrow: $('.fbt-ab-arrow-next'),
    dots: false,
    responsive: [
      {
        breakpoint: 768,
        settings: {
          draggable: true,
          slidesToShow: 2
        }
      }
    ]
    });
    $('.pc-pic-slider-mobile').slick({
      arrows: false,
      dots: true,
      draggable: true
    });
  })
</script>

{% endblock %}
{% block 'pagestyles' %}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" | stylesheet_tag}}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" | stylesheet_tag}}
{{ "jquery-ui.min.css" | stylesheet_tag}}
{% endblock %}
