---
title: "Доставка"
slug: delivery
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 28
seo_title: "Информация об оплате и доставке | Интернет-магазин спортивного оборудования
  Sportmen"
meta_description: "Компания SPORTMEN осуществляет доставку заказов по всему миру транспортными
  компаниями.  При отправлениях по России скидка 5% от суммы заказа!"
---
{% extends 'parent' %}

{% block 'main' %}
<div class="common-container">
  <div class="breadcrumbs breadcrumbs-black pc-breadcrumbs">
    <span class="breadcrumbs-item">
      <a href="/">SPORTMEN.RU</a>
    </span>    
    <span class="breadcrumbs-item">
      О нас
    </span>
    <span class="breadcrumbs-item">
      <a href="/delivery">Доставка и оплата</a>
    </span>
  </div>
</div>
<section class="common-section delivery-section">
  <div class="shadow">
    <div class="shadow-text">Покупка оборудования</div>
  </div>
  <div class="common-container">
    <p class="common-section-title">Покупка оборудования</p>
  </div>
  <div class="common-container">
    <div class="delivery-landing-icons">
      <ul class="delivery-landing-icons__list">
        <li class="delivery-landing-icons__list_item">
          <svg class="delivery-landing-icons__list_item_svg" version="1.1" id="delivery-landing-svg-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            	 viewBox="0 0 134 170" style="enable-background:new 0 0 94 170;" xml:space="preserve">
            <style type="text/css">
            	#delivery-landing-svg-1 .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
            	#delivery-landing-svg-1 .st1{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
            </style>
            <g>
            	<g>
            		<path class="st0" d="M22.1,84.8c0.3-11.3,2-18.8,3.5-23.3c1.1-3.2,4.4-5.2,7.7-4.7l7.1,1c4,0.6,7.7-2,8.6-6l5.2-24.1
            			c0.9-4.1-1.7-8.2-5.8-9.1l-8.6-1.9c-6.1-1.4-12.6,0.2-17.3,4.3C14.3,28.4,4.5,45.4,4,84.8"/>
            		<path class="st0" d="M22.1,84.8c0.3,11.3,2,18.8,3.5,23.3c1.1,3.2,4.4,5.2,7.7,4.7l7.1-1c4-0.6,7.7,2,8.6,6l5.2,24.1
            			c0.9,4.1-1.7,8.2-5.8,9.1l-8.6,1.9c-6.1,1.4-12.6-0.2-17.3-4.3c-8.2-7.3-18-24.3-18.5-63.7"/>
            	</g>
            	<path class="st1" d="M54.6,80.9c4.2,1.3,7.2,5.2,7.2,9.7c0,4.3-2.6,7.9-6.4,9.5"/>
            	<path class="st1" d="M67.8,74.3C72.8,78,76,84,76,90.7c0,6.4-3,12.2-7.6,15.9"/>
            	<path class="st1" d="M77.5,64.6c6.7,6.7,10.8,15.9,10.8,26c0,10-4,19.1-10.5,25.7"/>
            </g>
            </svg>
          <p class="delivery-landing-icons__list_item_text">ПОЗВОНИТе <br> НАМ</p>
        </li>
        <li class="delivery-landing-icons__list_item">
          <svg class="delivery-landing-icons__list_item_svg delivery-landing-icons__list_item_shorter-svg" version="1.1" id="delivery-landing-svg-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 182 170" style="enable-background:new 0 0 182 170;" xml:space="preserve">
          <style type="text/css">
          	#delivery-landing-svg-2 .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          	#delivery-landing-svg-2 .st1{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          </style>
          <g>
          	<rect x="102.7" y="13.2" class="st0" width="51.6" height="36.1"/>
          	<rect x="69.1" y="24.7" class="st0" width="33.6" height="24.5"/>
          	<path class="st1" d="M39.6,49.3H169c2.2,0,3.9,2.1,3.4,4.2l-11.9,54.6c-1,4.5-5,7.8-9.7,7.8H47.6L35.2,16.8
          		C34.3,9.3,27.9,3.7,20.4,3.7H4"/>
          	<path class="st1" d="M67.1,115.9H48.8c-6.2,0-11.3,5-11.3,11.3l0,0c0,6.2,5,11.3,11.3,11.3h87.4"/>
          	<line class="st1" x1="70.6" y1="70.8" x2="70.6" y2="93.9"/>
          	<line class="st1" x1="138.8" y1="70.8" x2="138.8" y2="93.9"/>
          	<line class="st1" x1="104.7" y1="70.8" x2="104.7" y2="93.9"/>
          	<circle class="st1" cx="67.4" cy="152.3" r="13.8"/>
          	<circle class="st1" cx="136.5" cy="152.3" r="13.8"/>
          </g>
          </svg>
          <p class="delivery-landing-icons__list_item_text">сделайте <br> заказ</p>
        </li>
        <li class="delivery-landing-icons__list_item">
          <svg class="delivery-landing-icons__list_item_svg delivery-landing-icons__list_item_shorter-svg" version="1.1" id="delivery-landing-svg-3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 146.7 156.3" style="enable-background:new 0 0 146.7 156.3;" xml:space="preserve">
          <style type="text/css">
          	#delivery-landing-svg-3 .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          	#delivery-landing-svg-3 .st1{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          </style>
          <g>
          	<path class="st1" d="M23,153.8h-7.5c-6.6,0-12-5.4-12-12v-41c0-6.6,5.4-12,12-12H23c6.6,0,12,5.4,12,12v41
          		C35,148.4,29.6,153.8,23,153.8z"/>
          	<polyline class="st0" points="67.4,98.4 67.4,6.1 141.2,6.1 141.2,152.4 108.7,152.4 	"/>
          	<path class="st0" d="M118.1,56.9H91.6V33.4h26.5c6.5,0,11.8,5.3,11.8,11.8v0C129.8,51.6,124.5,56.9,118.1,56.9z"/>
          	<line class="st0" x1="91.6" y1="40.6" x2="91.6" y2="90.8"/>
          	<line class="st0" x1="81.2" y1="71.3" x2="101.5" y2="71.3"/>
          	<line class="st0" x1="81.2" y1="56.9" x2="101.5" y2="56.9"/>
          	<line class="st1" x1="52.1" y1="83.2" x2="35" y2="98.4"/>
          	<polyline class="st0" points="56.3,98.4 37.1,26.4 67.5,18.3 	"/>
          	<path class="st1" d="M56.1,98.4h59.4c3.7,0,6.8,3,6.8,6.8v0c0,3.7-3,6.8-6.8,6.8H81.7"/>
          	<path class="st1" d="M80.4,111.9h45c3.7,0,6.8,3,6.8,6.8v0c0,3.7-3,6.8-6.8,6.8h-45"/>
          	<path class="st1" d="M80.4,125.5h37.5c3.7,0,6.8,3,6.8,6.8v0c0,3.7-3,6.8-6.8,6.8H80.4"/>
          	<path class="st1" d="M80.4,139h26.3c3.7,0,6.8,3,6.8,6.8l0,0c0,3.7-3,6.8-6.8,6.8H93.6H51.7c-4.3,0-8.5-1.7-11.5-4.8l-5.2-5.2"/>
          </g>
          </svg>
          <p class="delivery-landing-icons__list_item_text">произведите <br> оплату</p>
        </li>
        <li class="delivery-landing-icons__list_item">
          <svg class="delivery-landing-icons__list_item_svg delivery-landing-icons__list_item_shorter-svg" version="1.1" id="delivery-landing-svg-4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 159 170" style="enable-background:new 0 0 159 170;" xml:space="preserve">
          <style type="text/css">
          	#delivery-landing-svg-4 .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          	#delivery-landing-svg-4 .st1{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          </style>
          <g>
          	<polyline class="st0" points="44.2,41.3 111.3,17.1 119.4,39.4 	"/>

          		<rect x="75.4" y="28.3" transform="matrix(0.9399 -0.3415 0.3415 0.9399 -6.0206 30.0017)" class="st0" width="13.6" height="7.6"/>

          		<rect x="83.6" y="50.8" transform="matrix(0.9399 -0.3415 0.3415 0.9399 -13.2073 34.1549)" class="st0" width="13.6" height="7.6"/>
          	<polyline class="st0" points="52.4,64 119.5,39.6 147.3,116.1 	"/>
          	<path class="st1" d="M77.2,131.8L32.5,8.9l0,0c-1.2-3.4-5-5.2-8.5-4l0,0L4,12.2"/>
          	<line class="st1" x1="153.1" y1="114.3" x2="88.9" y2="137.6"/>

          		<ellipse transform="matrix(0.9399 -0.3415 0.3415 0.9399 -46.1478 35.0552)" class="st1" cx="76.5" cy="148.6" rx="16.5" ry="16.5"/>
          	<ellipse transform="matrix(0.9399 -0.3415 0.3415 0.9399 -46.1478 35.0552)" class="st1" cx="76.5" cy="148.6" rx="5" ry="5"/>
          </g>
          </svg>
          <p class="delivery-landing-icons__list_item_text">изготовление <br> и отгрузка</p>
        </li>
        <li class="delivery-landing-icons__list_item">
          <svg class="delivery-landing-icons__list_item_svg" version="1.1" id="delivery-landing-svg-5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 171 163" style="enable-background:new 0 0 171 163;" xml:space="preserve">
          <style type="text/css">
          	#delivery-landing-svg-5 .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          	#delivery-landing-svg-5 .st1{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          </style>
          <g>
          	<polygon class="st0" points="150,105.8 118.5,105.8 118.5,74.3 135.9,74.3 150,86.8 	"/>
          	<circle class="st0" cx="40" cy="145.3" r="14.5"/>
          	<circle class="st0" cx="134" cy="145.3" r="14.5"/>
          	<g>
          		<polyline class="st1" points="60.2,137.3 101,137.3 101,36.3 4,36.3 4,137.3 19.8,137.3 		"/>
          		<polyline class="st1" points="154.2,137.3 166.5,137.3 166.5,77.8 140,56.3 101.5,56.3 101.5,137.3 113.8,137.3 		"/>
          	</g>
          </g>
          </svg>
          <p class="delivery-landing-icons__list_item_text">доставка товара</p>
        </li>
        <li class="delivery-landing-icons__list_item">
          <svg class="delivery-landing-icons__list_item_svg"  version="1.1" id="delivery-landing-svg-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 199.3 171.8" style="enable-background:new 0 0 199.3 171.8;" xml:space="preserve">
          <style type="text/css">
          	#delivery-landing-svg-6 .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          	#delivery-landing-svg-6 .st1{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          </style>
          <g>

          		<rect x="93.9" y="116.4" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -51.8538 116.2289)" class="st0" width="41" height="8.7"/>

          		<rect x="123.5" y="117.2" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -59.7167 135.1787)" class="st0" width="19.7" height="45"/>
          	<g>
          		<line class="st0" x1="78.2" y1="77.1" x2="45" y2="43.9"/>
          		<polyline class="st0" points="85.6,99.6 107.5,121.5 115,113.9 93.1,92 		"/>
          		<line class="st0" x1="37.4" y1="51.4" x2="71" y2="84.9"/>
          		<polyline class="st0" points="45,43.9 43.2,33 26.2,24.6 21.9,29 17.5,33.3 26.5,49.6 37.4,51.4 		"/>
          	</g>
          	<path class="st1" d="M59.1,126.1l5.7-5.7l0,0l52.5-52.5c9.9,4.2,21.8,2.2,29.9-5.9c10-10,10.6-25.7,2-36.4L141.8,42
          		c-2.7,6-9.9,8.7-15.9,6l-2.4-1.1c-6-2.7-8.7-9.9-6-15.9l7-15.3c-5.8,0.7-11.4,3.3-15.9,7.8c-8.1,8.1-10,20-5.9,29.9L97,58.9l0,0
          		l-52.5,52.5c-9.9-4.2-21.8-2.2-29.9,5.9C4.4,127.5,4,143.9,13.4,154.6l8.8-19.4c2.7-6,9.9-8.7,15.9-6l2.4,1.1c6,2.7,8.7,9.9,6,15.9
          		l-7.8,17.3c5.4-0.9,10.5-3.5,14.7-7.6C61.3,147.9,63.2,136,59.1,126.1z"/>
          </g>
          </svg>
          <p class="delivery-landing-icons__list_item_text">сборка и монтаж</p>
        </li>
        <li class="delivery-landing-icons__list_item">
          <svg class="delivery-landing-icons__list_item_svg" version="1.1" id="delivery-landing-svg-7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 200 160" style="enable-background:new 0 0 200 160;" xml:space="preserve">
          <style type="text/css">
          	#delivery-landing-svg-7 .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          	#delivery-landing-svg-7 .st1{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          </style>
          <g>
          	<g>
          		<line class="st0" x1="23.5" y1="18.9" x2="94.9" y2="18.9"/>
          		<line class="st0" x1="23.5" y1="36.5" x2="94.9" y2="36.5"/>
          		<line class="st0" x1="23.5" y1="54" x2="94.9" y2="54"/>
          		<line class="st0" x1="23.5" y1="71.6" x2="94.9" y2="71.6"/>
          		<line class="st0" x1="23.5" y1="89.2" x2="94.9" y2="89.2"/>
          		<line class="st0" x1="23.5" y1="106.8" x2="94.9" y2="106.8"/>
          		<line class="st0" x1="23.5" y1="124.3" x2="94.9" y2="124.3"/>
          		<line class="st0" x1="23.5" y1="141.9" x2="94.9" y2="141.9"/>
          	</g>
          	<line class="st0" x1="105" y1="54.3" x2="176.5" y2="54.3"/>
          	<g>
          		<path class="st1" d="M16.8,155.6h3c1.9,0,3.4-1.5,3.4-3.4V8.9c0-1.9-1.5-3.4-3.4-3.4h-3c-1.9,0-3.4,1.5-3.4,3.4v143.4
          			C13.4,154.1,14.9,155.6,16.8,155.6z"/>
          		<path class="st1" d="M98.3,155.6h3c1.9,0,3.4-1.5,3.4-3.4V8.9c0-1.9-1.5-3.4-3.4-3.4h-3c-1.9,0-3.4,1.5-3.4,3.4v143.4
          			C94.9,154.1,96.4,155.6,98.3,155.6z"/>
          		<path class="st1" d="M179.9,155.6h3c1.9,0,3.4-1.2,3.4-2.5V46.3c0-1.4-1.5-2.5-3.4-2.5h-3c-1.9,0-3.4,1.2-3.4,2.5v106.8
          			C176.5,154.5,178,155.6,179.9,155.6z"/>
          	</g>
          	<line class="st0" x1="4" y1="156" x2="32.9" y2="156"/>
          	<line class="st0" x1="85.5" y1="156" x2="114.4" y2="156"/>
          	<line class="st0" x1="167.1" y1="156" x2="195.9" y2="156"/>
          </g>
          </svg>
          <p class="delivery-landing-icons__list_item_text">оборудование у вас готово к эксплуотации</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="common-container">
    <div class="grey-quote">
      <div class="grey-quote__image">
        <img src="{{'about-us-delivery/5.jpg' | theme_image_url }}" alt="">
      </div>
      <div class="grey-quote__content">
        <p class="grey-quote__content_name">юлия серова</p>
        <p class="grey-quote__content_title">менеджер по работе с клиентами</p>
        <p class="grey-quote__content_text">
          <span>"</span>Я сопровождаю клиента на всех этапах сделки: от первого обращения и получения оплаты, до выполнения заказа и последующего сопровождения. Моя задача, чтобы клиент на протяжении всего сотрудничества с нами был доволен.<span>"</span>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="common-section delivery-section">
  <div class="shadow">
    <div class="shadow-text">доставка</div>
  </div>
  <div class="delivery-map">
    <div class="common-container">
      <h1 class="common-section-title delivery-map-title">Доставка по всей россии и странам снг</h1>
      <ul class="delivery-map__list">
        <p class="delivery-map__list_subtitle">Мы организуем доставку по всему миру транспортными компаниями:</p>
        <li class="delivery-map__list_item">
          <span>Белгород</span>
          <p>Бесплатно</p>
        </li>
        <li class="delivery-map__list_item">
          <span>Страны СНГ, Россия, Другие страны</span>
          <p>Компенсируем расходы на доставку скидкой 5% от стоимости оборудования</p>
        </li>
        <li class="delivery-map__list_item delivery-map__list_item_last-p">
          <p>Стоимость доставки клиент оплачивает <span>ПРИ ПОЛУЧЕНИИ</span> груза транспортной компанией!</p>
        </li>
      </ul>
    </div>
    <!-- <img src="{{'about-us-delivery/mapa.png' | theme_image_url }}" alt="" class="delivery-map__image"> -->
  </div>
</section>

<section class="common-section delivery-section">
  <div class="common-container">
    <p class="common-section-title">Способы доставки</p>
    <div class="delivery-types">
      <ul class="delivery-types__list">
        <li class="delivery-types__list_item">
          <svg class="delivery-types__list_item_svg" version="1.1" id="delivery-types-svg-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 171 176.7" style="enable-background:new 0 0 171 176.7;" xml:space="preserve">
          <style type="text/css">
          	#delivery-types-svg-1 .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          	#delivery-types-svg-1 .st1{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          </style>
          <g>
          	<path class="st0" d="M27.2,75.7H14.9c-2.3,0-4,2-3.8,4.3l2.5,19.2l15.3-8.6l2-10.4C31.3,77.9,29.6,75.7,27.2,75.7z"/>
          	<path class="st0" d="M141.1,75.7h12.3c2.3,0,4,2,3.8,4.3l-2.5,19.2l-15.3-8.6l-2-10.4C136.9,77.9,138.7,75.7,141.1,75.7z"/>
          	<path class="st0" d="M92.2,31.9l-3.7-2.8c-2.6-1.9-6.1-1.9-8.7,0L76,31.9"/>
          	<line class="st0" x1="71.6" y1="157.5" x2="96.3" y2="157.5"/>
          	<path class="st1" d="M84.1,173.9h6.4c1.8,0,3.3-1.3,3.6-3l5.3-28.6c0-0.2,0.1-0.4,0.1-0.7V36.7c0-2.4-0.4-4.7-1.1-7l-5-16
          		c-2.8-9.2-15.8-9.2-18.7,0l-5,16c-0.7,2.3-1.1,4.6-1.1,7v104.9c0,0.2,0,0.4,0.1,0.7l5.3,28.6c0.3,1.7,1.8,3,3.6,3L84.1,173.9
          		L84.1,173.9z"/>
          	<path class="st1" d="M68.7,68.8L5,103.9c-1.1,0.6-1.7,1.7-1.7,3v12.2c0,2.2,2.1,3.8,4.2,3.3l61.3-16.1V68.8H68.7z"/>
          	<path class="st1" d="M99.5,68.8l63.7,35.1c1.1,0.6,1.7,1.7,1.7,3v12.2c0,2.2-2.1,3.8-4.2,3.3l-61.3-16.1V68.8H99.5z"/>
          	<path class="st1" d="M69.5,146.2l-28.1,14.5c-0.7,0.4-1.1,1.1-1.1,1.8v9c0,1.2,1.1,2.2,2.3,2l31.1-4.2"/>
          	<path class="st1" d="M99.8,146.2l28.1,14.5c0.7,0.4,1.1,1.1,1.1,1.8v9c0,1.2-1.1,2.2-2.3,2l-31.1-4.2"/>
          </g>
          </svg>
          <p class="delivery-types__list_item_title">САМОЛЕТОМ</p>
          <p class="delivery-types__list_item_text">Надежность перевозки больших объемов груза</p>
        </li>
        <li class="delivery-types__list_item">
          <svg class="delivery-types__list_item_svg"  version="1.1" id="delivery-types-svg-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 142 176.7" style="enable-background:new 0 0 142 176.7;" xml:space="preserve">
          <style type="text/css">
          	#delivery-types-svg-2 .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          	#delivery-types-svg-2 .st1{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          </style>
          <g>
          	<path class="st0" d="M28.1,143.9L3.7,170.6c-1,1-0.2,2.7,1.2,2.7h18.9c0.5,0,1-0.3,1.3-0.7L45,143.4"/>
          	<path class="st0" d="M110.7,143.9l24.4,26.7c1,1,0.2,2.7-1.2,2.7H115c-0.5,0-1-0.3-1.3-0.7l-19.9-29.3"/>
          	<line class="st0" x1="37.9" y1="154.7" x2="100.6" y2="154.7"/>
          	<line class="st0" x1="30.3" y1="166.1" x2="109.2" y2="166.1"/>
          	<path class="st1" d="M115.8,143.4H19.9c-6.4,0-11.6-5.2-11.6-11.6V32.6c0-8.9,6.5-16.4,15.3-17.7l9.4-1.4c23-3.4,46.3-3.4,69.2,0
          		l9.9,1.4c8.8,1.3,15.3,8.8,15.3,17.7v99.1C127.4,138.2,122.2,143.4,115.8,143.4z"/>
          	<circle class="st1" cx="30.3" cy="118" r="11.5"/>
          	<circle class="st1" cx="104.6" cy="118" r="11.5"/>
          	<line class="st1" x1="54.1" y1="111" x2="80.7" y2="111"/>
          	<line class="st1" x1="54.1" y1="22.5" x2="80.7" y2="22.5"/>
          	<line class="st1" x1="54.1" y1="123.1" x2="80.7" y2="123.1"/>
          	<path class="st1" d="M111.9,91.4H24.4c-1.9,0-3.5-1.6-3.5-3.5V39.6c0-1.9,1.6-3.5,3.5-3.5h87.5c1.9,0,3.5,1.6,3.5,3.5v48.3
          		C115.4,89.8,113.8,91.4,111.9,91.4z"/>
          	<line class="st1" x1="68.2" y1="91.4" x2="68.2" y2="36.1"/>
          </g>
          </svg>
          <p class="delivery-types__list_item_title">ПОЕЗДОМ</p>
          <p class="delivery-types__list_item_text">Надежность перевозки больших объемов груза</p>
        </li>
        <li class="delivery-types__list_item">
          <svg class="delivery-types__list_item_svg" version="1.1" id="delivery-types-svg-3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 178 176.7" style="enable-background:new 0 0 178 176.7;" xml:space="preserve">
          <style type="text/css">
          	#delivery-types-svg-3 .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          	#delivery-types-svg-3 .st1{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          </style>
          <g>
          	<polyline class="st0" points="58.8,134 58.8,112.8 104.6,112.8 	"/>
          	<polyline class="st0" points="104.6,112.8 27.9,112.8 27.9,102.2 104.6,102.2 	"/>
          	<polyline class="st0" points="13.1,134 13.1,112.8 58.8,112.8 58.8,134 	"/>
          	<g>
          		<path class="st1" d="M149.5,118.3h-22.4c-2.8,0-5-2.2-5-5V90.9c0-2.8,2.2-5,5-5h11c1.2,0,2.4,0.5,3.3,1.3l11.4,10.1
          			c1.1,1,1.7,2.3,1.7,3.7v12.3C154.5,116,152.2,118.3,149.5,118.3z"/>
          		<circle class="st0" cx="41.3" cy="158.9" r="14.9"/>
          		<circle class="st0" cx="138" cy="158.9" r="14.9"/>
          		<g>
          			<path class="st1" d="M62.1,150.7h42V134H7.6c-1.8,0-3.3,1.5-3.3,3.3v10c0,1.8,1.5,3.3,3.3,3.3h12.9"/>
          			<path class="st1" d="M158.8,150.7h7c3.1,0,5.6-2.5,5.6-5.6v-53c0-1.7-0.8-3.3-2.1-4.4l-23.6-19.2c-1-0.8-2.2-1.3-3.5-1.3h-34.4
          				c-1.8,0-3.2,1.4-3.2,3.2v80.1h12.6"/>
          		</g>
          	</g>
          </g>
          </svg>
          <p class="delivery-types__list_item_title">АВТО</p>
          <p class="delivery-types__list_item_text">Выгодно перевозить большие объемы грузов или догрузы в сжатые сроки</p>
        </li>
        <li class="delivery-types__list_item">
          <svg class="delivery-types__list_item_svg" version="1.1" id="delivery-types-svg-4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 212 176.7" style="enable-background:new 0 0 212 176.7;" xml:space="preserve">
          <style type="text/css">
          	#delivery-types-svg-4 .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          	#delivery-types-svg-4 .st1{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          </style>
          <g>
          	<circle class="st0" cx="39.1" cy="157" r="16.2"/>
          	<circle class="st0" cx="164.8" cy="157" r="16.2"/>
          	<line class="st0" x1="89.2" y1="129.8" x2="102.1" y2="129.8"/>
          	<line class="st0" x1="191.1" y1="129.8" x2="203.9" y2="129.8"/>
          	<path class="st1" d="M17.9,160.8H4.3v-20.6c0-5.1,2.9-9.9,7.5-12.1c7.8-3.8,22.4-8.6,46.9-8.6c41.3,0,95.7,0,95.7,0l10.4-10.4"/>
          	<line class="st1" x1="60.8" y1="160.8" x2="142.3" y2="160.8"/>
          	<path class="st1" d="M187.3,160.8l12-6.5c3.1-1.7,5-4.9,5-8.5v-22.1c0-2.1-1.6-3.9-3.7-4.2l-14-1.9c-4.6-0.6-9-2.2-12.9-4.7
          		c-8.3-5.2-27.1-14.3-57.6-14.3c-18.9,0-44.2,2.5-61.5,20.8"/>
          	<line class="st1" x1="116.3" y1="98.7" x2="116.3" y2="160.8"/>
          </g>
          </svg>
          <p class="delivery-types__list_item_title">САМОВЫВОЗ</p>
          <p class="delivery-types__list_item_text">Экономный вариант: есть возможность забрать груз с терминала в своем городе самостоятельно.</p>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="common-section delivery-section">
  <div class="shadow">
    <div class="shadow-text">Стоимость доставки</div>
  </div>
  <div class="common-container">
    <p class="common-section-title">Стоимость доставки</p>
    <div class="delivery-price">
      <p class="delivery-price__subtitle">
        Формируется из: <span>габаритов груза + выбора транспортной компании + вашей геопозиции</span>
      </p>
      <ul class="delivery-price__list-1">
        <li class="delivery-price__list-1_you-item">
          <svg class="delivery-price__list-1_you-item_svg" version="1.1" id="delivery-price-svg-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 165.5 227" style="enable-background:new 0 0 165.5 227;" xml:space="preserve">
          <style type="text/css">
          	#delivery-price-svg-1 .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          	#delivery-price-svg-1 .st1{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          </style>
          <g>
          	<path class="st0" d="M44,66.5v20.8c0,22.1,18.1,40.3,40.3,40.3l0,0c22.1,0,40.3-18.1,40.3-40.3V66.5"/>
          	<path class="st0" d="M34,60.6v-5.1c0-26.4,21.6-48,48-48h0c26.4,0,48,21.6,48,48v5.1c0,2.4-1.9,4.4-4.3,4.5
          		c-5.9,0.3-15.7-1.2-15.7-14.6c0-7-28-7-28-7s-28,0-28,7c0,13.3-9.9,14.9-15.7,14.6C35.9,64.9,34,63,34,60.6z"/>
          	<path class="st0" d="M44,90c-6.9,0-12.5-5.6-12.5-12.5v0C31.5,70.6,37.1,65,44,65"/>
          	<path class="st0" d="M125,65L125,65c6.9,0,12.5,5.6,12.5,12.5v0c0,6.9-5.6,12.5-12.5,12.5h0"/>
          	<line class="st0" x1="67" y1="123.5" x2="67" y2="135.5"/>
          	<line class="st0" x1="101" y1="123.5" x2="101" y2="135.5"/>
          	<path class="st1" d="M67.1,137.2l12.4,17.9c1,1.5,0.5,3.6-1.2,4.3l-10,4.4c-1.5,0.7-3.2,0-3.9-1.5l-7.9-18.9
          		c-0.6-1.3,0-2.9,1.2-3.6l5.5-3.3C64.5,135.6,66.2,136,67.1,137.2z"/>
          	<path class="st1" d="M97.2,137.2l-12.4,17.9c-1,1.5-0.5,3.6,1.2,4.3l10,4.4c1.5,0.7,3.2,0,3.9-1.5l7.9-18.9c0.6-1.3,0-2.9-1.2-3.6
          		l-5.5-3.3C99.8,135.6,98.1,136,97.2,137.2z"/>
          	<line class="st1" x1="83" y1="156.5" x2="83" y2="190.5"/>
          	<path class="st1" d="M108.4,140.9l34.1,12.4c2.2,0.8,3.8,2.6,4.3,4.9l12.4,56.1c0.9,4.2-2.3,8.2-6.6,8.2H83h-1H12.4
          		c-4.3,0-7.5-4-6.6-8.2l12.4-56.1c0.5-2.3,2.1-4.1,4.3-4.9l34.1-12.4"/>
          	<line class="st1" x1="36.5" y1="222" x2="36.5" y2="189"/>
          	<line class="st1" x1="131" y1="222.5" x2="131" y2="189.5"/>
          </g>
          </svg>
          <p class="delivery-price__list-1_you-item_text">ВЫ</p>
        </li>
        <li class="delivery-price__list-1_item-1">
          <svg class="delivery-price__list-1_item-1_svg" version="1.1" id="delivery-price-svg-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 119 156.3" style="enable-background:new 0 0 119 156.3;" xml:space="preserve">
          <style type="text/css">
          	#delivery-price-svg-2 .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          	#delivery-price-svg-2 .st1{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          </style>
          <g>
          	<rect x="4" y="5.1" class="st0" width="109.6" height="147.3"/>
          	<g>
          		<line class="st1" x1="24" y1="26.5" x2="95.9" y2="26.5"/>
          		<line class="st1" x1="24.1" y1="89.6" x2="96" y2="89.6"/>
          		<line class="st1" x1="24.2" y1="110.6" x2="96.1" y2="110.6"/>
          		<line class="st1" x1="24.2" y1="131.6" x2="96.1" y2="131.6"/>
          		<rect x="24.5" y="43.4" class="st1" width="71" height="26"/>
          	</g>
          </g>
          </svg>
          <p class="delivery-price__list-1_item-1_counter-text">01</p>
          <p class="delivery-price__list-1_item-1_text">
            Формируете заказ и отправляете его нам, сообщив ограничивающие факторы: цена, сроки, местонахождение, способ доставки, и тд.
          </p>
        </li>
        <li class="delivery-price__list-1_item-2">
          <svg class="delivery-price__list-1_item-2_svg" version="1.1" id="delivery-price-svg-3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 146.7 156.3" style="enable-background:new 0 0 146.7 156.3;" xml:space="preserve">
          <style type="text/css">
          	#delivery-price-svg-3 .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          	#delivery-price-svg-3 .st1{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          </style>
          <g>
          	<path class="st1" d="M23,153.8h-7.5c-6.6,0-12-5.4-12-12v-41c0-6.6,5.4-12,12-12H23c6.6,0,12,5.4,12,12v41
          		C35,148.4,29.6,153.8,23,153.8z"/>
          	<polyline class="st0" points="67.4,98.4 67.4,6.1 141.2,6.1 141.2,152.4 108.7,152.4 	"/>
          	<path class="st0" d="M118.1,56.9H91.6V33.4h26.5c6.5,0,11.8,5.3,11.8,11.8v0C129.8,51.6,124.5,56.9,118.1,56.9z"/>
          	<line class="st0" x1="91.6" y1="40.6" x2="91.6" y2="90.8"/>
          	<line class="st0" x1="81.2" y1="71.3" x2="101.5" y2="71.3"/>
          	<line class="st0" x1="81.2" y1="56.9" x2="101.5" y2="56.9"/>
          	<line class="st1" x1="52.1" y1="83.2" x2="35" y2="98.4"/>
          	<polyline class="st0" points="56.3,98.4 37.1,26.4 67.5,18.3 	"/>
          	<path class="st1" d="M56.1,98.4h59.4c3.7,0,6.8,3,6.8,6.8v0c0,3.7-3,6.8-6.8,6.8H81.7"/>
          	<path class="st1" d="M80.4,111.9h45c3.7,0,6.8,3,6.8,6.8v0c0,3.7-3,6.8-6.8,6.8h-45"/>
          	<path class="st1" d="M80.4,125.5h37.5c3.7,0,6.8,3,6.8,6.8v0c0,3.7-3,6.8-6.8,6.8H80.4"/>
          	<path class="st1" d="M80.4,139h26.3c3.7,0,6.8,3,6.8,6.8l0,0c0,3.7-3,6.8-6.8,6.8H93.6H51.7c-4.3,0-8.5-1.7-11.5-4.8l-5.2-5.2"/>
          </g>
          </svg>
          <p class="delivery-price__list-1_item-2_counter-text">02</p>
          <p class="delivery-price__list-1_item-2_text">
            Оплачиваете доставку при получении заказа
          </p>
        </li>
      </ul>
      <div class="delivery-price__list-2_container">
        <div class="delivery-price__list-2_container_logo">
            <img class="delivery-price__list-2_container_logo_img" src="{{'rd_logo_2_oneline.svg' | theme_image_url }}" alt="">
        </div>
        <ul class="delivery-price__list-2_container_list">
          <li class="delivery-price__list-2_container_list_item">
            <p class="delivery-price__list-2_container_list_item_text">
              Мы просчитываем разную логистику, находим самый доступный вариант по цене. Доставка всегда рассчитывается индивидуально по конкретному заказу.
            </p>
          </li>
          <li class="delivery-price__list-2_container_list_item">
            <p class="delivery-price__list-2_container_list_item_text">
              Мы подбираем самый рациональный вариант и предварительно сообщаем клиенту стоимость, сроки, способ доставки и транспортную компанию, услугами, которой мы будем пользоваться в каждом конктретном случае.
            </p>
          </li>
          <li class="delivery-price__list-2_container_list_item">
            <p class="delivery-price__list-2_container_list_item_text">
              Согласуем с Вами стоимость и сроки доставки <span>SPORTMEN</span>
            </p>
          </li>
          <li class="delivery-price__list-2_container_list_item">
            <p class="delivery-price__list-2_container_list_item_text">
              Сами подаем заявки в транспортную компанию, как отправители и полностью организуем весь процесс
            </p>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>
<section class="yellowbox">
  <div class="common-container">
    <div class="yellowbox-title">
      <p class="yellowbox-title-element">СРОКИ ДОСТАВКИ</p>
    </div>
    <div class="delivery-quote grey-quote yellow-quote">
      <div class="grey-quote__image">
        <img src="{{'about-us-delivery/4.jpg' | theme_image_url }}" alt="">
      </div>
      <div class="grey-quote__content">
        <p class="grey-quote__content_name">гонтаренко марина</p>
        <p class="grey-quote__content_title">менеджер экономист</p>
        <p class="grey-quote__content_text">
          Сроки доставки зависят от объема оборудования, выбора транспортной компании, способа транспортировки и дальности доставки. Обычно это занимает от 2 дней до ...
        </p>
        <p class="grey-quote__content_text">
          Возникли вопросы по доставке? Закажите обратный звонок!
        </p>
      </div>
    </div>
    <div class="delivery-form">
      <form  class="delivery-form_form" action="{{contents.customer_messages.public_submission_url}}"  method="POST" data-goal="order" enctype="multipart/form-data">
        {% csrf_param %}
        <div class="delivery-form__wrapper">
          <div class="delivery-form__wrapper_tel">
            <div class="form-input-validation-error__popup">Пожалуйста, заполните это поле</div>
            <input type="text" placeholder="Номер телефона" name="content[phone]">
          </div>
          <div class="delivery-form__wrapper_submit">
            <button type="submit">Отправить</button>
          </div>
        </div>

        <div class="delivery-form__checkbox">
          <label class="delivery-form__checkbox_label">
            <input checked type="checkbox" />
            <span>Я соглашаюсь с политикой конфеденциальности</span>
            <span class="form-input-validation-error__checkbox-popup">Вам необходимо согласиться с политикой конфиденциальности чтобы продолжить</span>
          </label>
        </div>
      </form>
    </div>

  </div>
</section>

<section class="common-section delivery-section">
  <div class="shadow">
    <div class="shadow-text">Оплата</div>
  </div>
  <div class="common-container">
    <p class="common-section-title">Способы оплаты оборудования</p>
    <div class="delivery-payment">
      <div class="delivery-payment__plastic">
        <div class="delivery-payment__plastic_images">
          <img class="delivery-payment__plastic_images_img" src="{{'about-us-delivery/Mastercard-logo.png' | theme_image_url }}" alt="">
          <img class="delivery-payment__plastic_images_img" src="{{'about-us-delivery/Visa_Logo.png' | theme_image_url }}" alt="">
        </div>
        <p class="delivery-payment__plastic_text">
          Вы можете добавить выбранную позицию в корзину и оплатить с помощью карты <span>VISA, Mastercard</span>
        </p>
      </div>
      <div class="delivery-payment__or">
        или
      </div>
      <div class="delivery-payment__bank">
        <svg class="delivery-payment__bank_svg" version="1.1" id="delivery-payment-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        	 viewBox="0 0 260 247" style="enable-background:new 0 0 260 247;" xml:space="preserve">
        <style type="text/css">
        	#delivery-payment-svg .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        	#delivery-payment-svg .st1{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        	#delivery-payment-svg .st2{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:10;}
        </style>
        <polyline class="st0" points="56,120.7 4.9,45.7 65.8,4.2 81.5,27.1 "/>
        <path class="st0" d="M80.3,51.5c-0.5,3-2.2,5.8-5,7.7L53.4,74.1L40.2,54.7l21.9-14.9c5.3-3.6,12.7-2.2,16.3,3.1l0,0"/>
        <line class="st0" x1="44.2" y1="60.6" x2="72.5" y2="102.1"/>
        <line class="st0" x1="52.9" y1="91.8" x2="69.7" y2="80.4"/>
        <line class="st0" x1="44.9" y1="79.9" x2="61.7" y2="68.5"/>
        <polyline class="st0" points="93,119.9 76.1,29.1 148.7,15.7 152.3,35.5 "/>
        <path class="st0" d="M134.5,70.5l-25.4,4.2l-4.3-23.1l26.1-4.8c2.7-0.5,5.5,0,7.7,1.2"/>
        <line class="st0" x1="106.1" y1="58.6" x2="115.3" y2="108"/>
        <line class="st0" x1="101.6" y1="90.7" x2="121.5" y2="87"/>
        <line class="st0" x1="98.9" y1="76.6" x2="118.9" y2="72.9"/>
        <line class="st0" x1="206.3" y1="87.8" x2="200.3" y2="120.7"/>
        <polyline class="st0" points="125.3,120.7 141.3,33.5 198.2,43.9 "/>
        <path class="st0" d="M182,92.6l-26.1-4.8l4.2-23.1l26.1,4.8c6.4,1.2,10.6,7.3,9.5,13.7v0C194.5,89.5,188.3,93.8,182,92.6z"/>
        <line class="st0" x1="158.8" y1="71.8" x2="149.5" y2="120.5"/>
        <line class="st0" x1="143.1" y1="100.1" x2="163.1" y2="103.7"/>
        <line class="st0" x1="145.7" y1="86" x2="165.7" y2="89.6"/>
        <circle class="st0" cx="225" cy="62" r="31.5"/>
        <path class="st0" d="M233.8,62h-14.8V48.9h14.8c3.6,0,6.6,3,6.6,6.6v0C240.4,59.1,237.4,62,233.8,62z"/>
        <line class="st0" x1="218.9" y1="52.9" x2="218.9" y2="81"/>
        <line class="st0" x1="213.1" y1="70.1" x2="224.5" y2="70.1"/>
        <line class="st0" x1="213.1" y1="62" x2="224.5" y2="62"/>
        <path class="st1" d="M219,209.2v28.3c0,4-3.2,7.3-7.3,7.3H53.3c-4,0-7.3-3.2-7.3-7.3V128c0-4,3.2-7.3,7.3-7.3h158.5
        	c4,0,7.3,3.2,7.3,7.3v28.2"/>
        <path class="st1" d="M167.7,209.2h60c4.3,0,7.8-3.5,7.8-7.8V164c0-4.3-3.5-7.8-7.8-7.8h-60c-12.2,0-22.2,10-22.2,22.2v8.5
        	C145.5,199.2,155.5,209.2,167.7,209.2z"/>
        <circle class="st1" cx="172.5" cy="182.7" r="13"/>
        <line class="st2" x1="46.5" y1="139.5" x2="219.5" y2="139.5"/>
        <line class="st2" x1="46.5" y1="226.5" x2="219.5" y2="226.5"/>
        </svg>
        <p class="delivery-payment__bank_text">
          Вы можете оплатить заказ через любой удобный для вас банк или клиент-банк (онлайн) <span class="delivery-bold-text">по выставленному счету</span>
        </p>
      </div>

    </div>
</section>

{% endblock %}
{% block 'pagescripts' %}
  {{ '//cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js'| javascript_tag }}
  {{ '//cdn.jsdelivr.net/npm/walkway.js/src/walkway.min.js'| javascript_tag }}
  {{ 'about_us_delivery.js'| javascript_tag }}



{% endblock %}
{% block 'pagestyles' %}

{% endblock %}