---
title: Factory
slug: factory
is_layout: false
allow_layout: false
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 14
seo_title: "Производство хомутов для воркаута | Купить хомуты для воркаута - Sportmen"
meta_description: "Надежные регулируемые хомуты для уличных тренажеров, оборудования
  для площадок ГТО. Порошковая покраска. Ассортимент. Низкие цены. Гарантия качества."
---
{% extends 'parent' %}

{% block 'main' %}
  <section class="common-landing">
    <div class="common-landing-main clamp-landing-main">
      <div class="common-container">
        <div class="breadcrumbs">
          {% include 'breadcrumbs-catalog' %}
          <span class="breadcrumbs-item">
            <a href="/factory">Хомуты</a>
          </span>
        </div>

        <div class="common-landing-content">
          <h1 class="common-landing-title">Хомуты для воркаута от производителя</h1>

          <div class="common-landing-advantages">
            <div class="common-landing-advantages-item">По самым выгодным ценам</div>
          </div>

          <div class="clamp-landing-image-sm">
            <img 
              class="clamp-landing-image-sm-element" 
              src="{{'clamp/clamp.png' | theme_image_url }}" 
              alt=""/>
          </div>

          <div class="clamp-landing-text">
            <p>Компания SPORTMAN изготавливает базовые элементы любой площадки для воркаута, а именно хомуты. С их помощью можно собирать полноценные площадки для регулярных тренировок. Укомплектованные хомутами тренажеры предназначаются для спротивных площадок, монтируемых на территориях школ, в парках, а также на придомовых территориях.</p>
            <p>Для производителей уличных тренажеров мы предоставляем хомуты партиями от 20шт., в комплекте с болтами для крепежа. Изделия окрашиваем порошковой краской в разные цвета.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="common-landing-tiles">
      <div class="common-landing-tiles-wrapper">
        <div class="common-landing-tiles-item">Порошковая<br/>покраска<br/>в любой цвет</div>
        <div class="common-landing-tiles-item">Изготовлен из<br/>цельного металла</div>
        <div class="common-landing-tiles-item">Хомуты<br/>в наличии<br/>на складе</div>
      </div>
    </div>
  </section>

  <!-- Эта секция повторяется второй раз, если будет повторяться еще, нужно поменять имена -->
  <section class="common-section">
    <div class="shadow">
      <div class="shadow-text">Хомуты</div>
    </div>

    <div class="common-container">
      <div class="common-section-title">Хомуты</div>

      <div class="common-section-content">
        <div class="clamps-about">
          <div class="clamps-about-text">
            <p>Для производителей тренажеров мы предоставляем хомуты. Минимальный заказ - <strong>20 шт.</strong></p>
            <p>Хомут для соединения двух взаимно перпендикулярных труб позволяет зафиксировать горизонтальную перекладину на вертикальной опорной стойке. Имеет возможность регулировки высоты.</p>
          </div>

          <div class="clamps-about-image">
            <img 
              class="clamps-about-image-element" 
              src="{{'clamp/clamp.png' | theme_image_url }}" 
              alt=""/>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Эта секция повторяется второй раз, если будет повторяться еще, нужно поменять имена -->
  <section class="common-section">
    <div class="shadow">
      <div class="shadow-text">Хомуты</div>
    </div>

    <div class="common-container">
      <div class="common-section-title">Каталог</div>

      <div class="common-section-content">
        <div class="clamps-table-wrapper">
          <div class="clamps-table-title">
            <b>Стоимость порошковой покраски:</b><br/>
            + 90 ₽/хомут, цвет по согласованию<br/><br/>
            Действует система скидок при различных объемах заказа.
          </div>

          <table class="clamps-table">
            <thead>
              <tr>
                <td>
                  <div>Стойки</div>
                </td>
                <td>
                  <div>Перекладины</div>
                </td>
                <td class="js-clamps-table-th1">
                  <div class="small-label">Цена<br/>реализации</div>
                  <div>От 20 шт</div>
                </td>
                <td class="js-clamps-table-th2">
                  <div class="small-label">Цена<br/>реализации</div>
                  <div>От 50 шт</div>
                </td>
                <td class="js-clamps-table-th3">
                  <div class="small-label">Цена<br/>реализации</div>
                  <div>От 100 шт</div>
                </td>
                <td class="js-clamps-table-th4">
                  <div class="small-label">Цена<br/>реализации</div>
                  <div>От 300 шт</div>
                </td>
                <td class="js-clamps-table-th5">
                  <div class="small-label">Цена<br/>реализации</div>
                  <div>От 1000 шт</div>
                </td>
                <td></td>
              </tr>
            </thead>

            <tbody>
              {% for item in contents.products %}
              {% if item.type == 'clamp' %}
              <tr data-art="clamp-{{item.article}}" data-size="{{item.size_1}}x{{item.size_2}}" data-price="{{item.new_price}}">
                <td class="dims">{{item.size_1}} мм</td>
                <td class="dims">{{item.size_2}} мм</td>
                <td class="js-clamps-table-td" data-head=".js-clamps-table-th1">{{item.new_price}} ₽</td>
                <td class="js-clamps-table-td" data-head=".js-clamps-table-th2">{{item.price_clamp_50}} ₽</td>
                <td class="js-clamps-table-td" data-head=".js-clamps-table-th3">{{item.price_clamp_100}} ₽</td>
                <td class="js-clamps-table-td" data-head=".js-clamps-table-th4">{{item.price_clamp_300}} ₽</td>
                <td class="js-clamps-table-td" data-head=".js-clamps-table-th5">{{item.price_opt}} ₽</td>
                <td class="clamps-table-button-td">
                  <button type="button" class="clamps-table-button fancybox js-clamps-table-button" data-goal="form" data-button="callback" href="#feedback-form">Оставить заявку</button>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>

          <div class="clamps-table-sm">
        {% for item in contents.products %}
        {% if item.type == 'clamp' %}
            <div class="clamps-table-collapse">
              <div class="clamps-table-collapse-button">
                <div>{{item.size_1}} мм</div>
                <div>{{item.size_2}} мм</div>
              </div>
              <div class="clamps-table-collapse-content">
                <div class="clamps-table-collapse-content-row">
                  <div class="clamps-table-collapse-content-row-title">
                    <div>Цена реализации</div>
                    <b>От 50 шт</b>
                  </div>
                  <div class="clamps-table-collapse-content-row-price">{{item.price_clamp_50}} ₽</div>
                </div>

                <div class="clamps-table-collapse-content-row">
                  <div class="clamps-table-collapse-content-row-title">
                    <div>Цена реализации</div>
                    <b>От 100 шт</b>
                  </div>
                  <div class="clamps-table-collapse-content-row-price">{{item.price_clamp_100}} ₽</div>
                </div>

                <div class="clamps-table-collapse-content-row">
                  <div class="clamps-table-collapse-content-row-title">
                    <div>Цена реализации</div>
                    <b>От 300 шт</b>
                  </div>
                  <div class="clamps-table-collapse-content-row-price">{{item.price_clamp_300}} ₽</div>
                </div>

                <div class="clamps-table-collapse-content-row">
                  <div class="clamps-table-collapse-content-row-title">
                    <div>Цена реализации</div>
                    <b>От 1000 шт</b>
                  </div>
                  <div class="clamps-table-collapse-content-row-price">{{item.price_opt}} ₽</div>
                </div>

                <div>
                  <button type="button" class="clamps-table-button" href="#feedback-form">Оставить заявку</button>
                </div>
              </div>
            </div>
        {% endif %}
        {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

{% include 'yellowbox' %}

{% endblock %}

{% block 'pagescripts' %}
{{ 'factory.js'| javascript_tag }}
<script>$(() => {
  // Подсветка thead в таблице
  document.querySelectorAll('.js-clamps-table-td').forEach((element) => {
    element.addEventListener('mouseenter', (e) => document.querySelector(e.target.dataset.head).classList.add('active'));
    element.addEventListener('mouseleave', (e) => document.querySelector(e.target.dataset.head).classList.remove('active'));
  });

  // Коллапсы
  document.querySelectorAll('.clamps-table-collapse').forEach((root) => {
    root.querySelector('.clamps-table-collapse-button').addEventListener('click', () => {
      if (root.classList.contains('opened')) {
        $(root.querySelector('.clamps-table-collapse-content')).slideUp(150); // jquery
        root.classList.remove('opened');
      } else {
        $(root.querySelector('.clamps-table-collapse-content')).slideDown(150); // jquery
        root.classList.add('opened');
      }
    });
  });
  
  $('.js-clamps-table-button').click(function(){
    $('#form-feedback input[name="content[items]"]').val('хомуты ' + $(this).parents('tr').data('size'));
  });
})</script>
{% endblock %}