---
title: Faq
slug: faq
is_layout: false
allow_layout: false
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 7
seo_title: "Вопросы-ответы | Спортивные уличные тренажеры Sportmen"
meta_description: "Ответы на часто задаваемые вопросы. Sportmen — спортивное оборудование
  для спортивных площадок, школ, дач. Комплексы ГТО, турники, брусья."
---
{% extends 'parent' %}

{% block 'main' %}
<div class="common-container">
  <div class="breadcrumbs breadcrumbs-black pc-breadcrumbs">
    <span class="breadcrumbs-item">
      <a href="/">SPORTMEN.RU</a>
    </span>
    <span class="breadcrumbs-item">
      FAQ
    </span>
    <span class="breadcrumbs-item">
      <a href="/faq">Вопросы и ответы</a>
    </span>
  </div>
</div>
<section class="common-section faq-main">
  <div class="shadow">
    <div class="shadow-text">ответы на вопросы</div>
  </div>
  <div class="common-container">
    <h1 class="common-section-title">ответы на часто задаваемые вопросы</h1>
    <div id="faq-accordion">
    {% for faq in contents.faqs %}
    {% if faq.published %}
        <div class="faq-acc-header"><span>{{ faq._position | plus: 1 }}</span><p>{{ faq.title }}</p><span class="faq-title-answer">ответ</span><span class="faq-title-arrow"></span></div>
        <div class="faq-accordion-content">    
          <div class="faq-accordion-content__text">
              <p>{{ faq.description }}</p>
            </div>
            <div class="faq-accordion-content__slider" data-initiated='0'>
            {% for photo in faq.photos %}
                <div class="faq-accordion-content__slider-pic"><img class='magnific-image'  href="{{ photo.link.url }}"  src="{{ photo.link.url }}" alt=""></div>
            {% endfor %}
            </div>
        </div>
    {% endif %}
    {% endfor %}
    </div>
  </div>
</section>
<section class="common-section faq-feedback">
  <div class="shadow">
    <div class="shadow-text">Форма обратной связи</div>
  </div>
  <div class="common-container">
    <p class="common-section-title">остались вопросы? <br>напишите нам!</p>
    <form method="POST" action="{{contents.faqs.public_submission_url}}" class="faq-form js-faq-form">
      {% csrf_param %}
      <input type="hidden" name="content[name]" value="FAQ задать вопрос">
      <div class="faq-form-container">
        <div class="faq-form-tel">
          <div class="form-input-validation-error__popup">Пожалуйста, заполните это поле</div>
          <input type="text" placeholder="Номер телефона" name="content[phone]">
        </div>
        <div class="faq-form-email">
          <div class="form-input-validation-error__popup">Пожалуйста, заполните это поле</div>
          <input type="text" placeholder="Email" name="content[email]">
        </div>
        <div class="faq-form-textarea">
          <div class="form-input-validation-error__popup">Пожалуйста, заполните это поле</div>
          <input type="textarea" placeholder="Ваш вопрос" name="content[title]">
        </div>
        <div class="faq-form-submit">
          <input type="submit" placeholder="" value='Отправить'>
        </div>
        <label class="faq-form__checkbox">
          <input type="checkbox" checked />
          <span>Я соглашаюсь с политикой конфеденциальности</span>
          <span class="form-input-validation-error__checkbox-popup">Вам необходимо согласиться с политикой конфиденциальности чтобы продолжить</span>
        </label>
      </div>
    </form>
  </div>
</section>


{% endblock %}
{% block 'pagescripts' %}
  {{ 'magnific-popup.min.js'| javascript_tag }}
  {{ 'faq.js'| javascript_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js' | javascript_tag }}
  {{ 'jquery-ui.slider.accordion.min.js' | javascript_tag }}

{% endblock %}
{% block 'pagestyles' %}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" | stylesheet_tag}}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" | stylesheet_tag}}
{% endblock %}
