---
title: "Гарантия"
slug: garantiia
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 119
seo_title: "Возврат и обмен спортивных комплексов и оборудования Sportsmen"
meta_description: "Возврат и обмен спортивных комплексов и оборудования Sportsmen "
---
{% extends wrapper %}
{% block main %}
<div class="common-container">
    <div class="breadcrumbs breadcrumbs-black pc-breadcrumbs">
    <span class="breadcrumbs-item">
      <a href="/">SPORTMEN.RU</a>
    </span>
        <span class="breadcrumbs-item">
      Гарантия
    </span>
    </div>
</div>
<div class="guaranty">
    <div class="page-content">
        <div class="shadow-guaranty">
            <div class="shadow">
                <div class="shadow-text">Гарантия</div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div id="content" class="col-sm-12">
                    <h1 class="garanty-title">Гарантия качества</h1>
                    <p class="garanty-text">Мы даём гарантию на все выпускаемые нами спортивные тренажеры.&nbsp;
                        Гарантия распространяется на металлические элементы конструкций, сварку и все остальные детали.
                    </p>
                    <h2 class="garanty-title">Возврат и обмен товара</h2>
                    <p class="garanty-text">
                        Любую Вашу покупку, совершенную у нас можно вернуть или обменять на другой товар, если:</p>
                    <ul class="garanty-list">
                        <li class="garanty-list-item">товар не изготавливался специально по вашим техническим требованиями;</li>
                        <li class="garanty-list-item">товар не использовался и сохранил полностью первоначальный вид;</li>
                        <li class="garanty-list-item">товар не соответствует заявленному качеству.</li>
                    </ul>
                    <p class="garanty-text">Покупку можно вернуть или обменять не позднее 14 дней с момента приобретения.
                        Для этого просто свяжитесь с нами любым удобным для Вас способом,
                        предоставьте чек и тренажер в надлежайшем качестве.<br></p>
                    <ul class="garanty-list">
                        <li class="garanty-list-item">тел: <a href="tel:88007751512">8-800-775-15-12</a> - звонок бесплатный по всей России</li>
                        <li class="garanty-list-item">e-mail: <a href="mailto:info@sportmen.ru"> <span
                                itemprop="email">info@sportmen.ru <br></span></a><br></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="common-section-garantiia">
    <div>
        <div class="common-container">
            <div class="common-section-content">
                <div class="common-kits">
                    <div class="common-kits-row row">
                        <div class="common-kits-item col-xs-12 col-md-6 col-lg-7">
                            <div class="common-kits-item-title right-divider">Паспорт изделия</div>
                            <div class="common-kits-item-text right-divider d-xs-flex d-md-none d-lg-flex d-xl-flex">
                                Паспорт изделия является неотъемлемой частью сопроводительной документации на товар и
                                идет в комплекте с каждой единицей продукции. Документ включает в себя наиболее важные
                                сведения, требующиеся для грамотной эксплуатации оборудования. Наличие паспорта и
                                выполнение действий описанных в нем гарантирует, что после покупки устройства
                                потребители будут максимально защищены от несчастных случаев, связанных с его
                                неправильным использованием.
                            </div>
                            <div class="common-kits-item-text right-divider d-none d-md-flex d-lg-none">Каждый тренажер
                                сопровождается паспортом завода-изготовителя. В нем представлена основная информация об
                                изделии, условиях его эксплуатации, схема для монтажа, а также указан гарантийный срок.
                            </div>
                        </div>
                        <div class="common-kits-item col-xs-12 col-md-6 col-lg-5">
                            <div class="common-kits-item-gallery">
                                <a href="#"
                                   data-mfp-src="/sites/559fd99be1a7d4d28900034a/theme/images/passports/passport1.jpg"
                                   class="magnific-image">
                                    <img src="/sites/559fd99be1a7d4d28900034a/theme/images/passports/passport1.jpg"
                                         data-pagespeed-url-hash="74337388"
                                         onload="pagespeed.CriticalImages.checkImageForCriticality(this);"/>
                                </a>

                                <a href="#"
                                   data-mfp-src="/sites/559fd99be1a7d4d28900034a/theme/images/passports/passport2.jpg"
                                   class="magnific-image">
                                    <img src="/sites/559fd99be1a7d4d28900034a/theme/images/passports/passport2.jpg"
                                         data-pagespeed-url-hash="368837309"
                                         onload="pagespeed.CriticalImages.checkImageForCriticality(this);"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="common-kits-row row">
                        <div class="common-kits-item col-xs-12 col-md-6 col-lg-5">
                            <div class="common-kits-item-gallery d-none d-sm-flex">
                                <a href="#"
                                   data-mfp-src="/images/dynamic/W1siZmYiLCJwdWJsaWMvc2l0ZXMvNTU5ZmQ5OWJlMWE3ZDRkMjg5MDAwMzRhL2NvbnRlbnRfZW50cnk1NTlmZDlhYWUxYTdkNDYzYjUwMDA0ZTUvNTU5ZmRiMDRlMWE3ZDRkMjg5MDAwNDM5L2ZpbGVzLzAwMDExMi5qcGciXSxbInAiLCJ0aHVtYiIsIjEwMDB4MTAwMCJdXQ/000112.jpg?sha=19faca50c029f514"
                                   class="magnific-image">

                                    <img alt=""
                                         src="/images/dynamic/W1siZmYiLCJwdWJsaWMvc2l0ZXMvNTU5ZmQ5OWJlMWE3ZDRkMjg5MDAwMzRhL2NvbnRlbnRfZW50cnk1NTlmZDlhYWUxYTdkNDYzYjUwMDA0ZTUvNTU5ZmRiMDRlMWE3ZDRkMjg5MDAwNDM5L2ZpbGVzLzAwMDExMi5qcGciXSxbInAiLCJ0aHVtYiIsIjE3NHgyNTUjIl1d/000112.jpg?sha=0814087e4dfef6d9"
                                         data-pagespeed-url-hash="802985815"
                                         onload="pagespeed.CriticalImages.checkImageForCriticality(this);">

                                </a>
                                <a href="#"
                                   data-mfp-src="/images/dynamic/W1siZmYiLCJwdWJsaWMvc2l0ZXMvNTU5ZmQ5OWJlMWE3ZDRkMjg5MDAwMzRhL2NvbnRlbnRfZW50cnk1NTlmZDlhYWUxYTdkNDYzYjUwMDA0ZTUvNTU5ZmRiMDRlMWE3ZDRkMjg5MDAwNDNhL2ZpbGVzLzAwMDExMl8xLmpwZyJdLFsicCIsInRodW1iIiwiMTAwMHgxMDAwIl1d/000112_1.jpg?sha=b68473a25a804100"
                                   class="magnific-image">

                                    <img alt=""
                                         src="/images/dynamic/W1siZmYiLCJwdWJsaWMvc2l0ZXMvNTU5ZmQ5OWJlMWE3ZDRkMjg5MDAwMzRhL2NvbnRlbnRfZW50cnk1NTlmZDlhYWUxYTdkNDYzYjUwMDA0ZTUvNTU5ZmRiMDRlMWE3ZDRkMjg5MDAwNDNhL2ZpbGVzLzAwMDExMl8xLmpwZyJdLFsicCIsInRodW1iIiwiMTc0eDI1NSMiXV0/000112_1.jpg?sha=1fbef288f2a6c8ab"
                                         data-pagespeed-url-hash="1954236842"
                                         onload="pagespeed.CriticalImages.checkImageForCriticality(this);">

                                </a>
                            </div>
                        </div>
                        <div class="common-kits-item col-xs-12 col-md-6 col-lg-7">
                            <div class="common-kits-item-title left-divider">Сертификаты</div>
                            <div class="common-kits-item-gallery d-flex d-sm-none">
                                <a href="#"
                                   data-mfp-src="/images/dynamic/W1siZmYiLCJwdWJsaWMvc2l0ZXMvNTU5ZmQ5OWJlMWE3ZDRkMjg5MDAwMzRhL2NvbnRlbnRfZW50cnk1NTlmZDlhYWUxYTdkNDYzYjUwMDA0ZTUvNTU5ZmRiMDRlMWE3ZDRkMjg5MDAwNDNhL2ZpbGVzLzAwMDExMl8xLmpwZyJdLFsicCIsInRodW1iIiwiMTAwMHgxMDAwIl1d/000112_1.jpg?sha=b68473a25a804100"
                                   class="magnific-image">

                                    <img alt=""
                                         src="/images/dynamic/W1siZmYiLCJwdWJsaWMvc2l0ZXMvNTU5ZmQ5OWJlMWE3ZDRkMjg5MDAwMzRhL2NvbnRlbnRfZW50cnk1NTlmZDlhYWUxYTdkNDYzYjUwMDA0ZTUvNTU5ZmRiMDRlMWE3ZDRkMjg5MDAwNDNhL2ZpbGVzLzAwMDExMl8xLmpwZyJdLFsicCIsInRodW1iIiwiMTc0eDI1NSMiXV0/000112_1.jpg?sha=1fbef288f2a6c8ab"
                                         data-pagespeed-url-hash="1954236842"
                                         onload="pagespeed.CriticalImages.checkImageForCriticality(this);">

                                </a>
                            </div>
                            <div class="common-kits-item-text left-divider">Все тренажеры прошли испытания на качество и
                                безопасность , что подтверждено сертификатом, который входит в пакет сопроводительных
                                документов к оборудованию. Сертификат качества в обязательном порядке необходим для
                                участия в тендерах, выполнении госконтрактов.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block 'pagescripts' %}
{{"magnific-popup.min.js"| javascript_tag}}

<script>$(() => {
    // magnific init
    $('.magnific-image').magnificPopup({
        type: 'image',
        mainClass: 'mfp-with-zoom',
        zoom: {
            enabled: true,
            duration: 300,
            easing: 'ease-in-out',
            opener: (el) => el.is('img') ? el : el.find('img')
        }
    });
})</script>
{% endblock %}
