---
title: Government
slug: government
is_layout: false
allow_layout: false
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 13
seo_title: "Госконтракты и заказчики | Спортивные уличные тренажеры Sportmen"
meta_description: "Полная тендерная документация для спортивных площадок и комплексов
  ГТО. Для установки в парках, школах, детских садах и т.д. Доставка по России бесплатно."
---
{% extends 'parent' %}

{% block 'main' %}

<section class="common-landing govt-landing-section">
<div class="common-container">
  <div class="breadcrumbs">
    <span class="breadcrumbs-item">
      <a href="/">SPORTMEN.RU</a>
    </span>    
    <span class="breadcrumbs-item">
      С кем работаем
    </span>
    <span class="breadcrumbs-item">
      <a href="/government">Госзаказчики</a>
    </span>
  </div>
  <p class="common-landing-title">Спортивные уличные тренажеры</p>
  <div class="common-landing-description">От производителя по самым выгодным в россии ценам</div>
  <ul class="govt-landing-list">
    <li class="govt-landing-list__item">
      <p class="govt-landing-list__item_text">ПРОДАНО БОЛЕЕ </p>
      <p class="govt-landing-list__item_numbers js-counter-up" data-value="35940">35 940</p>
      <p class="govt-landing-list__item_text">тренажеров</p>
    </li>
    <li class="govt-landing-list__item">
      <p class="govt-landing-list__item_text">ОСНАЩЕНО БОЛЕЕ</p>
      <p class="govt-landing-list__item_numbers js-counter-up" data-value="2534">2 534</p>
      <p class="govt-landing-list__item_text">спортплощадок</p>
    </li>
    <li class="govt-landing-list__item">
      <p class="govt-landing-list__item_text">ОТПРАВЛЕНО В БОЛЕЕ ЧЕМ</p>
      <p class="govt-landing-list__item_numbers js-counter-up" data-value="174">174</p>
      <p class="govt-landing-list__item_text">городов России и СНГ</p>
    </li>
  </ul>
</div>

</section>
<section class="common-landing govt-icons-section">
  <div class="common-landing-main">
    <div class="common-container">


      <div class="common-landing-content">
        <h1 class="common-section-title">ГОСКОНТРАКТЫ И ЗАКАЗЧИКИ</h1>

        <div class="common-section-description">
          Информация по сертифицированному уличному спортивному оборудованию, для установки в парках, школах, детских садах и т.д.:
        </div>
        <div class="govt-icons-list">
          <ul class="govt-icons-list__list">
            <li>Технические условия </li>
            <li>Схемы сборки и монтажа </li>
            <li>Сертификат качества</li>
            <li>Другая необходимая информация</li>
          </ul>
          <div class="govt-icons-list__button">
            <img src="{{'govt/goszakaz.jpg' | theme_image_url }}" alt="">
            <button class="govt-icons-list__button_button js-government-button" href="#feedback-form">Получить тендерную <br> документацию</button>
          </div>
        </div>
        <div class="ugly-tips govt-ugly-tips">
          <div class="ugly-tips-item" data-tip="Все спортивные тренажеры прошли испытания на качество и безопасность, установленные ГОСТАми РФ, что подтверждено сертификатом. Каждый тренажер имеет паспорт с гарантией от завода">
            <img
              class="ugly-tips-item-image"
              src="{{'main/ugly-tips/1.svg' | theme_image_url }}"
              alt="" />
            <div class="ugly-tips-item-title">Товар<br/>от производителя</div>
          </div>

          <div class="ugly-tips-item" data-tip="Все спортивные тренажеры прошли испытания на качество и безопасность, установленные ГОСТАми РФ, что подтверждено сертификатом. Каждый тренажер имеет паспорт с гарантией от завода">
            <img
              class="ugly-tips-item-image"
              src="{{'main/ugly-tips/2.svg' | theme_image_url }}"
              alt="" />
            <div class="ugly-tips-item-title">Товар в наличии<br/>(отгрузка 1-7 дней)</div>
          </div>

          <div class="ugly-tips-item" data-tip="Все спортивные тренажеры прошли испытания на качество и безопасность, установленные ГОСТАми РФ, что подтверждено сертификатом. Каждый тренажер имеет паспорт с гарантией от завода">
            <img
              class="ugly-tips-item-image"
              src="{{'main/ugly-tips/3.svg' | theme_image_url }}"
              alt="" />
            <div class="ugly-tips-item-title">Даем<br/>гарантию</div>
          </div>

          <div class="ugly-tips-item" data-tip="Все спортивные тренажеры прошли испытания на качество и безопасность, установленные ГОСТАми РФ, что подтверждено сертификатом. Каждый тренажер имеет паспорт с гарантией от завода">
            <img
              class="ugly-tips-item-image"
              src="{{'main/ugly-tips/4.svg' | theme_image_url }}"
              alt="" />
            <div class="ugly-tips-item-title">Отрисовка 3D<br/>макета бесплатно</div>
          </div>

          <div class="ugly-tips-item" data-tip="Все спортивные тренажеры прошли испытания на качество и безопасность, установленные ГОСТАми РФ, что подтверждено сертификатом. Каждый тренажер имеет паспорт с гарантией от завода">
            <img
              class="ugly-tips-item-image"
              src="{{'main/ugly-tips/5.svg' | theme_image_url }}"
              alt="" />
            <div class="ugly-tips-item-title">Легкая<br/>установка</div>
          </div>

          <div class="ugly-tips-item" data-tip="Все спортивные тренажеры прошли испытания на качество и безопасность, установленные ГОСТАми РФ, что подтверждено сертификатом. Каждый тренажер имеет паспорт с гарантией от завода">
            <img
              class="ugly-tips-item-image"
              src="{{'main/ugly-tips/6.svg' | theme_image_url }}"
              alt="" />
            <div class="ugly-tips-item-title">Красим в любой<br/>цвет</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="main-tiles govt-tiles">
  <div class="shadow">
    <div class="shadow-text">каталог</div>
  </div>
  <div class="common-container">
      <p class="common-section-title">выберите подходящую вам продукцию</p>
  </div>

    {% include 'main-tiles-wrapper' %}

</section>

{% include 'reviews' %}

{% include 'certificates' %}

{% endblock %}
{% block 'pagescripts' %}
  {{"//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"| javascript_tag}}
  {{ '//cdn.jsdelivr.net/npm/walkway.js/src/walkway.min.js'| javascript_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js'| javascript_tag }}
  {{"//unpkg.com/popper.js/dist/umd/popper.min.js"| javascript_tag}}
  {{"//unpkg.com/tooltip.js/dist/umd/tooltip.min.js"| javascript_tag}}
  {{ 'government.js'| javascript_tag }}
  <script>$(() => {
    // tooltips on landing section
    if (window.innerWidth > 1280) {
    document.querySelectorAll('.ugly-tips-item')
      .forEach(element => {
        new Tooltip(element, {
          placement: 'top-end',
          title: element.dataset.tip,
          popperOptions: {
            modifiers: {
              flip: {
                enabled: false
              },
              preventOverflow: {
                escapeWithReference: true
              }
            }
          }
        });
      });
    }});


  // prizes slideup/down
  const expandPrizesButton = $('.js-main-prizes-button-element');
  const expandPrizesBlock = $('.main-prizes-additional');
  expandPrizesButton.on('click', () => {
    if (expandPrizesBlock.hasClass('expanded')) {
      expandPrizesBlock.slideUp();
      expandPrizesBlock.toggleClass('expanded', false);
      expandPrizesButton.text('Смотреть все →');
    } else {
      expandPrizesBlock.slideDown();
      expandPrizesBlock.toggleClass('expanded', true);
      expandPrizesButton.text('Скрыть ↑');
    }
  });    
    
    $('.magnific-image').magnificPopup({
      type: 'image',
      mainClass: 'mfp-with-zoom',
      zoom: {
        enabled: true,
        duration: 300,
        easing: 'ease-in-out',
        opener: (el) => el.is('img') ? el : el.find('img')
      }
    });

    // ugly-tips carousel
    if (window.innerWidth < 1280) {
      $('.ugly-tips').slick({
        slidesToShow: 1,
        infinite: false,
        draggable: true,
        arrows: false,
        dots: true,
        dotsClass: 'custom-dots'
      });
    }

    $('.js-main-feedback').slick({
      slidesToShow: 1,
      infinite: false,
      draggable: false,
      arrows: true,
      prevArrow: $('.main-feedback-arrows-left'),
      nextArrow: $('.main-feedback-arrows-right'),
      responsive: [
        {
          breakpoint: 1240,
          settings: {
            draggable: true,
            arrows: false
          }
        }
      ]
    });
  $('.js-government-button').click(function(){
    $('#form-feedback input[name="content[items]"]').val('Заказ тендерной документации');
  });     
    
</script>
{% endblock %}
{% block 'pagestyles' %}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" | stylesheet_tag}}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" | stylesheet_tag}}
{% endblock %}
