---
title: GTO Platforms
slug: gto_platforms
is_layout: false
allow_layout: false
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 5
seo_title: "Спортивные площадки ГТО «под ключ» | Купить оборудование для ГТО | Площадки
  для сдачи норм ГТО — Sportmen"
meta_description: "Продажа оборудования для сдачи норм ГТО. Площадки для ГТО, турники,
  брусья. Собственное производство. Гарантия качества. Доставка по всей России."
---
{% extends 'wrapper' %}

{% block 'main' %}
  <section class="common-landing">
    <div class="common-landing-main gto-landing-main">
      <div class="common-container">
        <div class="common-landing-flex">
          <div class="breadcrumbs">
            {% include 'breadcrumbs-catalog' %}
            <span class="breadcrumbs-item">
              <a href="/gto_platforms">ВФСК</a>
            </span>
          </div>

          <div class="common-landing-content">
            <h1 class="common-landing-title">Спортивные площадки ВФСК от производителя</h1>

            <div class="common-landing-advantages">
              <div class="common-landing-advantages-item">По самым выгодным ценам</div>
              <div class="common-landing-advantages-item">Оборудовние в наличии на складе</div>
            </div>

            {% include 'advantages' %}

          </div>
        </div>
      </div>
    </div>

    {% include 'common-landing-tiles' %}

  </section>

  <section class="gto-thieves">
    <div class="common-container">
      <div class="gto-thieves-flex">
        <div class="gto-thieves-item">
          <div class="gto-thieves-name">Владимир Владимирович Путин</div>
          <div class="gto-thieves-info">
            <div class="gto-thieves-photo">
              <img class="gto-thieves-photo-element" src="{{'gto/thief-1.jpg' | theme_image_url }}" alt="put in" />
            </div>

            <div class="gto-thieves-text">
              <div class="gto-thieves-description">Указ президента Российской Федерации о возрождении комплекса ГТО в Российской Федерации</div>

              <div class="gto-thieves-pdf">
                <a href="https://gto.ru/files/uploads/documents/56ea78e5e5b19.pdf" target="_blank">
                  <img src="{{'gto/pdf.svg' | theme_image_url }}" alt="" />
                  <span>№172 ОТ 24 МАРТА 2014 ГОДА</span>
                  <img src="{{'gto/arrow.png' | theme_image_url }}" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="gto-thieves-item">
          <div class="gto-thieves-name">Мутко Виталий Леонтьевич</div>
          <div class="gto-thieves-info">
            <div class="gto-thieves-photo">
              <img class="gto-thieves-photo-element" src="{{'gto/thief-2.jpg' | theme_image_url }}" alt="mutko" />
            </div>

            <div class="gto-thieves-text">
              <div class="gto-thieves-description">Методические рекомендации по созданию и оборудованию спортивных площадок в субъектах Российской Федерации</div>

              <div class="gto-thieves-pdf">
                <a href="https://gto.ru/files/uploads/documents/56ea98dc1d220.pdf" target="_blank">
                  <img src="{{'gto/pdf.svg' | theme_image_url }}" alt="" />
                  <span>Методичка</span>
                  <img src="{{'gto/arrow.png' | theme_image_url }}" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="common-section">
    <div class="shadow">
      <div class="shadow-text">Спортивные площадки</div>
    </div>

    <div>
      <div class="common-container">
        <div class="common-section-title">Спортивные площадки <span class="gto-title-coloring">ВФСК</span> по установленным нормам</div>

        <div class="common-section-content">

          <div class="common-catalog">
            
            {% include 'common_catalog_sale' %}

            <div class="common-catalog-cards">
      {% for item in contents.products %}
      {% if item.type == 'platform' and item.gto %}
        {% include 'catalog_item_block' %}
      {% endif %}
      {% endfor %}
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>

{% include 'equipment' %}

{% include 'yellowbox' %}

{% include 'common-gallery' %}

{% endblock %}

{% block 'pagescripts' %}
  {{"//unpkg.com/popper.js/dist/umd/popper.min.js"| javascript_tag}}
  {{"//unpkg.com/tooltip.js/dist/umd/tooltip.min.js"| javascript_tag}}
  {{"//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"| javascript_tag}}
  {{"magnific-popup.min.js"| javascript_tag}}

  <script>$(() => {
    // tooltips on landing section
    document.querySelectorAll('.ugly-tips-item')
      .forEach(element => {
        new Tooltip(element, {
          placement: 'top-end',
          title: element.dataset.tip,
          popperOptions: {
            modifiers: {
              flip: {
                enabled: false
              },
              preventOverflow: {
                escapeWithReference: true
              }
            }
          }
        });
      });

    // ugly-tips carousel
    if (window.innerWidth < 1280) {
      $('.ugly-tips').slick({
        slidesToShow: 1,
        infinite: false,
        draggable: true,
        arrows: false,
        dots: true,
        dotsClass: 'custom-dots'
      });
    }

    // gallery carousel
    $('.js-common-gallery').slick({
      slidesToShow: 6,
      infinite: false,
      draggable: false,
      arrows: false,
      dots: false,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            draggable: true,
            slidesToShow: 4
          }
        },
        {
          breakpoint: 500,
          settings: {
            draggable: true,
            slidesToShow: 3
          }
        },
        {
          breakpoint: 320,
          settings: {
            draggable: true,
            slidesToShow: 2
          }
        }
      ]
    });

    // magnific init
    $('.magnific-image').magnificPopup({
      type: 'image',
      mainClass: 'mfp-with-zoom',
      zoom: {
        enabled: true,
        duration: 300,
        easing: 'ease-in-out',
        opener: (el) => el.is('img') ? el : el.find('img')
      }
    });
  })</script>
{% endblock %}
{% block 'pagestyles' %}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" | stylesheet_tag}}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" | stylesheet_tag}}
{% endblock %}
