---
title: Instagram
slug: i
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 18
---
<html>
<head>
<meta http-equiv="refresh" content="1;URL=http://sportmen.ru/?utm_source=instagram&utm_medium=social&utm_campaign=workout" />
</head>
</html>