---
title: Index
is_layout: false
allow_layout: false
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 0
seo_title: "Воркаут магазин в Москве - Всё для workout: уличные тренажеры - производство
  и продажа"
meta_description: "Уличные тренажеры для воркаута от производителя. Спортивное оборудование
  для спортивных площадок, школ, дач. Комплексы ГТО, турники, брусья."
---
{% extends wrapper %}

{% block 'main' %}
  <section class="common-landing">
    <div class="common-landing-main main-landing-main">
      <div class="common-container">
        <div class="breadcrumbs breadcrumbs-hidden">
          <span class="breadcrumbs-item">
            <a href="/">Главная</a>
          </span>
        </div>

        <div class="common-landing-content">
          <h1 class="common-landing-title">Спортивные уличные тренажеры</h1>

          <div class="common-landing-description">От производителя<br/>по самым выгодным в россии ценам</div>

          {% include 'advantages' %}

        </div>
      </div>
    </div>

    {% include 'common-landing-tiles' %}
 
  </section>

  {% include 'main-redbox' %}

{% include 'yellowbox' %}
  <section class="main-tiles">
  {% include 'main-tiles-wrapper' %}
  </section>


  <section class="common-section">
    <div class="shadow">
      <div class="shadow-text">О компании</div>
    </div>

    <div class="common-container">
      <div class="common-section-title">Индивидуальные площадки</div>

      <div class="common-section-content">
        <div class="main-trainers">
          <div class="main-trainers-text">
            <p>В ассортименте компании Sportmen представлено большое разнообразие уличных тренажеров по приемлемым ценам. В нашем каталоге можно заказать, как и отдельные элементы для тренировок (турники, брусья т.д.), так и полноценные спортивные площадки для воркаута и сдачи разрядов
Всероссийского физкультурно-спортивного комплекса. Все представленная продукция отличаются высоким качеством сборки и долговечностью.</p>

            <p class="index-h2">Отрисовка 3D макета бесплатно</p>
            <p>Бесплатно предоставим 3D макет по индивидуальным размерам площадки и в соответствии с Вашими пожеланиями</p>

            <p class="index-h2">Легкая установка</p>
            <p>Оборудование собирается просто как "конструктор Лего", благодаря монтажным схемам сборки и установки Вы с легкостью  справитесь с этой задачей.</p>

            <p class="index-h2">Красим в любой цвет</p>
            <p>Красим продукцию в любой цвет по Вашему запросу.</p>
          </div>

          <div class="main-trainers-carousel-wrapper">
            <div class="main-trainers-carousel">
              <!--div class="main-trainers-carousel-arrow">
                <button type="button" class="main-trainers-carousel-arrow-left">
                  <img src="{{'main/arrow_left.png' | theme_image_url }}"/>
                </button>
              </div-->

              <div class="main-trainers-carousel-component js-main-trainers">
                <!--img class="main-trainers-image" src="{{'main/trainer.png' | theme_image_url }}" />
                <img class="main-trainers-image" src="{{'main/trainer.png' | theme_image_url }}" /-->
                <img class="main-trainers-image" src="{{'main/trainer.png' | theme_image_url }}" />
              </div>

              <!--div class="main-trainers-carousel-arrow">
                <button type="button" class="main-trainers-carousel-arrow-right">
                  <img src="{{'main/arrow_right.png' | theme_image_url }}"/>
                </button>
              </div-->
            </div>

            <div class="main-trainers-cta">
              <a class="main-trainers-cta-button js-header-order-call-btn" href="#feedback-form">Заказать</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="common-section">
    <div class="shadow">
      <div class="shadow-text">О компании</div>
    </div>

    <div class="common-container">
      <div class="common-section-title">О компании SPORTMEN</div>

      <div class="common-section-content">
        <div class="main-about">
          <div class="main-about-text">
            <p>В ассортименте компании Sportmen представлено большое разнообразие уличных тренажеров по приемлемым ценам. В нашем каталоге можно заказать, как и отдельные элементы для тренировок (турники, брусья т.д.), так и полноценные спортивные площадки для воркаута и сдачи разрядов
Всероссийского физкультурно-спортивного комплекса. Все представленная продукция отличаются высоким качеством сборки и долговечностью.</p>

            <p>За пятилетний период работы, компания SPORTMEN выпустила более 20 000 уличных тренажёров и оснастила более 2000 спортивных площадок. Вся наша продукция предварительно оценивалась на качество сборки и надежность. Также её постоянно тестировали профессиональные спортсмены и спортивные эксперты, за счёт чего нам удалось достичь превосходных результатов при производстве нашего оборудования. При выпуске новых моделей мы разработали Технические условия, которые вскоре были подтверждены соответствующими государственными органами. В результате, вся продукция SPORTMEN получила сертификацию.</p>

            <div class="main-about-link main-about-link">
              <a href="/about">Подробнее →</a>
            </div>
          </div>

          <div class="main-about-image">
            <img
              class="main-about-image-element"
              src="{{'main/about.jpg' | theme_image_url }}"
              alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--section class="common-section">
    <div class="shadow">
      <div class="shadow-text">Новости</div>
    </div>

    <div class="common-container">
      <div class="common-section-title">Новости</div>

      <div class="common-section-content">
        <div class="main-news main-news-lg">
          <div class="main-news-main">
            <div class="main-news-main-carousel js-main-news-main">
              <div class="main-news-main-carousel-item" style="background-image: url('https://images.pexels.com/photos/1864189/pexels-photo-1864189.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
                <div class="main-news-main-carousel-top">
                  <div class="main-news-main-carousel-date">26.02.19</div>
                  <div class="main-news-main-carousel-title">Первый всероссийский фестиваль ГТО прошел на нашем оборудовании</div>
                </div>

                <div class="main-news-main-carousel-bottom">
                  <a href="javascript:void(0);">Подробнее →</a>
                </div>
              </div>

              <div class="main-news-main-carousel-item" style="background-image: url('https://images.pexels.com/photos/1874636/pexels-photo-1874636.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
                <div class="main-news-main-carousel-top">
                  <div class="main-news-main-carousel-date">26.02.19</div>
                  <div class="main-news-main-carousel-title">Первый всероссийский фестиваль ГТО прошел на нашем оборудовании</div>
                </div>

                <div class="main-news-main-carousel-bottom">
                  <a href="javascript:void(0);">Подробнее →</a>
                </div>
              </div>

              <div class="main-news-main-carousel-item" style="background-image: url('https://images.pexels.com/photos/1878715/pexels-photo-1878715.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
                <div class="main-news-main-carousel-top">
                  <div class="main-news-main-carousel-date">26.02.19</div>
                  <div class="main-news-main-carousel-title">Первый всероссийский фестиваль ГТО прошел на нашем оборудовании</div>
                </div>

                <div class="main-news-main-carousel-bottom">
                  <a href="javascript:void(0);">Подробнее →</a>
                </div>
              </div>
            </div>
          </div>

          <div class="main-news-side">
            <div class="main-news-side-counter">
              <div class="main-news-side-counter-current">1</div>
              <div class="main-news-side-counter-divider"></div>
              <div class="main-news-side-counter-total">0</div>
            </div>

            <div class="main-news-side-carousel js-main-news-side">
              <div class="main-news-side-carousel-item" style="background-image: url('https://images.pexels.com/photos/1874636/pexels-photo-1874636.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
              <div class="main-news-side-carousel-item" style="background-image: url('https://images.pexels.com/photos/1878715/pexels-photo-1878715.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
              <div class="main-news-side-carousel-item" style="background-image: url('https://images.pexels.com/photos/1864189/pexels-photo-1864189.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
            </div>

            <div class="main-news-arrows">
              <button type="button" class="main-news-arrows-left">
                <img src="{{'main/arrow_left.png' | theme_image_url }}"/>
              </button>
              <button type="button" class="main-news-arrows-right">
                <img src="{{'main/arrow_right.png' | theme_image_url }}"/>
              </button>
            </div>
          </div>
        </div>

        <div class="main-news main-news-sm">
          <div class="main-news-sm-item">
            <div class="main-news-sm-pic" style="background-image: url('https://images.pexels.com/photos/1864189/pexels-photo-1864189.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
            <div class="main-news-sm-info">
              <div class="main-news-sm-date">26.02.19</div>
              <div class="main-news-sm-title">Первый всероссийский фестиваль ГТО прошел на нашем оборудовании</div>
            </div>
          </div>

          <div class="main-news-sm-item">
            <div class="main-news-sm-pic" style="background-image: url('https://images.pexels.com/photos/1874636/pexels-photo-1874636.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
            <div class="main-news-sm-info">
              <div class="main-news-sm-date">26.02.19</div>
              <div class="main-news-sm-title">Первый всероссийский фестиваль ГТО прошел на нашем оборудовании</div>
            </div>
          </div>

          <div class="main-news-sm-item">
            <div class="main-news-sm-pic" style="background-image: url('https://images.pexels.com/photos/1878715/pexels-photo-1878715.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
            <div class="main-news-sm-info">
              <div class="main-news-sm-date">26.02.19</div>
              <div class="main-news-sm-title">Первый всероссийский фестиваль ГТО прошел на нашем оборудовании</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section-->

{% include 'reviews' %}

{% include 'certificates' %}

<!--   <section class="common-section">
    <div class="shadow">
      <div class="shadow-text">Наши работы</div>
    </div>

    <div class="common-container">
      <div class="common-section-title">
        Наши работы

        <div class="main-portfolio-arrows">
          <button type="button" class="main-portfolio-arrows-left">
            <img src="{{'main/arrow_left.png' | theme_image_url }}"/>
          </button>
          <button type="button" class="main-portfolio-arrows-right">
            <img src="{{'main/arrow_right.png' | theme_image_url }}"/>
          </button>
        </div>
      </div>

      <div class="common-section-content">
        <div class="main-portfolio">
          <div class="main-portfolio-carousel js-main-portfolio">

            <div>
              <div class="main-portfolio-item">
                <div class="main-portfolio-image">
                  <a data-mfp-src="https://images.pexels.com/photos/618079/pexels-photo-618079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="magnific-image">
                    <img class="main-portfolio-image-element" src="https://images.pexels.com/photos/618079/pexels-photo-618079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
                  </a>
                </div>
                <div class="main-portfolio-text">
                  <div class="main-portfolio-title">База отдыха "Зеленая поляна"</div>
                  <div class="main-portfolio-description">Компания SPORTMEN выросла из некоммерческой организации «МОЛОДЕЖНО-СПОРТИВНОЕ ОБЪЕДИНЕНИЕ» Generation Workout, что переводится.</div>
                </div>
              </div>
            </div>

            <div>
              <div class="main-portfolio-item">
                <div class="main-portfolio-image">
                  <a data-mfp-src="https://images.pexels.com/photos/618079/pexels-photo-618079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="magnific-image">
                    <img class="main-portfolio-image-element" src="https://images.pexels.com/photos/618079/pexels-photo-618079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
                  </a>
                </div>
                <div class="main-portfolio-text">
                  <div class="main-portfolio-title">База отдыха "Зеленая поляна"</div>
                  <div class="main-portfolio-description">Компания SPORTMEN выросла из некоммерческой организации «МОЛОДЕЖНО-СПОРТИВНОЕ ОБЪЕДИНЕНИЕ» Generation Workout, что переводится.</div>
                </div>
              </div>
            </div>

            <div>
              <div class="main-portfolio-item">
                <div class="main-portfolio-image">
                  <a data-mfp-src="https://images.pexels.com/photos/618079/pexels-photo-618079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="magnific-image">
                    <img class="main-portfolio-image-element" src="https://images.pexels.com/photos/618079/pexels-photo-618079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
                  </a>
                </div>
                <div class="main-portfolio-text">
                  <div class="main-portfolio-title">База отдыха "Зеленая поляна"</div>
                  <div class="main-portfolio-description">Компания SPORTMEN выросла из некоммерческой организации «МОЛОДЕЖНО-СПОРТИВНОЕ ОБЪЕДИНЕНИЕ» Generation Workout, что переводится.</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section> -->

{% include 'common-gallery' %}

{% endblock %}

{% block 'pagescripts' %}
{{"//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"| javascript_tag}}
{{"//unpkg.com/popper.js/dist/umd/popper.min.js"| javascript_tag}}
{{"//unpkg.com/tooltip.js/dist/umd/tooltip.min.js"| javascript_tag}}

<script>$(() => {
  // tooltips on landing section
  document.querySelectorAll('.ugly-tips-item')
    .forEach(element => {
      new Tooltip(element, {
        placement: 'top-end',
        title: element.dataset.tip,
        popperOptions: {
          modifiers: {
            flip: {
              enabled: false 
            },
            preventOverflow: {
              escapeWithReference: true
            }
          }
        }
      });
    });

  // prizes slideup/down
  const expandPrizesButton = $('.js-main-prizes-button-element');
  const expandPrizesBlock = $('.main-prizes-additional');
  expandPrizesButton.on('click', () => {
    if (expandPrizesBlock.hasClass('expanded')) {
      expandPrizesBlock.slideUp();
      expandPrizesBlock.toggleClass('expanded', false);
      expandPrizesButton.text('Смотреть все →');
    } else {
      expandPrizesBlock.slideDown();
      expandPrizesBlock.toggleClass('expanded', true);
      expandPrizesButton.text('Скрыть ↑');
    }
  });
  
  
  // magnific
  $('.magnific-image').magnificPopup({
    type: 'image',
    mainClass: 'mfp-with-zoom',
    zoom: {
      enabled: true,
      duration: 300,
      easing: 'ease-in-out',
      opener: (el) => el.is('img') ? el : el.find('img')
    }
  });

  // ugly-tips carousel
  if (window.innerWidth < 1280) {
    $('.ugly-tips').slick({
      slidesToShow: 1,
      infinite: false,
      draggable: true,
      arrows: false,
      dots: true,
      dotsClass: 'custom-dots'
    });
  }

  // trainers carousel
//  $('.js-main-trainers').slick({
//    slidesToShow: 1,
//    infinite: false,
//    draggable: false,
//    arrows: true,
//    prevArrow: $('.main-trainers-carousel-arrow-left'),
//    nextArrow: $('.main-trainers-carousel-arrow-right'),
//  });

  // get total slides in main news carousel and set it into couter
  $('.js-main-news-main').on('init', (event, slick) => {
    $('.main-news-side-counter-total').text(slick.slideCount);
  });

  // update main news carousel counter
  $('.js-main-news-main').on('beforeChange', (event, slick, currentSlide, nextSlide) => {
    $('.main-news-side-counter-current').text(nextSlide + 1);
  });

  // main news carousel side synced
  $('.js-main-news-side').slick({
    asNavFor: '.js-main-news-main',
    slidesToShow: 1,
    arrows: true,
    fade: true,
    prevArrow: $('.main-news-arrows-left'),
    nextArrow: $('.main-news-arrows-right'),
  });

  // main news carousel main synced
  $('.js-main-news-main').slick({
    asNavFor: '.js-main-news-side',
    slidesToShow: 1,
    arrows: true,
    prevArrow: $('.main-news-arrows-left'),
    nextArrow: $('.main-news-arrows-right'),
  });

  // main portfolio carousel
  $('.js-main-portfolio').slick({
    slidesToShow: 1,
    infinite: false,
    draggable: false,
    arrows: true,
    prevArrow: $('.main-portfolio-arrows-left'),
    nextArrow: $('.main-portfolio-arrows-right'),
    responsive: [
      {
        breakpoint: 1240,
        settings: {
          draggable: true,
          arrows: false
        }
      }
    ]
  });

  // main feedback carousel
  $('.js-main-feedback').slick({
    slidesToShow: 1,
    infinite: false,
    draggable: false,
    arrows: true,
    prevArrow: $('.main-feedback-arrows-left'),
    nextArrow: $('.main-feedback-arrows-right'),
    responsive: [
      {
        breakpoint: 1240,
        settings: {
          dots: true,
          draggable: true,
          arrows: false
        }
      }
    ]
  });

  // gallery carousel
  $('.js-common-gallery').slick({
    slidesToShow: 6,
    infinite: false,
    draggable: false,
    arrows: false,
    dots: false,
    responsive: [
      {
        breakpoint: 768,
        settings: {
          draggable: true,
          slidesToShow: 4
        }
      },
      {
        breakpoint: 500,
        settings: {
          draggable: true,
          slidesToShow: 3
        }
      },
      {
        breakpoint: 320,
        settings: {
          draggable: true,
          slidesToShow: 2
        }
      }
    ]
  });
})</script>
{% endblock %}

{% block 'pagestyles' %}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" | stylesheet_tag}}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" | stylesheet_tag}}
{% endblock %}
