---
title: "Уличные спортивные комплексы"
slug: komplex_street
is_layout: false
allow_layout: false
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 118
seo_title: "Каталог уличных спортивных комплексов Sportsmen"
meta_description: "Каталог уличных спортивных комплексов от производителя лицензированного
  спортивного оборудования для дач, школ, спортплощадок. Продажа комплексов ГТО, турников,
  брусьев, лестниц, рукоходов."
---
{% extends wrapper %}
{% block main %}
  <section class="common-section">
    <div class="shadow">
      <div class="shadow-text">Уличные спортивные комплексы</div>
    </div>

    <div>
      <div class="common-container">
        <h1 class="common-section-title">Каталог уличных спортивных комплексов</h1>

        <div class="common-section-content">

          <div class="common-catalog">
            <div class="common-catalog-cards">
{% with_scope code: "komplex-street" %}
  {% assign category = contents.categories.first %}
{% endwith_scope %}
        {% for item in category.products %}
            {% include 'catalog_item_block' %}
        {% endfor %}
  </div></div></div></div></div>
    </section>



{% endblock %}
