---
title: "Рукоходы"
slug: levers
is_layout: false
allow_layout: false
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 117
seo_title: "Рукоход уличный купить у производителя по цене от 15000 руб в интернет-магазине
  SPORTMEN"
meta_description: "Уличные металлические рукоходы купить по лучшей цене от производителя
  с доставкой по всей России. Различные комплектации и размеры."
---
{% extends wrapper %}
{% block main %}
  <section class="common-section">
    <div class="shadow">
      <div class="shadow-text">Рукоходы</div>
    </div>

    <div>
      <div class="common-container">
        <h1 class="common-section-title">Каталог рукоходов</h1>

        <div class="common-section-content">

          <div class="common-catalog">
            <div class="common-catalog-cards">
{% with_scope code: "levers" %}
  {% assign category = contents.categories.first %}
{% endwith_scope %}
        {% for item in category.products %}
            {% include 'catalog_item_block' %}
        {% endfor %}
  </div></div></div></div></div>
    </section>



{% endblock %}
