---
title: Map
slug: map
is_layout: false
allow_layout: false
listed: false
published: false
cache_strategy: none
response_type: text/html
position: 6
seo_title: "Карта объектов | Спортивные уличные тренажеры Sportmen "
meta_description: "Карта объектов Sportmen. Спортивное оборудование для спортивных
  площадок, школ, дач. Комплексы ГТО, турники, брусья."
---
{% extends wrapper %}

{% block 'main' %}
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<style>
    #map {
        width: 1000px; height: 600px; padding: 0; margin: 0;
    }
</style>
<header class="header gray-line">
    <div class="container">
        <div class="row">
            <h1 class="h1-upp-bld h1-mp">Карта объектов Sportmen</h1>
        </div>
    </div>
</header>
<div class="content">
    <div class="container">
        <div class="row">
            <div id="map"></div>
        </div>
        <div class="row">
            <p class="h1-upp-bld h1-trnk">Список объектов в общедоступном пользовании</p>
            <p style="font-weight:bold;color:#CE2F2F;text-align: center;margin-top: -30px;">(страница находится в стадии наполнения)</p>
        </div>
        <div class="row">
            <div class="separator-3 col-xs-2 col-xs-offset-5">
            </div>
        </div>
        <div class="map_cities">
            <p class="h2">Россия</p>
            <ul id="mapMenu" class="map_list">
                {% for city in contents.cities %}
                {% if city.subject.country == 'ru' %}
                {% if city.latitude and city.longitude %}<li><a href="#" class="goto">{{ city.city }}</a></li>{% endif %}
                {% endif %}
                {% endfor %}
            </ul>

            <p class="h2">Казахстан</p>
            <ul class="map_list">
                {% for city in contents.cities %}
                {% if city.subject.country == 'kz' %}
                {% if city.latitude and city.longitude %}<li><a href="#" class="goto">{{ city.city }}</a></li>{% endif %}
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">

    ymaps.ready(function () {
        var destinations = {
        {% for city in contents.cities %}
        {% if city.subject.country == 'ru' %}
        {% if city.latitude and city.longitude %} '{{ city.city }}': [{{ city.latitude }}, {{ city.longitude }}],{% endif %}
        {% endif %}
        {% if city.subject.country == 'kz' %}
        {% if city.latitude and city.longitude %} '{{ city.city }}': [{{ city.latitude }}, {{ city.longitude }}],{% endif %}
        {% endif %}
        {% endfor %}
    };
        var myMap = new ymaps.Map('map', {
                center: [64.543804, 92.288362],
                zoom: 3,
                behaviors: ['default', 'scrollZoom']
            }, {
                searchControlProvider: 'yandex#search'
            }),
            /**
             * Создадим кластеризатор, вызвав функцию-конструктор.
             * Список всех опций доступен в документации.
             * @see https://api.yandex.ru/maps/doc/jsapi/2.1/ref/reference/Clusterer.xml#constructor-summary
             */
            clusterer = new ymaps.Clusterer({
                /**
                 * Через кластеризатор можно указать только стили кластеров,
                 * стили для меток нужно назначать каждой метке отдельно.
                 * @see https://api.yandex.ru/maps/doc/jsapi/2.1/ref/reference/option.presetStorage.xml
                 */
                preset: 'islands#invertedBlackClusterIcons',
                /**
                 * Ставим true, если хотим кластеризовать только точки с одинаковыми координатами.
                 */
                groupByCoordinates: false,
                /**
                 * Опции кластеров указываем в кластеризаторе с префиксом "cluster".
                 * @see https://api.yandex.ru/maps/doc/jsapi/2.1/ref/reference/ClusterPlacemark.xml
                 */
                clusterDisableClickZoom: true,
                clusterHideIconOnBalloonOpen: false,
                geoObjectHideIconOnBalloonOpen: false
            }),
            /**
             * Функция возвращает объект, содержащий данные метки.
             * Поле данных clusterCaption будет отображено в списке геообъектов в балуне кластера.
             * Поле balloonContentBody - источник данных для контента балуна.
             * Оба поля поддерживают HTML-разметку.
             * Список полей данных, которые используют стандартные макеты содержимого иконки метки
             * и балуна геообъектов, можно посмотреть в документации.
             * @see https://api.yandex.ru/maps/doc/jsapi/2.1/ref/reference/GeoObject.xml
             */
            getPointData = function (index) {
                return {
                    balloonContentBody: '<strong>' + points[index][2] + '</strong>, ' + points[index][3],
                    clusterCaption: '<strong>Объект №' + index + '</strong>'
                };
            },
            /**
             * Функция возвращает объект, содержащий опции метки.
             * Все опции, которые поддерживают геообъекты, можно посмотреть в документации.
             * @see https://api.yandex.ru/maps/doc/jsapi/2.1/ref/reference/GeoObject.xml
             */
            getPointOptions = function () {
                return {
                    preset: 'islands#blackIcon',
                    iconLayout: 'default#image',
                    iconImageHref: '{{"point_logo.png" | theme_image_url }}',
                    iconImageSize: [43, 72],
                    iconImageOffset: [-21, -36]
                };
            },
            points = [
                {% for object in contents.objects %}
        {% if object.latitude and object.latitude %}[{{ object.latitude}}, {{ object.longitude }}, '{{object.city.city}}', '{{object.address}}'],{% endif %}
        {% endfor %}
    ],
        geoObjects = [];

        /**
         * Данные передаются вторым параметром в конструктор метки, опции - третьим.
         * @see https://api.yandex.ru/maps/doc/jsapi/2.1/ref/reference/Placemark.xml#constructor-summary
         */
        for(var i = 0, len = points.length; i < len; i++) {
            geoObjects[i] = new ymaps.Placemark([points[i][0], points[i][1]], getPointData(i), getPointOptions());
        }

        /**
         * Можно менять опции кластеризатора после создания.
         */
        clusterer.options.set({
            gridSize: 80,
            clusterDisableClickZoom: true
        });

        /**
         * В кластеризатор можно добавить javascript-массив меток (не геоколлекцию) или одну метку.
         * @see https://api.yandex.ru/maps/doc/jsapi/2.1/ref/reference/Clusterer.xml#add
         */
        clusterer.add(geoObjects);
        myMap.geoObjects.add(clusterer);

        /**
         * Спозиционируем карту так, чтобы на ней были видны все объекты.
         */

        // myMap.setBounds(clusterer.getBounds(), {
        //     checkZoomRange: true
        // });

        function clickGoto() {

            // город
            var pos = this.textContent;
            // переходим по координатам
            myMap.panTo(destinations[pos], {
                flying: 1}).then(function () { myMap.setZoom(10, { smooth: true });}
            );
            $('html,body').animate({ scrollTop: 0 }, 'slow');
            return false;
        }

        // навешиваем обработчики
        var col = document.getElementsByClassName('goto');
        for (var i = 0, n = col.length; i < n; ++i) {
            col[i].onclick = clickGoto;
        }

//   for (var item in destinations) {
//                 // Используем замыкание, чтобы работать с конкретным свойством объекта
//                 (function (title, geoPoint) {
//                     // Создаем ссылку, обернутую в тег <p> для более приятного визуального восприятия
//                     YMaps.jQuery("<li><a href=\"#\">" + item + "</a></li>")
//                         .find('a')
//                             // Создаем обработчик по щелчку на ссылке
//                             .bind('click', function () {

//                                 // Подчеркиваем все ссылки
//                                 menuContainer.find('a').css('text-decoration', 'underline');

//                                 // Кроме той, на которую щелкнули
//                                 YMaps.jQuery(this).css('text-decoration', 'none');

//                                 // Перемещаем карту
//                                 map.panTo(geoPoint, {
// flying: 1,
// callback: function () { map.setZoom(zoom, { smooth: true }}
// }
//                                 return false;
//                             })
//                             .end()

//                         // Записываем элемент списка в список
//                         .appendTo(menuContainer);
//                 })(item, destinations[item])
//             }

//     for (var i = 0, l = groups.length; i < l; i++) {
//         createMenuGroup(groups[i]);
//     }

//     function createMenuGroup (group) {
//         // Пункт меню.
//         var menuItem = $('<li><a href="#">' + group.name + '</a></li>'),
//         // Коллекция для геообъектов группы.
//             collection = new ymaps.GeoObjectCollection(null),
//         // Контейнер для подменю.
//             submenu = $('<ul class="submenu"/>');

//         // Добавляем коллекцию на карту.
//         //myMap.geoObjects.add(collection);
//         // Добавляем подменю.
//         menuItem
//             .append(submenu)
//             // Добавляем пункт в меню.
//             .appendTo(menu);
//             // По клику удаляем/добавляем коллекцию на карту и скрываем/отображаем подменю.
//             //.find('a')
//             .bind('click', function () {
//                 if (collection.getParent()) {
//                     myMap.geoObjects.remove(collection);
//                     //submenu.hide();
//                 } else {
//                     myMap.geoObjects.add(collection);
//                     //submenu.show();
//                 }
//             });
//         for (var j = 0, m = group.items.length; j < m; j++) {
//             createSubMenu(group.items[j], collection, submenu);
//         }
//     }

//     function createSubMenu (item, collection, submenu) {
//         // Пункт подменю.
//         var submenuItem = $('<li><a href="#">' + item.name + '</a></li>'),
//         // Создаем метку.
//             placemark = new ymaps.Placemark(item.center);

//         // Добавляем метку в коллекцию.
//         collection.add(placemark);
//         // Добавляем пункт в подменю.
//         submenuItem
//             .appendTo(submenu)
//             // При клике по пункту подменю открываем/закрываем баллун у метки.
//             .find('a')
//             .bind('click', function () {

//               map.panTo(geoPoint, {
// flying: 1,
// callback: function () { map.setZoom(zoom, { smooth: true }}
// }
//                                 return false;
//                             });
//     }

//     // Добавляем меню в тэг BODY.
//     menu.appendTo($('body'));
//     // Выставляем масштаб карты чтобы были видны все группы.
//     //myMap.setBounds(myMap.geoObjects.getBounds());
    });
</script>

<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
    (function(){ var widget_id = 'GHhEXIPBg6';
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
<!-- {/literal} END JIVOSITE CODE -->
{% endblock %}