---
title: "Площадки по приказу Министерства спорта"
slug: min_sport
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 111
seo_title: "Оборудование по приказу министерства спорта | Интернет-магазин спортивного
  оборудования Sportmen"
meta_description: "Каталог оборудования по приказу министерства спорта от производителя
  лицензированного спортивного оборудования для дач, школ, спортплощадок. Продажа
  комплексов ГТО, турников, брусьев, лестниц, рукоходов."
---
{% extends wrapper %}
{% block main %}
  <section class="common-section">
    <div class="shadow">
      <div class="shadow-text">Площадки по приказу Министерства спорта</div>
    </div>

    <div>
      <div class="common-container">
        <h1 class="common-section-title">Каталог оборудования по приказу министерства спорта</h1>

        <div class="common-section-content">

          <div class="common-catalog">
            <div class="common-catalog-cards">
{% with_scope code: "min_sport" %}
  {% assign category = contents.categories.first %}
{% endwith_scope %}

        {% for item in category.products %}
            {% include 'catalog_item_block' %}
        {% endfor %}
  </div></div></div></div></div>
    </section>

{% endblock %}
