---
title: "Монтаж"
slug: mounting
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 26
seo_title: "Рекомендации к монтажу | Спортивное оборудование для уличных площадок
  – Sportmen"
meta_description: "Рекомендации к установке спортивного оборудования от компании Спортмен.
  Комплексы ГТО, турники, брусья, лестницы, рукоходы. Собственное производство."
---
{% extends 'parent' %}

{% block 'main' %}
<div class="common-container">
    <div class="breadcrumbs breadcrumbs-black pc-breadcrumbs">
    <span class="breadcrumbs-item">
      <a href="/">SPORTMEN.RU</a>
    </span>
        <span class="breadcrumbs-item">
      FAQ
    </span>
        <span class="breadcrumbs-item">
      <a href="/mounting">Монтаж оборудования</a>
    </span>
    </div>
</div>
<section class="common-landing faq-landing">
    <div class="faq-assembly-landing">
        <div class="shadow">
            <div class="shadow-text">Для монтажа потребуется</div>
        </div>
        <div class="common-container">
            <h1 class="common-section-title">Для монтажа потребуется:</h1>
            <div class="faq-assembly-requirements">
                <div class="faq-assembly-requirements__item">
                    <svg version="1.1" id="faq-assembly-requirements-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 120 168" style="enable-background:new 0 0 200 168;" xml:space="preserve">
        <style type="text/css">
          #faq-assembly-requirements-1 .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          #faq-assembly-requirements-1 .st1{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
                        <g>
          <rect x="4.4" y="10.1" class="st0" width="109.6" height="147.3"/>
                            <g>
            <line class="st1" x1="24.4" y1="31.5" x2="96.3" y2="31.5"/>
                                <line class="st1" x1="24.5" y1="94.6" x2="96.5" y2="94.6"/>
                                <line class="st1" x1="24.6" y1="115.6" x2="96.5" y2="115.6"/>
                                <line class="st1" x1="24.6" y1="136.6" x2="96.5" y2="136.6"/>
                                <rect x="24.9" y="48.4" class="st1" width="71" height="26"/>
          </g>
        </g>
        </svg>
                    <span>Инструкция по монтажу</span>
                </div>
                <div class="faq-assembly-requirements__item">
                    <svg version="1.1" id="faq-assembly-requirements-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 160 168" style="enable-background:new 0 0 200 168;" xml:space="preserve">
        <style type="text/css">
          #faq-assembly-requirements-2 .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          #faq-assembly-requirements-2 .st1{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
                        <g>
          <rect x="4.4" y="10.1" class="st0" width="109.6" height="147.3"/>
                            <rect x="114.2" y="10.1" class="st0" width="39.7" height="147.3"/>
                            <rect x="114.2" y="10.1" class="st0" width="20.4" height="147.3"/>
                            <line class="st1" x1="24.4" y1="106.5" x2="96.3" y2="106.5"/>
                            <line class="st1" x1="24.6" y1="136.6" x2="96.5" y2="136.6"/>
                            <line class="st1" x1="24.6" y1="121.6" x2="96.5" y2="121.6"/>
                            <path class="st1" d="M88.8,35.6l-5.6,10.1c-1.2,2.1-4.4,2.5-7.3,0.9C73,45,71.6,42,72.8,39.9L78.8,29c-4.1-0.6-8.4,0.7-11.5,3.8
            c-4.3,4.3-5.2,10.7-2.7,15.9L32,81c-1.7,1.7-1.7,4.4,0,6.1c1.7,1.7,4.4,1.7,6.1,0l32.6-32.2c5.1,2.6,11.6,1.8,15.9-2.5
            C91.2,47.9,91.9,40.9,88.8,35.6z"/>
        </g>
        </svg>
                    <span>Исполнительная схема</span>
                </div>
                <div class="faq-assembly-requirements__item">
                    <svg version="1.1" id="faq-assembly-requirements-3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 160 168" style="enable-background:new 0 0 200 168;" xml:space="preserve">
        <style type="text/css">
          #faq-assembly-requirements-3 .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          #faq-assembly-requirements-3 .st1{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
                        <g>
          <polyline class="st0" points="45.1,40.1 112.2,16 120.3,38.2   "/>
                            <rect x="76.3" y="27.1" transform="matrix(0.9399 -0.3415 0.3415 0.9399 -5.5759 30.255)" class="st0" width="13.6" height="7.6"/>

                            <rect x="84.5" y="49.6" transform="matrix(0.9399 -0.3415 0.3415 0.9399 -12.7638 34.3965)" class="st0" width="13.6" height="7.6"/>
                            <polyline class="st0" points="53.3,62.8 120.4,38.5 148.2,115  "/>
                            <path class="st1" d="M78.1,130.7L33.4,7.8l0,0c-1.2-3.4-5-5.2-8.5-4l0,0L4.4,11.3l2.3,6.2L24.5,11c1.5-0.5,3.1,0.2,3.7,1.7
            l43.3,119.1"/>
                            <polyline class="st1" points="93.7,141.9 157.4,118.7 155.2,112.7 89.9,136.5   "/>

                            <ellipse transform="matrix(0.9399 -0.3415 0.3415 0.9399 -45.7134 35.3098)" class="st1" cx="77.4" cy="147.5" rx="16.5" ry="16.5"/>
                            <ellipse transform="matrix(0.9399 -0.3415 0.3415 0.9399 -45.7134 35.3098)" class="st1" cx="77.4" cy="147.5" rx="5" ry="5"/>
        </g>
        </svg>
                    <span>Оборудование в полной комплектации</span>
                </div>
                <div class="faq-assembly-requirements__item">
                    <svg version="1.1" id="faq-assembly-requirements-4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 200 168" style="enable-background:new 0 0 200 168;" xml:space="preserve">
        <style type="text/css">
          #faq-assembly-requirements-4 .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          #faq-assembly-requirements-4 .st1{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
                        <g>
          <path class="st0" d="M75.7,90.9l-8.5,17.7c-2.3,4.8-8.1,4.8-10.4,0l-8.5-17.7c-24.8,4.5-43.8,27.7-43.8,55.8v7.9h115.1v-7.9
            C119.5,118.6,100.5,95.3,75.7,90.9z"/>
                            <path class="st0" d="M119.5,154.6h76.3v-7.9c0-28.1-18.9-51.3-43.8-55.8l-8.5,17.7c-2.3,4.8-8.1,4.8-10.4,0l-8.5-17.7
            c-9.1,1.6-17.5,5.8-24.4,11.9"/>
                            <path class="st1" d="M61.9,94.4L61.9,94.4c-14,0-25.3-11.3-25.3-25.3V12.9h27.3c12.9,0,23.3,10.5,23.3,23.3v32.9
            C87.2,83.1,75.9,94.4,61.9,94.4z"/>
                            <path class="st1" d="M87.2,39.6H50.7c-7.8,0-14.1-5.6-14.1-12.6V12.9"/>
                            <path class="st1" d="M138.2,94.4L138.2,94.4c-14,0-25.3-11.3-25.3-25.3V12.9h27.3c12.9,0,23.3,10.5,23.3,23.3v32.9
            C163.5,83.1,152.2,94.4,138.2,94.4z"/>
                            <path class="st1" d="M163.5,39.6H127c-7.8,0-14.1-5.6-14.1-12.6V12.9"/>
        </g>
        </svg>
                    <span>Помощники</span>
                </div>

            </div>
            <h2>Оборудование компании SPORTMEN отличается высоким качеством и возможностью сборки самостоятельно</h2>
            <div class="faq-assembly-scheme">
                <div class="faq-assembly-scheme__img">
                    <img src="{{'faq-assembly/parallel.jpg' | theme_image_url }}" alt="">
                </div>
                <div class="faq-assembly-scheme__list">
                    <ol>
                        <li>
                            Уличный тренажер сделан из труб разного диаметра по желанию заказчика, с толщиной стенки не менее 3 мм
                        </li>
                        <li>
                            Фундамент тренажера заливается на глубину не менее 40 см
                        </li>
                        <li>
                            Покраска - эмаль полиэфирная, нанесенная в электростатической термокамере (порошковая окраска)
                        </li>
                        <li>
                            Хомуты позволяют регулировать высоту того или иного спортивного снаряда. С их помощью можно использовать различные комбинации столбов и перекладин, создавая конструкции
                        </li>
                        <li>
                            Основание тренажера крепится к фундаменту при помощи закладных деталей
                        </li>
                    </ol>
                    <button class="faq-assembly-scheme__submit" type="button" name="button" onclick="location.href='/trainers'">выбрать свой тренажер</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="common-section faq-assembly-steps-section">
    <div class="faq-assembly-steps-wrapper">
        <div class="common-container faq-assembly-steps">
            <p class="common-landing-title">10 простых этапов монтажа</p>
            <div class="faq-assembly-steps__subtitle">
                <p>Чтобы подготовить и смонтировать площадку, не требуются особые навыки и инструменты</p>
                <p>На установку одного комплекса уходит от 50 минут до 3 часов, в зависимости от его величины</p>
            </div>
            <div class="faq-assembly-steps__icons">
                <ul class="faq-assembly-steps__icons_list faq-icons-list">
                    <li class="faq-assembly-steps__icons_list_item faq-icons-list-1 arrow-right">
                        <svg version="1.1" id="faq-assembly-steps-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 117 156" style="enable-background:new 0 0 117 156;" xml:space="preserve">
              <style type="text/css">
                #faq-assembly-steps-1 .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
              </style>
                            <g>
                <rect x="3.7" y="4.2" class="st0" width="109.6" height="147.3"/>
                                <line class="st0" x1="23.7" y1="100.6" x2="95.6" y2="100.6"/>
                                <line class="st0" x1="23.9" y1="130.7" x2="95.8" y2="130.7"/>
                                <line class="st0" x1="23.9" y1="115.8" x2="95.8" y2="115.8"/>
                                <path class="st0" d="M88.1,29.7l-5.6,10.1c-1.2,2.1-4.4,2.5-7.3,0.9c-2.9-1.6-4.3-4.6-3.1-6.7l6.1-10.9c-4.1-0.6-8.4,0.7-11.5,3.8
                  c-4.3,4.3-5.2,10.7-2.7,15.9L31.3,75.1c-1.7,1.7-1.7,4.4,0,6.1c1.7,1.7,4.4,1.7,6.1,0L70,49c5.1,2.6,11.6,1.8,15.9-2.5
                  C90.5,42,91.2,35,88.1,29.7z"/>
              </g>
              </svg>
                        <p class="h2">01</p>
                        <p>Спланировать участок в соответствии с исполнительной схемой</p>
                    </li>
                    <li class="faq-assembly-steps__icons_list_item faq-icons-list-2 arrow-right">
                        <svg version="1.1" id="faq-assembly-steps-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 143 156" style="enable-background:new 0 0 143 156;" xml:space="preserve">
              <style type="text/css">
                #faq-assembly-steps-2 .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
              </style>
                            <g>
                <polygon class="st0" points="43.3,139.9 3.7,151.5 14.9,111.5 101.7,24.7 130.1,53.1  "/>
                                <path class="st0" d="M130.3,52.9c7.8-7.8,7.8-20.6,0-28.4s-20.6-7.8-28.4,0"/>
                                <g>
                  <polyline class="st0" points="42.1,140.7 45.1,123.9 28.3,126.9 31.2,110.1 14.4,113.1    "/>
                </g>
                                <line class="st0" x1="31" y1="124.2" x2="88.1" y2="67.1"/>
                                <line class="st0" x1="93.4" y1="33.3" x2="121.5" y2="61.4"/>
              </g>
              </svg>
                        <p class="h2">02</p>
                        <p>Нанести разметку для всех конструкций</p>
                    </li>
                    <li class="faq-assembly-steps__icons_list_item faq-icons-list-3 arrow-right">
                        <svg version="1.1" id="faq-assembly-steps-3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 168 156" style="enable-background:new 0 0 168 156;" xml:space="preserve">
              <style type="text/css">
                #faq-assembly-steps-3 .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
              </style>
                            <g>
                <path class="st0" d="M161.4,151.5c0.2-3-0.3-6.2-1.7-9c-6.8-13.6-32.4-12.2-35-12c-18.8,1.2-19.5,5.1-36,8c-29,5.1-43.4-14.5-66-6
                  c-8.7,3.2-19,11.5-19.1,19H161.4z"/>
                                <path class="st0" d="M61.5,136v-13.8c0-4.2,3.4-7.7,7.7-7.7h26.7c4.2,0,7.7,3.4,7.7,7.7v12.5"/>
                                <path class="st0" d="M82.5,12.5L82.5,12.5c-2.5,0-4.5,2-4.5,4.5v97.5h9V17C87,14.5,85,12.5,82.5,12.5z"/>
                                <line class="st0" x1="82.5" y1="114.5" x2="82.5" y2="126.5"/>
                                <line class="st0" x1="67.5" y1="16.5" x2="97.5" y2="16.5"/>
              </g>
              </svg>
                        <p class="h2">03</p>
                        <p>Сделать отверстия для установки опорных столбов</p>
                    </li>
                    <li class="faq-assembly-steps__icons_list_item faq-icons-list-4 arrow-down">
                        <svg version="1.1" id="faq-assembly-steps-4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 112 156" style="enable-background:new 0 0 112 156;" xml:space="preserve">
              <style type="text/css">
                #faq-assembly-steps-4 .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
              </style>
                            <g>
                <ellipse class="st0" cx="51.8" cy="144" rx="48.2" ry="7.5"/>
                                <path class="st0" d="M73.5,12.4l-10.8,6l-10.8-6l-10.8,6l-10.8-6l-10.8,6v89.5c0,5.8,14.6,10.4,32.5,10.4
                  c17.9,0,32.5-4.7,32.5-10.4V18.4L73.5,12.4z"/>
              </g>
              </svg>
                        <p class="h2">04</p>
                        <p>Установить столбы согласно чертежам</p>
                    </li>
                    <li class="faq-assembly-steps__icons_list_item faq-icons-list-5 arrow-left">
                        <svg version="1.1" id="faq-assembly-steps-5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 123 156" style="enable-background:new 0 0 123 156;" xml:space="preserve">
              <style type="text/css">
                #faq-assembly-steps-5 .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
              </style>
                            <g>
                <path class="st0" d="M73.1,40.9v28c10.1,4.9,17.1,15.3,17.1,27.3s-7,22.4-17.1,27.3v28c25.2-5.8,44-28.3,44-55.3
                  C117.1,69.3,98.3,46.7,73.1,40.9z"/>
                                <path class="st0" d="M29.7,96.2c0-12.3,7.4-23,18-27.7V40.9c-25.2,5.8-44,28.3-44,55.3c0,27,18.8,49.5,44,55.3v-27.6
                  C37.1,119.2,29.7,108.6,29.7,96.2z"/>
                                <line class="st0" x1="100.7" y1="55.5" x2="138.5" y2="55.5"/>
                                <rect x="138.5" y="47.3" class="st0" width="7.8" height="14.6"/>
                                <line class="st0" x1="100.7" y1="137.7" x2="138.5" y2="137.7"/>
                                <line class="st0" x1="58.6" y1="55.5" x2="73.1" y2="55.5"/>
                                <line class="st0" x1="58.6" y1="137.7" x2="73.1" y2="137.7"/>
                                <rect x="138.5" y="129.5" class="st0" width="7.8" height="14.6"/>
              </g>
              </svg>
                        <p class="h2">05</p>
                        <p>Наживить перекладины с помощью хомутов на нужной высоте</p>
                    </li>
                    <li class="faq-assembly-steps__icons_list_item faq-icons-list-6 arrow-left">
                        <svg version="1.1" id="faq-assembly-steps-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 90 156" style="enable-background:new 0 0 90 156;" xml:space="preserve">
              <style type="text/css">
                #faq-assembly-steps-6 .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
              </style>
                            <g>
                <ellipse class="st0" cx="44.2" cy="144" rx="40.5" ry="7.5"/>
                                <path class="st0" d="M58.2,100c-4.4-0.3-9.1-0.5-14-0.5c-5,0-9.9,0.2-14.3,0.5"/>
                                <polygon class="st0" points="58.5,68.7 29.8,68.7 29.8,100.4 44.2,118.3 58.5,100.4   "/>
                                <line class="st0" x1="44" y1="68.7" x2="44" y2="18.4"/>
              </g>
              </svg>
                        <p class="h2">06</p>
                        <p>Выставить трубы и перекладины строго по уровню</p>
                    </li>
                    <li class="faq-assembly-steps__icons_list_item faq-icons-list-7 arrow-left">
                        <svg version="1.1" id="faq-assembly-steps-7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 123 156" style="enable-background:new 0 0 173 156;" xml:space="preserve">
              <style type="text/css">
                #faq-assembly-steps-7 .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
              </style>
                            <path class="st0" d="M105.5,59l-9.8,17.7c-2,3.6-7.8,4.3-12.8,1.6s-7.5-8.1-5.5-11.7l10.6-19.2c-7.2-1-14.7,1.3-20.2,6.7
                c-7.6,7.5-9.2,18.8-4.7,27.9L5.9,138.5c-3,2.9-3,7.8-0.1,10.7c2.9,3,7.8,3,10.7,0.1l57.2-56.5c9,4.6,20.3,3.2,27.9-4.3
                C109.8,80.5,111,68.3,105.5,59z"/>
              </svg>
                        <p class="h2">07</p>
                        <p>Зафиксировать перекладины, затянув болты в хомутах</p>
                    </li>
                    <li class="faq-assembly-steps__icons_list_item faq-icons-list-8 arrow-down arrow-down-lower">
                        <svg version="1.1" id="faq-assembly-steps-8" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 173 156" style="enable-background:new 0 0 173 156;" xml:space="preserve">
              <style type="text/css">
                #faq-assembly-steps-8 .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
              </style>
                            <g>
                <path class="st0" d="M112.5,26.4c-1.8-4.3-6.6-7.2-11.9-7.2H73.8c-5.3,0-10.1,2.9-11.9,7.2L46.5,62.4v18l15.4,36.1
                  c1.8,4.3,6.6,7.2,11.9,7.2h26.7c5.3,0,10.1-2.9,11.9-7.2l15.4-36.1v-18L112.5,26.4z"/>
                                <line class="st0" x1="46.5" y1="62.4" x2="127.9" y2="62.4"/>
                                <line class="st0" x1="46.5" y1="80.4" x2="127.9" y2="80.4"/>
                                <path class="st0" d="M31.1,121.7c1.9,0,3.6,0.3,5.3,1V37c0-1.2-1-2.2-2.2-2.2H28c-1.2,0-2.2,1-2.2,2.2v85.7
                  C27.4,122.1,29.2,121.7,31.1,121.7z"/>
                                <path class="st0" d="M143.3,121.7c1.9,0,3.6,0.3,5.3,1V37c0-1.2-1-2.2-2.2-2.2h-6.2c-1.2,0-2.2,1-2.2,2.2v85.7
                  C139.6,122.1,141.4,121.7,143.3,121.7z"/>
                                <circle class="st0" cx="143.3" cy="136.6" r="14.9"/>
                                <circle class="st0" cx="31.1" cy="136.6" r="14.9"/>
                                <line class="st0" x1="46.5" y1="71.4" x2="36.4" y2="71.4"/>
                                <line class="st0" x1="138" y1="71.4" x2="127.9" y2="71.4"/>
                                <line class="st0" x1="154.6" y1="71.4" x2="148.6" y2="71.4"/>
                                <polygon class="st0" points="3.7,88.3 25.8,88.3 25.8,38.7 12.5,38.7 3.7,68.2  "/>
                                <line class="st0" x1="157.2" y1="99.1" x2="157.2" y2="43.8"/>
              </g>
              </svg>
                        <p class="h2">08</p>
                        <p>Когда все выставлено в уровень и протянуто, залить бетон и еще раз проверить вертикали</p>
                    </li>
                    <li class="faq-assembly-steps__icons_list_item faq-icons-list-9 arrow-right">
                        <svg version="1.1" id="faq-assembly-steps-9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 173 156" style="enable-background:new 0 0 173 156;" xml:space="preserve">
              <style type="text/css">
                #faq-assembly-steps-9 .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
              </style>
                            <g>
                <path class="st0" d="M152.7,89.9H19.6c-8.8,0-16,7.1-16,16v0c0,2.7,2.2,4.8,4.8,4.8h155.4c2.7,0,4.8-2.2,4.8-4.8v0
                  C168.7,97,161.5,89.9,152.7,89.9z"/>
                                <g>
                  <path class="st0" d="M10.2,92.6l31.8-34.7c3.6-3.8,8.6-6,13.9-6h102.4c5.4,0,9.7,4.7,9.7,10.4s-4.3,10.4-9.7,10.4H61.7
                    c-5.3,0-10.3,2.2-13.9,6L37.5,89.9"/>
                </g>
                                <line class="st0" x1="128.1" y1="72.7" x2="128.1" y2="89.9"/>
                                <path class="st0" d="M165.3,151.5H7c-1.7,0-3-1.6-2.7-3.3l6.4-35.3c0.2-1.3,1.4-2.3,2.7-2.3h145.2c1.3,0,2.5,0.9,2.7,2.2l6.8,35.3
                  C168.4,149.9,167.1,151.5,165.3,151.5z"/>
                                <g>
                  <line class="st0" x1="22.8" y1="151.5" x2="22.8" y2="110.7"/>
                                    <line class="st0" x1="36.8" y1="151.5" x2="36.8" y2="110.7"/>
                                    <line class="st0" x1="50.7" y1="151.5" x2="50.7" y2="110.7"/>
                                    <line class="st0" x1="64.7" y1="151.5" x2="64.7" y2="110.7"/>
                                    <line class="st0" x1="78.6" y1="151.5" x2="78.6" y2="110.7"/>
                                    <line class="st0" x1="92.6" y1="151.5" x2="92.6" y2="110.7"/>
                                    <line class="st0" x1="106.5" y1="151.5" x2="106.5" y2="110.7"/>
                                    <line class="st0" x1="120.4" y1="151.5" x2="120.4" y2="110.7"/>
                                    <line class="st0" x1="134.4" y1="151.5" x2="134.4" y2="110.7"/>
                                    <line class="st0" x1="148.3" y1="151.5" x2="148.3" y2="110.7"/>
                </g>
              </g>
              </svg>
                        <p class="h2">09</p>
                        <p>Отмыть следы бетона со столбов в течение трех часов</p>
                    </li>
                    <li class="faq-assembly-steps__icons_list_item faq-icons-list-10">
                        <svg version="1.1" id="faq-assembly-steps-10" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 143 156" style="enable-background:new 0 0 173 156;" xml:space="preserve">
              <style type="text/css">
                #faq-assembly-steps-10 .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
              </style>
                            <g>
                <path class="st0" d="M15.9,16.3L15.9,16.3c-2.3,0-4.1,1.8-4.1,4.1v131.1H20V20.4C20,18.1,18.2,16.3,15.9,16.3z"/>
                                <path class="st0" d="M68.3,16.3L68.3,16.3c-2.3,0-4.1,1.8-4.1,4.1v131.1h8.2V20.4C72.4,18.1,70.5,16.3,68.3,16.3z"/>
                                <path class="st0" d="M121.2,16.3L121.2,16.3c-2.3,0-4.1,1.8-4.1,4.1v131.1h8.2V20.4C125.3,18.1,123.4,16.3,121.2,16.3z"/>
                                <line class="st0" x1="11.8" y1="27.8" x2="72.4" y2="27.8"/>
                                <line class="st0" x1="66.2" y1="51.1" x2="125.3" y2="51.1"/>
                                <line class="st0" x1="108.9" y1="151.5" x2="133.4" y2="151.5"/>
                                <line class="st0" x1="56" y1="151.5" x2="80.5" y2="151.5"/>
                                <line class="st0" x1="3.7" y1="151.5" x2="28.1" y2="151.5"/>
              </g>
              </svg>
                        <p class="h2">10</p>
                        <p>Осуществить окончательную протяжку всех хомутов через 24 часа</p>
                    </li>
                </ul>
            </div>
            <div class="faq-assembly-steps__after-title">
                <h3 class="faq-assembly-steps__after-title_smaller-title">Все конструкции можно собирать на «земле», подложив под них смягчающие материалы
                    <p class="common-landing-title faq-assembly-steps__after-title_bigger-title">
                        Оборудование готово <br>к эксплуатации!
                    </p>
                </h3>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block 'pagescripts' %}
{{ '//cdn.jsdelivr.net/npm/walkway.js/src/walkway.min.js'| javascript_tag }}
{{ '//cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js'| javascript_tag }}
{{ 'faq-assembly.js'| javascript_tag }}

{% endblock %}
{% block 'pagestyles' %}
{% endblock %}