---
title: Pagination
slug: pagination
is_layout: false
allow_layout: false
listed: true
published: false
cache_strategy: none
response_type: text/html
position: 115
---
{% extends wrapper %}
{% block main %}
  <section class="common-section">
    <div class="shadow">
      <div class="shadow-text">Пагинация</div>
    </div>

    <div>
      <div class="common-container">
        <h1 class="common-section-title">Пагинация</h1>

        <div class="common-section-content">

          <div class="common-catalog">
            <div class="common-catalog-cards">
      {% paginate contents.products by 12 %}
      {% for item in paginate.collection %}
		{% include 'catalog_item_block' %}      
      {% endfor %}
      {% include 'pagination' with paginate %}
      {% endpaginate %}
  </div></div></div></div></div>
    </section>



{% endblock %}
