---
title: "Параворкаут"
slug: paraworkout
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 21
seo_title: "Оборудование для параворкаута | Уличные тренажеры для людей с ограниченными
  возможностями – Sportmen"
meta_description: "Спортивные уличные тренажеры Sportmen для людей с ограниченными
  возможностями. Собственное производство. Гарантия качества. Доставка по всей России."
---
{% extends 'wrapper' %}

{% block 'main' %}
  <section class="common-landing">
    <div class="common-landing-main paraworkout-landing-main">
      <div class="common-container">
        <div class="common-landing-flex">
          <div class="breadcrumbs">
            {% include 'breadcrumbs-catalog' %}
            <span class="breadcrumbs-item">
              <a href="/paraworkout">Параворкаут</a>
            </span>
          </div>

          <div class="common-landing-content">
            <h1 class="common-landing-title">Параворкаут</h1>

            <div class="common-landing-description">Спортинвые уличные тренажеры<br/>для людей с ограниченными возможностями</div>

            {% include 'advantages' %}

          </div>
        </div>
      </div>
    </div>

<div class="common-landing-tiles">
      <div class="common-landing-tiles-wrapper">
        <div class="common-landing-tiles-item">
          Мы уверены<br>
          <small>что люди с ограниченными возможностями</small><br>
          <b class="common-landing-tiles-item-accent-text">могут заниматься уличным спортом</b>
        </div>

        <div class="common-landing-tiles-item">
          Мы уверены<br>
          <small>что люди с ограниченными возможностями</small><br>
          <b class="common-landing-tiles-item-accent-text">полноправные члены общества</b>
        </div>

        <div class="common-landing-tiles-item">
          Мы уверены<br>
          <small>что люди с ограниченными возможностями</small><br>
          <b class="common-landing-tiles-item-accent-text">вызывают уважение</b>
        </div>
      </div>
    </div>

  </section>

  <section class="common-section">
    <div class="shadow">
      <div class="shadow-text">Параворкаут</div>
    </div>

    <div>
      <div class="common-container">
        <div class="common-section-title">Параворкаут</div>

        <div class="common-section-content">

          <div class="paraworkout-about">
            <div class="paraworkout-about-left">
              <div class="paraworkout-about-pie">
                <div class="paraworkout-about-pie-number">
                  <div class="paraworkout-about-pie-number-value">100%</div>
                </div>

                <div class="paraworkout-about-pie-image">
                  <img class="paraworkout-about-pie-image-element" src="{{'paraworkout/pie.svg' | theme_image_url }}" alt="" />
                </div>

                <div class="paraworkout-about-pie-number">
                  <div class="paraworkout-about-pie-number-value">0.1%</div>
                  <div class="paraworkout-about-pie-number-description">Спортивных площадок приспособленных для инвалидов</div>
                </div>
              </div>

              <div class="paraworkout-about-pie-description">В России более <b>13 млн.</b> инвалидов из них <b>3,8%</b> занимаются спортом и всего <b>0,1%</b> спортивных площадок приспособленных для инвалидов</div>
            </div>

            <div class="paraworkout-about-right">
              <div class="paraworkout-about-icons">
                <div class="paraworkout-about-icons-item">
                  <div class="paraworkout-about-icons-icon">
                    <img src="{{'paraworkout/icon-1.svg' | theme_image_url }}" alt="" />
                  </div>
                  <div class="paraworkout-about-icons-title">Широкие подъезды к тренажерам для инвалидов-колясочников</div>
                </div>

                <div class="paraworkout-about-icons-item">
                  <div class="paraworkout-about-icons-icon">
                    <img src="{{'paraworkout/icon-2.svg' | theme_image_url }}" alt="" />
                  </div>
                  <div class="paraworkout-about-icons-title">Все тренажеры сделаны из высококачественных материалов по стандартам качества</div>
                </div>

                <div class="paraworkout-about-icons-item">
                  <div class="paraworkout-about-icons-icon">
                    <img src="{{'paraworkout/icon-3.svg' | theme_image_url }}" alt="" />
                  </div>
                  <div class="paraworkout-about-icons-title">Площадки могут быть размещены на даче, спортивной школьной площадке, в парке и т.д.</div>
                </div>

                <div class="paraworkout-about-icons-item">
                  <div class="paraworkout-about-icons-icon">
                    <img src="{{'paraworkout/icon-4.svg' | theme_image_url }}" alt="" />
                  </div>
                  <div class="paraworkout-about-icons-title">Специальные тренажеры, которыми могут пользоваться разные категории инвалидов</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
{% include 'common_catalog_sale' %}
  <section class="common-section">
    <div class="shadow">
      <div class="shadow-text">Тренажеры, разработанные для параворкаута</div>
    </div>

    <div>
      <div class="common-container">
        <div class="common-section-title">Тренажеры, разработанные для параворкаута</div>

        <div class="common-section-content">

          <div class="common-catalog">
            <div class="common-catalog-cards">
    {% for item in contents.products %}
    {% if item.type == 'para' %}
    {% include 'catalog_item_block' %}
    {% endif %}
    {% endfor %}
            </div>

<!--             <div class="common-catalog-pagination">
              <div class="common-catalog-pagination-prev">
                <button class="common-catalog-pagination-button ccpb-prev" type="button">
                  <span>←</span>
                  <span class="ccp-string">Страница 1</span>
                </button>
              </div>

              <div class="common-catalog-pagination-list">
                <button
                  class="common-catalog-pagination-button ccpb-num ccpb-active"
                  type="button"
                >
                  1
                </button>

                <button
                  class="common-catalog-pagination-button ccpb-num"
                  type="button"
                >
                  2
                </button>

                <button
                  class="common-catalog-pagination-button ccpb-num"
                  type="button"
                >
                  3
                </button>

                <button
                  class="common-catalog-pagination-button ccpb-num"
                  type="button"
                >
                  4
                </button>
              </div>

              <div class="common-catalog-pagination-counter">
                Страница 1 из 1194
              </div>

              <div class="common-catalog-pagination-next">
                <button class="common-catalog-pagination-button ccpb-next" type="button">
                  <span class="ccp-string">Страница 1</span>
                  <span>→</span>
                </button>
              </div>
            </div> -->
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="common-section">
    <div class="shadow">
      <div class="shadow-text">Комплексы, разработанные для параворкаута</div>
    </div>

    <div>
      <div class="common-container">
        <div class="common-section-title">Комплексы, разработанные для параворкаута</div>

        <div class="common-section-content">

          <div class="common-catalog">
            <div class="common-catalog-cards">


    {% for item in contents.products %}
    {% if item.type == 'para kompl' %}
    {% include 'catalog_item_block' %}
    {% endif %}
    {% endfor %}


            </div>

<!--             <div class="common-catalog-pagination">
              <div class="common-catalog-pagination-prev">
                <button class="common-catalog-pagination-button ccpb-prev" type="button">
                  <span>←</span>
                  <span class="ccp-string">Страница 1</span>
                </button>
              </div>

              <div class="common-catalog-pagination-list">
                <button
                  class="common-catalog-pagination-button ccpb-num ccpb-active"
                  type="button"
                >
                  1
                </button>

                <button
                  class="common-catalog-pagination-button ccpb-num"
                  type="button"
                >
                  2
                </button>

                <button
                  class="common-catalog-pagination-button ccpb-num"
                  type="button"
                >
                  3
                </button>

                <button
                  class="common-catalog-pagination-button ccpb-num"
                  type="button"
                >
                  4
                </button>
              </div>

              <div class="common-catalog-pagination-counter">
                Страница 1 из 1194
              </div>

              <div class="common-catalog-pagination-next">
                <button class="common-catalog-pagination-button ccpb-next" type="button">
                  <span class="ccp-string">Страница 1</span>
                  <span>→</span>
                </button>
              </div>
            </div> -->
          </div>

        </div>
      </div>
    </div>
  </section>

{% include 'equipment' %}

{% include 'yellowbox' %}

{% include 'common-gallery' %}

{% endblock %}

{% block 'pagescripts' %}
  {{"//unpkg.com/popper.js/dist/umd/popper.min.js"| javascript_tag}}
  {{"//unpkg.com/tooltip.js/dist/umd/tooltip.min.js"| javascript_tag}}
  {{"//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"| javascript_tag}}
  {{"magnific-popup.min.js"| javascript_tag}}

  <script>$(() => {
    // tooltips on landing section
    document.querySelectorAll('.ugly-tips-item')
      .forEach(element => {
        new Tooltip(element, {
          placement: 'top-end',
          title: element.dataset.tip,
          popperOptions: {
            modifiers: {
              flip: {
                enabled: false
              },
              preventOverflow: {
                escapeWithReference: true
              }
            }
          }
        });
      });

    // ugly-tips carousel
    if (window.innerWidth < 1280) {
      $('.ugly-tips').slick({
        slidesToShow: 1,
        infinite: false,
        draggable: true,
        arrows: false,
        dots: true,
        dotsClass: 'custom-dots'
      });
    }

    // gallery carousel
    $('.js-common-gallery').slick({
      slidesToShow: 6,
      infinite: false,
      draggable: false,
      arrows: false,
      dots: false,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            draggable: true,
            slidesToShow: 4
          }
        },
        {
          breakpoint: 500,
          settings: {
            draggable: true,
            slidesToShow: 3
          }
        },
        {
          breakpoint: 320,
          settings: {
            draggable: true,
            slidesToShow: 2
          }
        }
      ]
    });

    // magnific init
    $('.magnific-image').magnificPopup({
      type: 'image',
      mainClass: 'mfp-with-zoom',
      zoom: {
        enabled: true,
        duration: 300,
        easing: 'ease-in-out',
        opener: (el) => el.is('img') ? el : el.find('img')
      }
    });
  })</script>
{% endblock %}
{% block 'pagestyles' %}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" | stylesheet_tag}}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" | stylesheet_tag}}
{% endblock %}
