---
title: "Фотогалерея"
slug: photogallery
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 27
seo_title: "Фотогалерея | Спортивные уличные тренажеры Sportmen"
meta_description: "Галерея наших работ. Sportmen - уличные тренажеры для воркаута
  от производителя. Спортивное оборудование для спортивных площадок, школ, дач."
---
{% extends 'parent' %}

{% block 'main' %}
<div class="common-container">
  <div class="breadcrumbs breadcrumbs-black pc-breadcrumbs">
    <span class="breadcrumbs-item">
      <a href="/">SPORTMEN.RU</a>
    </span>
    <span class="breadcrumbs-item">
      О нас
    </span>
    <span class="breadcrumbs-item">
      <a href="/photogallery">Фотогалерея работ</a>
    </span>
  </div>
</div>
<section class="common-section gallery-main">
  <div class="shadow shadow-photogallery">
    <div class="shadow-text">фотогалерея</div>
  </div>
  <div class="common-container">
    <h1 class="common-section-title">Фотогалерея</h1>
    <div class="about-us-gallery" id='js-about-us-gallery'>
        {% for item in contents.gallery_items %}
        {% if item.gallery == 'Footer' %}
      	<a href="{{ item.link.url  | resize: '1000x1000' }}">
            {% if item.thumbnail.url %}
            <img src="{{ item.thumbnail.url | resize: '288x288#'}}" alt="" u="image">
            {% else %}
            <img src="{{ item.link.url | resize: '288x288#'}}" alt="" u="image">
            {% endif %}
        </a>
        {% endif %}
        {% endfor %}
    </div>
  </div>
</section>


{% endblock %}
{% block 'pagescripts' %}
  {{ 'magnific-popup.min.js'| javascript_tag }}
  {{ 'about_us_gallery.js'| javascript_tag }}

{% endblock %}
{% block 'pagestyles' %}

{% endblock %}
