---
title: Pickup
slug: pickup
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 120
seo_title: "Самовывоз"
meta_description: "Самовывоз спортивных комплексов и оборудования  Sportsmen"
---
{% extends 'wrapper' %}

{% block 'main' %}
<div class="common-container">
    <div class="breadcrumbs breadcrumbs-black pc-breadcrumbs">
    <span class="breadcrumbs-item">
      <a href="/">SPORTMEN.RU</a>
    </span>
        <span class="breadcrumbs-item">
      <a href="/shops">Самовывоз</a>
    </span>
    </div>
</div>
<section class="common-section wtb-landing-section">
    <div class="shadow shadow-top">
        <div class="shadow-text">
            Самовывоз
        </div>
    </div>

    <div class="common-container">
        <h1 class="common-section-title">
            Самовывоз
        </h1>
        <div class="address-contacts-flex">
            <div class="common-section-content">
                <div class="address-contacts-subtitle samovyvoz-subtitile">
                    Производство уличного спортивного оборудования «SPORTMEN»
                    Адрес:<b> г.Белгород, Сумская 66</b>, производственная база «SPORTMEN»
                </div>
                <div class="address-contacts-subtitle samovyvoz-subtitile">
                    Производство и Склад работает с 09.00 до 19.00 (МСК).
                    Для уточнения наличия товара предварительно согласуйте заказ с менеджером:
                </div>
                <div class="address-contacts-shop-value samovyvoz-contacts-list">
                    <a href="tel:88007751512" class="address-contacts-shop-value samovyvoz-contacts-list-item">
                        8 (800) 775-15-12
                    </a>
                    <a href="tel:84951335928" class="address-contacts-shop-value samovyvoz-contacts-list-item">
                        8 (495) 133-59-28
                    </a>
                    <a href="mailto:info@sportmen.ru" class="address-contacts-shop-value samovyvoz-contacts-list-item">
                        info@sportmen.ru
                    </a>
                </div>
                <div class="address-contacts-subtitle samovyvoz-subtitile">
                    При самовывозе вы оплачиваете только стоимость товара.
                </div>
            </div>
            <div class="address-contacts-map">
                <a target="_blank" href="https://yandex.ru/maps/?um=constructor%3A26ec167144e14fc8c2d4d4bdc3813cca92cccb94a9f9830f2409504d57111880&amp;source=constructorStatic" target="_blank"><img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3A26ec167144e14fc8c2d4d4bdc3813cca92cccb94a9f9830f2409504d57111880&amp;width=500&amp;height=400&amp;lang=ru_RU" alt="" style="border: 0;width: calc(100% - 10px);" /></a>
            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block 'pagescripts' %}
<script>
    $(() => {

        // ymaps
        // Там, выше можно хендлить смену города и переключение таба и ре-инитить карту
        // Нужно передать апи-ключ в яндекс
        ymaps.ready(init);
        var myMap;
        function init() {
            myMap = new ymaps.Map('map', {
                center: [55.68664099999999, 37.61732089999998],
                zoom: 15
            });
            {% for shop in contents.shops %}
            var myGeoObject{{forloop.index}} = new ymaps.GeoObject({
                geometry: {
                    type: "Point",
                    coordinates: [{{shop.latitude}}, {{shop.longitude}}]
        }});
            myMap.geoObjects.add(myGeoObject{{forloop.index}});
            {% endfor %}

        }

        // custom select
        $('select').each(function(){
            var $this = $(this), numberOfOptions = $(this).children('option').length;

            $this.addClass('select-hidden');
            $this.wrap('<div class="select"></div>');
            $this.after('<div class="select-styled"></div>');

            var $styledSelect = $this.next('div.select-styled');
            $styledSelect.text($this.children('option').eq(0).text());

            var $list = $('<ul />', {
                'class': 'select-options'
            }).insertAfter($styledSelect);

            for (var i = 0; i < numberOfOptions; i++) {
                $('<li />', {
                    text: $this.children('option').eq(i).text(),
                    rel: $this.children('option').eq(i).val()
                }).appendTo($list);
            }

            var $listItems = $list.children('li');

            $styledSelect.click(function(e) {
                e.stopPropagation();

                $('div.select-styled.active').not(this).each(function(){
                    $(this).removeClass('active').next('ul.select-options').hide();
                });

                $(this).toggleClass('active').next('ul.select-options').toggle();
            });

            $listItems.click(function(e) {
                e.stopPropagation();
                $styledSelect.text($(this).text()).removeClass('active');
                $this.val($(this).attr('rel'));
                $list.hide();
                $('.shops_block').removeClass('shops_block_active');
                $('#' + $(this).attr('rel')).addClass('shops_block_active');
                if($('#' + $(this).attr('rel') + ' .address-contacts-shop-tabs a:first-of-type').length > 0){
                    $('#' + $(this).attr('rel') + ' .address-contacts-shop-tabs a:first-of-type')[0].click();
                }
                let latitude = $('#' + $(this).attr('rel') + ' > .address-contacts-shop').data('latitude');
                let longitude = $('#' + $(this).attr('rel') + ' > .address-contacts-shop').data('longitude');
                myMap.panTo(
                    [latitude, longitude], {
                        flying: true
                    }
                )
            });

            $(document).click(function() {
                $styledSelect.removeClass('active');
                $list.hide();
            });
        });

        if(window.location.hash) {
            let hash = window.location.hash.substring(1);
            $('.select-options li[rel=' + hash + ']').click();
        }

        // tabs
        function Tabs() {
            var bindAll = function() {
                var menuElements = document.querySelectorAll('[data-tab]');
                for(var i = 0; i < menuElements.length ; i++) {
                    menuElements[i].addEventListener('click', change, false);
                }
            }

            var clear = function() {
                var menuElements = document.querySelectorAll('[data-tab]');
                for(var i = 0; i < menuElements.length ; i++) {
                    menuElements[i].classList.remove('active');
                    var id = menuElements[i].getAttribute('data-tab');
                    document.getElementById(id).classList.remove('active');
                }
            }

            var change = function(e) {
                clear();
                e.target.classList.add('active');
                var id = e.currentTarget.getAttribute('data-tab');
                document.getElementById(id).classList.add('active');
                let latitude = $('#' + id).data('latitude');
                let longitude = $('#' + id).data('longitude');
                myMap.panTo(
                    [latitude, longitude], {
                        flying: true
                    }
                )
            }

            bindAll();
        }

        var connectTabs = new Tabs();

    })

    $(document).ready(function(){
        $('.footer_shops a').click(function() {
            let hash = $(this).attr('href').split("#")[1];
            $('.select-options li[rel=' + hash + ']').click();
            $('html, body').animate({ scrollTop: 0 }, 'fast');
        });
    });
</script>

{% endblock %}

{% block 'pagestyles' %}

{% endblock %}
