---
title: "Игровое оборудование"
slug: playing
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 108
seo_title: "КАТАЛОГ ИГРОВОГО ОБОРУДОВАНИЯ"
meta_description: "Игровое оборудование от производителя для школ и дач, комплексы
  ГТО. Мы предлагаем выгодно купить . Доставка по всей России"
---
{% extends wrapper %}
{% block main %}
  <section class="common-section">
    <div class="shadow">
      <div class="shadow-text">Игровое оборудование</div>
    </div>

    <div>
      <div class="common-container">
        <h1 class="common-section-title">Каталог игрового оборудования</h1>

        <div class="common-section-content">

          <div class="common-catalog">
            <div class="common-catalog-cards">
      {% for item in contents.products %}
      {% if item.type == 'playing' %} 
		{% include 'catalog_item_block' %}      
      {% endif %}
      {% endfor %}
  </div></div></div></div></div>
    </section>



{% endblock %}
