---
title: "Силовые тренажеры"
slug: power
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 107
seo_title: "Антивандальные силовые тренажеры для улицы от производителя | Sportmen"
meta_description: "Производство и продажа антивандальных уличных силовых тренажеров.
  Гарантия качества. Индивидуальный подход. Доставка по всей России и миру."
---
{% extends 'parent' %}

{% block 'main' %}


<section class="yellowbox power-landing-section">
  <div class="common-container">
    <div class="breadcrumbs breadcrumbs-black">
      <span class="breadcrumbs-item">
        <a href="javascript:void(0);">Каталог</a>
      </span>
      <span class="breadcrumbs-item">
        <a href="javascript:void(0);">Силовые тренажеры</a>
      </span>
    </div>

    <div class="power-landing">
      <div class="yellowbox-title power-landing__title">
        <h1 class="yellowbox-title-element power-landing__title_text">Антивандальные уличные силовые тренажеры <span class="power-landing__title_text_black-border">от производителя</span></h1>
        <img class="power-landing__title_image" src="{{'power/power2.png' | theme_image_url }}" alt="">
      </div>
      <ul class="power-landing__list">
        <li class="power-landing__list_item">покраска <br> в любой цвет</li>
        <li class="power-landing__list_item">предварительный<br> 3d Проект<br> площадки</li>
        <li class="power-landing__list_item">Доставка <br> по России и СНГ <br>100% страховка груза</li>
      </ul>
    </div>
  </div>

</section>
{% include 'common-landing-tiles' %}

</section>
<section class="common-section power-description">
  <div class="shadow">
    <div class="shadow-text">Силовые тренажеры</div>
  </div>
  <div class="power-description__image">
    <img src="{{'power/power2.png' | theme_image_url }}" alt="">
  </div>
  <div class="common-container">
    <p class="commont-section-title power-dual-title">силовые тренажеры <span class="">с изменяемой нагрузкой</span></p>
    <p class="power-description__text">
      Компания <span>SPORTMEN</span>, основываясь на собственном производственном опыте, рекомендациях спортсменов и специалистов в данной области, выпустила новую серию уличных тренажеров  <span>POWER</span>  с изменяемой нагрузкой, которые являются полноценными аналогами оборудования фитнес залов.
    </p>
  </div>
</section>

<section class="common-section power-details">
  <div class="shadow">
    <div class="shadow-text">Конструктив силовых тренажеров</div>
  </div>
  <div class="common-container">
    <p class="commont-section-title power-dual-title">силовые ТРЕНАЖЕРЫ <span class="">серии POWER</span></p>
    <div class="power-details__wrapper">
      <ul class="power-details__wrapper_list-1">
        <li class="power-details__wrapper_list-1_item">Количество дисков (кг) по желанию заказчика</li>
        <li class="power-details__wrapper_list-1_item">Cистема регулировки нагрузки </li>
        <li class="power-details__wrapper_list-1_item">Полностью обрезиненные блины – не скользят и не царапают оборудование</li>
        <li class="power-details__wrapper_list-1_item">Полная порошковая покраска в любой цвет</li>
      </ul>
      <div class="power-details__wrapper_image">
        <picture>
      		  <source srcset="{{'power/power3.png' | theme_image_url }}" media="(min-width: 1280px)">
      		  <source srcset="{{'power/power3_lineless.png' | theme_image_url }}" media="(min-width: 992px)">
            <source srcset="{{'power/power_m.png' | theme_image_url }}" media="(max-width: 992px)">
      		  <img src="{{'power/power2.png' | theme_image_url }}">
      	</picture>
      </div>
      <ul class="power-details__wrapper_list-2">
        <li class="power-details__wrapper_list-2_item">Подшипниковые узлы соединения обеспечивают плавную и бесшумную работу</li>
        <li class="power-details__wrapper_list-2_item">Продуманная эргономика тренажеров обеспечивает правильную физиологию движения</li>
        <li class="power-details__wrapper_list-2_item">Возможная комплектация:
          <br>— на пластинах
          <br>— под бетонирование</li>
      </ul>
      <ul class="power-details__wrapper_list-mobile">
        <li class="power-details__wrapper_list-mobile_item">Количество дисков (кг) по желанию заказчика</li>
        <li class="power-details__wrapper_list-mobile_item">Cистема регулировки нагрузки</li>
        <li class="power-details__wrapper_list-mobile_item">Полностью обрезиненные блины – не скользят и не царапают оборудование</li>
        <li class="power-details__wrapper_list-mobile_item">Полная порошковая покраска в любой цвет</li>
        <li class="power-details__wrapper_list-mobile_item">Подшипниковые узлы соединения обеспечивают плавную и бесшумную работу</li>
        <li class="power-details__wrapper_list-mobile_item">Продуманная эргономика тренажеров обеспечивает правильную физиологию движения</li>
        <li class="power-details__wrapper_list-mobile_item">Возможная комплектация:
          <br>— на пластинах
          <br>— под бетонирование</li></li>
      </ul>
    </div>
  </div>
</section>


<section class="common-section">
<div class="shadow">
  <div class="shadow-text">Спортивные площадки</div>
</div>

<div>
  <div class="common-container">
    <div class="common-section-title">Выберите силовой тренажер для вашей спортплощадки</div>

    <div class="common-section-content">

      <div class="common-catalog">
        {% include 'common_catalog_sale' %}

        <div class="common-catalog-cards">

    {% for item in contents.products %}
    {% if item.type == 'power' %}
    {% include 'catalog_item_block' %}
    {% endif %}
    {% endfor %}
        </div>

      </div>

    </div>
  </div>
</div>
</section>

{% include 'equipment' %}

{% include 'yellowbox' %}

{% include 'common-gallery' %}

{% endblock %}
{% block 'pagescripts' %}
  {{ 'magnific-popup.min.js'| javascript_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js' | javascript_tag }}
  {{ '//cdn.jsdelivr.net/npm/walkway.js/src/walkway.min.js'| javascript_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js'| javascript_tag }}
  {{ 'power.js'| javascript_tag }}

  <script>$(() => {
    // tooltips on landing section
    document.querySelectorAll('.ugly-tips-item')
      .forEach(element => {
        new Tooltip(element, {
          placement: 'top-end',
          title: element.dataset.tip,
          popperOptions: {
            modifiers: {
              flip: {
                enabled: false
              },
              preventOverflow: {
                escapeWithReference: true
              }
            }
          }
        });
      });

    // ugly-tips carousel
    if (window.innerWidth < 1280) {
      $('.ugly-tips').slick({
        slidesToShow: 1,
        infinite: false,
        draggable: true,
        arrows: false,
        dots: true,
        dotsClass: 'custom-dots'
      });
    }

    // gallery carousel
    $('.js-common-gallery').slick({
      slidesToShow: 6,
      infinite: false,
      draggable: false,
      arrows: false,
      dots: false,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            draggable: true,
            slidesToShow: 4
          }
        },
        {
          breakpoint: 500,
          settings: {
            draggable: true,
            slidesToShow: 3
          }
        },
        {
          breakpoint: 320,
          settings: {
            draggable: true,
            slidesToShow: 2
          }
        }
      ]
    });

    // magnific init
    $('.magnific-image').magnificPopup({
      type: 'image',
      mainClass: 'mfp-with-zoom',
      zoom: {
        enabled: true,
        duration: 300,
        easing: 'ease-in-out',
        opener: (el) => el.is('img') ? el : el.find('img')
      }
    });
})</script>
{% endblock %}
{% block 'pagestyles' %}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" | stylesheet_tag}}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" | stylesheet_tag}}
{% endblock %}