---
title: "Премиум"
slug: premium
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 31
seo_title: "Уличные тренажеры премиум класса | Sportmen"
meta_description: "Производство и продажа тренажеров премиум класса. Гарантия качества.
  Индивидуальный подход. Доставка по всей России и миру."
---
{% extends 'parent' %}

{% block 'main' %}

<div class="premium-wrapper">

  <!--section class="common-landing">
    <div class="common-landing-main premium-landing-main">
      <div class="common-container">
        <div class="breadcrumbs">
          {% include 'breadcrumbs-catalog' %}
          <span class="breadcrumbs-item">
            <a href="/premium">Премиум тренажеры</a>
          </span>
        </div>

        <div class="common-landing-content premium-landing-content">
          <h1 class="common-landing-title">Спортивные уличные тренажеры премиум класса от производителя</h1>

          <div class="common-landing-advantages">
            <div class="common-landing-advantages-item">По самым выгодным ценам</div>
            <div class="common-landing-advantages-item">Оборудование в наличии на складе</div>
          </div>

          
          <div class="premium-landing-cta">
            <div class="premium-landing-cta-lg">
              <div class="premium-form">
                <form action="{{contents.customer_messages.public_submission_url}}" method="POST" data-goal="order" class="js-premium-form-short">
                  {% csrf_param %}
                  <input type="hidden" name="content[name]" value="Премиум -15%">
                  <div class="premium-form-label">Получите дополнительную осеннюю скидку 15%, привязанную к вашему номеру телефона!</div>

                  <div class="premium-form-group">
                    <div class="premium-form-input">
                      <div class="form-input-validation-error__popup">Пожалуйста, заполните это поле</div>
                      <input type="text" placeholder="Введите номер телефона" name="content[phone]">
                    </div>
                    <div class="premium-form-button">
                      <button type="submit">Отправить</button>
                    </div>
                  </div>

                  <div class="premium-form-agreement">
                    <label class="premium-form-checkbox">
                      <input type="checkbox" checked />
                      <span>Я соглашаюсь с политикой конфеденциальности</span>
                      <span class="form-input-validation-error__checkbox-popup">Вам необходимо согласиться с политикой конфиденциальности чтобы продолжить</span>
                    </label>
                  </div>
                </form>
              </div>
            </div>

            <div class="premium-landing-cta-sm">
              <div class="premium-landing-cta-label">Получите дополнительную осеннюю скидку 15%, привязанную к вашему номеру телефона!</div>

              <div class="premium-landing-cta-button">
                <a class="js-sale-button" href="#js-sale-popup">Получить</a>
              </div>
            </div>
          </div>
           
        </div>
      </div>
    </div>
    </section-->

  <!--section class="common-landing">
    <div class="common-landing-main sports-fields-landing-main">
      <div class="common-container">
        <div class="common-landing-flex">
          <div class="breadcrumbs">
            <span class="breadcrumbs-item">
              <a href="javascript:void(0);">Каталог</a>
            </span>
            <span class="breadcrumbs-item">
              <a href="javascript:void(0);">Спортивные площадки</a>
            </span>
          </div>

          <div class="common-landing-content">
            <h1 class="common-landing-title">Спортивные площадки от производителя</h1>

            <div class="common-landing-advantages">
              <div class="common-landing-advantages-item">По самым выгодным ценам</div>
              <div class="common-landing-advantages-item">Оборудовние в наличии на складе</div>
            </div-->
  
  <section class="common-landing">
    <div class="common-landing-main sports-fields-landing-main">
      <div class="common-container">
        <div class="common-landing-flex">
          <div class="breadcrumbs">
            <span class="breadcrumbs-item">
              <a href="/">SPORTMEN.RU</a>
            </span>            
            <span class="breadcrumbs-item">
              <a href="/products">Каталог</a>
            </span>
            <span class="breadcrumbs-item">
              <a href="/premium">Премиум тренажеры</a>
            </span>
          </div>

          <div class="common-landing-content">
            <h1 class="common-landing-title">Спортивные уличные тренажеры премиум класса от производителя</h1>

            <div class="common-landing-advantages">
              <div class="common-landing-advantages-item">По самым выгодным ценам</div>
              <div class="common-landing-advantages-item">Оборудовние в наличии на складе</div>
            </div>
            

        {% include 'advantages' %}
            
          </div>
        </div>
      </div>
    </div>

  <div class="common-landing-tiles">
      <div class="common-landing-tiles-wrapper">
        <div class="common-landing-tiles-item">Расширенная<br/>гарантия<br/>3 года</div>
        <div class="common-landing-tiles-item">Предварительный<br/>3D проект<br/>площадки</div>
        <div class="common-landing-tiles-item">Доставка<br/>по России и СНГ<br/>100% страховка груза</div>
      </div>
    </div>    
   </section>
  
  
  

  <div class="premium-slide-wrapper">
    <div id="premium-fix-nav-trigger"></div>
    <div id="premium-navigation" class="premium-navigation">
      <div class="premium-navigation-container">
        <div class="premium-navigation-section premium-nav premium-nav-0">
          <div>Технология</div>
        </div>
        <div class="premium-navigation-section-sub premium-nav premium-nav-1">01</div>
        <div class="premium-navigation-section-sub premium-nav premium-nav-2">02</div>
        <div class="premium-navigation-section-sub premium-nav premium-nav-3">03</div>
        <div class="premium-navigation-section-sub premium-nav premium-nav-4">04</div>
        <div class="premium-navigation-section-sub premium-nav premium-nav-5">05</div>
        <div class="premium-navigation-section-sub premium-nav premium-nav-6">06</div>
        <div class="premium-navigation-section-sub premium-nav premium-nav-7">07</div>
        <div class="premium-navigation-section-sub premium-nav premium-nav-8">08</div>
        <div class="premium-navigation-section-sub premium-nav premium-nav-9">09</div>
        <div class="premium-navigation-section premium-nav premium-nav-10">
          <div>Каталог</div>
        </div>
        <div class="premium-navigation-section premium-nav premium-nav-11">
          <div>Комплектация</div>
        </div>
        <div class="premium-navigation-section premium-nav premium-nav-12">
          <div>Дилерам</div>
        </div>
      </div>
    </div>

    <div id="premium-fix-trigger-1"></div>
    <div id="premium-slide-trigger-1"></div>
    <section class="premium-slide premium-slide-1">
      <div class="common-container">
        <div class="premium-slide-flex">
          <div class="premium-slide-content">
            <div class="premium-slide-content-counter">
              <div class="premium-slide-content-counter-current">01</div>
              <div class="premium-slide-content-counter-total">09</div>
            </div>

            <div class="premium-slide-image-sm">
              <img class="premium-slide-image-sm-right" src="{{'premium-slideshow/small/1.png' | theme_image_url }}" alt=""/>
            </div>

            <p class="premium-slide-content-title">Используется только 108 труба<p>
            <div class="premium-slide-content-text">
              <p>В основе тренажеров заложены опорные столбы диаметром 108мм, способные выдерживать большие нагрузки, поэтому подходят как для установки на территорию с большой проходимость, так и для частного использования</p>
            </div>
          </div>

          <div class="premium-slide-image">
            <img class="premium-slide-image-md premium-slide-image-md-1" src="{{'premium-slideshow/mid/1.png' | theme_image_url }}" alt=""/>
          </div>
        </div>
      </div> 
    </section>

    <div id="premium-slide-trigger-2"></div>
    <section class="premium-slide premium-slide-2">
      <div class="common-container">
        <div class="premium-slide-flex">
          <div class="premium-slide-content">
            <div class="premium-slide-content-counter">
              <div class="premium-slide-content-counter-current">02</div>
              <div class="premium-slide-content-counter-total">09</div>
            </div>

            <div class="premium-slide-image-sm">
              <img class="premium-slide-image-sm-right" src="{{'premium-slideshow/small/2.png' | theme_image_url }}" alt=""/>
            </div>

            <p class="premium-slide-content-title">Антивандальные стальные заглушки<p>
            <div class="premium-slide-content-text">
              <p>Стальная эллиптическая заглушка является неотьемлимой частью каждого опорного столба, несет в себе не только декоративные функции, но и защищает от попадания внутрь грязи и влаги, сохраняя тренажеры изнутри.</p>
              <p>Надежно спаянная со столбом, является антивандальной и благодаря своей прочности позволяет выполнять разные виды тренировочных элементов на некоторых видах оборудования</p>
            </div>
          </div>

          <div class="premium-slide-image">
            <img class="premium-slide-image-md premium-slide-image-md-2" src="{{'premium-slideshow/mid/2.png' | theme_image_url }}" alt=""/>
          </div>
        </div>
      </div> 
    </section>

    <div id="premium-slide-trigger-3"></div>
    <section class="premium-slide premium-slide-3">
      <div class="common-container">
        <div class="premium-slide-flex">
          <div class="premium-slide-content">
            <div class="premium-slide-content-counter">
              <div class="premium-slide-content-counter-current">03</div>
              <div class="premium-slide-content-counter-total">09</div>
            </div>

            <div class="premium-slide-image-sm">
              <img class="premium-slide-image-sm-right" src="{{'premium-slideshow/small/3.png' | theme_image_url }}" alt=""/>
            </div>

            <p class="premium-slide-content-title">4 наружные степени защиты<p>
            <div class="premium-slide-content-text">
              <p>Для долговечной эксплуатации спортивного оборудования важно защитить его от негативного воздействия окружающей среды (влага, мороз, солнечные лучи, соленый воздух, высокая температура и т.д.)</p> 

              <p>Поэтому все элементы каждого тренажера проходят четыре степени обработки, которые защищают металл от ржавчины, вздутия краски, быстрой коррозии и создают надежное защитное покрытие от воздействия внешних факторов </p>
            </div>
            <div class="premium-slide-image-md-text md-small-text">
              <div class="premium-slide-image-md-list">
                <div class="premium-slide-image-md-list-item">
                  <span>1</span>Механическая обработка
                </div>
                <div class="premium-slide-image-md-list-item">
                  <span>2</span>Цинкосодержащий грунт
                </div>
                <div class="premium-slide-image-md-list-item">
                  <span>3</span>Порошковая окраска
                </div>
                <div class="premium-slide-image-md-list-item">
                  <span>4</span>Покрытие лаком
                </div>
              </div>

              <div class="premium-slide-image-md-label">Защита от ветра, солнечных лучей, влаги, мороза и высокой температуры</div>
              <div class="premium-slide-image-md-block">
                <div class="premium-slide-image-md-block-sun"></div>
                <div class="premium-slide-image-md-block-wind"></div>
                <div class="premium-slide-image-md-block-rain"></div>
                <div class="premium-slide-image-md-block-snow"></div>
                <div class="premium-slide-image-md-block-thermometer"></div>
               </div>
              <!--img class="premium-slide-image-md-pic" src="{{'premium-slideshow/mid/3-icons.png' | theme_image_url }}" alt="" /-->
            </div>
          </div>

          <div class="premium-slide-image">
            <div class="premium-slide-image-md-wrapper">
              <img class="premium-slide-image-md premium-slide-image-md-3" src="{{'premium-slideshow/mid/3.png' | theme_image_url }}" alt=""/>
            </div>

            <div class="premium-slide-image-md-text">
              <div class="premium-slide-image-md-list">
                <div class="premium-slide-image-md-list-item">
                  <span>1</span>Механическая обработка
                </div>
                <div class="premium-slide-image-md-list-item">
                  <span>2</span>Цинкосодержащий грунт
                </div>
                <div class="premium-slide-image-md-list-item">
                  <span>3</span>Порошковая окраска
                </div>
                <div class="premium-slide-image-md-list-item">
                  <span>4</span>Покрытие лаком
                </div>
              </div>

              <div class="premium-slide-image-md-label">Защита от ветра, солнечных лучей, влаги, мороза и высокой температуры</div>
              <div class="premium-slide-image-md-block">
                <div class="premium-slide-image-md-block-sun"></div>
                <div class="premium-slide-image-md-block-wind"></div>
                <div class="premium-slide-image-md-block-rain"></div>
                <div class="premium-slide-image-md-block-snow"></div>
                <div class="premium-slide-image-md-block-thermometer"></div>
               </div>
              <!--img class="premium-slide-image-md-pic" src="{{'premium-slideshow/mid/3-icons.png' | theme_image_url }}" alt="" /-->
            </div>
          </div>
        </div>
      </div> 
    </section>

    <div id="premium-slide-trigger-4"></div>
    <section class="premium-slide premium-slide-4">
      <div class="common-container">
        <div class="premium-slide-flex">
          <div class="premium-slide-content">
            <div class="premium-slide-content-counter">
              <div class="premium-slide-content-counter-current">04</div>
              <div class="premium-slide-content-counter-total">09</div>
            </div>

            <div class="premium-slide-image-sm">
              <img class="premium-slide-image-sm-right" src="{{'premium-slideshow/small/4.png' | theme_image_url }}" alt=""/>
            </div>

            <p class="premium-slide-content-title">Внутренняя защита от коррозии металла в грунте<p>
            <div class="premium-slide-content-text">
              <p>Внутрь основания каждого опорного столба наносится специальное покрытие с антикоррозийными свойствами, которое позволяет защитить от ржавчины и гниения металл находящийся в грунте</p>
            </div>
          </div>

          <div class="premium-slide-image">
            <div class="premium-slide-image-md-text">
              <div class="premium-slide-image-md-label">Антикоррозийная защита 50 см</div>
            </div>

            <div class="premium-slide-image-md-wrapper">
              <img class="premium-slide-image-md premium-slide-image-md-4" src="{{'premium-slideshow/mid/4.png' | theme_image_url }}" alt=""/>
            </div>
          </div>
        </div>
      </div> 
    </section>

    <div id="premium-slide-trigger-5"></div>
    <section class="premium-slide premium-slide-5">
      <div class="common-container">
        <div class="premium-slide-flex">
          <div class="premium-slide-content">
            <div class="premium-slide-content-counter">
              <div class="premium-slide-content-counter-current">05</div>
              <div class="premium-slide-content-counter-total">09</div>
            </div>

            <div class="premium-slide-image-sm">
              <img class="premium-slide-image-sm-center" src="{{'premium-slideshow/small/5.png' | theme_image_url }}" alt=""/>
            </div>

            <p class="premium-slide-content-title">Хомутное соединение + болты из нержавейки<p>
            <div class="premium-slide-content-text">
              <p>Металлические хомуты надежно соединяют детали тренажеров и удобно крепятся; Позволяют при необходимости легко изменить высоту перекладин на необходимый Вам уровень</p>
              <p>Как и все элементы Премиум линейки оборудования <strong>SPORTMEN®</strong> хомуты имеют 4 степени защиты и дополнительно комплектуются болтами из нержавеющей стали, которые отличаются высокой стойкостью к коррозии и окислению</p>
            </div>
          </div>

          <div class="premium-slide-image">
            <img class="premium-slide-image-md premium-slide-image-md-5" src="{{'premium-slideshow/mid/5.png' | theme_image_url }}" alt=""/>
          </div>
        </div>
      </div> 
    </section>

    <div id="premium-slide-trigger-6"></div>
    <section class="premium-slide premium-slide-6">
      <div class="common-container">
        <div class="premium-slide-flex">
          <div class="premium-slide-content">
            <div class="premium-slide-content-counter">
              <div class="premium-slide-content-counter-current">06</div>
              <div class="premium-slide-content-counter-total">09</div>
            </div>

            <div class="premium-slide-image-sm">
              <img class="premium-slide-image-sm-right" src="{{'premium-slideshow/small/6.png' | theme_image_url }}" alt=""/>
            </div>

            <p class="premium-slide-content-title">Брендирование<br/>Ваша именная площадка<p>
            <div class="premium-slide-content-text">
              <p>Согласуем макет, изготовим тираж и укомплектуем спортивную прощадку индивидуальными наклейками Личного бренда или логотипом Вашей организации</p>
            </div>
          </div>

          <div class="premium-slide-image">
            <img class="premium-slide-image-md premium-slide-image-md-6" src="{{'premium-slideshow/mid/6.png' | theme_image_url }}" alt=""/>
          </div>
        </div>
      </div> 
    </section>

    <div id="premium-slide-trigger-7"></div>
    <section class="premium-slide premium-slide-7">
      <div class="common-container">
        <div class="premium-slide-flex">
          <div class="premium-slide-content">
            <div class="premium-slide-content-counter">
              <div class="premium-slide-content-counter-current">07</div>
              <div class="premium-slide-content-counter-total">09</div>
            </div>

            <div class="premium-slide-image-sm">
              <img class="premium-slide-image-sm-center" src="{{'premium-slideshow/small/7.png' | theme_image_url }}" alt=""/>
            </div>

            <p class="premium-slide-content-title">Возможно изготовление по индивидуальному заказу<p>
            <div class="premium-slide-content-text">
              <p>Принцип конструктора позволяет собрать множество различных вариаций уличных спортивных комплексов, а собственное производство позволяет дополнить их нестандартными элементами и окрасить оборудование согласно дизайну Вашего дома или стиля Компании</p>
              <p>Бесплатно создадим 3d макет площадки, что бы  Вы могли увидеть ее до того, как она будет установлена на Вашем участке</p>
            </div>
          </div>

          <div class="premium-slide-image">
            <img class="premium-slide-image-md premium-slide-image-md-7" src="{{'premium-slideshow/mid/7.png' | theme_image_url }}" alt=""/>
          </div>
        </div>
      </div> 
    </section>

    <div id="premium-slide-trigger-8"></div>
    <section class="premium-slide premium-slide-8">
      <div class="common-container">
        <div class="premium-slide-flex">
          <div class="premium-slide-content">
            <div class="premium-slide-content-counter">
              <div class="premium-slide-content-counter-current">08</div>
              <div class="premium-slide-content-counter-total">09</div>
            </div>

            <div class="premium-slide-image-sm">
              <img class="premium-slide-image-sm-right" src="{{'premium-slideshow/small/8.png' | theme_image_url }}" alt=""/>
            </div>

            <p class="premium-slide-content-title">2 степени упаковки + 100% страховка груза<p>
            <div class="premium-slide-content-text">
              <p>После всех производственных работ, элементы тренажеров бережно и надежно упаковываются в трехслойную воздушно-пузырьковую пленку или пленку-рукав из полиэтилена высокого давления, которые защищают оборудование от мелких потертостей и микро царапин, затем дополнительно упаковываются в гофрированный картон, что позволяет сохранить целостность оборудования при транспортировке</p>
              <p>Каждый отправленный нами груз на 100% застрахован в транспортной компании, поэтому Вы получите свой комплекс в целости и сохранности!</p>
            </div>
          </div>

          <div class="premium-slide-image">
            <img class="premium-slide-image-md premium-slide-image-md-8" src="{{'premium-slideshow/mid/8.png' | theme_image_url }}" alt=""/>
          </div>
        </div>
      </div> 
    </section>

    <div id="premium-slide-trigger-9"></div>
    <section class="premium-slide premium-slide-9">
      <div class="common-container">
        <div class="premium-slide-flex">
          <div class="premium-slide-content">
            <div class="premium-slide-content-counter">
              <div class="premium-slide-content-counter-current">09</div>
              <div class="premium-slide-content-counter-total">09</div>
            </div>

            <div class="premium-slide-image-sm">
              <img class="premium-slide-image-sm-right" src="{{'premium-slideshow/small/9.png' | theme_image_url }}" alt=""/>
            </div>

            <p class="premium-slide-content-title">Доставка по всей России и странам СНГ<p>
            <div class="premium-slide-content-text">
              <p>За 7 лет работы оборудование было отправлено в более чем 187 городов России и СНГ</p>
              <p>Сотрудничаем с крупными транспортными компаниями и частными перевозчиками, при рассчете логистики менеджеры подберут максимально комфортный и выгодный вариант доставки</p>
            </div>
          </div>

          <div class="premium-slide-image">
            <img class="premium-slide-image-md premium-slide-image-md-9" src="{{'premium-slideshow/mid/9.png' | theme_image_url }}" alt=""/>
          </div>
        </div>
      </div> 
    </section>

    <div id="premium-animated-images" class="premium-animated-images">
      <div class="shadow">
        <div class="shadow-text">Премиум тренажеры от производителя</div>
      </div>
      
      <div class="premium-animated-images-wrapper">
        <div class="premium-animated-images-inner">
          <img 
            class="premium-slide-image-1" 
            id="premium-slide-image-1" 
            src="{{'premium-slideshow/1.png' | theme_image_url }}" />

          <img 
            class="premium-slide-image-2" 
            id="premium-slide-image-2" 
            src="{{'premium-slideshow/2.png' | theme_image_url }}" />

          <img 
            class="premium-slide-image-3" 
            id="premium-slide-image-3" 
            src="{{'premium-slideshow/3.png' | theme_image_url }}" />

          <img 
            class="premium-slide-image-4" 
            id="premium-slide-image-4" 
            src="{{'premium-slideshow/4.png' | theme_image_url }}" />

          <img 
            class="premium-slide-image-5" 
            id="premium-slide-image-5" 
            src="{{'premium-slideshow/5.png' | theme_image_url }}" />

          <img 
            class="premium-slide-image-6" 
            id="premium-slide-image-6" 
            src="{{'premium-slideshow/6.png' | theme_image_url }}" />

          <img 
            class="premium-slide-image-6-1" 
            id="premium-slide-image-6-1" 
            src="{{'premium-slideshow/6-1.png' | theme_image_url }}" />

          <img 
            class="premium-slide-image-7" 
            id="premium-slide-image-7" 
            src="{{'premium-slideshow/7.png' | theme_image_url }}" />

          <img 
            class="premium-slide-image-7-1" 
            id="premium-slide-image-7-1" 
            src="{{'premium-slideshow/7-1.png' | theme_image_url }}" />

          <img 
            class="premium-slide-image-8" 
            id="premium-slide-image-8" 
            src="{{'premium-slideshow/8.png' | theme_image_url }}" />

          <img 
            class="premium-slide-image-9" 
            id="premium-slide-image-9" 
            src="{{'premium-slideshow/9.png' | theme_image_url }}" />

          <img 
            class="premium-slide-image-10" 
            id="premium-slide-image-10" 
            src="{{'premium-slideshow/10.png' | theme_image_url }}" />

          <img 
            class="premium-slide-image-11" 
            id="premium-slide-image-11" 
            src="{{'premium-slideshow/11.png' | theme_image_url }}" />

          <img 
            class="premium-slide-image-12" 
            id="premium-slide-image-12" 
            src="{{'premium-slideshow/12.png' | theme_image_url }}" />

          <img 
            class="premium-slide-image-13" 
            id="premium-slide-image-13" 
            src="{{'premium-slideshow/13.png' | theme_image_url }}" />

          <img 
            class="premium-slide-image-14" 
            id="premium-slide-image-14" 
            src="{{'premium-slideshow/14.png' | theme_image_url }}" />

          <img 
            class="premium-slide-image-15" 
            id="premium-slide-image-15" 
            src="{{'premium-slideshow/15.png' | theme_image_url }}" />

          <img 
            class="premium-slide-image-16" 
            id="premium-slide-image-16" 
            src="{{'premium-slideshow/16.png' | theme_image_url }}" />

          <img 
            class="premium-slide-image-17" 
            id="premium-slide-image-17" 
            src="{{'premium-slideshow/17.png' | theme_image_url }}" />
        </div>
      </div>
    </div>
  </div>

  <div id="premium-cta-trigger"></div>
  <section class="premium-cta yellowbox">
    <!--div class="shadow">
      <div class="shadow-text">Осенняя скидка 15%</div>
    </div>

    <div class="common-container">
      <div class="yellowbox-title">
        <p class="yellowbox-title-element">Дополнительная осенняя скидка 15%</p>
      </div>

      <div class="premium-form inverted">
        <form action="{{contents.customer_messages.public_submission_url}}" method="POST" data-goal="order" enctype="multipart/form-data" onsubmit="yaCounter32144179.reachGoal('mailform'); ga('send', 'event', 'ФормаЗвонка', 'Отправить'); return true;" class="js-premium-form inverted">
          {% csrf_param %}
          <input type="hidden" name="content[name]" value="Премиум -15%">
          <div class="premium-form-label">Получите весь каталог премиальных тренажеров и дополнительную осеннюю скидку 15% на ваш заказ!</div>

          <div class="premium-form-group premium-form-group-column">
            <div class="premium-form-input">
              <div class="form-input-validation-error__popup">Пожалуйста, заполните это поле</div>
              <input type="text" placeholder="Номер телефона" name="content[phone]">
            </div>
            <div class="premium-form-input">
              <div class="form-input-validation-error__popup">Пожалуйста, заполните это поле</div>
              <input type="text" placeholder="E-mail" name="content[email]">
            </div>
            <div class="premium-form-button">
              <button type="submit">Отправить</button>
            </div>
          </div>
          
          <div class="premium-form-agreement">
            <label class="premium-form-checkbox">
              <input type="checkbox" checked />
              <span>Я соглашаюсь с политикой конфеденциальности</span>
              <span class="form-input-validation-error__checkbox-popup">Вам необходимо согласиться с политикой конфиденциальности чтобы продолжить</span>
            </label>
          </div>
        </form>
      </div>
    </div-->
  </section>

  <div id="premium-catalog-trigger"></div>
  <section class="premium-catalog">
    <div class="shadow">
      <div class="shadow-text">Каталог</div>
    </div>

    <div class="common-container" id="block-catalog">
      <div class="premium-catalog-title">
        <p class="premium-catalog-title-element">Выберите подходящий тренажер для вашей спортивной площадки<p>
      </div>

      <!-- cards -->
      <!-- optimal pic size: 580x380 -->
      <div class="common-catalog">

    {% paginate contents.premiumitems by 12 %}
        <div class="common-catalog-cards">
        {% for item in paginate.collection %}
            {% include 'catalog_item_block_prem' %}
        {% endfor %}
        </div>
        {% include 'pagination' with paginate %}
  {% endpaginate %}

      </div>
    </div>
  </section>

  <div id="premium-kits-trigger"></div>
  <section class="premium-kits">
    <div class="shadow">
      <div class="shadow-text">Комплектация</div>
    </div>

    <div class="common-container">
      <div class="premium-kits-title">
        <p class="premium-kits-title-element">Комплектация</p>
      </div>

      <div class="premium-kits-content">
        <div class="premium-kits-row row">
          <div class="premium-kits-item col-xs-12 col-md-6">
            <img class="premium-kits-item-image d-none d-lg-flex d-xl-flex" src="{{'premium-kits-01.jpg' | theme_image_url }}" alt=""/>
            <img class="premium-kits-item-image d-none d-sm-flex d-lg-none" src="{{'premium-kits-01-md.jpg' | theme_image_url }}" alt=""/>
          </div>
          <div class="premium-kits-item col-xs-12 col-md-6">
            <div class="premium-kits-item-title left-divider">Оборудование</div>
            <img class="premium-kits-item-image d-flex d-sm-none" src="{{'premium-kits-01.jpg' | theme_image_url }}" alt=""/>
            <div class="premium-kits-item-text left-divider">Тренажеры в разобранном виде представляют собой полный набор всех деталей, элементов крепежа, а также сопроводительных документов. Упаковка всех комплектующих обеспечивает их защиту от повреждений при транспортировке и хранении. Детали тренажеров приходят в готовом для сборки состоянии и не требуют дополнительных операций (сверловка отверстий, сварка заглушек и т.п.)</div>
          </div>
        </div>

        <div class="premium-kits-row row">
          <div class="premium-kits-item col-xs-12 col-md-6 col-lg-7">
            <div class="premium-kits-item-title right-divider">Паспорт изделия</div>
            <div class="premium-kits-item-text right-divider d-xs-flex d-md-none d-lg-flex d-xl-flex">К каждому комплексу прилагается схема для монтажа и пошаговая инструкция. На чертеже указаны точные размеры тренажера, что позволит Вам спланировать его расположение на участке и сделать разметку. В инструкции подробно описываются Ваши действия при установке комплекса, а также последовательность их выполнения . Это позволит Вам самостоятельно произвести монтаж оборудования</div>
            <div class="premium-kits-item-text right-divider d-none d-md-flex d-lg-none">Каждый тренажер сопровождается паспортом завода-изготовителя. В нем представлена основная информация об изделии, условиях его эксплуатации, схема для монтажа, а также указан гарантийный срок.</div>
          </div>
          <div class="premium-kits-item col-xs-12 col-md-6 col-lg-5">
              <div class="common-kits-item-gallery">
                <a 
                  href="#" 
                  data-mfp-src="{{'passports/passport1.jpg' | theme_image_url }}" 
                  class="magnific-image">
                  <img src="{{'passports/passport1.jpg' | theme_image_url }}" />
                </a>

                <a 
                  href="#" 
                  data-mfp-src="{{'passports/passport2.jpg' | theme_image_url }}" 
                  class="magnific-image">
                  <img src="{{'passports/passport2.jpg' | theme_image_url }}" />
                </a>
              </div>
          </div>
        </div>

        <div class="premium-kits-row row">
          <div class="premium-kits-item col-xs-12 col-md-6 col-lg-8">
            <div class="premium-kits-item-gallery d-none d-sm-flex">
{% for item in contents.gallery_items %}
{% if item.gallery == 'Licenses' and item._position < 4 and item._position > 0 %}
                  <a 
                    href="#" 
                    data-mfp-src="{{ item.link.url  | resize: '1000x1000' }}" 
                    class="magnific-image">
    {% if item.thumbnail.url %}
                <img alt="" src="{{ item.thumbnail.url | resize: '174x255#' }}">
    {% else %}
                <img alt="" src="{{ item.link.url | resize: '174x255#' }}">
    {% endif %}
                  </a>
  {% endif %}
{% endfor %}
            </div>
          </div>
          <div class="premium-kits-item col-xs-12 col-md-6 col-lg-4">
            <div class="premium-kits-item-title left-divider">Сертификаты</div>
            <div class="premium-kits-item-gallery d-flex d-sm-none">
{% for item in contents.gallery_items %}
{% if item.gallery == 'Licenses' and item._position < 4 and item._position > 0 %}
                  <a 
                    href="#" 
                    data-mfp-src="{{ item.link.url  | resize: '1000x1000' }}" 
                    class="magnific-image">
    {% if item.thumbnail.url %}
                <img alt="" src="{{ item.thumbnail.url | resize: '174x255#' }}">
    {% else %}
                <img alt="" src="{{ item.link.url | resize: '174x255#'  }}">
    {% endif %}
                  </a>
  {% endif %}
{% endfor %}
            </div>
            <div class="premium-kits-item-text left-divider">Все тренажеры прошли испытания на качество и безопасность , что подтверждено сертификатом, который входит в пакет сопроводительных документов к оборудованию. Сертификат качества в обязательном порядке необходим для участия в тендерах, выполнении госконтрактов.</div>
          </div>
        </div>

        <div class="premium-kits-row row d-xs-flex d-md-none d-lg-flex d-xl-flex">
          <div class="premium-kits-item col-xs-12 col-md-6 col-lg-7">
            <div class="premium-kits-item-title right-divider">Инструкция по сборке и монтажу</div>
            <img class="premium-kits-item-image d-flex d-sm-none" src="{{'instruction.jpg' | theme_image_url }}" alt=""/>
            <div class="premium-kits-item-text right-divider">К каждому комплексу прилагается схема для монтажа и пошаговая инструкция. На чертеже указаны точные размеры тренажера, что позволит Вам спланировать его расположение на участке и сделать разметку. В инструкции подробно описываются Ваши действия при установке комплекса, а также последовательность их выполнения . Это позволит Вам самостоятельно произвести монтаж оборудования</div>
          </div>
          <div class="premium-kits-item col-sm-12 col-md-6 col-lg-5 d-none d-sm-flex">
            <img class="premium-kits-item-image common-kits-item-image common-kits-instruction-image" src="{{'instruction.jpg' | theme_image_url }}" alt=""/>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="premium-dealers-trigger"></div>

{% include 'yellowbox' %}

      
  <div class="mfp-hide wrapper-best-price-popup" id="js-sale-popup">
    <div class="wrapper-best-price-popup__wrapper">
      <p class="wrapper-best-price-popup__title">ПОЛУЧИТЕ ДОПОЛНИТЕЛЬНУЮ СКИДКУ 15%</p>
      <h2 class="wrapper-best-price-popup__sub-title">СВЯЖИТЕСЬ С НАШИМ
  МЕНЕДЖЕРОМ</h2>
      <form action="{{contents.customer_messages.public_submission_url}}" method="POST" data-goal="order" class="wrapper-best-price-popup__form js-best-price-popup__form">
        <div class="wrapper-best-price-popup__form-wrapper">
          <div class="wrapper-best-price-popup__form-name">
            <div class="form-input-validation-error__popup">Пожалуйста, заполните это поле</div>
            <input type="text" placeholder="Ваше имя" name="content[name]">
          </div>
          <div class="wrapper-best-price-popup__form-tel">
            <div class="form-input-validation-error__popup">Пожалуйста, заполните это поле</div>
            <input type="text" placeholder="Номер телефона" name="content[phone]">
          </div>
          <input type="submit" name="" value="отправить">
          <label class="faq-form__checkbox">
            <input type="checkbox" checked id='wrapper-best-price-popup__form-checkbox' name="" value="">
            <span for="wrapper-best-price-popup__form-checkbox">Я соглашаюсь с политикой конфиденциальности</span>
            <span class="form-input-validation-error__checkbox-popup">Вам необходимо согласиться с политикой конфиденциальности чтобы продолжить</span>
        </label>
        </div>
      </form>
      <p class="wrapper-best-price-popup__text">* Подробнее об условиях акции вы можете узнать у наших менеджеров</p>
    </div>
  </div>

</div>      
</div>

{% endblock %}

{% block 'pagescripts' %}
{{"//cdnjs.cloudflare.com/ajax/libs/bodymovin/5.4.2/lottie.min.js"| javascript_tag}}
{{"//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"| javascript_tag}}
{{"//cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"| javascript_tag}}
{{"//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"| javascript_tag}}
{{"//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/debug.addIndicators.min.js"| javascript_tag}}
{{"//cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"| javascript_tag}}
{{"magnific-popup.min.js"| javascript_tag}}
{{"//unpkg.com/popper.js/dist/umd/popper.min.js"| javascript_tag}}
{{"//unpkg.com/tooltip.js/dist/umd/tooltip.min.js"| javascript_tag}}
{{"//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"| javascript_tag}}

<script>
  $(() => {
    // magnific init
    $('.magnific-image').magnificPopup({
      type: 'image',
      mainClass: 'mfp-with-zoom',
      zoom: {
        enabled: true,
        duration: 300,
        easing: 'ease-in-out',
        opener: (el) => el.is('img') ? el : el.find('img')
      }
    });

    $('.js-sale-button').magnificPopup({
      type:'inline',
      midClick: true,
      closeBtnInside:true
    });  
  
    // init all shit only if viewport larger than 1280px
    if (window.innerWidth >= 1280) {
      const controller = new ScrollMagic.Controller();

      // create timelines
      const timeline1 = new TimelineMax()
        .to('#premium-slide-image-1', 1, { transform: 'translate(15%, 0%)' });

      const timeline2 = new TimelineMax()
        .to('#premium-slide-image-2', 1, { opacity: 1, transform: 'translate(0%, 0%)' })
        .to('#premium-slide-image-2', 1, { opacity: 1 })
        .to('#premium-slide-image-1', 1, { transform: 'translate(7%, 0%)' });

      const timeline3 = new TimelineMax()
        .to('#premium-slide-image-3', 1, { opacity: 1 })
        .to('#premium-slide-image-4', 1, { transform: 'translate(0%, 0%)' })
        .to('#premium-slide-image-5', 1, { transform: 'translate(0%, 0%)' })
        .to('#premium-slide-image-6', 1, { transform: 'translate(0%, 0%)' })
        .to('#premium-slide-image-6-1', 1, { opacity: 1 })
        .to('#premium-slide-image-6-1', 1, { opacity: 1 })
        .to('#premium-slide-image-6-1', 1, { opacity: 1 })
        .to('#premium-slide-image-6-1', 1, { opacity: 1 })
        .to('#premium-slide-image-6-1', 1, { opacity: 1 })
        .to('#premium-slide-image-6-1', 1, { opacity: 1 })
        .to('#premium-slide-image-6-1', 1, { opacity: 1 })
        .addLabel('custom-point-4')
        .to('#premium-slide-image-6-1', 1, { transform: 'translate(100%, 0%)' }, 'custom-point-4')
        .to('#premium-slide-image-1', 1, { transform: 'translate(100%, 0%)' }, 'custom-point-4')
        .to('#premium-slide-image-2', 1, { transform: 'translate(100%, 0%)' }, 'custom-point-4')
        .to('#premium-slide-image-3', 1, { transform: 'translate(100%, 0%)' }, 'custom-point-4')
        .to('#premium-slide-image-4', 1, { transform: 'translate(100%, 0%)' }, 'custom-point-4')
        .to('#premium-slide-image-5', 1, { transform: 'translate(100%, 0%)' }, 'custom-point-4')
        .to('#premium-slide-image-6', 1, { transform: 'translate(100%, 0%)' }, 'custom-point-4')
        .to('#premium-slide-image-6-1', 1, { opacity: 0 })
        .to('#premium-slide-image-6-1', 1, { transform: 'translate(0%, 0%)' });

      const timeline4 = new TimelineMax()
        .to('#premium-slide-image-7', 1, { transform: 'translate(0%, 0%)' })
        .to('#premium-slide-image-7-1', 1, { opacity: 1 })
        .to('#premium-slide-image-7-1', 1, { opacity: 1 })
        .to('#premium-slide-image-7-1', 1, { opacity: 1 })
        .to('#premium-slide-image-7-1', 1, { opacity: 1 })
        .to('#premium-slide-image-7-1', 1, { opacity: 1 })
        .addLabel('custom-point-1')
        .to('#premium-slide-image-7-1', 1, { transform: 'translate(100%, 0%)' }, 'custom-point-1')
        .to('#premium-slide-image-7', 1, { transform: 'translate(100%, 0%)' }, 'custom-point-1')
        .to('#premium-slide-image-7-1', 1, { opacity: 0 })
        .to('#premium-slide-image-7-1', 1, { transform: 'translate(0%, 0%)' });

      const timeline5 = new TimelineMax()
        .addLabel('custom-point-2')
        .to('#premium-slide-image-8', 1, { transform: 'translate(0%, 0%)' }, 'custom-point-2')
        .to('#premium-slide-image-9', 1, { opacity: 1, transform: 'translate(0%, 0%)' }, 'custom-point-2')
        .to('#premium-slide-image-10', 1, { transform: 'translate(0%, 0%)' }, 'custom-point-2')
        .addLabel('custom-point-3')
        .to('#premium-slide-image-10', 1, { transform: 'translate(0%, 0%)' }, 'custom-point-3')
        .addLabel('custom-point-4')
        .to('#premium-slide-image-8', 1, { transform: 'translate(100%, 0%)' }, 'custom-point-4')
        .to('#premium-slide-image-9', 1, { transform: 'translate(100%, 0%)' }, 'custom-point-4')
        .to('#premium-slide-image-10', 1, { transform: 'translate(100%, 0%)' }, 'custom-point-4')
        
      const timeline6 = new TimelineMax()
        .to('#premium-slide-image-11', 1, { transform: 'translate(0%, 0%)' })
        .to('#premium-slide-image-11', 1, { transform: 'translate(0%, 0%)' })
        .to('#premium-slide-image-11', 1, { transform: 'translate(100%, 0%)' });

      const timeline7 = new TimelineMax()
        .to('#premium-slide-image-12', 1, { transform: 'translate(0%, 0%)' })
        .to('#premium-slide-image-12', 1, { transform: 'translate(0%, 0%)' })
        .to('#premium-slide-image-12', 1, { transform: 'translate(100%, 0%)' });

      const timeline8 = new TimelineMax()
        .addLabel('custom-point-8')
        .to('#premium-slide-image-13', 1, { transform: 'translate(43%, 0%)' }, 'custom-point-8')
        .to('#premium-slide-image-14', 1, { transform: 'translate(0%, 0%)' }, 'custom-point-8')
        .to('#premium-slide-image-15', 1, { transform: 'translate(43%, 0%)' }, 'custom-point-8')
        .to('#premium-slide-image-15', 1, { transform: 'translate(43%, 0%)' }) // fix
        .addLabel('custom-point-x')
        .to('#premium-slide-image-13', 1, { transform: 'translate(100%, 0%)' }, 'custom-point-x')
        .to('#premium-slide-image-14', 1, { transform: 'translate(100%, 0%)' }, 'custom-point-x')
        .to('#premium-slide-image-15', 1, { transform: 'translate(100%, 0%)' }, 'custom-point-x');

      const timeline9 = new TimelineMax()
        .add('custom-point-9')
        .to('#premium-slide-image-13', 1, { transform: 'translate(100%, 0%)' }, 'custom-point-9')
        .to('#premium-slide-image-14', 1, { transform: 'translate(100%, 0%)' }, 'custom-point-9')
        .to('#premium-slide-image-15', 1, { transform: 'translate(100%, 0%)' }, 'custom-point-9')
        .to('#premium-slide-image-16', 1, { transform: 'translate(0%, 0%)' }, 'custom-point-9')
        .to('#premium-slide-image-17', 1, { transform: 'translate(0%, 0%)' }, 'custom-point-9')
        .to('#premium-slide-image-17', 1, { opacity: 1 })
        .to('#premium-slide-image-17', 1, { opacity: 1 });

      // build scenes
      const sceneWithShadow = new ScrollMagic.Scene({ 
        triggerElement: '#premium-fix-trigger-1', 
        triggerHook: 0,
        duration: document.querySelector('.premium-slide-wrapper').offsetHeight - document.querySelector('.premium-slide-9').offsetHeight
      })
        .setPin('#premium-animated-images')
        .addTo(controller);

      const calcNavDuration = () => {
        // просто складываем высоту всех секций, где навигация плавает
        const a = document.querySelector('.premium-slide-wrapper').offsetHeight;
        const b = document.querySelector('.premium-cta').offsetHeight;
        const c = document.querySelector('.premium-catalog').offsetHeight;
        const d = document.querySelector('.premium-kits').offsetHeight;

        return a + b + c + d;
      };

      const sceneWithNavigation = new ScrollMagic.Scene({
        triggerElement: '#premium-fix-nav-trigger',
        triggerHook: 0,
        duration: calcNavDuration()
      })
        .setPin('#premium-navigation')
        .addTo(controller);

      const scene1 = new ScrollMagic.Scene({ 
        triggerElement: '#premium-slide-trigger-1', 
        triggerHook: 0.5,
        duration: document.querySelector('.premium-slide-1').offsetHeight
      })
        .setTween(timeline1)
        .addTo(controller);

      const scene2 = new ScrollMagic.Scene({ 
        triggerElement: '#premium-slide-trigger-2', 
        triggerHook: 0.5,
        duration: document.querySelector('.premium-slide-2').offsetHeight
      })
        .setTween(timeline2)
        .addTo(controller);

      const scene3 = new ScrollMagic.Scene({ 
        triggerElement: '#premium-slide-trigger-3', 
        triggerHook: 0.5,
        duration: document.querySelector('.premium-slide-3').offsetHeight
      })
        .setTween(timeline3)
        .addTo(controller);

      const scene4 = new ScrollMagic.Scene({
        triggerElement: '#premium-slide-trigger-4',
        triggerHook: 0.5,
        duration: document.querySelector('.premium-slide-4').offsetHeight
      })
        .setTween(timeline4)
        .addTo(controller);

      const scene5 = new ScrollMagic.Scene({
        triggerElement: '#premium-slide-trigger-5',
        triggerHook: 0.5,
        duration: document.querySelector('.premium-slide-5').offsetHeight
      })
        .setTween(timeline5)
        .addTo(controller);

      const scene6 = new ScrollMagic.Scene({
        triggerElement: '#premium-slide-trigger-6',
        triggerHook: 0.5,
        duration: document.querySelector('.premium-slide-6').offsetHeight
      })
        .setTween(timeline6)
        .addTo(controller);

      const scene7 = new ScrollMagic.Scene({
        triggerElement: '#premium-slide-trigger-7',
        triggerHook: 0.5,
        duration: document.querySelector('.premium-slide-7').offsetHeight
      })
        .setTween(timeline7)
        .addTo(controller);

      const scene8 = new ScrollMagic.Scene({
        triggerElement: '#premium-slide-trigger-8',
        triggerHook: 0.5,
        duration: document.querySelector('.premium-slide-8').offsetHeight
      })
        .setTween(timeline8)
        .addTo(controller);

      const scene9 = new ScrollMagic.Scene({
        triggerElement: '#premium-slide-trigger-9',
        triggerHook: 0.5,
        duration: document.querySelector('.premium-slide-9').offsetHeight
      })
        .setTween(timeline9)
        .addTo(controller);

      // navigation waypoints
      // Не совсем изящная функция, но элемент, который она обрабатывает практически бесполезен и виден
      // только на сверх-больших мониторах.
      // Если навигацию нужно будет расширять, то обработку следует переписать.
      const waypointHandler = (activeElement) => {
        // При каждом ивенте от вейпонта обнуляем активные элементы навигации
        document.querySelectorAll('.premium-nav').forEach((element) => {
          element.classList.remove('active');
        });

        // Если новый активный элемент не указан, то больше не делаем ничего
        if (!activeElement) return null;

        // Список элементов, которые в активном состоянии не снимают активное у .premium-nav-0
        const subElements = ['.premium-nav-1', '.premium-nav-2', '.premium-nav-3', '.premium-nav-4', '.premium-nav-5', '.premium-nav-6', '.premium-nav-7', '.premium-nav-8', '.premium-nav-9'];

        if (subElements.includes(activeElement)) document.querySelector('.premium-nav-0').classList.add('active');
        document.querySelector(activeElement).classList.add('active');
      };

      new Waypoint({
        element: document.querySelector('#premium-slide-trigger-1'),
        handler: () => waypointHandler('.premium-nav-1'),
        offset: '50%'
      });

      new Waypoint({
        element: document.querySelector('#premium-slide-trigger-2'),
        handler: () => waypointHandler('.premium-nav-2'),
        offset: '50%'
      });

      new Waypoint({
        element: document.querySelector('#premium-slide-trigger-3'),
        handler: () => waypointHandler('.premium-nav-3'),
        offset: '50%'
      });

      new Waypoint({
        element: document.querySelector('#premium-slide-trigger-4'),
        handler: () => waypointHandler('.premium-nav-4'),
        offset: '50%'
      });

      new Waypoint({
        element: document.querySelector('#premium-slide-trigger-5'),
        handler: () => waypointHandler('.premium-nav-5'),
        offset: '50%'
      });

      new Waypoint({
        element: document.querySelector('#premium-slide-trigger-6'),
        handler: () => waypointHandler('.premium-nav-6'),
        offset: '50%'
      });

      new Waypoint({
        element: document.querySelector('#premium-slide-trigger-7'),
        handler: () => waypointHandler('.premium-nav-7'),
        offset: '50%'
      });

      new Waypoint({
        element: document.querySelector('#premium-slide-trigger-8'),
        handler: () => waypointHandler('.premium-nav-8'),
        offset: '50%'
      });

      new Waypoint({
        element: document.querySelector('#premium-slide-trigger-9'),
        handler: () => waypointHandler('.premium-nav-9'),
        offset: '50%'
      });

      new Waypoint({
        element: document.querySelector('#premium-cta-trigger'),
        handler: () => waypointHandler(null),
        offset: '50%'
      });

      new Waypoint({
        element: document.querySelector('#premium-catalog-trigger'),
        handler: () => waypointHandler('.premium-nav-10'),
        offset: '50%'
      });

      new Waypoint({
        element: document.querySelector('#premium-kits-trigger'),
        handler: () => waypointHandler('.premium-nav-11'),
        offset: '50%'
      });

      new Waypoint({
        element: document.querySelector('#premium-dealers-trigger'),
        handler: () => waypointHandler('.premium-nav-12'),
        offset: '50%'
      });
    }
  });

  // handle resize and refresh scenes
  $(window).on('resize', () => {
    Waypoint.refreshAll()
    sceneWithShadow.refresh();
    sceneWithNavigation.refresh();
    scene1.refresh();
    scene2.refresh();
    scene3.refresh();
    scene4.refresh();
    scene5.refresh();
    scene6.refresh();
    scene7.refresh();
    scene8.refresh();
    scene9.refresh();
  });
  
  document.querySelectorAll('.ugly-tips-item')
    .forEach(element => {
      new Tooltip(element, {
        placement: 'top-end',
        title: element.dataset.tip,
        popperOptions: {
          modifiers: {
            flip: {
              enabled: false
            },
            preventOverflow: {
              escapeWithReference: true
            }
          }
        }
      });
    });

  // ugly-tips carousel
  if (window.innerWidth < 1280) {
    $('.ugly-tips').slick({
      slidesToShow: 1,
      infinite: false,
      draggable: true,
      arrows: false,
      dots: true,
      dotsClass: 'custom-dots'
    });
  }

  // gallery carousel
  $('.js-common-gallery').slick({
    slidesToShow: 6,
    infinite: false,
    draggable: false,
    arrows: false,
    dots: false,
    responsive: [
      {
        breakpoint: 768,
        settings: {
          draggable: true,
          slidesToShow: 4
        }
      },
      {
        breakpoint: 500,
        settings: {
          draggable: true,
          slidesToShow: 3
        }
      },
      {
        breakpoint: 320,
        settings: {
          draggable: true,
          slidesToShow: 2
        }
      }
    ]
  });

  // magnific init
  $('.magnific-image').magnificPopup({
    type: 'image',
    mainClass: 'mfp-with-zoom',
    zoom: {
      enabled: true,
      duration: 300,
      easing: 'ease-in-out',
      opener: (el) => el.is('img') ? el : el.find('img')
    }
  });  
</script>
{% endblock %}
  
{% block 'pagestyles' %}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" | stylesheet_tag}}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" | stylesheet_tag}}
{% endblock %}