---
title: "Скамьи для пресса"
slug: press_bench
is_layout: false
allow_layout: false
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 116
seo_title: "Скамьи для пресса купить у производителя по цене от 3500 руб. в интернет-магазине
  SPORTMEN"
meta_description: "Скамьи для пресса от официального производителя по лучшей цене.
  Купить с доставкой по всей России. Различные размеры и конфигурации, спортивные
  комплексы."
---
{% extends wrapper %}
{% block main %}
  <section class="common-section">
    <div class="shadow">
      <div class="shadow-text">Скамьи для пресса</div>
    </div>

    <div>
      <div class="common-container">
        <h1 class="common-section-title">Каталог - Скамьи для пресса</h1>

        <div class="common-section-content">

          <div class="common-catalog">
            <div class="common-catalog-cards">
{% with_scope code: "abs" %}
  {% assign category = contents.categories.first %}
{% endwith_scope %}
        {% for item in category.products %}
            {% include 'catalog_item_block' %}
        {% endfor %}
  </div></div></div></div></div>
    </section>



{% endblock %}
