---
title: "Популярное для частных домов"
slug: private_house
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 110
seo_title: "Воркаут площадка купить для дачи, цены - Уличные комплексы workout в Москве"
meta_description: "Уличные воркаут комплексы  от производителя лицензированного спортивного
  оборудования для дач, школ, спортплощадок. Продажа комплексов ГТО, турников, брусьев,
  лестниц, рукоходов."
---
{% extends wrapper %}
{% block main %}
  <section class="common-section">
    <div class="shadow">
      <div class="shadow-text">Популярное для частных домов</div>
    </div>

    <div>
      <div class="common-container">
        <h1 class="common-section-title">Уличные воркаут комплексы</h1>

        <div class="common-section-content">

          <div class="common-catalog">
            <div class="common-catalog-cards">
{% with_scope code: "private_house" %}
  {% assign category = contents.categories.first %}
{% endwith_scope %}

        {% for item in category.products %}
            {% include 'catalog_item_block' %}
        {% endfor %}
  </div></div></div></div></div>
    </section>



{% endblock %}
