---
title: Production
slug: production
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 16
seo_title: "Производство уличных тренажеров - самые низкие цены в России! | Sportmen"
meta_description: "Мы используем только качественное и надежное оборудование для производства
  наших товаров | Компания Sportmen"
---
{% extends 'parent' %}

{% block 'main' %}
<div class="common-container">
  <div class="breadcrumbs breadcrumbs-black pc-breadcrumbs">
    <span class="breadcrumbs-item">
      <a href="/">SPORTMEN.RU</a>
    </span>
    <span class="breadcrumbs-item">
      О нас
    </span>
    <span class="breadcrumbs-item">
      <a href="/production">Производство</a>
    </span>
  </div>
</div>
<section class="common-section production-section">
  <div class="shadow">
    <div class="shadow-text">обязательные этапы производства</div>
  </div>
  <div class="common-container">
    <h1 class="common-section-title">7 обязательных этапов производства</h1>

  </div>
  <div class="production-pipe">
    <div class="production-pipe__text">
      <span>толщина стенки трубы:</span>
      <p>3 мм</p>
      <span>Диаметр трубы:</span>
      <p>76 мм, 89 мм и 108 мм</p>
    </div>
  <img src='{{ "about-us-production/pipe.png" | theme_image_url }}'  class="production-pipe__image">
</div>
<div class="common-container">
  <div class="production-steps">
    <div class="production-steps__item production-steps__item_order-1 arrow-right">
        <svg version="1.1" id="production-svg-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 162 168" style="enable-background:new 0 0 162 168;" xml:space="preserve">
        <style type="text/css">
        #production-svg-1 .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        #production-svg-1 .st1{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
        <g>
          <path class="st0" d="M123.1,147.7c0.2,0,0.5,0,0.7,0h30.4"/>
          <path class="st0" d="M90.7,11.9h9.8c6.4,0,11.7,5.2,11.7,11.7v108.6"/>
          <path class="st0" d="M30.5,36.9v35.8c0,13.8,11.2,25,25,25h44.8"/>
          <line class="st0" x1="47.3" y1="96.4" x2="47.3" y2="72.4"/>

            <ellipse transform="matrix(0.9399 -0.3415 0.3415 0.9399 -44.071 45.043)" class="st1" cx="105.9" cy="147.7" rx="16.5" ry="16.5"/>
          <ellipse transform="matrix(0.9399 -0.3415 0.3415 0.9399 -44.071 45.043)" class="st1" cx="105.9" cy="147.7" rx="5" ry="5"/>

            <ellipse transform="matrix(0.9399 -0.3415 0.3415 0.9399 -51.4475 14.5203)" class="st1" cx="15.5" cy="153.4" rx="12.1" ry="12.1"/>
          <ellipse transform="matrix(0.9399 -0.3415 0.3415 0.9399 -51.4475 14.5203)" class="st1" cx="15.5" cy="153.4" rx="3.6" ry="3.6"/>
          <line class="st1" x1="27.6" y1="152.1" x2="88.7" y2="152.1"/>
          <polyline class="st1" points="100.2,132.2 100.2,94.4 72.2,32.4 15.5,32.4 15.5,116.9   "/>
          <polyline class="st1" points="3.3,152.1 3.3,116.9 72.7,116.9 91.2,135.5   "/>
        </g>
        </svg>
      <p class="production-steps-h2">01</p>
      <p>ЗАКАЗ, ПОЛУЧЕНИЕ <br> И РАЗГРУЗКА МЕТАЛЛА</p>
      <p></p>
    </div>
    <div class="production-steps__item production-steps__item_order-2 arrow-right">
      <svg version="1.1" id="production-svg-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 195 156.1" style="enable-background:new 0 0 195 156.1;" xml:space="preserve">
      <style type="text/css">
        #production-svg-2 .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        #production-svg-2 .st1{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
      </style>
      <g>
        <line class="st0" x1="52.8" y1="119.1" x2="178.9" y2="26.3"/>
        <line class="st0" x1="179.8" y1="25.2" x2="182.8" y2="18.4"/>
        <line class="st0" x1="179.8" y1="25.2" x2="187.1" y2="24.2"/>
        <path class="st1" d="M182.3,27.6l-26.4-15.8c-10.2-6.1-23-5.5-32.6,1.5L17,91.4c-9.3,6.9-13.9,18.6-11.4,30l5.9,27.4
          c0.6,3,4.2,4.4,6.7,2.5l32.1-23.6c1.3-0.9,2-2.6,1.6-4.2l-9.6-50.8"/>
        <path class="st1" d="M30.8,96.2l-10.6,7.8c-4.4,3.2-6.1,8.9-4.5,14.8l3.8,14.2c0.4,1.6,2.2,2.3,3.3,1.5l14.8-10.9
          c0.6-0.5,0.8-1.2,0.7-2.1l-6.1-24.7C32.1,96.2,31.3,95.8,30.8,96.2z"/>
      </g>
      </svg>
      <p class="production-steps-h2">02</p>
      <p>ВЫТАЧИВАНИЕ <br> ХОМУТОВ</p>
      <ul class="production-steps__item_list">
        <li>Распил материала</li>
        <li>Токарная обработка</li>
      </ul>
    </div>
    <div class="production-steps__item production-steps__item_order-3 arrow-right">
      <svg version="1.1" id="production-svg-3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 132 110.1" style="enable-background:new 0 0 132 110.1;" xml:space="preserve">
      <style type="text/css">
        #production-svg-3 .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        #production-svg-3 .st1{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
      </style>
      <g>
        <polygon class="st0" points="49.5,40.4 18.7,40.4 3.3,67.1 18.7,93.7 49.5,93.7 64.9,67.1   "/>
        <path class="st0" d="M34.1,52.1L34.1,52.1c-5.4,0-10.3,2.9-13,7.5l0,0c-2.7,4.6-2.7,10.4,0,15l0,0c2.7,4.6,7.6,7.5,13,7.5l0,0
          c5.4,0,10.3-2.9,13-7.5l0,0c2.7-4.6,2.7-10.4,0-15l0,0C44.4,54.9,39.4,52.1,34.1,52.1z"/>
        <rect x="73.7" y="18.6" class="st1" width="46" height="16"/>
        <path class="st1" d="M85.7,98.9v-3.3l22.2-3.3v6.5c0,4.4-3.6,8-8,8h-6.2C89.2,106.9,85.7,103.3,85.7,98.9z"/>
        <polygon class="st1" points="107.8,39.4 85.7,44.1 85.7,34.6 107.8,34.6  "/>
        <g>
          <line class="st1" x1="85.7" y1="85.6" x2="107.8" y2="81.7"/>
          <line class="st1" x1="85.7" y1="74.9" x2="107.8" y2="71.1"/>
          <line class="st1" x1="85.7" y1="64.3" x2="107.8" y2="60.4"/>
          <line class="st1" x1="85.7" y1="53.6" x2="107.8" y2="49.8"/>
        </g>
      </g>
      </svg>
      <p class="production-steps-h2">03</p>
      <p>ИЗГОТОВЛЕНИЕ <br> ДЕТАЛЕЙ <br> КОНСТРУКЦИИ</p>
      <ul class="production-steps__item_list">
        <li>Резка, сварка, сверловка труб</li>
        <li>Зачистка труб до голого металла.</li>
        <li>Обезжиривание и фосфатирование (защита металла от коррозии)</li>
      </ul>
    </div>
    <div class="production-steps__item production-steps__item_order-4 arrow-down">
      <svg version="1.1" id="production-svg-4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 131 168" style="enable-background:new 0 0 131 168;" xml:space="preserve">
      <style type="text/css">
        #production-svg-4 .st0{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        #production-svg-4 .st1{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        #production-svg-4 .st2{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:9,9;}
      </style>
      <g>
        <path class="st0" d="M53.7,73.9H10.2c-3.8,0-6.9,3.1-6.9,6.9v76.8c0,3.8,3.1,6.9,6.9,6.9h43.5c3.8,0,6.9-3.1,6.9-6.9V80.8
          C60.6,77,57.5,73.9,53.7,73.9z"/>
        <path class="st0" d="M57.7,73.9c0-11.1-11.4-20.2-25.5-20.2s-25.5,9-25.5,20.2"/>
        <path class="st0" d="M35.4,23.3h-7.8c-2.6,0-4.7,2.1-4.7,4.7v10.6c0,2.6,2.1,4.7,4.7,4.7h7.8c2.6,0,4.7-2.1,4.7-4.7V28
          C40,25.4,38,23.3,35.4,23.3z"/>
        <line class="st0" x1="31.8" y1="53.3" x2="31.8" y2="43.3"/>
        <line class="st0" x1="39.8" y1="33.3" x2="33.8" y2="33.3"/>
        <g>
          <g>
            <line class="st1" x1="49.8" y1="32.3" x2="54.8" y2="32.3"/>
            <line class="st2" x1="63.8" y1="32.3" x2="113.3" y2="32.3"/>
            <line class="st1" x1="117.8" y1="32.3" x2="122.8" y2="32.3"/>
          </g>
        </g>
        <g>
          <g>
            <line class="st1" x1="50.5" y1="25.1" x2="55.4" y2="24.2"/>
            <line class="st2" x1="64.2" y1="22.5" x2="112.8" y2="13.2"/>
            <line class="st1" x1="117.3" y1="12.3" x2="122.2" y2="11.4"/>
          </g>
        </g>
        <g>
          <g>
            <line class="st1" x1="50.5" y1="40.4" x2="55.4" y2="41.3"/>
            <line class="st2" x1="64.2" y1="43" x2="112.8" y2="52.3"/>
            <line class="st1" x1="117.3" y1="53.2" x2="122.2" y2="54.1"/>
          </g>
        </g>
      </g>
      </svg>
      <p class="production-steps-h2">04</p>
      <p>ОКРАСКА</p>
      <ul class="production-steps__item_list">
        <li>Напыление порошковой краской</li>
        <li>Оплавление слоя краски</li>
        <li>Получение пленки покрытия</li>
        <li>Отвердение покрытия</li>
        <li>Охлаждение покрытия</li>
      </ul>
      </div>
      <div class="production-steps__item production-steps__item_order-5 arrow-left">
        <svg version="1.1" id="production-svg-5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 155 147.1" style="enable-background:new 0 0 155 147.1;" xml:space="preserve">
        <style type="text/css">
          #production-svg-5 .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          #production-svg-5 .st1{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
        <g>
          <polyline class="st0" points="105,121.2 105,143.9 3.3,143.9 3.3,6.6 105,6.6 105,41.1  "/>
          <circle class="st0" cx="54.1" cy="43.9" r="26.8"/>
          <line class="st0" x1="31.3" y1="85.5" x2="77.1" y2="85.5"/>
          <line class="st0" x1="31.3" y1="101.3" x2="77.1" y2="101.3"/>
          <line class="st0" x1="31.3" y1="119.4" x2="77.1" y2="119.4"/>
          <line class="st0" x1="54" y1="134.1" x2="77.1" y2="134.1"/>
          <line class="st0" x1="12.7" y1="85.5" x2="16.9" y2="85.5"/>
          <line class="st0" x1="12.7" y1="101.3" x2="16.9" y2="101.3"/>
          <line class="st0" x1="12.7" y1="119.4" x2="16.9" y2="119.4"/>
          <circle class="st0" cx="54.1" cy="41.1" r="10.5"/>
          <path class="st0" d="M33.8,61.4c0-5.5,9.1-9.9,20.3-9.9s20.3,4.4,20.3,9.9"/>
          <path class="st1" d="M84.1,118.3L84.1,118.3l1.6-24l37.6-64.4c3-5.1,9.6-6.8,14.7-3.9l0,0c5.1,3,6.8,9.6,3.9,14.7l-37.6,64.4
            L84.1,118.3z"/>
          <line class="st1" x1="85.7" y1="94.3" x2="104.2" y2="105.2"/>
          <line class="st1" x1="122.4" y1="31.4" x2="141" y2="42.2"/>
        </g>
        </svg>
        <p class="production-steps-h2">05</p>
        <p>КОНТРОЛЬ КАЧЕСТВА</p>

      </div>
      <div class="production-steps__item production-steps__item_order-6 arrow-left">
        <svg version="1.1" id="production-svg-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 111.5 109.1" style="enable-background:new 0 0 111.5 109.1;" xml:space="preserve">
        <style type="text/css">
          #production-svg-6 .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          #production-svg-6 .st1{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
        <g>
          <path class="st0" d="M94.1,106.3h-83c-4.3,0-7.8-3.5-7.8-7.8v-83c0-4.3,3.5-7.8,7.8-7.8h83c4.3,0,7.8,3.5,7.8,7.8v83
            C101.8,102.8,98.3,106.3,94.1,106.3z"/>
          <g>
            <circle class="st1" cx="13.7" cy="18.1" r="0.6"/>
            <circle class="st1" cx="13.7" cy="33.8" r="0.6"/>
            <circle class="st1" cx="13.7" cy="49.5" r="0.6"/>
            <circle class="st1" cx="13.7" cy="65.2" r="0.6"/>
            <circle class="st1" cx="13.7" cy="80.9" r="0.6"/>
            <circle class="st1" cx="13.7" cy="96.6" r="0.6"/>
          </g>
          <g>
            <circle class="st1" cx="26.7" cy="18.1" r="0.6"/>
            <circle class="st1" cx="26.7" cy="33.8" r="0.6"/>
            <circle class="st1" cx="26.7" cy="49.5" r="0.6"/>
            <circle class="st1" cx="26.7" cy="65.2" r="0.6"/>
            <circle class="st1" cx="26.7" cy="80.9" r="0.6"/>
            <circle class="st1" cx="26.7" cy="96.6" r="0.6"/>
          </g>
          <g>
            <circle class="st1" cx="39.7" cy="18.1" r="0.6"/>
            <circle class="st1" cx="39.7" cy="33.8" r="0.6"/>
            <circle class="st1" cx="39.7" cy="49.5" r="0.6"/>
            <circle class="st1" cx="39.7" cy="65.2" r="0.6"/>
            <circle class="st1" cx="39.7" cy="80.9" r="0.6"/>
            <circle class="st1" cx="39.7" cy="96.6" r="0.6"/>
          </g>
          <g>
            <circle class="st1" cx="52.6" cy="18.1" r="0.6"/>
            <circle class="st1" cx="52.6" cy="33.8" r="0.6"/>
            <circle class="st1" cx="52.6" cy="49.5" r="0.6"/>
            <circle class="st1" cx="52.6" cy="65.2" r="0.6"/>
            <circle class="st1" cx="52.6" cy="80.9" r="0.6"/>
            <circle class="st1" cx="52.6" cy="96.6" r="0.6"/>
          </g>
          <g>
            <circle class="st1" cx="65.6" cy="18.1" r="0.6"/>
            <circle class="st1" cx="65.6" cy="33.8" r="0.6"/>
            <circle class="st1" cx="65.6" cy="49.5" r="0.6"/>
            <circle class="st1" cx="65.6" cy="65.2" r="0.6"/>
            <circle class="st1" cx="65.6" cy="80.9" r="0.6"/>
            <circle class="st1" cx="65.6" cy="96.6" r="0.6"/>
          </g>
          <g>
            <circle class="st1" cx="78.6" cy="18.1" r="0.6"/>
            <circle class="st1" cx="78.6" cy="33.8" r="0.6"/>
            <circle class="st1" cx="78.6" cy="49.5" r="0.6"/>
            <circle class="st1" cx="78.6" cy="65.2" r="0.6"/>
            <circle class="st1" cx="78.6" cy="80.9" r="0.6"/>
            <circle class="st1" cx="78.6" cy="96.6" r="0.6"/>
          </g>
          <g>
            <circle class="st1" cx="91.6" cy="18.1" r="0.6"/>
            <circle class="st1" cx="91.6" cy="33.8" r="0.6"/>
            <circle class="st1" cx="91.6" cy="49.5" r="0.6"/>
            <circle class="st1" cx="91.6" cy="65.2" r="0.6"/>
            <circle class="st1" cx="91.6" cy="80.9" r="0.6"/>
            <circle class="st1" cx="91.6" cy="96.6" r="0.6"/>
          </g>
        </g>
        </svg>
        <p class="production-steps-h2">06</p>
        <p>УПАКОВКА В ВОЗДУШНО-ПУЗЫРЬКОВУЮ ПЛЕНКУ</p>

      </div>
      <div class="production-steps__item production-steps__item_order-7">
        <svg version="1.1" id="production-svg-7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 161 168" style="enable-background:new 0 0 161 168;" xml:space="preserve">
        <style type="text/css">
          #production-svg-7 .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
          #production-svg-7 .st1{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
        <g>
          <polyline class="st0" points="43.5,41.4 110.6,17.2 118.7,39.5   "/>

            <rect x="74.7" y="28.4" transform="matrix(0.9399 -0.3415 0.3415 0.9399 -6.1004 29.7655)" class="st0" width="13.6" height="7.6"/>

            <rect x="82.9" y="50.9" transform="matrix(0.9399 -0.3415 0.3415 0.9399 -13.2871 33.9187)" class="st0" width="13.6" height="7.6"/>
          <polyline class="st0" points="51.7,64.1 118.8,39.7 146.6,116.3  "/>
          <path class="st1" d="M76.5,131.9L31.8,9l0,0c-1.2-3.4-5-5.2-8.5-4l0,0l-20,7.3"/>
          <line class="st1" x1="152.4" y1="114.5" x2="88.2" y2="137.8"/>

            <ellipse transform="matrix(0.9399 -0.3415 0.3415 0.9399 -46.2577 34.8363)" class="st1" cx="75.8" cy="148.8" rx="16.5" ry="16.5"/>
          <ellipse transform="matrix(0.9399 -0.3415 0.3415 0.9399 -46.2577 34.8363)" class="st1" cx="75.8" cy="148.8" rx="5" ry="5"/>
        </g>
        </svg>
        <p class="production-steps-h2">07</p>
        <p>ОТПРАВКА ТРАНСПОРТНОЙ КОМПАНИЕЙ: ПО ЗЕМЛЕ, ПО ВОДЕ, ПО ВОЗДУХУ</p>

      </div>
    </div>
  </div>
  <div class="common-container">
    <div class="grey-quote">
      <div class="grey-quote__image">
        <img src="{{'about-us-about/3.jpg' | theme_image_url }}" alt="">
      </div>
      <div class="grey-quote__content">
        <p class="grey-quote__content_name">Денис Хорунжий</p>
        <p class="grey-quote__content_title">НАЧАЛЬНИК ПРОИЗВОДСТВА SPORTMEN</p>
        <p class="grey-quote__content_text">
          <span>"</span>Своим главным долгом я считаю выполнить качественный, долговечный, безопасный, экологически чистый и травмобезопасный продукт. Не могу позволить себе работать спустя рукава, так как плодами моей деятельности будут пользоваться как взрослые, так и дети.<span>"</span>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="common-section production-section">
  <div class="shadow">
    <div class="shadow-text">виды работ</div>
  </div>
  <div class="common-container">
    <h2 class="common-section-title">мы выполняем следующие виды работ</h2>
    <div class="production-process__title">
      <span class="production-process__title_number">01</span>
      <p class="production-process__title_text">порошковая покраска</p>
    </div>
  </div>
  <div class="production-process__description">
    <div class="production-process__description_text-container">
      <div class="production-process__description_text-container_inner">
        <img src="{{'about-us-production/s1.jpg' | theme_image_url }}" alt="">
        <p>
          Покраска изделий осуществляется в камере напыления с помощью пистолета-распылителя специальными порошковыми красками, имеющими полимерную основу. Проходя через распылитель, частицы краски получают заряд, за счет этого они налипают на изделие. Затем деталь помещают в печь полимеризации, и при температуре от 150 до 250°С эти частицы расплавляются.
        </p>
      </div>
    </div>
    <div class="production-process__description_specs">
      <a class="production-process__description_specs_inner js-production-arrow-mobile js-production-arrow-mobile-state" href="javascript:void(0);">
        <p class="production-process__description_specs_inner_specsline">технические<br>характеристики</p>
        <p class="js-production-arrow js-production-arrow-state">закрыть</p>
      </a>
    </div>
    <div class="production-process__description_dropdown">
      <div class="common-container">
        <p class="production-process__description_dropdown_title">Габаритные размеры камеры</p>
        <ul class="production-process__description_dropdown_list">
          <li class="production-process__description_dropdown_list_item"><span>Длина, м</span><p>4</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Ширина, м</span><p>2</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Высота, м</span><p>2</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Количество нагревательных элементов, шт</span><p>36</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Мощность одного элемента, Вт</span><p>800</p></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="common-container">
    <div class="production-process__title">
      <span class="production-process__title_number">02</span>
      <p class="production-process__title_text">ЗАГОТОВИТЕЛЬНЫЕ</p></div>
  </div>

  <div class="production-process__description">
    <div class="production-process__description_specs production-process__description_specs-left">
      <a  class="production-process__description_specs_inner js-production-arrow-mobile" href="javascript:void(0);">
        <p class="production-process__description_specs_inner_specsline">технические <br> характеристики</p>
        <p class="js-production-arrow ">открыть</p>
      </a>
    </div>
    <div class="production-process__description_text-container production-process__description_text-container-left">
      <div class="production-process__description_text-container_inner">
        <img src="{{'about-us-production/s2.jpg' | theme_image_url }}" alt="">
        <p>
          <span class="production-process__description_text-container_inner_ptitle">ПЛОСКОШЛИФОВАЛЬНЫЙ СТАНОК</span>
          Станок предназначен для шлифования торцом и периферией круга плоских поверхностей различных деталей и заготовок, применяемых в машиностроении. Высокая точность и чистота обработки плоских поверхностей достигается высокой жесткостью и виброустойчивостью станка.
        </p>
      </div>
    </div>
    <div class="production-process__description_dropdown production_dropdown_closed">
      <div class="common-container">
        <p class="production-process__description_dropdown_title">Технические характеристики</p>
        <ul class="production-process__description_dropdown_list">
          <li class="production-process__description_dropdown_list_item"><span>Наибольшие размеры обрабатываемого изделия при номинальном диаметре круга без электромагнитной плиты (ДхШхВ), мм</span><p>1250х320х400</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Наибольшие размеры обрабатываемого изделия при номинальном диаметре круга на электромагнитной плите (ДхШхВ), мм</span><p>1250х320х280</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Наименьшие размеры обрабатываемого изделия, закрепленного на электромагнитной плите (ДхШхВ), мм</span><p>50х40х3</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Наибольшая масса обрабатываемого изделия на плите электромагнитной, кг</span><p>400</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Наибольшая масса обрабатываемого изделия без плиты электромагнитной, кг</span><p>600</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Наименьшее расстояние от оси шпинделя до рабочей поверхности стола, мм</span><p>210</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Наибольшее расстояние от оси шпинделя до рабочей поверхности стола, мм</span><p>625</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Пределы скорости перемещения стола, м/мин</span><p>3...35</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Частота вращения шпинделя, об/мин</span><p>1460</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Скорость шлифования при наибольшем диаметре шлифовального круга, м/сек</span><p>34,4</p></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="production-process__description">
    <div class="production-process__description_text-container">
      <div class="production-process__description_text-container_inner">
        <img src="{{'about-us-production/s3.jpg' | theme_image_url }}" alt="">
        <p>
          <span class="production-process__description_text-container_inner_ptitle">ЛЕНТОЧНОПИЛЬНЫЙ СТАНОК</span>
          Ленточнопильный станок предназначен для резания тонкостенных профилей и полнотелого проката из стали, в том числе легированной. Универсальный станок позволяющий резать различные материалы. Разворот рамы происходит в одну сторону на угол до 60 градусов.
        </p>
      </div>
    </div>
    <div class="production-process__description_specs">
      <a class="production-process__description_specs_inner js-production-arrow-mobile" href="javascript:void(0);">
        <p class="production-process__description_specs_inner_specsline">технические<br>характеристики</p>
        <p class="js-production-arrow ">открыть</p>
      </a>
    </div>
    <div class="production-process__description_dropdown production_dropdown_closed">
      <div class="common-container">
        <p class="production-process__description_dropdown_title">Технические характеристики</p>
        <ul class="production-process__description_dropdown_list">
          <li class="production-process__description_dropdown_list_item"><p>Максимальный диаметр пиления - 240 мм</p></li>
          <li class="production-process__description_dropdown_list_item"><p>Возможность резки под углом от - 45° до 60°</p></li>
          <li class="production-process__description_dropdown_list_item"><p>Гидравлический подьем пильной рамы, ручной зажим заготовки</p></li>
          <li class="production-process__description_dropdown_list_item"><p>Усилие резания создается собственным весом пильной рамы</p></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="common-container">
    <div class="production-process__title">
      <span class="production-process__title_number">03</span>
      <p class="production-process__title_text">ТРУБОГИБОЧНЫЙ СТАНОК</p></div>
  </div>

  <div class="production-process__description">
    <div class="production-process__description_specs production-process__description_specs-left">
      <a  class="production-process__description_specs_inner js-production-arrow-mobile" href="javascript:void(0);">
        <p class="production-process__description_specs_inner_specsline">технические <br> характеристики</p>
        <p class="js-production-arrow ">открыть</p>
      </a>
    </div>
    <div class="production-process__description_text-container production-process__description_text-container-left">
      <div class="production-process__description_text-container_inner">
        <img src="{{'about-us-production/s4.jpg' | theme_image_url }}" alt="">
        <p>
          Трубогибочный станок предназначен для гибки металлических труб и сортового проката методом обкатки в холодном состоянии и обеспечивает качественный изгиб заготовок на заданный угол до 180 градусов с минимальным изменением геометрии профиля без образования гофр, изломов и прочих дефектов.
        </p>
      </div>
    </div>
    <div class="production-process__description_dropdown production_dropdown_closed">
      <div class="common-container">
        <ul class="production-process__description_dropdown_list">
          <li class="production-process__description_dropdown_list_item"><span>Диаметр изгибаемых труб, дюймы (мм):</span><p>3/8' до 2' (17-60)</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Максимальный угол гиба, град.</span><p>180</p></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="common-container">
    <div class="production-process__title">
      <span class="production-process__title_number">04</span>
      <p class="production-process__title_text">сварочные</p></div>
  </div>
  <div class="production-process__description">
    <div class="production-process__description_text-container">
      <div class="production-process__description_text-container_inner">
        <img src="{{'about-us-production/s5.jpg' | theme_image_url }}" alt="">
        <p>
          Сварочное оборудование (сварочные инвенторы,сварочные инвенторные полуавтоматы для аргонно-дуговой сварки)
        </p>
      </div>
    </div>
    <div class="production-process__description_specs">
      <a class="production-process__description_specs_inner js-production-arrow-mobile" href="javascript:void(0);">
        <p class="production-process__description_specs_inner_specsline">технические<br>характеристики</p>
        <p class="js-production-arrow ">открыть</p>
      </a>
    </div>
    <div class="production-process__description_dropdown production_dropdown_closed">
      <div class="common-container">
        <p class="production-process__description_dropdown_title">Режим «MIG/MAG»(сварка в среде защитного газа):</p>
        <ul class="production-process__description_dropdown_list">
          <li class="production-process__description_dropdown_list_item"><span>Применяемая сварочная проволока, диам, мм</span><p>0,8; 1,0; 1,2</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Емкость катушки для сварочной проволоки не более, кг</span><p>5; 15</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Номинальный ток сварки, А</span><p>230</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Пределы регулирования сварочного тока, А (плавно)</span><p>20-230</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Пределы регулирования напряжения на дуге, В (плавно)</span><p>15,5-25</p></li>
        </ul>
      </div>
      <div class="common-container">
        <p class="production-process__description_dropdown_title">Режим «MMA»(ручная дуговая сварка):</p>
        <ul class="production-process__description_dropdown_list">
          <li class="production-process__description_dropdown_list_item"><span>Применяемый электрод, диам, мм</span><p>0  2; 2,5; 3; 4;</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Номинальный ток сварки, А</span><p>230</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Напряжение холостого хода, не более, В</span><p>65</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Пределы регулирования сварочного тока, А (плавно)</span><p>20-230</p></li>
        </ul>
      </div>
      <div class="common-container">
        <p class="production-process__description_dropdown_title">Режим «TIG»(сварка неплавящимся электродом):</p>
        <ul class="production-process__description_dropdown_list">
           <li class="production-process__description_dropdown_list_item"><span>Номинальный ток сварки, А</span><p>230</p></li>
           <li class="production-process__description_dropdown_list_item"><span>Пределы регулирования сварочного тока, А (плавно)</span><p>50-230</p></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="common-container">
    <div class="production-process__title">
      <span class="production-process__title_number">05</span>
      <p class="production-process__title_text">СЛЕСАРНЫЕ</p></div>
  </div>
  <div class="production-process__description">
    <div class="production-process__description_specs production-process__description_specs-left">
      <a  class="production-process__description_specs_inner js-production-arrow-mobile" href="javascript:void(0);">
        <p class="production-process__description_specs_inner_specsline">технические <br> характеристики</p>
        <p class="js-production-arrow ">открыть</p>
      </a>
    </div>
    <div class="production-process__description_text-container production-process__description_text-container-left">
      <div class="production-process__description_text-container_inner">
        <img src="{{'about-us-production/s6.jpg' | theme_image_url }}" alt="">
        <p>
          <span class="production-process__description_text-container_inner_ptitle">ВЕРТИКАЛЬНО СВЕРЛИЛЬНЫЙ СТАНОК</span>
          Вертикально сверлильный станок с ручным управлением с откидным подъёмным столом и обработанной фундаментной плитой, предназначен для выполнения следующих операций: сверления,зенкерования, зенкования, развёртывания, резьбонарезания.Позволяет использовать различные приспособления и инструменты, расширяющие его технологические возможности.
        </p>
      </div>
    </div>
    <div class="production-process__description_dropdown production_dropdown_closed">
      <div class="common-container">
        <p class="production-process__description_dropdown_title">Технические характеристики 2Н125</p>
        <ul class="production-process__description_dropdown_list">
          <li class="production-process__description_dropdown_list_item"><span>Класс точности</span><p>Н</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Предельный диаметр отверстия</span><p>35 мм для стали 45</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Предельный ход шпинделя</span><p>250мм</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Рабочие габариты стола</span><p>450×500 мм</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Предельный ход стола</span><p>300мм</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Число скоростей</span><p>12</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Число подач</span><p>9</p></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="common-container">
    <div class="production-process__title">
      <span class="production-process__title_number">06</span>
      <p class="production-process__title_text">ТОКАРНЫЕ</p></div>
  </div>

  <div class="production-process__description">
    <div class="production-process__description_text-container">
      <div class="production-process__description_text-container_inner">
        <img src="{{'about-us-production/s7.jpg' | theme_image_url }}" alt="">
        <p>
          <span class="production-process__description_text-container_inner_ptitle">ТОКАРНО-ВИНТОРЕЗНЫЙ СТАНОК 16K20</span>
          Представляет собой универсальный токарно-винторезный агрегат, на котором можно производить нарезание модульной, метрической, питчевой и дюймовой резьбы, а также осуществлять широкий спектр токарных процедур (сверление с использованием разных видов сверл, зенкерование и т.д.) с изделиями из горячекатаного и холоднокатаного проката.
        </p>
      </div>
    </div>
    <div class="production-process__description_specs">
      <a class="production-process__description_specs_inner js-production-arrow-mobile" href="javascript:void(0);">
        <p class="production-process__description_specs_inner_specsline">технические<br>характеристики</p>
        <p class="js-production-arrow ">открыть</p>
      </a>
    </div>
    <div class="production-process__description_dropdown production_dropdown_closed">
      <div class="common-container">
        <ul class="production-process__description_dropdown_list">
          <li class="production-process__description_dropdown_list_item"><span>Частота вращения шпинделя: наибольшая – 1600 об/мин, наименьшая – 12,5 об/мин;</span></li>
          <li class="production-process__description_dropdown_list_item"><span>Максимальное сечение обрабатываемой детали: 310 мм – над выемкой, 220 мм – над суппортом, 400 мм – над станиной;</span></li>
          <li class="production-process__description_dropdown_list_item"><span>Быстрые перемещения (скорость): поперечные – 1,9 м/мин, продольные – 3,8 м/мин;</span></li>
          <li class="production-process__description_dropdown_list_item"><span>Пределы шагов: 56–0,5 для модульных и питчевых резьб (измеряются, соответственно, в модулях и в диаметральных питчах), 0,5–112 ниток/дюйм для дюймовых и 0,5–112 мм для метрических;</span></li>
          <li class="production-process__description_dropdown_list_item"><span>Максимальная длина заготовки – 2000 мм;</span></li>
          <li class="production-process__description_dropdown_list_item"><span>Число подач – 24 и 22 (для поперечных и продольных подач, диапазон коих равняется, соответственно, 0,025–1,4 мм/об и 0,05–2,8 мм/об);</span></li>
          <li class="production-process__description_dropdown_list_item"><span>Максимальный вес детали, которую может обработать станок – 1300 кг;</span></li>
          <li class="production-process__description_dropdown_list_item"><span>Число скоростей шпинделя (прямых) – 22;</span></li>
          <li class="production-process__description_dropdown_list_item"><span>Сечение отверстия в шпинделе – 52 мм.</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="production-process__description">
    <div class="production-process__description_specs production-process__description_specs-left">
      <a  class="production-process__description_specs_inner js-production-arrow-mobile" href="javascript:void(0);">
        <p class="production-process__description_specs_inner_specsline">технические <br> характеристики</p>
        <p class="js-production-arrow ">открыть</p>
      </a>
    </div>
    <div class="production-process__description_text-container production-process__description_text-container-left">
      <div class="production-process__description_text-container_inner">
        <img src="{{'about-us-production/s8.jpg' | theme_image_url }}" alt="">
        <p>
          <span class="production-process__description_text-container_inner_ptitle">ТОКАРНО-ВИНТОРЕЗНЫЙ СТАНОК 1М63</span>
          Это оборудование выполняет обточку и расточку цилиндрических, конических и фасонных поверхностей, нарезание резьбы, подрезку и обработку торцов, сверление, зенкерование, развертывание отверстий и другие металлорежущие операции. Токарные станки 1М63 благодаря жесткой станине позволяет полностью использовать возможность прогрессивных инструментов при обработке материалов различной степени твердости.
        </p>
      </div>
    </div>
    <div class="production-process__description_dropdown production_dropdown_closed">
      <div class="common-container">
        <ul class="production-process__description_dropdown_list">
          <li class="production-process__description_dropdown_list_item"><span>Наибольший диаметр заготовки, устанавливаемой над станиной, мм</span><p>700</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Диаметр обработки над станиной, мм</span><p>630</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Диаметр обработки над суппортом, мм</span><p>350</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Расстояние между центрами</span><p>2700</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Наибольшая длина детали, устанавливаемой в выемке станины, мм</span><p>900</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Диаметр цилиндрического отверстия в шпинделе, мм</span><p>105</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Фланцевой конец шпинделя по DIN</span><p>11М</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Количество ступеней частот вращения шпинделя</span><p>22</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Пределы частот вращения шпинделя, об/мин</span><p>10-1250</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Ускоренное продольное перемещение суппорта, м/мин</span><p>5,2</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Ускоренное поперечное перемещение суппорта, м/мин</span><p>2</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Мощность электродвигателя главного привода</span><p>15кВт</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Наибольший вес обрабатываемой детали в центрах, кг</span><p>3500</p></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="common-container">
    <div class="production-process__title">
      <span class="production-process__title_number">07</span>
      <p class="production-process__title_text">Фрезерные</p></div>
  </div>
  <div class="production-process__description">
    <div class="production-process__description_text-container">
      <div class="production-process__description_text-container_inner">
        <img src="{{'about-us-production/s9.jpg' | theme_image_url }}" alt="">
        <p>
          <span class="production-process__description_text-container_inner_ptitle">ВЕРТИКАЛЬНО-ФРЕЗЕРНЫЙ СТАНОК 6Р13</span>
          Предназначен для фрезерования, сверления и выполнения расточных работ заготовок любых форм и из любых материалов - от чугуна до сплавов цветных металлов, пластмасс. Шпиндельная головка вертикально-фрезерного станка оснащена механизмами поворота и ручного осевого перемещения шпинделя.
        </p>
      </div>
    </div>
    <div class="production-process__description_specs">
      <a class="production-process__description_specs_inner js-production-arrow-mobile" href="javascript:void(0);">
        <p class="production-process__description_specs_inner_specsline">технические<br>характеристики</p>
        <p class="js-production-arrow ">открыть</p>
      </a>
    </div>
    <div class="production-process__description_dropdown production_dropdown_closed">
      <div class="common-container">
        <ul class="production-process__description_dropdown_list">
          <li class="production-process__description_dropdown_list_item"><span>Размеры рабочей поверхности стола, мм</span><p>1600х400</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Наибольшее продольное перемещение стола, мм</span><p>1000</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Наибольшее поперечное перемещение стола, мм</span><p>400</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Наибольшее вертикальное перемещение стола, мм</span><p>430</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Расстояние от торца шпинделя до рабочей поверхности стола, мм</span><p>70-500</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Пределы частот вращения шпинделя, мин -1</span><p>31,5-1600</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Ускоренное продольное перемещение стола, мм/мин</span><p>4 000</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Ускоренное поперечное перемещение стола, мм/мин</span><p>4 000</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Ускоренное вертикальное перемещение стола, мм/мин</span><p>1 330</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Максимальная масса обрабатываемой детали с приспособлением, кг</span><p>1 250</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Мощность электродвигателя привода шпинделя, кВт</span><p>11</p></li>
          <li class="production-process__description_dropdown_list_item"><span>Мощность электродвигателя привода стола, кВт</span><p>3</p></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="common-container">
    <div class="production-process__title">
      <span class="production-process__title_number">08</span>
      <p class="production-process__title_text">Резка листов</p></div>
  </div>
  <div class="production-process__description">
    <div class="production-process__description_specs production-process__description_specs-left">
      <a  class="production-process__description_specs_inner js-production-arrow-mobile" href="javascript:void(0);">
        <p class="production-process__description_specs_inner_specsline">технические <br> характеристики</p>
        <p class="js-production-arrow ">открыть</p>
      </a>
    </div>
    <div class="production-process__description_text-container production-process__description_text-container-left">
      <div class="production-process__description_text-container_inner">
        <img src="{{'about-us-production/s10.jpg' | theme_image_url }}" alt="">
        <p>
          Гидравлическая гильотина служит для резки листов из различного материала и разной толщины, существует возможность настройки следующих параметров резки:

          <br>– угла наклона ножа;
          <br>– толщины зазора между ножами;
          <br>– длины самого реза.

        </p>
      </div>
    </div>
    <div class="production-process__description_dropdown production_dropdown_closed">
      <div class="common-container">
        <ul class="production-process__description_dropdown_list">
          <li class="production-process__description_dropdown_list_item"><span>Максимальная толщина листа - 6-20 мм, сталь (σв < 400 МПа)</span></li>
          <li class="production-process__description_dropdown_list_item"><span>Моторизованный упор</span></li>
          <li class="production-process__description_dropdown_list_item"><span>Рабочая длина 3080 мм</span></li>
          <li class="production-process__description_dropdown_list_item"><span>Контроллер D-Touch 7</span></li>
        </ul>
      </div>
    </div>
  </div>

</section>


{% endblock %}
{% block 'pagescripts' %}
  {{ '//cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js'| javascript_tag }}
  {{ '//cdn.jsdelivr.net/npm/walkway.js/src/walkway.min.js'| javascript_tag }}
  {{ 'about_us_production.js'| javascript_tag }}



{% endblock %}
{% block 'pagestyles' %}

{% endblock %}