---
title: Products
slug: products
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 15
seo_title: "ОБОРУДОВАНИЕ ДЛЯ ВОРКАУТА"
meta_description: "Каталог оборудования для воркаута и ГТО: турники, брусья и многое
  другое. Низкие цены! Собственное производство. Гарантия качества. Доставка по всей
  России."
---
{% extends 'wrapper' %}

{% block 'main' %}
  <section class="common-section">
    <div class="shadow">
      <div class="shadow-text">Оборудование для воркаута</div>
    </div>

    <div>
      <div class="common-container">
        <h1 class="common-section-title">Оборудование для воркаута</h1>

        <div class="common-section-content">

          <div class="common-catalog">
            <div class="common-catalog-cards">
    {% for item in contents.products %}
      {% if item.type != 'clamp' %}
    	{% include 'catalog_item_block' %}
      {% endif %}
    {% endfor %}
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

{% endblock %}

{% block 'pagescripts' %}
  {{"//unpkg.com/popper.js/dist/umd/popper.min.js"| javascript_tag}}
  {{"//unpkg.com/tooltip.js/dist/umd/tooltip.min.js"| javascript_tag}}
  {{"//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"| javascript_tag}}
  {{"magnific-popup.min.js"| javascript_tag}}

  <script>$(() => {
    // tooltips on landing section
    document.querySelectorAll('.ugly-tips-item')
      .forEach(element => {
        new Tooltip(element, {
          placement: 'top-end',
          title: element.dataset.tip,
          popperOptions: {
            modifiers: {
              flip: {
                enabled: false
              },
              preventOverflow: {
                escapeWithReference: true
              }
            }
          }
        });
      });

    // ugly-tips carousel
    if (window.innerWidth < 1280) {
      $('.ugly-tips').slick({
        slidesToShow: 1,
        infinite: false,
        draggable: true,
        arrows: false,
        dots: true,
        dotsClass: 'custom-dots'
      });
    }

    // gallery carousel
    $('.js-common-gallery').slick({
      slidesToShow: 6,
      infinite: false,
      draggable: false,
      arrows: false,
      dots: false,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            draggable: true,
            slidesToShow: 4
          }
        },
        {
          breakpoint: 500,
          settings: {
            draggable: true,
            slidesToShow: 3
          }
        },
        {
          breakpoint: 320,
          settings: {
            draggable: true,
            slidesToShow: 2
          }
        }
      ]
    });

    // magnific init
    $('.magnific-image').magnificPopup({
      type: 'image',
      mainClass: 'mfp-with-zoom',
      zoom: {
        enabled: true,
        duration: 300,
        easing: 'ease-in-out',
        opener: (el) => el.is('img') ? el : el.find('img')
      }
    });
  })</script>
{% endblock %}
{% block 'pagestyles' %}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" | stylesheet_tag}}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" | stylesheet_tag}}
{% endblock %}