---
title: Reviews
slug: reviews
is_layout: false
allow_layout: false
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 9
seo_title: "ОТЗЫВЫ"
meta_description: "Отзывы, благодарности и награды. Sportmen — спортивное оборудование
  для спортивных площадок, школ, дач. Комплексы ГТО, турники, брусья."
---
{% extends 'parent' %}

{% block 'main' %}
<div class="common-container">
    <div class="breadcrumbs breadcrumbs-black pc-breadcrumbs">
    <span class="breadcrumbs-item">
      <a href="/">SPORTMEN.RU</a>
    </span>
        <span class="breadcrumbs-item">
      О нас
    </span>
        <span class="breadcrumbs-item">
      <a href="/reviews">Отзывы и благодарности</a>
    </span>
    </div>
</div>
{% include 'reviews' %}


<section class="common-section">
    <div class="shadow">
        <div class="shadow-text">Благодарности</div>
    </div>

    <div class="common-container">
        <h1 class="common-section-title">
            Благодарности
        </h1>
        <div class="ack-list">
            {% for thank in contents.thanks %}
            <div class="ack-list__item">
                <div class="ack-list__item_image-wrapper">
                    <img  class="ack-list__item_image" src="{{thank.logo.url | resize: '190x107' }}" alt="">
                </div>
                <p class="ack-list__item_text">{{ thank.name }}</p>
                <button class="ack-list__item_show-btn magnific-feeback-button"
                        data-mfp-src="{{thank.file.url | resize: '1000x1000' }}">
                    показать
                </button>
            </div>
            {% endfor %}
        </div>
        <div class="main-prizes-button ack-list__show-all-btn">
            <button class="js-main-prizes-button-element" type="button">Смотреть все →</button>
        </div>

    </div>
    </div>
</section>

<section class="common-section">
    <div class="shadow">
        <h2 class="shadow-text">Сертификаты и награды</h2>
    </div>

    <div class="common-container">
        <div class="common-section-title">Сертификаты и награды</div>

        <div class="common-section-content">
            <div class="main-prizes">
                <div class="main-prizes-wrapper ack-pictures-list">
                    {% for item in contents.gallery_items %}
                    {% if item.gallery == 'Licenses' %}
                    <div class="main-prizes-item">
                        <a
                                data-mfp-src="{{ item.link.url  | resize: '1000x1000' }}"
                                class="magnific-image">
                            {% if item.thumbnail.url %}
                            <img alt="" src="{{ item.thumbnail.url }}">
                            {% else %}
                            <img alt="" src="{{ item.link.url  }}">
                            {% endif %}
                        </a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="main-prizes-button ack-pictures-list__show-all-btn">
                    <button class="js-main-prizes-button-element" type="button">Смотреть все →</button>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
{% block 'pagescripts' %}
{{ 'magnific-popup.min.js'| javascript_tag }}
{{ 'about_us_feedback.js'| javascript_tag }}
{{ '//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js' | javascript_tag }}

{% endblock %}
{% block 'pagestyles' %}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" | stylesheet_tag}}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" | stylesheet_tag}}
{% endblock %}