---
title: Rubber
slug: rubber
is_layout: false
allow_layout: false
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 1
seo_title: "Резиновое покрытие для спортивных площадок на улице, цена"
meta_description: "Резиновое покрытие для спортивных площадок. Спортивное оборудование
  для спортивных площадок, школ, дач. Комплексы ГТО, турники, брусья."
---
{% extends 'wrapper' %}

{% block 'main' %}
  <section class="common-landing">
    <div class="common-landing-main rubber-landing-main">
      <div class="common-container">
        <div class="breadcrumbs">
          {% include 'breadcrumbs-catalog' %}
          <span class="breadcrumbs-item">
            <a href="/rubber">Резиновые покрытия</a>
          </span>
        </div>

        <div class="common-landing-content">
          <h1 class="common-landing-title">Резиновое покрытие для спортивных площадок</h1>

          <div class="common-landing-advantages">
            <div class="common-landing-advantages-item">По самым выгодным ценам</div>
          </div>
        </div>
      </div>
    </div>

    <div class="common-landing-tiles">
      <div class="common-landing-tiles-wrapper">
        <div class="common-landing-tiles-item">Частные<br/>загородные<br/>дома</div>
        <div class="common-landing-tiles-item">Стадионы,<br/>университеты, <br/>школы</div>
        <div class="common-landing-tiles-item">Дворовые<br/>спортивные<br/>площадки</div>
      </div>
    </div>
  </section>

  <section class="common-section">
    <div class="shadow">
      <div class="shadow-text">Резиновое покрытие</div>
    </div>

    <div class="common-container">
      <div class="common-section-title">Резиновое покрытие</div>

      <div class="common-section-content">
        <div class="rubber-section-sandwich">
          <img 
            class="rubber-section-sandwich-image-lg" 
            src="{{'rubber/sandwich-lg.png' | theme_image_url }}" 
            alt=""/>

          <img 
            class="rubber-section-sandwich-image-md" 
            src="{{'rubber/sandwich-md.png' | theme_image_url }}" 
            alt=""/>

          <img 
            class="rubber-section-sandwich-image-sm" 
            src="{{'rubber/sandwich-sm.png' | theme_image_url }}" 
            alt=""/>

          <div class="rubber-section-sandwich-text-sm">
            <div class="rubber-section-sandwich-text-sm-item">
              <div class="rubber-section-sandwich-text-sm-item-title" data-count="1">Основной слой</div>
              <div class="rubber-section-sandwich-text-sm-item-description">10мм, состоит из резиновой крошки(фракция 3мм), полиуретанового клея и цветного пигмента.</div>
            </div>

            <div class="rubber-section-sandwich-text-sm-item">
              <div class="rubber-section-sandwich-text-sm-item-title" data-count="2">Средний слой (грунтовка)</div>
              <div class="rubber-section-sandwich-text-sm-item-description">Состав полиуретановый праймер</div>
            </div>

            <div class="rubber-section-sandwich-text-sm-item">
              <div class="rubber-section-sandwich-text-sm-item-title" data-count="3">Нижний слой (основание)</div>
              <div class="rubber-section-sandwich-text-sm-item-description">Асфальт или бетон</div>
            </div>
          </div>

          <div class="rubber-section-sandwich-button rubber-svg-arrow-button">
            <button type="button" class="rubber-button js-rubber-button" href="#feedback-form">Заказать</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="common-section">
    <div class="shadow">
      <div class="shadow-text">Описание</div>
    </div>

    <div class="common-container">
      <div class="common-section-title">Описание</div>

      <div class="common-section-content">
        <div class="rubber-section-description">
          <div class="rubber-section-description-row reverse">
            <div class="rubber-section-description-col">
              <div class="rubber-section-description-image">
                <img src="{{'rubber/description-1.jpg' | theme_image_url }}" alt=""/>
              </div>
            </div>
            <div class="rubber-section-description-col">
              <div class="rubber-section-description-text mod-padding">
                Выбор правильного покрытия – важный момент при обустройстве спортивных площадок любого типа. Отличным решением будет покрытие из резиновой крошки фракции 3мм. Толщина покрытия 10мм, состоит оно из специального полиуретанового клея и красящего пигмента. Кладётся покрытие непосредственно на асфальт.
              </div>
            </div>
          </div>

          <div class="rubber-section-description-row">
            <div class="rubber-section-description-col">
              <div class="rubber-section-description-image">
                <img src="{{'rubber/description-2.jpg' | theme_image_url }}" alt=""/>
              </div>
            </div>
            <div class="rubber-section-description-col">
              <div class="rubber-section-description-text">
                Стойкое резиновое покрытие активно используется на открытых спортплощадках, теннисных кортах, беговых дорожках. Благодаря специальной поверхности происходит максимальное сцепление с обувью, смягчаются возможные удары в случае падения спортсмена. Исключены скольжение, скопление жидкости и образование наледи. Нанесение покрытия должно производиться на асфальт или бетон, в сухую погоду, при температуре воздуха порядка 10 градусов.
              </div>

              <div class="rubber-section-description-button rubber-svg-arrow-button">
                <button type="button" class="rubber-button js-rubber-button" href="#feedback-form">Заказать от 950 руб/кв.м</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="common-section">
    <div class="shadow">
      <div class="shadow-text">Преимущества</div>
    </div>

    <div class="common-container">
      <div class="common-section-title">Преимущества для спортивных площадок</div>

      <div class="common-section-content">
        <div class="rubber-section-advantages">
          <div class="rubber-section-advantages-item">
            <div class="rubber-section-advantages-item-pic">
              <img alt="" src="{{'rubber/advantage-1.svg' | theme_image_url }}"/>
            </div>
            <div class="rubber-section-advantages-item-title">Экологичность</div>
            <div class="rubber-section-advantages-item-text">Материал отвечает всем требованиям экологических стандартов и совершенно безопасен для здоровья</div>
          </div>

          <div class="rubber-section-advantages-item">
            <div class="rubber-section-advantages-item-pic">
              <img alt="" src="{{'rubber/advantage-2.svg' | theme_image_url }}"/>
            </div>
            <div class="rubber-section-advantages-item-title">Влагопроницаемость</div>
            <div class="rubber-section-advantages-item-text">Возможность естественного дренажа, благодаря которым на поверхности не будет луж после природных осадков</div>
          </div>

          <div class="rubber-section-advantages-item">
            <div class="rubber-section-advantages-item-pic">
              <img alt="" src="{{'rubber/advantage-3.svg' | theme_image_url }}"/>
            </div>
            <div class="rubber-section-advantages-item-title">Устойчивость к ультрафиолету</div>
            <div class="rubber-section-advantages-item-text">Долговечность, невосприимчивость к УФ-лучам. Покрытие должно служить даже при активной эксплуатации и без утраты свойств не менее 10 лет</div>
          </div>

          <div class="rubber-section-advantages-item">
            <div class="rubber-section-advantages-item-pic">
              <img alt="" src="{{'rubber/advantage-4.svg' | theme_image_url }}"/>
            </div>
            <div class="rubber-section-advantages-item-title">Стойкость к истиранию</div>
            <div class="rubber-section-advantages-item-text">Покрытие очень прочное, поэтому надолго сохраняет свои эксплуатационные свойства.</div>
          </div>

          <div class="rubber-section-advantages-item">
            <div class="rubber-section-advantages-item-pic">
              <img alt="" src="{{'rubber/advantage-5.svg' | theme_image_url }}"/>
            </div>
            <div class="rubber-section-advantages-item-title">Паропроницаемость</div>
            <div class="rubber-section-advantages-item-text">Возможность «дыхания», предотвращение скопления пара под покрытием, сокращающего срок его  эксплуатации</div>
          </div>

          <div class="rubber-section-advantages-item">
            <div class="rubber-section-advantages-item-pic">
              <img alt="" src="{{'rubber/advantage-6.svg' | theme_image_url }}"/>
            </div>
            <div class="rubber-section-advantages-item-title">Эластичность и упругость</div>
            <div class="rubber-section-advantages-item-text">Амортизирующий эффект и упругость, снижающие нагрузки на руки и ноги спортсмена и обеспечивающие травмобезопасность</div>
          </div>
        </div>

        <div class="rubber-section-comparison">
          <div class="rubber-section-comparison-block">
            <div class="rubber-section-comparison-image">
              <img class="rubber-section-comparison-image-lg no" alt="" src="{{'rubber/no.png' | theme_image_url }}"/>
            </div>

            <div class="rubber-section-comparison-content">
              <div class="rubber-section-comparison-title">Не наша продукция</div>
              <img class="rubber-section-comparison-image-sm" alt="" src="{{'rubber/no.png' | theme_image_url }}"/>
              <ul class="rubber-section-comparison-list cross">
                <li>Экономия резиновой крошки</li>
                <li>Применяется самая дешевая резиновая крошка</li>
                <li>Применяется самый дешевый клей для резины</li>
                <li>Основная задача - тотальная экономия</li>
              </ul>
            </div>
          </div>

          <div class="rubber-section-comparison-block">
            <div class="rubber-section-comparison-image">
              <img class="rubber-section-comparison-image-lg ok" alt="" src="{{'rubber/ok.png' | theme_image_url }}"/>
            </div>

            <div class="rubber-section-comparison-content">
              <div class="rubber-section-comparison-title">Наша продукция</div>
              <img class="rubber-section-comparison-image-sm" alt="" src="{{'rubber/ok.png' | theme_image_url }}"/>
              <ul class="rubber-section-comparison-list check">
                <li>Большая плотность изделия</li>
                <li>Применяется исключительно чистая крошка</li>
                <li>Применяем специальный клей иностранного производства</li>
                <li>Нет экономии на клею, соблюдение технологии</li>
              </ul>
              <div class="rubber-section-comparison-button-lg rubber-svg-arrow-button">
                <button type="button" class="rubber-button js-rubber-button" href="#feedback-form">Заказать от 950 руб/кв.м</button>
              </div>
            </div>
          </div>

          <div class="rubber-section-comparison-button-md rubber-svg-arrow-button">
            <button type="button" class="rubber-button js-rubber-button" href="#feedback-form">Заказать от 950 руб/кв.м</button>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block 'pagescripts' %}
<script>$(() => {
  $('.js-rubber-button').click(function(){
    $('#form-feedback input[name="content[items]"]').val('Заказ резинового покрытия');
  });     
          
})</script>
{% endblock %}