---
title: Shops
slug: shops
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 17
seo_title: "Наши контакты, схема проезда | Уличные тренажеры от производителя Sportmen"
meta_description: "Адреса и телефоны розничных магазинов и представительств в городах
  | Компания Sportmen"
---
{% extends 'wrapper' %}

{% block 'main' %}
<div class="common-container">
  <div class="breadcrumbs breadcrumbs-black pc-breadcrumbs">
    <span class="breadcrumbs-item">
      <a href="/">SPORTMEN.RU</a>
    </span>    
    <span class="breadcrumbs-item">
      <a href="/shops">Где купить</a>
    </span>
  </div>
</div>
  <section class="common-section wtb-landing-section">
    <div class="shadow">
      <div class="shadow-text">Адреса магазинов</div>
    </div>

    <div class="common-container">
      <div class="common-section-title">Адреса магазинов</div>

      <div class="common-section-content">

        <div class="address-contacts">
          <div class="address-contacts-subtitle">Обращаясь к нашим представителям в вашем городе, вы можете купить оборудование и совершить заказ</div>

          <div class="address-contacts-flex">
            <div class="address-contacts-info">
              <div class="address-contacts-label">Выберите город</div>

              <form id="city-picker">
                <select id="city" size="10">
                  <option value="moscow">Москва</option>
                  <option value="belgorod">Белгород</option>
                  <option value="aktobe">Актобе</option>

                  <option value="bryansk">Брянск</option>

                  <option value="voroneg">Воронеж</option>
                  <option value="vologda">Вологда</option>
                  <option value="vladik">Владивосток</option>
                  <option value="ekaterinburg">Екатеринбург</option>
                  <option value="kazan">Казань</option>
                  <option value="kaliningrad">Калининград</option>
                  <option value="krasnodar">Краснодар</option>
                  <option value="mahachkala">Махачкала</option>
                  <option value="nignovgorod">Нижний Новгород</option>
                  <option value="novorossiysk">Новороссийск</option>

                  <option value="postovdon">Ростов-на-Дону</option>
                  <option value="ryazan">Рязань</option>
                  <option value="samara">Самара</option>
                  <option value="spb">Санкт-Петербург</option>
                  <option value="simferopol">Симферополь</option>
                  <option value="sochi">Сочи</option>
                  <option value="sivtivkar">Сыктывкар</option>
                  <option value="tumen">Тюмень</option>
                  <option value="ulianovsk">Ульяновск</option>
                  <option value="ustlabinsk">Усть-Лабинск</option>
                  <option value="ufa">Уфа</option>
                  <option value="cherkessk">Черкесск</option>
                  <option value="ugnosahalinsk">Южно-Сахалинск</option>
                  <option value="yaroslavl">Ярославль</option>
                </select>
              </form>

{% with_scope city: 'Москва' %}
              <div id="moscow" class="shops_block shops_block_active">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="moscow-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'moscow' %}
                {% endfor %}
              </div>
{% endwith_scope %}

{% with_scope city: 'Белгород' %}
              <div id="belgorod" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="belgorod-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'belgorod' %}
                {% endfor %}
              </div>
{% endwith_scope %}

{% with_scope city: 'Актобе' %}
              <div id="aktobe" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="aktobe-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'aktobe' %}
                {% endfor %}
              </div>
{% endwith_scope %}

{% with_scope city: 'Алматы' %}
              <div id="almati" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="almati-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'almati' %}
                {% endfor %}
              </div>
{% endwith_scope %}

{% with_scope city: 'Брянск' %}
              <div id="bryansk" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="bryansk-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'bryansk' %}
                {% endfor %}
              </div>
{% endwith_scope %}

{% with_scope city: 'Балаково' %}
              <div id="balakovo" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="balakovo-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'balakovo' %}
                {% endfor %}
              </div>
{% endwith_scope %}

  {% with_scope city: 'Воронеж' %}
              <div id="voroneg" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="voroneg-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'voroneg' %}
                {% endfor %}
              </div>
{% endwith_scope %}
{% with_scope city: 'Вологда' %}
              <div id="vologda" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="vologda-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'vologda' %}
                {% endfor %}
              </div>
{% endwith_scope %}
              
              {% with_scope city: 'Владивосток' %}
              <div id="vladik" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="vladik-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'vladik' %}
                {% endfor %}
              </div>
{% endwith_scope %}

{% with_scope city: 'Екатеринбург' %}
              <div id="ekaterinburg" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="ekaterinburg-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'ekaterinburg' %}
                {% endfor %}
              </div>
{% endwith_scope %}

{% with_scope city: 'Казань' %}
              <div id="kazan" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="kazan-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'kazan' %}
                {% endfor %}
              </div>
{% endwith_scope %}

{% with_scope city: 'Калининград' %}
              <div id="kaliningrad" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="kaliningrad-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'kaliningrad' %}
                {% endfor %}
              </div>
{% endwith_scope %}

{% with_scope city: 'Краснодар' %}
              <div id="krasnodar" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="krasnodar-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'krasnodar' %}
                {% endfor %}
              </div>
{% endwith_scope %}

{% with_scope city: 'Махачкала' %}
              <div id="mahachkala" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="mahachkala-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'mahachkala' %}
                {% endfor %}
              </div>
{% endwith_scope %}

{% with_scope city: 'Нижний Новгород' %}
              <div id="nignovgorod" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="nignovgorod-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'nignovgorod' %}
                {% endfor %}
              </div>
{% endwith_scope %}

{% with_scope city: 'Новороссийск' %}
              <div id="novorossiysk" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="novorossiysk-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'novorossiysk' %}
                {% endfor %}
              </div>
{% endwith_scope %}
              

{% with_scope city: 'Ростов-на-Дону' %}
              <div id="postovdon" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="postovdon-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'postovdon' %}
                {% endfor %}
              </div>
{% endwith_scope %}

{% with_scope city: 'Рязань' %}
              <div id="ryazan" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="ryazan-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'ryazan' %}
                {% endfor %}
              </div>
{% endwith_scope %}

{% with_scope city: 'Самара' %}
              <div id="samara" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="samara-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'samara' %}
                {% endfor %}
              </div>
{% endwith_scope %}

{% with_scope city: 'Санкт-Петербург' %}
              <div id="spb" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="spb-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'spb' %}
                {% endfor %}
              </div>
{% endwith_scope %}

{% with_scope city: 'Сочи' %}
              <div id="sochi" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="sochi-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'sochi' %}
                {% endfor %}
              </div>
{% endwith_scope %}
              
{% with_scope city: 'Сыктывкар' %}
              <div id="sivtivkar" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="sivtivkar-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'sivtivkar' %}
                {% endfor %}
              </div>
{% endwith_scope %}

{% with_scope city: 'Симферополь' %}
              <div id="simferopol" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="simferopol-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'simferopol' %}
                {% endfor %}
              </div>
{% endwith_scope %}

{% with_scope city: 'Тольятти' %}
              <div id="toliatti" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="toliatti-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'toliatti' %}
                {% endfor %}
              </div>
{% endwith_scope %}

{% with_scope city: 'Тюмень' %}
              <div id="tumen" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="tumen-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'tumen' %}
                {% endfor %}
              </div>
{% endwith_scope %}
              
              {% with_scope city: 'Ульяновск' %}
              <div id="ulianovsk" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="ulianovsk-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'ulianovsk' %}
                {% endfor %}
              </div>
{% endwith_scope %}

{% with_scope city: 'Усть-Лабинск' %}
              <div id="ustlabinsk" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="ustlabinsk-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'ustlabinsk' %}
                {% endfor %}
              </div>
{% endwith_scope %}

{% with_scope city: 'Уфа' %}
              <div id="ufa" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="ufa-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'ufa' %}
                {% endfor %}
              </div>
{% endwith_scope %}

{% with_scope city: 'Черкесск' %}
              <div id="cherkessk" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="cherkessk-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'cherkessk' %}
                {% endfor %}
              </div>
{% endwith_scope %}
              
{% with_scope city: 'Южно-Сахалинск' %}
              <div id="ugnosahalinsk" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="ugnosahalinsk-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'ugnosahalinsk' %}
                {% endfor %}
              </div>
{% endwith_scope %}

{% with_scope city: 'Ярославль' %}
              <div id="yaroslavl" class="shops_block">
                {% if contents.shops.size > 1 %}<div class="address-contacts-shop-tabs">
                  {% for shop in contents.shops %}<a data-tab="yaroslavl-{{forloop.index}}" {% if forloop.first %}class="active"{% endif %}>{{forloop.index}}</a>{% endfor %}
                </div>
                {% endif %}
                {% for shop in contents.shops %}
                  {% include 'address_contacts_shop' with code: 'yaroslavl' %}
                {% endfor %}
              </div>
{% endwith_scope %}

            </div>

            <div class="address-contacts-map">
              <div id="map"></div>
            </div>
          </div>

          <div class="address-contacts-bfb9000">
            <a href="/trainers" class="address-contacts-bfb9000-element">Или закажите оборудование напрямую через наш сайт</a>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="yellowbox">
    <div class="common-container">
      <div class="yellowbox-title">
        <h1 class="yellowbox-title-element">Приглашаем к сотрудничеству</h1>
      </div>

      <div class="yellowbox-subtitle">
        Спортивные магазины,<br />строительные организации,<br />компании благоустройства,<br />индивидуальных предпринимателей
      </div>

      <div class="premium-form inverted">
        <form class="js-shop-form" action="{{contents.customer_messages.public_submission_url}}"  method="POST" data-goal="order" enctype="multipart/form-data" onsubmit="yaCounter32144179.reachGoal('mailform'); ga('send', 'event', 'ФормаЗвонка', 'Отправить'); return true;">
          {% csrf_param %}
          <input type="hidden" name="content[name]" value="Где купить">
          <div class="premium-form-group premium-form-group-column">
            <div class="premium-form-input">
              <div class="form-input-validation-error__popup">Пожалуйста, заполните это поле</div>
              <input type="text" placeholder="Номер телефона" name="content[phone]">
            </div>
            <div class="premium-form-input">
              <div class="form-input-validation-error__popup">Пожалуйста, заполните это поле</div>
              <input type="text" placeholder="E-mail" name="content[email]">
            </div>
            <div class="premium-form-button premium-form-button-unlimited">
              <button type="submit">Получить информацию</button>
            </div>
          </div>

          <div class="premium-form-agreement">
            <label class="premium-form-checkbox">
              <input type="checkbox" checked />
              <span>Я соглашаюсь с политикой конфеденциальности</span>
              <span class="form-input-validation-error__checkbox-popup">Вам необходимо согласиться с политикой конфиденциальности чтобы продолжить</span>
            </label>
          </div>
        </form>
      </div>
    </div>
  </section>

{% endblock %}

{% block 'pagescripts' %}
  <script>
    $(() => {

      // ymaps
      // Там, выше можно хендлить смену города и переключение таба и ре-инитить карту
      // Нужно передать апи-ключ в яндекс
      ymaps.ready(init);
      var myMap;
      function init() {
        myMap = new ymaps.Map('map', {
          center: [55.68664099999999, 37.61732089999998],
          zoom: 15
        });
        {% for shop in contents.shops %}
        var myGeoObject{{forloop.index}} = new ymaps.GeoObject({
          geometry: {
          type: "Point",
          coordinates: [{{shop.latitude}}, {{shop.longitude}}]
        }});
        myMap.geoObjects.add(myGeoObject{{forloop.index}});
        {% endfor %}

      }

      // custom select
      $('select').each(function(){
        var $this = $(this), numberOfOptions = $(this).children('option').length;

        $this.addClass('select-hidden');
        $this.wrap('<div class="select"></div>');
        $this.after('<div class="select-styled"></div>');

        var $styledSelect = $this.next('div.select-styled');
        $styledSelect.text($this.children('option').eq(0).text());

        var $list = $('<ul />', {
          'class': 'select-options'
        }).insertAfter($styledSelect);

        for (var i = 0; i < numberOfOptions; i++) {
          $('<li />', {
            text: $this.children('option').eq(i).text(),
            rel: $this.children('option').eq(i).val()
          }).appendTo($list);
        }

        var $listItems = $list.children('li');

        $styledSelect.click(function(e) {
          e.stopPropagation();

          $('div.select-styled.active').not(this).each(function(){
            $(this).removeClass('active').next('ul.select-options').hide();
          });

          $(this).toggleClass('active').next('ul.select-options').toggle();
        });

        $listItems.click(function(e) {
          e.stopPropagation();
          $styledSelect.text($(this).text()).removeClass('active');
          $this.val($(this).attr('rel'));
          $list.hide();
          $('.shops_block').removeClass('shops_block_active');
          $('#' + $(this).attr('rel')).addClass('shops_block_active');
          if($('#' + $(this).attr('rel') + ' .address-contacts-shop-tabs a:first-of-type').length > 0){
            $('#' + $(this).attr('rel') + ' .address-contacts-shop-tabs a:first-of-type')[0].click();
          }
          let latitude = $('#' + $(this).attr('rel') + ' > .address-contacts-shop').data('latitude');
          let longitude = $('#' + $(this).attr('rel') + ' > .address-contacts-shop').data('longitude');
           myMap.panTo(
              [latitude, longitude], {
                  flying: true
              }
          )
        });

        $(document).click(function() {
          $styledSelect.removeClass('active');
          $list.hide();
        });
      });

      if(window.location.hash) {
        let hash = window.location.hash.substring(1);
        $('.select-options li[rel=' + hash + ']').click();
      }

      // tabs
      function Tabs() {
        var bindAll = function() {
          var menuElements = document.querySelectorAll('[data-tab]');
          for(var i = 0; i < menuElements.length ; i++) {
            menuElements[i].addEventListener('click', change, false);
          }
        }

        var clear = function() {
          var menuElements = document.querySelectorAll('[data-tab]');
          for(var i = 0; i < menuElements.length ; i++) {
            menuElements[i].classList.remove('active');
            var id = menuElements[i].getAttribute('data-tab');
            document.getElementById(id).classList.remove('active');
          }
        }

        var change = function(e) {
          clear();
          e.target.classList.add('active');
          var id = e.currentTarget.getAttribute('data-tab');
          document.getElementById(id).classList.add('active');
          let latitude = $('#' + id).data('latitude');
          let longitude = $('#' + id).data('longitude');
           myMap.panTo(
              [latitude, longitude], {
                  flying: true
              }
          )
        }

        bindAll();
      }

      var connectTabs = new Tabs();

    })

  $(document).ready(function(){
    $('.footer_shops a').click(function() {
      let hash = $(this).attr('href').split("#")[1];
      $('.select-options li[rel=' + hash + ']').click();
      $('html, body').animate({ scrollTop: 0 }, 'fast');
    });
  });
  </script>

{% endblock %}

{% block 'pagestyles' %}

{% endblock %}
