---
title: Sponsorship
slug: sponsorship
is_layout: false
allow_layout: false
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 2
seo_title: "Благотворительные и спонсорские уличные спортплощадки – Sportmen"
meta_description: "Благотворительные и спонсорские уличные спортплощадки – Sportmen.
  Создайте брендовую спортивную площадку для жителей города. Большой выбор и низкие
  цены."
---
{% extends 'parent' %}

{% block 'main' %}
<div class="common-container">
  <div class="breadcrumbs breadcrumbs-black pc-breadcrumbs">
    <span class="breadcrumbs-item">
      <a href="/">SPORTMEN.RU</a>
    </span>    
    <span class="breadcrumbs-item">
      С кем работаем
    </span>
    <span class="breadcrumbs-item">
      <a href="/sponsorship">Спонсорство</a>
    </span>
  </div>
</div>
<section class="common-landing sponsored-section">
  <div class="shadow">
    <div class="shadow-text">Для монтажа потребуется</div>
  </div>
  <div class="common-container">
    <h1 class="common-section-title">спонсорство <br> и благотворительность</h1>
    <p class="sponsored-landing-text">
      Ваша компания может спонсировать строительство спортивной площадки в вашем городе. Мы же в свою очередь украсим её вашим логотипом и раскрасим оборудование в ваши фирменные цвета.
    </p>
    <p class="sponsored-landing-subtitle">в результате этого вы:</p>
    <ul class="sponsored-icons">
      <li class="sponsored-icons__item">

        <svg version="1.1" id="sponsored_svg_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 158 153" style="enable-background:new 0 0 158 153;" xml:space="preserve">
        <style type="text/css">
          #sponsored_svg_1 .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
        <g>
          <rect x="3.5" y="10.4" class="st0" width="55" height="74.4"/>
          <path class="st0" d="M58.5,24.5H137L111,62.1c-1.2,1.8-1.2,4.1,0,5.9l26.1,37.6H42.4"/>
          <path class="st0" d="M41.8,84.9c-5.7,0-10.3,4.7-10.3,10.4v0c0,5.7,4.6,10.4,10.3,10.4h6.3"/>
          <line class="st0" x1="3.5" y1="3.5" x2="3.5" y2="149.6"/>
        </g>
        </svg>
        <p class="sponsored-icons-h3">Создадите рекламный объект, который будет стоять на выбранном месте долгие годы</p>
      </li>
      <li class="sponsored-icons__item">
        <svg version="1.1" id="sponsored_svg_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 158 153" style="enable-background:new 0 0 158 153;" xml:space="preserve">
        <style type="text/css">
          #sponsored_svg_2 .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
        <g>
          <path class="st0" d="M81.9,67.9h54.7c4,0,7.4,4.3,7.4,9.5v0c0,5.2-3.3,9.5-7.4,9.5H99.9"/>
          <path class="st0" d="M98.5,86.9h48.9c4,0,7.4,4.3,7.4,9.5v0c0,5.2-3.3,9.5-7.4,9.5H98.5"/>
          <path class="st0" d="M98.5,105.9h40.7c4,0,7.4,4.3,7.4,9.5v0c0,5.2-3.3,9.5-7.4,9.5H98.5"/>
          <path class="st0" d="M98.5,124.9h28.6c4,0,7.4,4.3,7.4,9.5v0c0,5.2-3.3,9.5-7.4,9.5h-14.3H67.3c-4.7,0-9.2-2.4-12.5-6.7l-5.7-7.3"
            />
          <path class="st0" d="M49.8,71.6L72,39.3c2.2-3.2,3.4-7.1,3.4-11V10.8c0-3.1,2.5-5.6,5.6-5.6h6.4c2.5,0,4.7,1.7,5.4,4.1l4.2,14.5
            c1.8,6.2,1.9,12.7,0.4,18.9l-6.2,25.3"/>
          <path class="st0" d="M37.2,148H15.7c-6.6,0-12-5.4-12-12V68.7c0-6.6,5.4-12,12-12h21.5c6.6,0,12,5.4,12,12V136
            C49.2,142.6,43.8,148,37.2,148z"/>
        </g>
        </svg>
        <p class="sponsored-icons-h3">Сформируете положительный образ вашей компании в глазах общественности</p>
      </li>
      <li class="sponsored-icons__item">
        <svg version="1.1" id="sponsored_svg_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 158 153" style="enable-background:new 0 0 158 153;" xml:space="preserve">
        <style type="text/css">
          #sponsored_svg_3 .st0{fill:none;stroke:#F7CF2D;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
        <g>
          <path class="st0" d="M95.7,112.8c0,9.7-13.7,17.6-30.6,17.6s-30.6-7.9-30.6-17.6"/>
          <path class="st0" d="M29.6,93.9c0-4.3,3.5-7.8,7.8-7.8s7.8,3.5,7.8,7.8"/>
          <path class="st0" d="M85,93.9c0-4.3,3.5-7.8,7.8-7.8c4.3,0,7.8,3.5,7.8,7.8"/>
          <path class="st0" d="M113.4,78c7.7,0,14,5.7,14,12.7s-6.2,12.7-14,12.7"/>
          <path class="st0" d="M17.1,103.5c-7.7,0-14-5.7-14-12.7c0-7,6.2-12.7,14-12.7"/>
          <path class="st0" d="M92.8,18.5c3.2-1.8,8.8-1.7,13.4-1.2c4.1,0.5,7.1,3.9,7.1,8v46.1v27.7c0,26.3-21.5,47.7-47.7,47.7h0
            c-26.3,0-47.7-21.5-47.7-47.7V46.4"/>
          <path class="st0" d="M113.4,71.4c-0.7,0.4-1.6,0.7-2.6,1c-9.2,2.2-18-5-18-14.4V18.5l-17.5-7.3C50.2,0.7,23.8,5.8,13,39.1v0"/>
          <path class="st0" d="M54.6,27.3L46,32.2c-4.5,2.5-9.8,3.4-14.9,2.3l-3.9-0.8c-5.6-1.2-11.3,1.2-14.5,5.9l-5.9,8.8
            c-0.4,0.7,0.3,1.5,1,1.2l3.4-1.6c5.1-2.5,11.1-2.3,16.1,0.5l4.9,2.7c16.4,6.8,35.2,4.8,49.7-5.4l10.6-7.2"/>
        </g>
        </svg>
        <p class="sponsored-icons-h3">Сделаете доброе дело <br> для горожан</p>
      </li>
    </ul>
  </div>
</section>
<section class="common-section sponsored-examples-section">
  <div class="shadow">
    <div class="shadow-text">ПРИМЕРЫ СПОНСОРСКИХ ПЛОЩАДОК</div>
  </div>

  <div class="common-container">
    <p class="common-section-title">ПРИМЕРЫ СПОНСОРСКИХ <br> ПЛОЩАДОК</p>
    <div class="sponsored-examples">
        {% for item in contents.products %}
        {% if item.type == 'brand' %}
      <div class="sponsored-examples__item">
        <p class="sponsored-examples-h2">{{ item.title }}</p>
            {% if item.image_preview.url %}
            <img alt="{{item.title}}" src="{{ item.image_preview.url | resize: '700x500'}}">
            {% else %}
            <img alt="{{item.title}}" src="{{ item.image.url | resize: '700x500'}}">
            {% endif %}
        <a class="yellow-button" href="/products/{{ item._slug }}">
          <span>подробнее</span>
        </a>
      </div>      
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
<section class="yellowbox sponsored-form">
  <div class="common-container">
    <div class="yellowbox-title">
      <p class="yellowbox-title-element">Станьте спонсором</p>
    </div>
    <p class="sponsored-yellowbox-subtitle">оставьте заявку и мы вам перезвоним!</p>

      <form action="{{contents.customer_messages.public_submission_url}}" method="POST" data-goal="order" enctype="multipart/form-data" onsubmit="yaCounter32144179.reachGoal('mailform'); ga('send', 'event', 'ФормаЗвонка', 'Отправить'); return true;" class="faq-form js-faq-form">
        {% csrf_param %}
        <input type="hidden" name="content[name]" value="Стать спонсором">
        <div class="faq-form-container">
          <div class="faq-form-tel">
            <div class="form-input-validation-error__popup">Пожалуйста, заполните это поле</div>
            <input type="text" placeholder="Номер телефона" name="content[phone]">
          </div>
          <div class="faq-form-email">
            <div class="form-input-validation-error__popup">Пожалуйста, заполните это поле</div>
            <input type="text" placeholder="E-mail" name="content[email]">
          </div>
          <div class="faq-form-submit">
            <input type="submit" placeholder="" value='Заказать'>
          </div>
          <label class="faq-form__checkbox">
            <input type="checkbox" checked />
            <span>Я соглашаюсь с политикой конфеденциальности</span>
            <span class="form-input-validation-error__checkbox-popup">Вам необходимо согласиться с политикой конфиденциальности чтобы продолжить</span>
          </label>
        </div>
      </form>

  </div>
</section>

{% endblock %}
{% block 'pagescripts' %}
  {{ '//cdn.jsdelivr.net/npm/walkway.js/src/walkway.min.js'| javascript_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js'| javascript_tag }}
  {{ 'sponsored.js'| javascript_tag }}

{% endblock %}
{% block 'pagestyles' %}
{% endblock %}
