---
title: "Готовые спортплощадки"
slug: sport_grounds
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 29
seo_title: "КАТАЛОГ ГОТОВЫХ СПОРТПЛОЩАДОК"
meta_description: "Готовые спортплощадки от производителя для школ и дач, комплексы
  ГТО. Мы предлагаем выгодно купить . Доставка по всей России"
---
{% extends wrapper %}
{% block main %}
  <section class="common-section">
    <div class="shadow">
      <div class="shadow-text">Готовые спортплощадки</div>
    </div>

    <div>
      <div class="common-container">
        <h1 class="common-section-title">Каталог готовых спортплощадок</h1>

        <div class="common-section-content">

          <div class="common-catalog">
            <div class="common-catalog-cards">
      {% for item in contents.products %}
      {% if item.type == 'platform' and item.gto %} 
		{% include 'catalog_item_block' %}      
      {% endif %}
      {% endfor %}
      {% for item in contents.products %}
      {% if item.type == 'mobile' %}   
		{% include 'catalog_item_block' %}      
      {% endif %}
      {% endfor %}
  </div></div></div></div></div>
    </section>



{% endblock %}
