---
title: Summer action
slug: summer-action
is_layout: false
allow_layout: false
listed: true
published: false
cache_strategy: none
response_type: text/html
position: 19
---
{% extends wrapper %}
{% block main %}

<div class="adress_main">
  <div class="container">
    <div><h1>адреса магазинов</h1>
      <p>Обращаясь к нашим представителям в вашем городе, вы можете 
          <br>купить оборудование и совершить заказ</p> 
    </div>
    <div class="order_d">
      Или закажите оборудование напрямую через наш сайт <a href="/">Смотреть каталог товаров</a>
    </div>
  </div>
</div>
<div class="content clear">
  <div class="advantages">
    <div class="container ya-list">
      <h2>Список городов:</h2>
      <h3>Б</h3>
      <ul>
        <li><a href="#belgorod" class="fancybox">Белгород</a></li>
      </ul>
      
      <h3>М</h3>
      <ul>
        <li><a href="#moskva" class="fancybox">Москва</a></li>
      </ul>    
    </div>
  </div>
</div>
{% with_scope city: 'Белгород' %}
<div id="belgorod" class="fancybox-content ya-map" style="display:none;">
  <h5>Адреса магазинов в <b>Белгороде</b></h5>
  <div id="mapBelgorod" style="width: 890px; height: 465px" class="ya-mapdiv"></div>
  <script type="text/javascript">
  ymaps.ready(function(){
   {% assign coords = contents.shops.first %}
  var myMap = new ymaps.Map("mapBelgorod", {
        center: [50.5997134, 36.5982621],
        zoom: 10
    });
    {% assign count_belgorod = contents.shops.count %}
    {% for shop in contents.shops %}
    var myGeoObject_{{shop._id}} = new ymaps.GeoObject({
    geometry: {
    type: "Point",
   coordinates: [{{ shop.latitude}}, {{shop.longitude}}]
    }});
    myMap.geoObjects.add(myGeoObject_{{shop._id}}); 
    myMap.controls.add('zoomControl');
    {% endfor %}
   });
  </script>
  <div class="pull-left">
    {% assign list = 1 %}
    {% for shop in contents.shops %}
    <p>{{ shop._position | plus: 1 }}. {{ shop.name}}, {{ shop.adress }}</p>
    {% endfor %}
  </div>
  <div class="pull-right">
    <a class="btn catalog" href="/trainers">Каталог товаров</a><br>
    <a class="btn active fancybox" data-button="order" data-goal="form" href="#feedback-form">Заказать звонок</a>
  </div>
</div>
{% endwith_scope %}

{% with_scope city: 'Москва' %}
<div id="moskva" class="fancybox-content ya-map" style="display:none;">
<h5>Адреса магазинов в <b>Москве</b></h5>
  <div id="mapMoskva" style="width: 890px; height: 465px" class="ya-mapdiv"></div>
  <script type="text/javascript">
  ymaps.ready(function(){
   {% assign coords = contents.shops.first %}
  var myMap = new ymaps.Map("mapMoskva", {
        center: [55.75184939, 37.6172626],
        zoom: 10
    });
    {% for shop in contents.shops %}
    var myGeoObject_{{shop._id}} = new ymaps.GeoObject({
    geometry: {
    type: "Point",
   coordinates: [{{ shop.latitude}}, {{shop.longitude}}]
    }});
    myMap.geoObjects.add(myGeoObject_{{shop._id}}); 
    myMap.controls.add('zoomControl');
    {% endfor %}
   });
  </script>
  <div class="pull-left">
    {% for shop in contents.shops %}
    <p>{{ shop._position | minus: count_belgorod | plus: 1 }}. {{ shop.name}}, {{ shop.adress }}</p>
    {% endfor %}
  </div>
  <div class="pull-right">
    <a class="btn catalog" href="/trainers">Каталог товаров</a><br>
    <a class="btn active fancybox" data-button="order" data-goal="form" href="#feedback-form">Заказать звонок</a>
  </div>
</div>
{% endwith_scope %}

{% endblock %}