---
title: "Шведские стенки"
slug: sweden
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 114
seo_title: "Шведские стенки для улицы купить от производителя - Sportmen.ru"
meta_description: "Каталог шведских стенок  от производителя лицензированного спортивного
  оборудования для дач, школ, спортплощадок. Продажа комплексов ГТО, турников, брусьев,
  лестниц, рукоходов."
---
{% extends wrapper %}
{% block main %}
  <section class="common-section">
    <div class="shadow">
      <div class="shadow-text">Шведские стенки</div>
    </div>

    <div>
      <div class="common-container">
        <h1 class="common-section-title">Каталог шведских стенок</h1>

        <div class="common-section-content">

          <div class="common-catalog">
            <div class="common-catalog-cards">
{% with_scope code: "sweden" %}
  {% assign category = contents.categories.first %}
{% endwith_scope %}
        {% for item in category.products %}
            {% include 'catalog_item_block' %}
        {% endfor %}
  </div></div></div></div></div>
    </section>



{% endblock %}
