---
title: Trainers
slug: trainers
is_layout: false
allow_layout: false
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 11
seo_title: "Уличные тренажеры купить в Москве - Спортивные тренажеры для дачи, цены"
meta_description: "Спортивные уличные тренажеры от производителя. Мы предлагаем выгодно
  купить оборудование для спортивных площадок, школ, дач. Доставка по всей России."
---
{% extends 'wrapper' %}

{% block 'main' %}
  <section class="common-landing">
    <div class="common-landing-main trainers-landing-main">
      <div class="common-container">
        <div class="common-landing-flex">
          <div class="breadcrumbs">
            {% include 'breadcrumbs-catalog' %}
            <span class="breadcrumbs-item">
              <a href="/trainers">Уличные тренажеры</a>
            </span>
          </div>

          <div class="common-landing-content">
            <h1 class="common-landing-title">Уличные спортивные тренажеры</h1>

            <div class="common-landing-advantages">
              <div class="common-landing-advantages-item">По самым выгодным ценам</div>
              <div class="common-landing-advantages-item">Оборудовние в наличии на складе</div>
            </div>

            {% include 'advantages' %}

          </div>
        </div>
      </div>
    </div>

    {% include 'common-landing-tiles' %}

  </section>

  <section class="common-section" id="block-catalog">
    <div class="shadow">
      <div class="shadow-text">Уличные спортивные тренажеры</div>
    </div>

    <div>
      <div class="common-container">
        <div class="common-section-title">Выберите подходящий тренажер для вашей спортплощадки</div>

        <div class="common-section-content">

          <div class="common-catalog">
            
            {% include 'common_catalog_sale' %}

{% with_scope type: 'trainer' %}
        <div class="common-catalog-cards">
        {% for item in contents.products %}
            {% include 'catalog_item_block' %}
        {% endfor %}
        </div>
{% endwith_scope %}

          </div>

        </div>
      </div>
    </div>
  </section>

{% include 'equipment' %}

{% include 'yellowbox' %}

  <section class="common-section">
    <div class="shadow">
      <div class="shadow-text">Рекомендация SPORTMEN</div>
    </div>

    <div>
      <div class="common-container">
        <div class="common-section-title">Рекомендация SPORTMEN</div>

        <div class="common-section-content">

          <div class="common-recomendation">
            <div class="common-recomendation-text">
              <p>Для достижения красивого рельефа мышц груди, рук, спины и пресса необходимо выполнять ряд физических упражнений, а именно подтягивания на турнике и отжимания на брусьях. И чтобы результат от занятий был максимальным, нужно регулярно тренироваться и проявлять упорство. Для многих людей тренировочная программа с использованием турника и брусьев может показаться сложной, но если приложить достаточно усилий, даже начинающий спортсмен сумеет достичь невероятных успехов.</p>

              <p>Если вы хотите приобрести высококачественные уличные брусья или турники, ассортимент компании Sportmen удивит вас своей разнообразностью и доступными ценами. Чтобы сделать заказ звоните нам по телефону 8 (800) 775-15-12.</p>
            </div>

            <div class="common-recomendation-image">
              <img class="common-recomendation-image-element" src="{{'parallel-bars/recomendation.jpg' | theme_image_url }}" alt="" />
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

{% include 'common-gallery' %}

{% endblock %}

{% block 'pagescripts' %}
  {{"//unpkg.com/popper.js/dist/umd/popper.min.js"| javascript_tag}}
  {{"//unpkg.com/tooltip.js/dist/umd/tooltip.min.js"| javascript_tag}}
  {{"//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"| javascript_tag}}
  {{"magnific-popup.min.js"| javascript_tag}}

  <script>$(() => {
    // tooltips on landing section
    document.querySelectorAll('.ugly-tips-item')
      .forEach(element => {
        new Tooltip(element, {
          placement: 'top-end',
          title: element.dataset.tip,
          popperOptions: {
            modifiers: {
              flip: {
                enabled: false
              },
              preventOverflow: {
                escapeWithReference: true
              }
            }
          }
        });
      });

    // ugly-tips carousel
    if (window.innerWidth < 1280) {
      $('.ugly-tips').slick({
        slidesToShow: 1,
        infinite: false,
        draggable: true,
        arrows: false,
        dots: true,
        dotsClass: 'custom-dots'
      });
    }

    // gallery carousel
    $('.js-common-gallery').slick({
      slidesToShow: 6,
      infinite: false,
      draggable: false,
      arrows: false,
      dots: false,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            draggable: true,
            slidesToShow: 4
          }
        },
        {
          breakpoint: 500,
          settings: {
            draggable: true,
            slidesToShow: 3
          }
        },
        {
          breakpoint: 320,
          settings: {
            draggable: true,
            slidesToShow: 2
          }
        }
      ]
    });

    // magnific init
    $('.magnific-image').magnificPopup({
      type: 'image',
      mainClass: 'mfp-with-zoom',
      zoom: {
        enabled: true,
        duration: 300,
        easing: 'ease-in-out',
        opener: (el) => el.is('img') ? el : el.find('img')
      }
    });
  })</script>
{% endblock %}
{% block 'pagestyles' %}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" | stylesheet_tag}}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" | stylesheet_tag}}
{% endblock %}