---
title: Turniks
slug: turniks
is_layout: false
allow_layout: false
listed: false
published: false
cache_strategy: none
response_type: text/html
position: 8
seo_title: "Домашний турник с брусьями на стену – Sportmen"
meta_description: Серия турников "Домашний монстр". Турник, брусья и тренажер для
  пресса - 3 в 1. Нагрузка - 500 кг. Всего за 3390! Доставка в пределах 5% в подарок!
editable_elements:
  main/pluses: "<ul>\r\n<li>Качественная Винилискожа РФ</li>\r\n<li>порошковая полиэфирная
    краска</li>\r\n<li>Специальная антискользящая клейкая лента</li>\r\n<li>Полноценный
    турник - 34 мм и брусья - 48 мм</li>\r\n</ul>"
  main/minuses: "<ul>\r\n<li>Катайский кожзаменитель</li>\r\n<li>Покраска с краскопульта</li>\r\n<li>Быстропортящиеся
    ПОРОЛОНОВЫЕ РУЧКИ </li>\r\n<li>Турник и брусья 25 мм</li>\r\n</ul>"
  main/delivery_title: "Доставка"
  main/delivery: "<p>Мы не хотим наживаться на твоём желании стать сильным и здоровым.<br/>\r\n
    \   Поэтому мы делаем дополнительную скидку 5%, которая<br/>\r\n    покрывает
    стоимость доставки в радиусе 500 км от нашего производства.</p>"
  main/bandage_title: "Забинтуй свой турник!"
  main/bandage: "К каждому турнику мы прикладываем моток<br />специальной антискользящей
    клейкой ленты, чтобы ты мог<br />самостоятельно замотать его - так же, как боксёр<br
    />перематывает руки перед тренировкой!"
  main/price: "<s>5 750</s>  <b>4 490</b>"
---
{% extends wrapper %}

{% block 'main' %}

  <header class="header gray-line">
    <div class="container">
      <div class="row">
        <h1 class="h1-upp-bld h1-trnk">Турник "Домашний монстр"</h1>
      </div>
      <div class="row">
        <div class="separator-3 col-xs-2 col-xs-offset-5">
        </div>
      </div>
    </div>
  </header>

  <div class="turnik_infograf">
  <div id="info_pipe" class="info_text">Труба<br />(34x2,8<span>мм</span>)</div>
  <div id="info_pipe2" class="info_text">Труба<br />(48x3<span>мм</span>)</div>
  <div id="info_paint" class="info_text">Порошковая<br />покраска</div>
  <div id="info_hooks" class="info_text">Крючки для<br />груши / колец / качели</div>
  <div id="info_bolt" class="info_text">Болт М14</div>
  <div id="info_profile" class="info_text">Профиль<br />(50x50x2<span>мм</span>)</div>
    <div class="gift">Ваш подарок
    <div></div>
      <div id="gift">
        <b>Ваш подарок</b><br>
        жилет-утяжелитель

        <div>Регулировка размера и веса</div>
      </div>
    </div>
    <div class="weight"><p>Выдержит<br />нагрузку<br /><b>500</b><br />кг</p></div>
    <div class="shield"><p>Гарантия<br /><b>100</b><br />лет</p></div>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4 text-center">
        <a href="#feedback-form" data-goal="form" data-button="dealer" class="btn btn-turnik full-width fancybox">Заказать за {% editable_text "price", format: raw, rows: 1 %}15 000{% endeditable_text %} руб</a>
      </div>
    </div>
  </div>
  <div class="turnik_plus_minus">
    <div class="turnik_plus">
      <h2>Наш турник</h2>
      <div class="separator-4"></div>
      {% editable_text "pluses", format: raw, rows: 10 %}
          Плюсы
      {% endeditable_text %}
    </div>
    <div class="turnik_minus">
      <h2>Не наш турник</h2>
      <div class="separator-4"></div>
      {% editable_text "minuses", format: raw, rows: 10 %}
          Минусы
      {% endeditable_text %}
    </div>
  </div>

  <div class="turnik_bandage container">
    <div>
      <h2>{% editable_text "bandage_title", format: raw, rows: 1 %}Забинтуй свой турник!{% endeditable_text %}</h2>
      <div class="separator-4"></div>
      {% editable_text "bandage", format: raw, rows: 10 %}
          К каждому турнику мы прикладываем моток<br />специальной клейкой ленты, чтобы ты мог<br />самостоятельно замотать его - так же, как боксёр<br />перематывает руки перед тренировкой!
      {% endeditable_text %}
      <div class="bandage_scotch"></div>
    </div>
  </div>
  <div class="turnik_delivery container">
    <h2>{% editable_text "delivery_title", format: raw, rows: 1 %}Доставка{% endeditable_text %}</h2>
    <div class="separator-4"></div>
    {% editable_text "delivery", format: raw, rows: 10 %}
    <p>Мы не хотим наживаться на твоём желании стать сильным и крутым.<br />
    Наоборот, мы сами хотим, чтобы ты стал сильным и крутым.<br />
    Поэтому мы БЕСПЛАТНО доставим турник<br />
    в любое место России!</p>
    {% endeditable_text %}
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4 text-center">
        <a href="#feedback-form" data-goal="form" data-button="dealer" class="btn btn-turnik full-width fancybox">Заказать за {% editable_text "price", format: raw, rows: 1 %}15 000{% endeditable_text %} руб</a>
      </div>
    </div>
  </div>

<div class="container turnik">
      <h2>Смотрите также:</h2>
      <div class="separator-4"></div>
</div>


<div class="catalog-wrapper">
  <div class="row catalog">
        {% for item in contents.products %}
        {% if item.type == 'home' %}
        <a href="/products/{{ item._slug }}" data-goal="item-clicked"  class="catalog-item col-xs-3" data-description="{{item.description}}" data-title="{{item.title}}" data-specs="{{item.specs}}" data-art="{{item.article}}"
        data-price12="{{item.price12}}" data-price13="{{item.price13}}" data-price31="{{item.price31}}" data-price33="{{item.price33}}"
        data-img="{{item.image.url | resize: '1000x1000'}}" data-img-preview="{{item.image_preview.url  | resize: '166x166'}}" data-old-price="{{item.old_price}}" data-new-price="{{item.new_price}}">
        <h3 class="item-title">{{item.title}}</h3>
        <div class="item-description">
          {% if item.bestseller %}<div class="bestseller">Хит<br>продаж</div>{% endif %}
          <span class="art">Арт. {{item.article}}</span>
          <div class="item-image">
            {% if item.image_preview.url %}
            <img alt="" src="{{ item.image_preview.url | resize: '166x166'}}">
            {% else %}
            <img alt="" src="{{ item.image.url | resize: '166x166'}}">
            {% endif %}
          </div>
          <span class="discount">-{{item.new_price | times: 100 | divided_by: item.old_price | minus: 100 | times: -1 }} %</span> <span class="old-price"><span class="format">{{item.old_price}}</span> руб.</span>
          <div class="new-price ">Цена <span class="format">{{item.new_price}}</span>
              <span class="currency">руб.</span>
            </div>
          <span class="btn btn-sm catalog-item-btn no-hover" >+ Бесплатная доставка</span>
        </div>
      </a>
      {% endif %}
      {% endfor %}
  </div>
</div>


   {% for item in contents.products %}
        <div class="catalog-item" data-goal="item-clicked"  class="catalog-item col-xs-3" data-description="{{item.description}}" data-title="{{item.title}}" data-specs="{{item.specs}}" data-art="{{item.article}}"
        data-price12="{{item.price12}}" data-price13="{{item.price13}}" data-price31="{{item.price31}}" data-price33="{{item.price33}}"
        data-img="{{item.image.url | resize: '1000x1000'}}" data-img-preview="{{item.image_preview.url  | resize: '166x166'}}" data-old-price="{{item.old_price}}" data-new-price="{{item.new_price}}"></div>
  {% endfor %}
<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'GHhEXIPBg6';
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
<!-- {/literal} END JIVOSITE CODE -->
{% endblock %}