---
title: "Уличные турники"
slug: ulichnye-turniki
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 24
seo_title: "Уличные турники - Купить турник для дачи в Москве"
meta_description: "Уличные турники"
---
{% extends 'wrapper' %}

{% block 'main' %}
  <section class="common-landing">
    <div class="common-landing-main horizontal-bars-landing-main">
      <div class="common-container">
        <div class="common-landing-flex">
          <div class="breadcrumbs">
            {% include 'breadcrumbs-catalog' %}
            <span class="breadcrumbs-item">
              <a href="/ulichnye-turniki">Уличные турники</a>
            </span>
          </div>

          <div class="common-landing-content">
            <h1 class="common-landing-title">Уличные турники</h1>

            <div class="common-landing-advantages">
              <div class="common-landing-advantages-item">По самым выгодным ценам</div>
              <div class="common-landing-advantages-item">Оборудовние в наличии на складе</div>
            </div>

            {% include 'advantages' %}

          </div>
        </div>
      </div>
    </div>

    {% include 'common-landing-tiles' %}

  </section>

  <section class="common-section">
    <div class="shadow">
      <div class="shadow-text">Уличные турники</div>
    </div>

    <div>
      <div class="common-container">
        <div class="common-section-title">Каталог тренажеров с турниками</div>

        <div class="common-section-content">

          <div class="common-catalog">
        
            {% include 'common_catalog_sale' %}
            

{% with_scope code: "turnik-street" %}
  {% assign category = contents.categories.first %}
{% endwith_scope %}
        <div class="common-catalog-cards">
        {% for item in category.products %}
            {% include 'catalog_item_block' %}
        {% endfor %}
        </div>
          </div>

        </div>
      </div>
    </div>
  </section>

{% include 'equipment' %}

{% include 'yellowbox' %}

{% include 'recommendations' %}

{% include 'common-gallery' %}

{% endblock %}

{% block 'pagescripts' %}
  {{"//unpkg.com/popper.js/dist/umd/popper.min.js"| javascript_tag}}
  {{"//unpkg.com/tooltip.js/dist/umd/tooltip.min.js"| javascript_tag}}
  {{"//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"| javascript_tag}}
  {{"magnific-popup.min.js"| javascript_tag}}

  <script>$(() => {
    // tooltips on landing section
    document.querySelectorAll('.ugly-tips-item')
      .forEach(element => {
        new Tooltip(element, {
          placement: 'top-end',
          title: element.dataset.tip,
          popperOptions: {
            modifiers: {
              flip: {
                enabled: false
              },
              preventOverflow: {
                escapeWithReference: true
              }
            }
          }
        });
      });

    // ugly-tips carousel
    if (window.innerWidth < 1280) {
      $('.ugly-tips').slick({
        slidesToShow: 1,
        infinite: false,
        draggable: true,
        arrows: false,
        dots: true,
        dotsClass: 'custom-dots'
      });
    }

    // gallery carousel
    $('.js-common-gallery').slick({
      slidesToShow: 6,
      infinite: false,
      draggable: false,
      arrows: false,
      dots: false,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            draggable: true,
            slidesToShow: 4
          }
        },
        {
          breakpoint: 500,
          settings: {
            draggable: true,
            slidesToShow: 3
          }
        },
        {
          breakpoint: 320,
          settings: {
            draggable: true,
            slidesToShow: 2
          }
        }
      ]
    });

    // magnific init
    $('.magnific-image').magnificPopup({
      type: 'image',
      mainClass: 'mfp-with-zoom',
      zoom: {
        enabled: true,
        duration: 300,
        easing: 'ease-in-out',
        opener: (el) => el.is('img') ? el : el.find('img')
      }
    });
  })</script>
{% endblock %}
{% block 'pagestyles' %}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" | stylesheet_tag}}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" | stylesheet_tag}}
{% endblock %}
