---
title: Warning
slug: warning
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 109
seo_title: "Осторожно! Недобросовестные производители!"
meta_description: "Осторожно! Недобросовестные производители! "
---
{% extends 'wrapper' %}

{% block 'main' %}
<section class="common-section">
    <div class="shadow">
        <div class="shadow-text">Недобросовестные производители!</div>
    </div>
    <div class="common-container">
        <h1 class="common-section-title">Осторожно! Недобросовестные производители!</h1>
        <div class="common-section-text">
            <p>
                В настоящее время на рынке представлено множество производителей “workout / ВФСК”
                оборудования. Изучая каталоги продукции, Вы уже заметили, что стоимость у производителей
                может отличаться в разы. <span class="highlight"> Но высокая стоимость не является гарантией качества</span>, в этом можно
                убедиться на фото ниже.
            </p>
            <img srcset="{{ 'bad-1.jpg' | theme_image_url }}, {{ 'bad-1@2x.jpg' | theme_image_url }} 2x" src="{{ 'bad-1.jpg' | theme_image_url }}" alt="плохие подрядчики, фото брака №1">
            <img srcset="{{ 'bad-2.jpg' | theme_image_url }}, {{ 'bad-2@2x.jpg' | theme_image_url }} 2x" src="{{ 'bad-2.jpg' | theme_image_url }}" alt="плохие подрядчики, фото брака №2">

            <p>Чтобы обезопасить себя, придерживайтесь простых правил:</p>
            <ol>
            <li>Выбирайте компании, которые работают минимум семь-девять лет в этой сфере, они обладают
            достаточным производственным опытом.</li>
            <li>Изучите сайт компании. Узнайте, если ли представительства в других городах/странах. Наличие
            в других городах дилеров говорит о том, что компания действительно Производитель и успешно
            наладила логистику на федеральном/международном уровне.</li>
            <li>Перед покупкой соберите и проанализируйте больше информации. Сравнивайте стоимость,
            ищите отзывы в интернете, задавайте больше вопросов менеджерам компаний.</li>
            </ol>
            <p class="highlight">Не дайте себя обмануть! Разумного выбора и отличных тренировок!</p>

            <p>С Уважением, <br>
            команда SPORTMEN.</p>
        </div>
    </div>
</section>

{% endblock %}

{% block 'pagescripts' %}
  {{"//unpkg.com/popper.js/dist/umd/popper.min.js"| javascript_tag}}
  {{"//unpkg.com/tooltip.js/dist/umd/tooltip.min.js"| javascript_tag}}
  {{"//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"| javascript_tag}}
  {{"magnific-popup.min.js"| javascript_tag}}

  <script>$(() => {
    // tooltips on landing section
    document.querySelectorAll('.ugly-tips-item')
      .forEach(element => {
        new Tooltip(element, {
          placement: 'top-end',
          title: element.dataset.tip,
          popperOptions: {
            modifiers: {
              flip: {
                enabled: false
              },
              preventOverflow: {
                escapeWithReference: true
              }
            }
          }
        });
      });

    // ugly-tips carousel
    if (window.innerWidth < 1280) {
      $('.ugly-tips').slick({
        slidesToShow: 1,
        infinite: false,
        draggable: true,
        arrows: false,
        dots: true,
        dotsClass: 'custom-dots'
      });
    }

    // gallery carousel
    $('.js-common-gallery').slick({
      slidesToShow: 6,
      infinite: false,
      draggable: false,
      arrows: false,
      dots: false,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            draggable: true,
            slidesToShow: 4
          }
        },
        {
          breakpoint: 500,
          settings: {
            draggable: true,
            slidesToShow: 3
          }
        },
        {
          breakpoint: 320,
          settings: {
            draggable: true,
            slidesToShow: 2
          }
        }
      ]
    });

    // magnific init
    $('.magnific-image').magnificPopup({
      type: 'image',
      mainClass: 'mfp-with-zoom',
      zoom: {
        enabled: true,
        duration: 300,
        easing: 'ease-in-out',
        opener: (el) => el.is('img') ? el : el.find('img')
      }
    });
  })</script>
{% endblock %}
{% block 'pagestyles' %}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" | stylesheet_tag}}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" | stylesheet_tag}}
{% endblock %}
