---
title: Premiumitem
slug: content_type_template
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 0
content_type: premiumitems
---
{% extends wrapper %}

{% block 'main' %}

<div class="pc-wrapper">
  <div class="breadcrumbs breadcrumbs-black pc-breadcrumbs">
    <span class="breadcrumbs-item">
      <a href="/">Главная</a>
    </span>
    {% include 'breadcrumbs-catalog' %}
    <span class="breadcrumbs-item">
      <a href="/premium">Премиум тренажеры</a>
    </span>
    <span class="breadcrumbs-item">
      <a href="javascript:void(0);">{{premiumitem.title}}</a>
    </span>
  </div>
  <div class="pc-wrapper-main-content">
    <div class="pc-titles-small">
      <p class='pc-main-subtitle-mobile pc-sales-hit'>арт. <span class="value">{{premiumitem.article}}</span></p>
      <p class='pc-main-title-mobile'>{{premiumitem.title}}</p>

    </div>
    <div class="pc-pic-slider">
      <div class="pc-pic-slider-main-pic">
        <a class="pc-pic-magnify"></a>
        <img class='magnific-image' href="{{ premiumitem.image.url | resize: 'x500' }}" alt="{{premiumitem.title}}"   src="{{ premiumitem.image.url | resize: 'x500' }}" alt="{{premiumitem.title}}">
        <div class="pc-pic-mobile-buttons">
          <div class='active'></div>
          <div></div>
        </div>
      </div>
{% with_scope _id: '581af186e1a7d4a8ce042ca0' %}
    {% assign champ = contents.products.first %}

    <div class="pc-pic-slider-pic"><img class='magnific-image' href="{{ champ.image.url | resize: 'x500' }}"  src="{{ champ.image.url | resize: '500x500' }}" alt="{{product.title}}"></div>

    </div>
    <div class="pc-pic-slider-mobile">
      <div class="pc-pic-slider-pic-mobile"><img  href="{{ product.image.url | resize: 'x500' }}"   src="{{ product.image.url | resize: 'x500' }}" alt=""></div>
    </div>
{% endwith_scope %}
    <div class="pc-selectors-wrapper">
      <h1 class='pc-main-title'>{{premiumitem.title}}</h1>
      <p class='pc-main-subtitle'>арт. <span class="value">{{premiumitem.article}}</span></p>
      <div class="pc-selectors">
        <div class="pc-diam-collapse">
          <div class="pc-selectors-collapse">диаметр трубы<span class="pc-med-selected-diam" id="mm108">108мм</span><div class="pc-collapse-arrow"></div></div>
        </div>
        <ul class="pc-diam">
          <span class="pc-selectors-titles">диаметр трубы</span>
          {% if premiumitem.price %}<li data-value='108мм' data-diameter='mm108' class="pc-selector-active">
            <span>108мм</span>
          <br>
          <br>
            <!--p>Для территорий с большой проходимостью</p-->
          </li>{% endif %}
        </ul>

        <div class="pc-caps-collapse">
          <div class="pc-selectors-collapse">заглушка<span class="pc-med-selected-caps">Сталь</span><div class="pc-collapse-arrow"></div></div>
        </div>
        <ul class="pc-caps" id="mm108cap" data-diameter="mm108">
          <span class="pc-selectors-titles">заглушка</span>
          <li class="pc-selector-active" data-value='Сталь' id="mm108steel" data-cap="steel">
            <span>Сталь</span>
            <p>Заглушка стальная эллиптическая</p>
          </li>
        </ul>

        <div class="pc-color-picker-group">
          <form class='pc-color-picker pc-color-picker-js'>
            <p class="pc-color-picker-title">цвет хомута</p>
            <select>
              <option value="dgrey" data-color="1"></option>
              <option value="blue" data-color="3"></option>
              <option value="orange" data-color="5"></option>
              <option value="green" data-color="6"></option>
              <option value="brown" data-color="9"></option>
              <option value="red" data-color="4"></option>
              <option value="yellow" data-color="8"></option>
              <option value="black" data-color="2"></option>
            </select>
          </form>
          <form class='pc-color-picker pc-color-picker-js'>
            <p class="pc-color-picker-title">цвет стойки</p>
            <select>
              <option value="dgrey" data-color="1"></option>
              <option value="blue" data-color="3"></option>
              <option value="orange" data-color="5"></option>
              <option value="green" data-color="6"></option>
              <option value="brown" data-color="9"></option>
              <option value="red" data-color="4"></option>
              <option value="black" data-color="2"></option>
            </select>
          </form>
        </div> 
        
        <div class="pc-selectors-prices">
          {% if premiumitem.price %}<div class="pc-prices-price pc-active" id="pc-new-mm108steel"><p><span class="format">{{premiumitem.price}}</span> p.</p></div>{% endif %}

        </div>
        <div class="pc-selectors-buttons">
          <div class="pc-prices-add-to-cart js-pc-prices-add-to-cart"><a href="">добавить в корзину</a></div>
          <div class="pc-prices-buy js-pc-prices-buy"><a href="">купить</a></div>
          <div class="pc-prices-free-delivery"><p>бесплатная доставка*</p></div>
        </div>
      </div>
    </div>
    <div class="pc-info-wrapper" id='tabs'>
      <ul class="pc-info-tabs">
        <li  class='active'><a href="#fragment-1"><span>Характеристики и описание товара</span></a></li>
        <li><a href="#fragment-2"><span>Доставка товара</span></a></li>
        <div class="pc-sm-info-collapse-1"></div>
      </ul>
      <div id='fragment-1' class="pc-info-description">
        <p>{{premiumitem.specs}}</p>
        <p>{{premiumitem.description}}</p>
      </div>
      <div id='fragment-2' class="pc-info-delivery">
        <p>Мы организуем доставку по всему миру транспортными компаниями:<br>
        Белгород Бесплатно<br>
        Страны СНГ, Россия, Другие страны Компенсируем расходы на доставку скидкой 5% от стоимости оборудования.<br>
        Стоимость доставки клиент оплачивает при получении груза транспортной компанией.</p>
      </div>
      <ul class="pc-info-tabs-mobile">
        <li class="pc-info-tabs-mobile-title"><a><span>Характеристики и описание товара</span></a><div class="pc-collapse-arrow"></div></li>
        <li class="pc-info-tabs-mobile-content">
          <p>{{premiumitem.specs}}</p>
          <p>{{premiumitem.description}}</p>
        </li>
        <li class="pc-info-tabs-mobile-title"><a><span>Доставка товара</span></a><div class="pc-collapse-arrow"></div></li>
        <li class="pc-info-tabs-mobile-content">
          <p>Мы организуем доставку по всему миру транспортными компаниями:<br>
          Белгород Бесплатно<br>
          Страны СНГ, Россия, Другие страны Компенсируем расходы на доставку скидкой 5% от стоимости оборудования.<br>
          Стоимость доставки клиент оплачивает при получении груза транспортной компанией.</p>
        </li>
      </ul>
    </div>
  </div>
<!--   <div class="fbt-also-bought">
    <div class="fbt-ab-title">
      <p>с этим товаром покупают:</p>
      <div class="fbt-ab-arrows">
        <div class='fbt-ab-arrow-prev'></div>
        <div class='fbt-ab-arrow-next'></div>
      </div>
    </div>
    <ul class="fbt-ab-products">
      <li class="fbt-ab-card fbt-ab-card-mobile">
        <p>СПОРТ. КОМПЛЕКС ДЛЯ ПОДГОТОВКИ К СДАЧЕ НОРМ ВФСК</p>
        <a href=""><span>подробнее</span><img src="{{ 'pc_fish_1.jpg' | theme_image_url }}" alt=""></a>
      </li>
      <li class="fbt-ab-card fbt-ab-card-mobile">
        <p>СПОРТ. КОМПЛЕКС</p>
        <a href=""><span>подробнее</span><img src="{{ 'pc_fish_1.jpg' | theme_image_url }}" alt=""></a>
      </li>
      <li class="fbt-ab-card">
        <p>СПОРТ. КОМПЛЕКС ДЛЯ ПОДГОТОВКИ</p>
        <a href=""><span>подробнее</span><img src="{{ 'pc_fish_1.jpg' | theme_image_url }}" alt=""></a>
      </li>
      <li class="fbt-ab-card">
        <p>СПОРТ. КОМПЛЕКС ДЛЯ ПОДГОТОВКИ К СДАЧЕ НОРМ ВФСК</p>
        <a href=""><span>подробнее</span><img src="{{ 'pc_fish_1.jpg' | theme_image_url }}" alt=""></a>
      </li>
      <li class="fbt-ab-card">
        <p>СПОРТ. КОМПЛЕКС ДЛЯ ПОДГОТОВКИ К СДАЧЕ НОРМ ВФСК</p>
        <a href=""><span>подробнее</span><img src="{{ 'pc_fish_1.jpg' | theme_image_url }}" alt=""></a>
      </li>
      <li class="fbt-ab-card">
        <p>СПОРТ. КОМПЛЕКС ДЛЯ ПОДГОТОВКИ К СДАЧЕ НОРМ ВФСК</p>
        <a href=""><span>подробнее</span><img src="{{ 'pc_fish_1.jpg' | theme_image_url }}" alt=""></a>
      </li>
    </ul>
  </div> -->
</div>
<div class="pc-special-offers">
  <div class="pc-so-gov">
    <div>
      <p>специальные условия<br class='pc-hide'> для госконтрактов</p>
      <a href="/government">подробнее</a>
    </div>
  </div>
  <div class="pc-so-dealers">
    <div>
      <p>специальные условия<br class='pc-hide'> для дилеров</p>
      <a href="/dealers">подробнее</a>
    </div>
  </div>
</div>
{% endblock %}

{% block 'pagescripts' %}
  {{ 'jquery-ui-tabs.min.js' | javascript_tag }}
  {{ 'magnific-popup.min.js'| javascript_tag }}
  {{ 'product-card-page.js'| javascript_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js' | javascript_tag }}
  <script>$(() => {
  $('.fbt-ab-products').slick({
    slidesToShow: 4,
    infinite: false,
    draggable: false,
    arrows: true,
    prevArrow: $('.fbt-ab-arrow-prev'),
    nextArrow: $('.fbt-ab-arrow-next'),
    dots: false,
    responsive: [
      {
        breakpoint: 768,
        settings: {
          draggable: true,
          slidesToShow: 2
        }
      }
    ]
    });
    $('.pc-pic-slider-mobile').slick({
      arrows: false,
      dots: true,
      draggable: true
    });
  })
</script>

{% endblock %}

{% block 'pagestyles' %}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" | stylesheet_tag}}
{{ "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" | stylesheet_tag}}
{% endblock %}  